Repository rapidsai/raft, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/raft-cpp-codeowners, @rapidsai/raft-python-codeowners, @rapidsai/raft-cmake-codeowners, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Add FAISS with RAFT enabled Benchmarking to raft-ann-bench (#2026)
  cpp/bench/ann/CMakeLists.txt
  cpp/bench/ann/src/common/benchmark.hpp
  cpp/bench/ann/src/faiss/faiss_cpu_benchmark.cpp
  cpp/bench/ann/src/faiss/faiss_cpu_wrapper.h
  cpp/bench/ann/src/faiss/faiss_gpu_benchmark.cu
  cpp/bench/ann/src/faiss/faiss_gpu_wrapper.h
  cpp/cmake/thirdparty/get_faiss.cmake
  cpp/include/raft_runtime/neighbors/refine.hpp
  docs/source/ann_benchmarks_build.md
  python/raft-ann-bench/src/raft_ann_bench/constraints/__init__.py
  python/raft-ann-bench/src/raft_ann_bench/run/conf/algos/faiss_cpu_ivf_flat.yaml
  python/raft-ann-bench/src/raft_ann_bench/run/conf/algos/faiss_cpu_ivf_pq.yaml
  python/raft-ann-bench/src/raft_ann_bench/run/conf/algos/faiss_gpu_ivf_flat.yaml
  python/raft-ann-bench/src/raft_ann_bench/run/conf/algos/faiss_gpu_ivf_pq.yaml
  python/raft-ann-bench/src/raft_ann_bench/run/conf/algos/raft_ivf_pq.yaml
Owners: @rapidsai/raft-cmake-codeowners, @rapidsai/raft-cpp-codeowners, @rapidsai/raft-python-codeowners

Increase search batch size + fix build
  cpp/include/raft/neighbors/detail/ann_mg.cuh
  cpp/test/CMakeLists.txt
Owners: @rapidsai/raft-cpp-codeowners, @rapidsai/raft-cmake-codeowners

fix order
  cpp/include/raft/distance/detail/distance.cuh
Owners: @rapidsai/raft-cpp-codeowners

fix includes
  cpp/test/distance/distance_base.cuh
Owners: @rapidsai/raft-cpp-codeowners

fix includes
  cpp/test/distance/distance_base.cuh
Owners: @rapidsai/raft-cpp-codeowners

use binary inputs for gtest
  cpp/test/distance/dist_dice.cu
  cpp/test/distance/distance_base.cuh
Owners: @rapidsai/raft-cpp-codeowners

Fix a CAGRA graph opt bug
  cpp/include/raft/neighbors/detail/cagra/graph_core.cuh
Owners: @rapidsai/raft-cpp-codeowners

Fix citation info in README.md
  README.md
Owners: none

Fix cagra graph opt bug (#2365)
  README.md
  cpp/include/raft/neighbors/detail/cagra/graph_core.cuh
Owners: @rapidsai/raft-cpp-codeowners

Restart the persistent kernel if launch parameters changes
  cpp/include/raft/neighbors/detail/cagra/search_single_cta_kernel-inl.cuh
Owners: @rapidsai/raft-cpp-codeowners

Allow 'pinned' value for the benchmark queries and adjust host refinement helper to avoid unnecessary allocations and stream syncs in that case
  cpp/bench/ann/src/common/ann_types.hpp
  cpp/bench/ann/src/common/dataset.hpp
  cpp/bench/ann/src/common/util.hpp
  cpp/bench/ann/src/raft/raft_ann_bench_utils.h
  cpp/bench/ann/src/raft/raft_cagra_wrapper.h
  cpp/include/raft/neighbors/detail/cagra/search_single_cta_kernel-inl.cuh
Owners: @rapidsai/raft-cpp-codeowners

fix nan problem
  cpp/test/distance/dist_dice.cu
  cpp/test/test_utils.h
Owners: @rapidsai/raft-cpp-codeowners

[FEA] Dice Distance for Dense Inputs (#2359)
  cpp/CMakeLists.txt
  cpp/include/raft/distance/detail/distance.cuh
  cpp/include/raft/distance/detail/distance_ops/all_ops.cuh
  cpp/include/raft/distance/detail/distance_ops/dice.cuh
  cpp/include/raft/distance/detail/pairwise_matrix/dispatch-ext.cuh
  cpp/include/raft/distance/distance-ext.cuh
  cpp/include/raft/distance/distance-inl.cuh
  cpp/src/distance/detail/pairwise_matrix/dispatch_dice_double_double_double_int.cu
  cpp/src/distance/detail/pairwise_matrix/dispatch_dice_float_float_float_int.cu
  cpp/src/distance/distance.cu
  cpp/test/CMakeLists.txt
  cpp/test/distance/dist_dice.cu
  cpp/test/distance/distance_base.cuh
  cpp/test/test_utils.h
Owners: @rapidsai/raft-cmake-codeowners, @rapidsai/raft-cpp-codeowners

add tfidf coo support
  cpp/include/raft/sparse/matrix/detail/preprocessing.cuh
  cpp/include/raft/sparse/matrix/preprocessing.cuh
  cpp/test/sparse/preprocess.cu
Owners: @rapidsai/raft-cpp-codeowners

add in header for coo tfidf
  cpp/include/raft/sparse/matrix/detail/preprocessing.cuh
  cpp/include/raft/sparse/matrix/preprocessing.cuh
Owners: @rapidsai/raft-cpp-codeowners

remove redundant computation
  cpp/include/raft/neighbors/detail/nn_descent.cuh
Owners: @rapidsai/raft-cpp-codeowners

add bm25 test support coo in and refactor tfidf support
  cpp/include/raft/sparse/matrix/detail/preprocessing.cuh
  cpp/include/raft/sparse/matrix/preprocessing.cuh
  cpp/test/sparse/preprocess.cu
Owners: @rapidsai/raft-cpp-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/raft-cpp-codeowners

#python code owners
python/            @rapidsai/raft-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/raft-cmake-codeowners
**/cmake/          @rapidsai/raft-cmake-codeowners
python/setup.py    @rapidsai/raft-cmake-codeowners
build.sh           @rapidsai/raft-cmake-codeowners
**/build.sh        @rapidsai/raft-cmake-codeowners

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners
