Repository rapidsai/raft, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/raft-cpp-codeowners, @rapidsai/raft-python-codeowners, @rapidsai/raft-cmake-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/raft-cpp-codeowners

#python code owners
python/            @rapidsai/raft-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/raft-cmake-codeowners
**/cmake/          @rapidsai/raft-cmake-codeowners
python/setup.py    @rapidsai/raft-cmake-codeowners
build.sh           @rapidsai/raft-cmake-codeowners
**/build.sh        @rapidsai/raft-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
docker/            @rapidsai/ops-codeowners
dependencies.yaml  @rapidsai/ops-codeowners

Build pip wheels alongside conda CI
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

raft-dask pr build should need pylibraft build
  .github/workflows/pr.yaml
Owners: @rapidsai/ops-codeowners

Getting remaining tests working
  cpp/include/raft/core/resource/base_handle.hpp
  cpp/include/raft/core/resource/cuda_stream_pool.hpp
  cpp/test/CMakeLists.txt
  cpp/test/cluster/cluster_solvers.cu
  cpp/test/cluster/cluster_solvers_deprecated.cu
  cpp/test/core/handle.cpp
  cpp/test/core/interruptible.cu
  cpp/test/core/logger.cpp
  cpp/test/core/mdarray.cu
  cpp/test/core/mdspan_utils.cu
  cpp/test/core/memory_type.cpp
  cpp/test/core/nvtx.cpp
  cpp/test/core/seive.cu
  cpp/test/core/span.cpp
  cpp/test/core/span.cu
  cpp/test/core/test_span.hpp
  cpp/test/linalg/eigen_solvers.cu
  cpp/test/sparse/mst.cu
  cpp/test/sparse/spectral_matrix.cu
  cpp/test/stats/trustworthiness.cu
  cpp/test/util/cudart_utils.cpp
  cpp/test/util/device_atomics.cu
  cpp/test/util/integer_utils.cpp
  cpp/test/util/pow2_utils.cu
Owners: @rapidsai/raft-cpp-codeowners, @rapidsai/raft-cmake-codeowners

Renaming handle -> device_handle and using handle as a typedef for now.
  cpp/include/raft/core/device_handle.hpp
  cpp/include/raft/core/handle.hpp
Owners: @rapidsai/raft-cpp-codeowners

Adding deprecation note
  cpp/include/raft/core/handle.hpp
Owners: @rapidsai/raft-cpp-codeowners

Fixing stream_syncer
  cpp/include/raft/core/device_handle.hpp
Owners: @rapidsai/raft-cpp-codeowners
