Repository rapidsai/raft, pull requests merged in 2020-12, with the labels that each got.

#106 [REVIEW] Specify branches to avoid pip resolver issue
  CHANGELOG.md
  ci/gpu/build.sh
Labels: Ready for Review, bug, non-breaking

#109 [REVIEW] Fixing Incorrect Deallocation Size and Count Bugs
  CHANGELOG.md
  cpp/include/raft/mr/buffer_base.hpp
  cpp/include/raft/mr/host/allocator.hpp
  cpp/include/raft/spectral/matrix_wrappers.hpp
  cpp/test/mr/device/buffer.cpp
Labels: 5 - Ready to Merge, bug, non-breaking

#108 [REVIEW] Remove unused old-gpubuild.sh [skip-ci]
  CHANGELOG.md
  ci/local/old-gpubuild.sh
Labels: 3 - Ready for Review, bug, non-breaking

#99 [REVIEW] Adding canberra and chebyshev to distance types
  cpp/include/raft/linalg/distance_type.h
Labels: 2 - In Progress, improvement, non-breaking

#92 Gpuciscripts clean and update
  CHANGELOG.md
  ci/checks/style.sh
  ci/gpu/build.sh
  ci/local/README.md
  ci/local/old-gpubuild.sh
Labels: 3 - Ready for Review, 6 - Okay to Auto-Merge, improvement, non-breaking
