Repository rapidsai/raft, pull requests merged in 2021-04, with the labels that each got.

#189 Adjust Hellinger pairwise distance to vaoid NaNs
  cpp/include/raft/sparse/distance/l2_distance.cuh
Labels: 4 - Waiting on Author, cpp, improvement, non-breaking

#194 Fixing codeowners [skip-ci]
  .github/CODEOWNERS
Labels: 3 - Ready for Review, improvement, non-breaking

#193 [REVIEW] Exposing spectral random seed property
  cpp/include/raft/sparse/linalg/spectral.cuh
Labels: bug, cpp, non-breaking

#188 Add column major input support in contractions_nt kernels with new kernel policy for it
  cpp/include/raft/linalg/contractions.cuh
Labels: cpp, improvement, non-breaking

#200 [REVIEW] Fix compiler warnings
  cpp/include/raft/spatial/knn/detail/brute_force_knn.cuh
Labels: bug, cpp, non-breaking

#202 [REVIEW] Fix array delete.
  cpp/include/raft/sparse/linalg/add.cuh
Labels: bug, cpp, non-breaking

#203 Small cleanup to sparse primitives.
  cpp/include/raft/sparse/linalg/degree.cuh
  cpp/include/raft/sparse/op/filter.cuh
Labels: cpp, improvement, non-breaking

#205 Include missing headers in host allocator
  cpp/include/raft/mr/device/allocator.hpp
  cpp/include/raft/mr/host/allocator.hpp
Labels: 4 - Waiting on Reviewer, bug, cpp, non-breaking

#201 Add distance metrics L1, L2 and cosine and their tests from cuML
  cpp/CMakeLists.txt
  cpp/include/raft/distance/cosine.cuh
  cpp/include/raft/distance/distance.cuh
  cpp/include/raft/distance/euclidean.cuh
  cpp/include/raft/distance/l1.cuh
  cpp/include/raft/distance/pairwise_distance_base.cuh
  cpp/test/distance/dist_adj.cu
  cpp/test/distance/dist_cos.cu
  cpp/test/distance/dist_euc_exp.cu
  cpp/test/distance/dist_euc_unexp.cu
  cpp/test/distance/dist_l1.cu
  cpp/test/distance/distance_base.cuh
Labels: CMake, cpp, feature request, non-breaking

#204 [REVIEW] Adding assert for MST edge count in SLHC
  cpp/include/raft/sparse/hierarchy/detail/mst.cuh
Labels: 3 - Ready for Review, cpp, improvement, non-breaking

#206 support space in workspace
  ci/gpu/build.sh
  ci/local/build.sh
  ci/local/old-gpubuild.sh
Labels: gpuCI, improvement, non-breaking

#211 Support for thrust 1.12
  cpp/include/raft/sparse/mst/detail/mst_solver_inl.cuh
Labels: cpp, improvement, non-breaking

#212 Check for NaNs in Hellinger
  cpp/include/raft/sparse/distance/l2_distance.cuh
Labels: cpp, improvement, non-breaking

#214 ENH Remove defaults channel from conda build
  ci/local/old-gpubuild.sh
Labels: 4 - Waiting on Reviewer, improvement, non-breaking
