Repository rapidsai/raft, pull requests merged in 2021-07, with the labels that each got.

#284 [FIX] Use `NVIDIA/cuCollections` repo again
  cpp/cmake/thirdparty/get_cuco.cmake
Labels: CMake, cpp, improvement, non-breaking

#276 [REVIEW] Add chebyshev, canberra, minkowksi and hellinger distance metrics
  cpp/include/raft/distance/canberra.cuh
  cpp/include/raft/distance/chebyshev.cuh
  cpp/include/raft/distance/distance.cuh
  cpp/include/raft/distance/hellinger.cuh
  cpp/include/raft/distance/minkowski.cuh
  cpp/include/raft/linalg/contractions.cuh
  cpp/test/CMakeLists.txt
  cpp/test/distance/dist_canberra.cu
  cpp/test/distance/dist_chebyshev.cu
  cpp/test/distance/dist_hellinger.cu
  cpp/test/distance/dist_minkowski.cu
  cpp/test/distance/distance_base.cuh
Labels: CMake, cpp, feature request, non-breaking

#287 [FIX] Always add faiss library alias if it's missing
  cpp/cmake/thirdparty/get_faiss.cmake
  cpp/include/raft/sparse/cusparse_wrappers.h
  cpp/scripts/run-clang-format.py
Labels: 3 - Ready for Review, CMake, cpp, improvement, non-breaking

#261 [REVIEW] Remaining sparse semiring distances
  cpp/include/raft/sparse/distance/bin_distance.cuh
  cpp/include/raft/sparse/distance/distance.cuh
  cpp/include/raft/sparse/distance/ip_distance.cuh
  cpp/include/raft/sparse/distance/l2_distance.cuh
  cpp/include/raft/sparse/distance/lp_distance.cuh
  cpp/test/sparse/distance.cu
Labels: 3 - Ready for Review, cpp, feature request, non-breaking

#292 [REVIEW] Overlap epilog compute with ldg of next grid stride in pairwise distance & fusedL2NN kernels
  cpp/include/raft/distance/pairwise_distance_base.cuh
Labels: cpp, improvement, non-breaking

#296 [REVIEW] Fix support for different input and output types in linalg::reduce
  cpp/include/raft/linalg/strided_reduction.cuh
  cpp/test/linalg/reduce.cu
  cpp/test/linalg/reduce.cuh
Labels: 3 - Ready for Review, bug, cpp, non-breaking

#298 Use the new RAPIDS.cmake to fetch rapids-cmake
  cpp/CMakeLists.txt
Labels: CMake, cpp, improvement, non-breaking

#301 Pin max `dask` & `distributed` versions
  ci/gpu/build.sh
  ci/local/old-gpubuild.sh
Labels: gpuCI, improvement, non-breaking

#303 Remove max version pin for dask & distributed on development branch
  ci/gpu/build.sh
  ci/local/old-gpubuild.sh
Labels: gpuCI, improvement, non-breaking

#299 Warnings are errors
  cpp/cmake/modules/ConfigureCUDA.cmake
  cpp/include/raft/distance/pairwise_distance_base.cuh
  cpp/include/raft/lap/lap_functions.cuh
  cpp/include/raft/lap/lap_kernels.cuh
  cpp/include/raft/mr/allocator.hpp
  cpp/include/raft/mr/buffer_base.hpp
  cpp/include/raft/mr/device/allocator.hpp
  cpp/include/raft/mr/host/allocator.hpp
  cpp/include/raft/sparse/hierarchy/detail/agglomerative.cuh
  cpp/include/raft/sparse/op/sort.h
  cpp/test/eigen_solvers.cu
  cpp/test/mst.cu
  cpp/test/sparse/linkage.cu
  cpp/test/spatial/knn.cu
Labels: CMake, cpp, improvement, non-breaking

#304 Pinning cuco to a specific commit hash for release
  cpp/cmake/thirdparty/get_cuco.cmake
Labels: CMake, cpp, improvement, non-breaking

#295 ENH Replace gpuci_conda_retry with gpuci_mamba_retry
  ci/gpu/build.sh
Labels: gpuCI, improvement, non-breaking
