Repository rapidsai/raft, pull requests merged in 2021-01, with the labels that each got.

#123 Updating gpu build.sh and debugging threads CI issue
  ci/gpu/build.sh
Labels: 3 - Ready for Review, bug, non-breaking

#120 [REVIEW] Make NCCL root initialization configurable.
  CHANGELOG.md
  python/raft/dask/common/comms.py
  python/raft/dask/common/nccl.pyx
  python/raft/test/test_comms.py
Labels: 3 - Ready for Review, 5 - Ready to Merge, breaking, enhancement, improvement

#116 Adding additional distances
  cpp/CMakeLists.txt
  cpp/include/raft/linalg/distance_type.h
  cpp/include/raft/sparse/mst/detail/mst_solver_inl.cuh
Labels: 3 - Ready for Review, enhancement, feature request, non-breaking

#125 [REVIEW] Update check to allow svd solver on CUDA>=10.2
  cpp/include/raft/linalg/svd.cuh
Labels: 3 - Ready for Review, bug, non-breaking

#129 [REVIEW] Eliminate CUDA 10.2 as valid for large svd solving
  cpp/include/raft/linalg/svd.cuh
Labels: 3 - Ready for Review, bug, non-breaking

#131 [Review] Add idx_t template parameter to matrix helper routines
  cpp/include/raft/matrix/matrix.cuh
  cpp/test/matrix/matrix.cu
Labels: bug, non-breaking
