Repository rapidsai/raft, pull requests merged in 2021-02, with the labels that each got.

#132 Adding Jensen-Shannon and BrayCurtis to DistanceType for Nearest Neighbors
  cpp/include/raft/linalg/distance_type.h
Labels: 5 - Ready to Merge, enhancement, improvement, non-breaking

#135 Prepare Changelog for Automation [skip-ci]
  CHANGELOG.md
Labels: improvement, non-breaking

#126 [REVIEW] Add brute force KNN
  build.sh
  cpp/CMakeLists.txt
  cpp/cmake/Dependencies.cmake
  cpp/cmake/faiss_cuda11.patch
  cpp/include/raft/spatial/knn/detail/brute_force_knn.hpp
  cpp/include/raft/spatial/knn/detail/processing.hpp
  cpp/include/raft/spatial/knn/knn.hpp
  cpp/test/spatial/knn.cu
Labels: 4 - Waiting on Author, enhancement, improvement, non-breaking

#114 [REVIEW] Add gather & gatherv to raft::comms::comms_t
  cpp/include/raft/comms/comms.hpp
  cpp/include/raft/comms/mpi_comms.hpp
  cpp/include/raft/comms/std_comms.hpp
  cpp/include/raft/comms/test.hpp
  python/raft/dask/common/__init__.py
  python/raft/dask/common/comms_utils.pyx
  python/raft/test/test_comms.py
Labels: 3 - Ready for Review, enhancement, improvement, non-breaking

#146 Merge branch-0.18 into 0.19
  CHANGELOG.md
  build.sh
  cpp/CMakeLists.txt
  cpp/cmake/Dependencies.cmake
  cpp/cmake/faiss_cuda11.patch
  cpp/include/raft/comms/comms.hpp
  cpp/include/raft/comms/mpi_comms.hpp
  cpp/include/raft/comms/std_comms.hpp
  cpp/include/raft/comms/test.hpp
  cpp/include/raft/spatial/knn/detail/brute_force_knn.hpp
  cpp/include/raft/spatial/knn/detail/processing.hpp
  cpp/include/raft/spatial/knn/knn.hpp
  cpp/test/spatial/knn.cu
  python/raft/dask/common/__init__.py
  python/raft/dask/common/comms_utils.pyx
  python/raft/test/test_comms.py
Labels: improvement, non-breaking

#139 [REVIEW] Moving cuml sparse prims to raft
  cpp/CMakeLists.txt
  cpp/include/raft/sparse/convert/coo.cuh
  cpp/include/raft/sparse/convert/csr.cuh
  cpp/include/raft/sparse/convert/dense.cuh
  cpp/include/raft/sparse/coo.cuh
  cpp/include/raft/sparse/csr.cuh
  cpp/include/raft/sparse/distance/bin_distance.cuh
  cpp/include/raft/sparse/distance/common.h
  cpp/include/raft/sparse/distance/coo_spmv.cuh
  cpp/include/raft/sparse/distance/csr_spmv.cuh
  cpp/include/raft/sparse/distance/distance.cuh
  cpp/include/raft/sparse/distance/ip_distance.cuh
  cpp/include/raft/sparse/distance/l2_distance.cuh
  cpp/include/raft/sparse/distance/lp_distance.cuh
  cpp/include/raft/sparse/distance/operators.cuh
  cpp/include/raft/sparse/linalg/add.cuh
  cpp/include/raft/sparse/linalg/degree.cuh
  cpp/include/raft/sparse/linalg/norm.cuh
  cpp/include/raft/sparse/linalg/spectral.cuh
  cpp/include/raft/sparse/linalg/symmetrize.cuh
  cpp/include/raft/sparse/linalg/transpose.h
  cpp/include/raft/sparse/op/filter.cuh
  cpp/include/raft/sparse/op/row_op.cuh
  cpp/include/raft/sparse/op/slice.h
  cpp/include/raft/sparse/op/sort.h
  cpp/include/raft/sparse/selection/knn.cuh
  cpp/include/raft/sparse/selection/selection.cuh
  cpp/include/raft/sparse/utils.h
  cpp/include/raft/spatial/knn/knn.hpp
  cpp/test/sparse/add.cu
  cpp/test/sparse/convert_coo.cu
  cpp/test/sparse/convert_csr.cu
  cpp/test/sparse/csr_row_slice.cu
  cpp/test/sparse/csr_to_dense.cu
  cpp/test/sparse/csr_transpose.cu
  cpp/test/sparse/degree.cu
  cpp/test/sparse/dist_coo_spmv.cu
  cpp/test/sparse/dist_csr_spmv.cu
  cpp/test/sparse/distance.cu
  cpp/test/sparse/filter.cu
  cpp/test/sparse/knn.cu
  cpp/test/sparse/norm.cu
  cpp/test/sparse/row_op.cu
  cpp/test/sparse/selection.cu
  cpp/test/sparse/sort.cu
  cpp/test/sparse/symmetrize.cu
Labels: 5 - Ready to Merge, improvement, non-breaking

#150 Add GHA to mark issues/prs as stale/rotten [skip-ci]
  .github/workflows/stale.yaml
Labels: 3 - Ready for Review, improvement, non-breaking

#152 Update stale GHA with exemptions & new labels [skip-ci]
  .github/workflows/stale.yaml
Labels: 3 - Ready for Review, improvement, non-breaking

#117 Auto-label PRs based on their content [skip-ci]
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: 3 - Ready for Review, improvement, non-breaking

#148 Streams upgrade in RAFT handle (RMM backend + create handle from parent's pool)
  cpp/include/raft/handle.hpp
  cpp/test/handle.cpp
Labels: 3 - Ready for Review, improvement, non-breaking

#157 Add const to KNN handle
  cpp/include/raft/spatial/knn/knn.hpp
Labels: 5 - Ready to Merge, bug, cpp, non-breaking

#144 Add device_send, device_recv, device_sendrecv, device_multicast_sendrecv
  cpp/include/raft/comms/comms.hpp
  cpp/include/raft/comms/mpi_comms.hpp
  cpp/include/raft/comms/std_comms.hpp
  cpp/include/raft/comms/test.hpp
  python/raft/dask/common/__init__.py
  python/raft/dask/common/comms_utils.pyx
  python/raft/test/test_comms.py
Labels: improvement, non-breaking

#162 MST symmetric/non-symmetric output for SLHC
  cpp/include/raft/sparse/mst/detail/mst_kernels.cuh
  cpp/include/raft/sparse/mst/detail/mst_solver_inl.cuh
  cpp/include/raft/sparse/mst/mst.cuh
  cpp/include/raft/sparse/mst/mst_solver.cuh
  cpp/test/mst.cu
Labels: cpp, improvement, non-breaking

#163 [skip-ci] Update 0.18 changelog entry
  CHANGELOG.md
Labels: improvement, non-breaking
