Repository rapidsai/raft, pull requests merged in 2021-12, with the labels that each got.

#403 [REVIEW] Reverting default knn distance to L2Unexpanded for now.
  cpp/include/raft/spatial/knn/knn.hpp
Labels: bug, 3 - Ready for Review, non-breaking, cpp

#404 [REVIEW] Disabling expanded fused l2 knn to unblock cuml CI
  cpp/include/raft/spatial/knn/detail/knn_brute_force_faiss.cuh
Labels: bug, non-breaking, cpp

#407 [REVIEW] Disabling fused l2 knn from bfknn
  cpp/include/raft/spatial/knn/detail/knn_brute_force_faiss.cuh
  cpp/test/spatial/ball_cover.cu
Labels: bug, non-breaking, cpp

#392 Update to UCX-Py 0.24
  ci/gpu/build.sh
  ci/local/old-gpubuild.sh
Labels: improvement, non-breaking, gpuCI

#411 fix nan issues in L2 expanded sqrt KNN distances
  cpp/include/raft/spatial/knn/detail/knn_brute_force_faiss.cuh
Labels: improvement, non-breaking, cpp

#414 [REVIEW] Fix CUDA_CHECK_NO_THROW compatibility define
  cpp/include/raft/cudart_utils.h
Labels: bug, 3 - Ready for Review, non-breaking, cpp

#415 Fix using incorrect macro RAFT_CHECK_CUDA in place of RAFT_CUDA_TRY
  cpp/test/sparse/csr_row_slice.cu
  cpp/test/sparse/csr_to_dense.cu
Labels: bug, 3 - Ready for Review, non-breaking

#417 [REVIEW] Adding no throw macro variants
  cpp/include/raft/handle.hpp
  cpp/include/raft/linalg/cublas_wrappers.h
  cpp/include/raft/linalg/cusolver_wrappers.h
Labels: improvement, non-breaking, cpp

#421 [REVIEW] Disabling fused l2 knn again. Not sure how this got added back.
  cpp/include/raft/spatial/knn/detail/knn_brute_force_faiss.cuh
Labels: 3 - Ready for Review, improvement, non-breaking, cpp

#291 One cudaStream_t instance per raft::handle_t
  cpp/cmake/modules/ConfigureCUDA.cmake
  cpp/include/raft/comms/test.hpp
  cpp/include/raft/handle.hpp
  cpp/include/raft/label/classlabels.cuh
  cpp/include/raft/spatial/knn/detail/ball_cover.cuh
  cpp/include/raft/spatial/knn/detail/knn_brute_force_faiss.cuh
  cpp/include/raft/spatial/knn/knn.hpp
  cpp/test/distance/dist_adj.cu
  cpp/test/distance/dist_canberra.cu
  cpp/test/distance/dist_chebyshev.cu
  cpp/test/distance/dist_correlation.cu
  cpp/test/distance/dist_cos.cu
  cpp/test/distance/dist_euc_exp.cu
  cpp/test/distance/dist_euc_unexp.cu
  cpp/test/distance/dist_hamming.cu
  cpp/test/distance/dist_hellinger.cu
  cpp/test/distance/dist_jensen_shannon.cu
  cpp/test/distance/dist_kl_divergence.cu
  cpp/test/distance/dist_l1.cu
  cpp/test/distance/dist_minkowski.cu
  cpp/test/distance/dist_russell_rao.cu
  cpp/test/distance/distance_base.cuh
  cpp/test/distance/fused_l2_nn.cu
  cpp/test/handle.cpp
  cpp/test/label/merge_labels.cu
  cpp/test/linalg/add.cu
  cpp/test/linalg/add.cuh
  cpp/test/linalg/binary_op.cu
  cpp/test/linalg/cholesky_r1.cu
  cpp/test/linalg/coalesced_reduction.cu
  cpp/test/linalg/divide.cu
  cpp/test/linalg/eig.cu
  cpp/test/linalg/eig_sel.cu
  cpp/test/linalg/eltwise.cu
  cpp/test/linalg/gemm_layout.cu
  cpp/test/linalg/gemv.cu
  cpp/test/linalg/map_then_reduce.cu
  cpp/test/linalg/matrix_vector_op.cu
  cpp/test/linalg/matrix_vector_op.cuh
  cpp/test/matrix/math.cu
  cpp/test/matrix/matrix.cu
  cpp/test/sparse/add.cu
  cpp/test/sparse/convert_csr.cu
  cpp/test/sparse/filter.cu
  cpp/test/sparse/norm.cu
  cpp/test/sparse/reduce.cu
  cpp/test/sparse/row_op.cu
  cpp/test/sparse/sort.cu
  cpp/test/spatial/ball_cover.cu
  cpp/test/spatial/haversine.cu
  cpp/test/spatial/knn.cu
  cpp/test/stats/mean_center.cu
  cpp/test/stats/stddev.cu
  python/raft/common/handle.pxd
  python/raft/common/handle.pyx
  python/raft/dask/common/comms.py
  python/raft/dask/common/comms_utils.pyx
Labels: improvement, breaking, cpp, CMake, python

#422 Update ucx-py version on release using rvc
  ci/gpu/build.sh
  ci/local/old-gpubuild.sh
  ci/release/update-version.sh
Labels: improvement, non-breaking, gpuCI

#376 Adding distance specializations
  cpp/CMakeLists.txt
  cpp/include/raft/distance/specializations.hpp
  cpp/include/raft/distance/specializations/detail/canberra.hpp
  cpp/include/raft/distance/specializations/detail/chebyshev.hpp
  cpp/include/raft/distance/specializations/detail/correlation.hpp
  cpp/include/raft/distance/specializations/detail/cosine.hpp
  cpp/include/raft/distance/specializations/detail/hamming_unexpanded.hpp
  cpp/include/raft/distance/specializations/detail/hellinger_expanded.hpp
  cpp/include/raft/distance/specializations/detail/jensen_shannon.hpp
  cpp/include/raft/distance/specializations/detail/kl_divergence.hpp
  cpp/include/raft/distance/specializations/detail/l1.hpp
  cpp/include/raft/distance/specializations/detail/l2_expanded.hpp
  cpp/include/raft/distance/specializations/detail/l2_sqrt_expanded.hpp
  cpp/include/raft/distance/specializations/detail/l2_sqrt_unexpanded.hpp
  cpp/include/raft/distance/specializations/detail/l2_unexpanded.hpp
  cpp/include/raft/distance/specializations/detail/lp_unexpanded.hpp
  cpp/include/raft/distance/specializations/distance.hpp
  cpp/include/raft/sparse/selection/detail/knn_graph.cuh
  cpp/include/raft/sparse/selection/knn_graph.hpp
  cpp/include/raft/spatial/knn/ball_cover.hpp
  cpp/include/raft/spatial/knn/detail/ball_cover/common.cuh
  cpp/include/raft/spatial/knn/detail/ball_cover/registers.cuh
  cpp/include/raft/spatial/knn/detail/knn_brute_force_faiss.cuh
  cpp/include/raft/spatial/knn/knn.hpp
  cpp/include/raft/spatial/knn/specializations.hpp
  cpp/include/raft/spatial/knn/specializations/ball_cover.hpp
  cpp/include/raft/spatial/knn/specializations/detail/ball_cover_lowdim.hpp
  cpp/include/raft/spatial/knn/specializations/fused_l2_knn.hpp
  cpp/include/raft/spatial/knn/specializations/knn.hpp
  cpp/src/distance/specializations/detail/canberra.cu
  cpp/src/distance/specializations/detail/chebyshev.cu
  cpp/src/distance/specializations/detail/correlation.cu
  cpp/src/distance/specializations/detail/cosine.cu
  cpp/src/distance/specializations/detail/hamming_unexpanded.cu
  cpp/src/distance/specializations/detail/hellinger_expanded.cu
  cpp/src/distance/specializations/detail/jensen_shannon.cu
  cpp/src/distance/specializations/detail/kl_divergence.cu
  cpp/src/distance/specializations/detail/l1.cu
  cpp/src/distance/specializations/detail/l2_expanded.cu
  cpp/src/distance/specializations/detail/l2_sqrt_expanded.cu
  cpp/src/distance/specializations/detail/l2_sqrt_unexpanded.cu
  cpp/src/distance/specializations/detail/l2_unexpanded.cu
  cpp/src/distance/specializations/detail/lp_unexpanded.cu
  cpp/src/nn/specializations/ball_cover.cu
  cpp/src/nn/specializations/detail/ball_cover_lowdim.cu
  cpp/src/nn/specializations/fused_l2_knn.cu
  cpp/src/nn/specializations/knn.cu
  cpp/test/CMakeLists.txt
  cpp/test/distance/distance_base.cuh
  cpp/test/sparse/knn_graph.cu
  cpp/test/spatial/ball_cover.cu
  cpp/test/spatial/knn.cu
  cpp/test/spatial/selection.cu
Labels: improvement, non-breaking, cpp, CMake

#425 Fix clang-format style errors
  cpp/include/raft/sparse/selection/knn_graph.hpp
  cpp/include/raft/spatial/knn/specializations/ball_cover.hpp
  cpp/src/nn/specializations/ball_cover.cu
Labels: bug, 3 - Ready for Review, non-breaking, cpp

#416 NVTX range helpers
  cpp/CMakeLists.txt
  cpp/include/raft/common/detail/nvtx.hpp
  cpp/include/raft/common/nvtx.hpp
  cpp/include/raft/linalg/svd.cuh
  cpp/test/CMakeLists.txt
  cpp/test/distance/distance_base.cuh
  cpp/test/eigen_solvers.cu
  cpp/test/nvtx.cpp
  python/raft/common/cuda.pyx
Labels: 3 - Ready for Review, feature request, non-breaking, cpp, CMake, python

#426 Fix C++ doxygen documentation
  build.sh
  ci/gpu/build.sh
  cpp/include/raft/handle.hpp
  cpp/include/raft/matrix/math.hpp
  cpp/include/raft/matrix/matrix.hpp
  cpp/include/raft/random/rng.hpp
  cpp/include/raft/sparse/op/filter.hpp
  cpp/include/raft/sparse/op/reduce.hpp
  cpp/include/raft/sparse/op/slice.hpp
  cpp/include/raft/sparse/selection/connect_components.hpp
  cpp/include/raft/sparse/selection/knn.hpp
  cpp/include/raft/sparse/selection/knn_graph.hpp
Labels: bug, 3 - Ready for Review, non-breaking, cpp, gpuCI

#429 Fix bug in producer-consumer buffer exchange which occurs in UMAP test on GV100
  cpp/include/raft/spatial/knn/detail/fused_l2_knn.cuh
  cpp/include/raft/spatial/knn/detail/knn_brute_force_faiss.cuh
Labels: improvement, non-breaking, cpp
