Repository rapidsai/raft, pull requests merged in 2021-09, with the labels that each got.

#316 Fix build doc
  BUILD.md
Labels: doc, non-breaking

#320 Update with rapids cmake new features
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_cuco.cmake
  cpp/cmake/thirdparty/get_gtest.cmake
  cpp/cmake/thirdparty/get_nccl.cmake
  cpp/cmake/thirdparty/get_rmm.cmake
  cpp/cmake/thirdparty/get_thrust.cmake
  cpp/test/CMakeLists.txt
Labels: improvement, non-breaking, cpp, CMake

#328 Add broadcast with const input iterator
  cpp/include/raft/comms/comms.hpp
  cpp/include/raft/comms/mpi_comms.hpp
  cpp/include/raft/comms/std_comms.hpp
Labels: enhancement, 3 - Ready for Review, improvement, non-breaking

#327 Fix wrong lda parameter in gemv
  cpp/include/raft/linalg/gemv.h
  cpp/test/CMakeLists.txt
  cpp/test/linalg/gemv.cu
Labels: bug, 3 - Ready for Review, non-breaking, cpp, CMake

#329 Accounting for rmm::cuda_stream_pool not having a constructor for 0 streams
  cpp/include/raft/handle.hpp
  cpp/test/cluster_solvers.cu
  cpp/test/eigen_solvers.cu
  cpp/test/handle.cpp
  cpp/test/spectral_matrix.cu
Labels: bug, 3 - Ready for Review, non-breaking, cpp

#324 Fused L2 (unexpanded) kNN kernel for NN <= 64, without using temporary gmem to store intermediate distances
  cpp/include/raft/linalg/contractions.cuh
  cpp/include/raft/spatial/knn/detail/fused_l2_knn.cuh
  cpp/include/raft/spatial/knn/detail/knn_brute_force_faiss.cuh
Labels: improvement, non-breaking, 4 - Waiting on Author, cpp

#331 Make sure we keep the rapids-cmake and raft cal version in sync
  ci/release/update-version.sh
Labels: improvement, non-breaking, gpuCI

#332 Forward-merge `branch-21.08` into `branch-21.10`
  cpp/CMakeLists.txt
  python/setup.py
Labels: cpp, CMake, python

#334 Pin max `dask` and `distributed` versions to `2021.09.1`
  ci/gpu/build.sh
  ci/local/old-gpubuild.sh
Labels: improvement, non-breaking, gpuCI

#213 [REVIEW] Random Ball Cover Algorithm for 2D Haversine/Euclidean
  cpp/include/raft/cache/cache_util.cuh
  cpp/include/raft/sparse/linalg/degree.cuh
  cpp/include/raft/sparse/selection/knn.cuh
  cpp/include/raft/sparse/selection/knn_graph.cuh
  cpp/include/raft/spatial/knn/ball_cover.hpp
  cpp/include/raft/spatial/knn/ball_cover_common.h
  cpp/include/raft/spatial/knn/detail/ann_quantized_faiss.cuh
  cpp/include/raft/spatial/knn/detail/ball_cover.cuh
  cpp/include/raft/spatial/knn/detail/ball_cover/common.cuh
  cpp/include/raft/spatial/knn/detail/ball_cover/registers.cuh
  cpp/include/raft/spatial/knn/detail/block_select_faiss.cuh
  cpp/include/raft/spatial/knn/detail/knn_brute_force_faiss.cuh
  cpp/include/raft/spatial/knn/detail/selection_faiss.cuh
  cpp/include/raft/spatial/knn/detail/warp_select_faiss.cuh
  cpp/include/raft/spatial/knn/knn.hpp
  cpp/test/CMakeLists.txt
  cpp/test/spatial/ball_cover.cu
  cpp/test/spatial/knn.cu
  cpp/test/spatial/selection.cu
  cpp/test/spatial/spatial_data.h
  cpp/test/test_utils.h
Labels: improvement, non-breaking, cpp, CMake

#325 Fix `matrixVectorOp` to verify promoted pointer type is still aligned to vectorized load boundary
  cpp/include/raft/linalg/matrix_vector_op.cuh
  cpp/include/raft/vectorized.cuh
Labels: bug, 3 - Ready for Review, non-breaking, cpp

#338 Unpin `dask` & `distributed` in CI
  ci/gpu/build.sh
  ci/local/old-gpubuild.sh
Labels: improvement, non-breaking, gpuCI

#340 [HOTFIX] Reverting fused l2 knn for now
  cpp/include/raft/spatial/knn/detail/knn_brute_force_faiss.cuh
  cpp/test/spatial/ball_cover.cu
Labels: 3 - Ready for Review, improvement, non-breaking, cpp

#342 Updating pinned cuCollections commit to latest hash for WSL
  cpp/cmake/thirdparty/get_cuco.cmake
Labels: 5 - Ready to Merge, improvement, non-breaking, CMake

#346 update cuco version to pick up bug fix
  cpp/cmake/thirdparty/get_cuco.cmake
Labels: bug, 3 - Ready for Review, non-breaking
