Repository rapidsai/raft, pull requests merged in 2021-11, with the labels that each got.

#349 Use 64 bit CuSolver API for Eigen decomposition
  cpp/include/raft/linalg/cusolver_wrappers.h
  cpp/include/raft/linalg/eig.cuh
Labels: improvement, breaking, cpp

#351 [REVIEW] README updates
  README.md
Labels: documentation, improvement, non-breaking

#370 Port libcudacxx patch from cudf
  ci/gpu/build.sh
  cpp/CMakeLists.txt
  cpp/cmake/libcudacxx.patch
  cpp/cmake/thirdparty/get_cuco.cmake
  cpp/cmake/thirdparty/get_libcudacxx.cmake
Labels: bug, non-breaking, cpp, CMake, gpuCI

#375 Fixing bad host->device copy
  cpp/test/spatial/haversine.cu
Labels: bug, non-breaking, cpp

#378 Removing conflict w/ CUDA_CHECK
  cpp/include/raft/cudart_utils.h
Labels: improvement, non-breaking, cpp

#371 Getting doxygen to run
  cpp/Doxyfile.in
  cpp/cmake/doxygen.cmake
  cpp/include/raft/comms/comms.hpp
  cpp/include/raft/comms/std_comms.hpp
  cpp/include/raft/comms/test.hpp
  cpp/include/raft/distance/distance.hpp
  cpp/include/raft/distance/fused_l2_nn.hpp
  cpp/include/raft/handle.hpp
  cpp/include/raft/mr/buffer_base.hpp
  cpp/include/raft/sparse/distance/distance.hpp
  cpp/include/raft/spatial/knn/ball_cover.hpp
  cpp/include/raft/spatial/knn/knn.hpp
Labels: doc, non-breaking, cpp, CMake

#372 Fix coalesced access checks in matrix_vector_op
  cpp/include/raft/linalg/matrix_vector_op.cuh
  cpp/include/raft/pow2_utils.cuh
  cpp/test/CMakeLists.txt
  cpp/test/pow2_utils.cu
Labels: bug, enhancement, 3 - Ready for Review, non-breaking, cpp, CMake

#390 Fix Changelog Merge Conflicts for `branch-21.12`
  CHANGELOG.md
Labels: improvement, non-breaking

#394 Upgrade `clang` to `11.1.0`
  cpp/include/raft/sparse/cusparse_wrappers.h
  cpp/scripts/run-clang-format.py
Labels: improvement, non-breaking, cpp

#397 [REVIEW] Adding dev conda environment files.
  conda/environments/raft_dev_cuda11.0.yml
  conda/environments/raft_dev_cuda11.2.yml
  conda/environments/raft_dev_cuda11.4.yml
  conda/environments/raft_dev_cuda11.5.yml
Labels: improvement, non-breaking

#388 [REVIEW] Pin max `dask` & `distributed`
  ci/gpu/build.sh
  ci/local/old-gpubuild.sh
Labels: improvement, non-breaking, gpuCI

#398 [gpuCI] Forward-merge branch-21.12 to branch-22.02 [skip gpuci]
  ci/gpu/build.sh
  ci/local/old-gpubuild.sh
Labels: gpuCI

#339 [REVIEW] Add Fused L2 Expanded KNN kernel
  cpp/include/raft/device_atomics.cuh
  cpp/include/raft/spatial/knn/detail/fused_l2_knn.cuh
  cpp/include/raft/spatial/knn/detail/knn_brute_force_faiss.cuh
  cpp/include/raft/spatial/knn/knn.hpp
  cpp/test/CMakeLists.txt
  cpp/test/spatial/ball_cover.cu
  cpp/test/spatial/fused_l2_knn.cu
Labels: 3 - Ready for Review, improvement, non-breaking, cpp, CMake

#393 Ensure that the correct cusolver version exists when running tests
  ci/gpu/build.sh
Labels: improvement, non-breaking, gpuCI
