Repository rapidsai/raft, pull requests merged in 2021-06, with the labels that each got.

#232 Add Grid stride pairwise dist and fused L2 NN kernels
  cpp/include/raft/distance/cosine.cuh
  cpp/include/raft/distance/euclidean.cuh
  cpp/include/raft/distance/fused_l2_nn.cuh
  cpp/include/raft/distance/l1.cuh
  cpp/include/raft/distance/pairwise_distance_base.cuh
  cpp/include/raft/linalg/contractions.cuh
  cpp/test/distance/fused_l2_nn.cu
Labels: cpp, improvement, non-breaking

#243 cuco git tag update
  cpp/cmake/thirdparty/get_cuco.cmake
Labels: 3 - Ready for Review, improvement, non-breaking

#246 Revert PR #232 for 21.06 release
  cpp/include/raft/distance/cosine.cuh
  cpp/include/raft/distance/euclidean.cuh
  cpp/include/raft/distance/fused_l2_nn.cuh
  cpp/include/raft/distance/l1.cuh
  cpp/include/raft/distance/pairwise_distance_base.cuh
  cpp/include/raft/linalg/contractions.cuh
  cpp/test/distance/fused_l2_nn.cu
Labels: bug, cpp, non-breaking

#248 cuco git tag update (again)
  cpp/cmake/thirdparty/get_cuco.cmake
Labels: 3 - Ready for Review, bug, non-breaking

#254 Update UCX-Py version to 0.20
  ci/gpu/build.sh
  ci/local/old-gpubuild.sh
Labels: bug, gpuCI, non-breaking

#255 Update UCX-Py version to 0.21
  ci/gpu/build.sh
  ci/local/old-gpubuild.sh
Labels: bug, gpuCI, non-breaking

#253 Fix mst knn test build failure due to RMM device_buffer change
  cpp/test/mst.cu
  cpp/test/spatial/knn.cu
Labels: bug, cpp, non-breaking

#258 Update get_rmm.cmake to better support CalVer
  cpp/cmake/thirdparty/get_rmm.cmake
Labels: 3 - Ready for Review, CMake, cpp, improvement, non-breaking

#260 Pin `dask` versions in CI
  ci/gpu/build.sh
  ci/local/old-gpubuild.sh
Labels: gpuCI, improvement, non-breaking

#266 Fix update-version.sh [skip-ci]
  ci/release/update-version.sh
Labels: gpuCI, improvement, non-breaking

#265 [REVIEW] Move FAISS ANN wrappers to RAFT
  cpp/include/raft/sparse/selection/knn.cuh
  cpp/include/raft/spatial/knn/ann.hpp
  cpp/include/raft/spatial/knn/ann_common.h
  cpp/include/raft/spatial/knn/detail/ann_quantized_faiss.cuh
  cpp/include/raft/spatial/knn/detail/knn_brute_force_faiss.cuh
  cpp/include/raft/spatial/knn/knn.hpp
Labels: cpp, feature request, non-breaking

#264 Revert "pin dask versions in CI (#260)"
  ci/gpu/build.sh
  ci/local/old-gpubuild.sh
Labels: gpuCI, improvement, non-breaking

#271 Fix `21.06` CHANGELOG.md entries
  CHANGELOG.md
Labels: improvement, non-breaking

#270 [REVIEW] Move ANN to RAFT (additional updates)
  cpp/include/raft/spatial/knn/detail/ann_quantized_faiss.cuh
  cpp/include/raft/spatial/knn/detail/common_faiss.h
  cpp/include/raft/spatial/knn/detail/knn_brute_force_faiss.cuh
Labels: cpp, improvement, non-breaking

#250 Add Grid stride pairwise dist and fused L2 NN kernels
  cpp/include/raft/distance/cosine.cuh
  cpp/include/raft/distance/euclidean.cuh
  cpp/include/raft/distance/fused_l2_nn.cuh
  cpp/include/raft/distance/l1.cuh
  cpp/include/raft/distance/pairwise_distance_base.cuh
  cpp/include/raft/linalg/contractions.cuh
  cpp/test/distance/fused_l2_nn.cu
Labels: 4 - Waiting on Reviewer, cpp, improvement, non-breaking

#274 Fix `21.08` forward-merge conflicts
  CHANGELOG.md
Labels: improvement, non-breaking

#275 expose epsilon parameter to allow precision to to be specified
  cpp/include/raft/lap/lap.cuh
  cpp/include/raft/lap/lap_functions.cuh
  cpp/include/raft/lap/lap_kernels.cuh
  cpp/test/lap/lap.cu
Labels: 3 - Ready for Review, breaking, cpp, improvement

#263 Use nested include in destination of install headers to avoid docker permission issues
  cpp/CMakeLists.txt
Labels: 3 - Ready for Review, CMake, bug, cpp, non-breaking

#273 Add lds and sts inline ptx instructions to force vector instruction generation
  cpp/include/raft/common/device_loads_stores.cuh
Labels: cpp, improvement, non-breaking

#278 Use the 21.08 branch of rapids-cmake as rmm requires it
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_thrust.cmake
Labels: CMake, cpp, improvement, non-breaking

#279 Add `cuco::cuco` to list of linked libraries
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_cuco.cmake
Labels: CMake, bug, cpp, non-breaking

#280 [REVIEW] Const raft handle in sparse bfknn
  cpp/include/raft/sparse/distance/common.h
  cpp/include/raft/sparse/selection/knn.cuh
Labels: 3 - Ready for Review, bug, cpp, non-breaking
