Repository rapidsai/raft, pull requests merged in 2021-05, with the labels that each got.

#215 Fix Nan on Hellinger
  cpp/include/raft/sparse/distance/l2_distance.cuh
Labels: bug, cpp, non-breaking

#218 Merge `branch-0.19` into `branch-0.20`
  CHANGELOG.md
Labels: improvement, non-breaking

#220 Add a wrapper for cusparseCreateDnMat
  cpp/include/raft/sparse/cusparse_wrappers.h
Labels: 3 - Ready for Review, cpp, feature request, non-breaking

#217 [REVIEW] Adding simple support for n_clusters=1 in agglomerative clustering and ignoring self-loops
  cpp/include/raft/sparse/hierarchy/detail/agglomerative.cuh
  cpp/include/raft/sparse/hierarchy/detail/connectivities.cuh
  cpp/include/raft/sparse/mst/detail/mst_solver_inl.cuh
  cpp/include/raft/sparse/mst/detail/utils.cuh
  cpp/include/raft/sparse/mst/mst_solver.cuh
  cpp/test/mst.cu
Labels: 4 - Waiting on Reviewer, cpp, feature request, non-breaking

#224 [REVIEW] error.hpp contains unnecessary extra headers
  cpp/include/raft/error.hpp
Labels: bug, cpp, non-breaking

#226 Update release script [skip-ci]
  ci/release/update-version.sh
Labels: gpuCI, improvement, non-breaking

#229 Fix memory error in devArrMatch
  cpp/test/test_utils.h
Labels: 3 - Ready for Review, bug, cpp, non-breaking

#187 Update to CMake 3.20 features, `rapids-cmake` and `CPM`
  build.sh
  cpp/CMakeLists.txt
  cpp/cmake/Dependencies.cmake
  cpp/cmake/EvalGpuArchs.cmake
  cpp/cmake/FindNCCL.cmake
  cpp/cmake/FindUCX.cmake
  cpp/cmake/comms.cmake
  cpp/cmake/faiss_cuda11.patch
  cpp/cmake/modules/ConfigureCUDA.cmake
  cpp/cmake/thirdparty/get_cuco.cmake
  cpp/cmake/thirdparty/get_faiss.cmake
  cpp/cmake/thirdparty/get_gtest.cmake
  cpp/cmake/thirdparty/get_nccl.cmake
  cpp/cmake/thirdparty/get_rmm.cmake
  cpp/cmake/thirdparty/get_ucx.cmake
  cpp/test/CMakeLists.txt
  python/setuputils.py
Labels: 3 - Ready for Review, CMake, cpp, enhancement, improvement, non-breaking, python

#231 Fix Thrust 1.12 compile errors
  cpp/include/raft/sparse/hierarchy/detail/agglomerative.cuh
  cpp/include/raft/sparse/hierarchy/detail/connectivities.cuh
  cpp/include/raft/sparse/mst/detail/mst_solver_inl.cuh
  cpp/include/raft/sparse/op/reduce.cuh
Labels: 3 - Ready for Review, bug, cpp, non-breaking

#233 Update `CHANGELOG.md` links for calver [skip ci]
  CHANGELOG.md
Labels: improvement, non-breaking

#236 Fix merge conflicts [skip ci]
  CHANGELOG.md
Labels: improvement, non-breaking

#223 Loss of Precision in MST weight alteration
  cpp/include/raft/sparse/hierarchy/detail/mst.cuh
  cpp/include/raft/sparse/mst/detail/mst_kernels.cuh
  cpp/include/raft/sparse/mst/detail/mst_solver_inl.cuh
  cpp/include/raft/sparse/mst/mst.cuh
  cpp/include/raft/sparse/mst/mst_solver.cuh
  cpp/test/mst.cu
Labels: 3 - Ready for Review, bug, cpp, non-breaking

#208 Updates to enable HDBSCAN
  cpp/include/raft/sparse/hierarchy/detail/agglomerative.cuh
  cpp/include/raft/sparse/hierarchy/detail/mst.cuh
  cpp/include/raft/sparse/hierarchy/single_linkage.hpp
  cpp/include/raft/sparse/op/reduce.cuh
  cpp/include/raft/sparse/op/sort.h
  cpp/include/raft/sparse/selection/connect_components.cuh
  cpp/test/sparse/connect_components.cu
Labels: cpp, improvement, non-breaking

#241 [REVIEW] Python comms to hold onto server endpoints
  python/raft/dask/common/ucx.py
Labels: 3 - Ready for Review, bug, non-breaking, python
