Repository rapidsai/raft, pull requests merged in 2021-08, with the labels that each got.

#307 Enable CUDA device code warnings as errors
  cpp/cmake/modules/ConfigureCUDA.cmake
Labels: CMake, cpp, improvement, non-breaking

#311 Fix more warnings
  cpp/include/raft/distance/distance.cuh
  cpp/include/raft/linalg/cublas_wrappers.h
Labels: bug, non-breaking, cpp

#315 Temporarily pin RMM while refactor removes deprecated calls
  cpp/cmake/thirdparty/get_rmm.cmake
Labels: bug, non-breaking, cpp, CMake

#318 Fix Forward-Merge Conflicts [skip ci]
  CHANGELOG.md
Labels: improvement, non-breaking

#319 Update to UCX-Py 0.22
  ci/gpu/build.sh
  ci/local/old-gpubuild.sh
Labels: improvement, non-breaking, gpuCI

#322 Pin rmm to branch-21.10 and remove warnings from kmeans.hpp
  cpp/cmake/thirdparty/get_rmm.cmake
  cpp/include/raft/spectral/kmeans.hpp
Labels: bug, non-breaking, cpp, CMake
