Repository rapidsai/raft, pull requests merged in 2021-03, with the labels that each got.

#164 Prepare Changelog for Automation [skip ci]
  CHANGELOG.md
Labels: improvement, non-breaking

#158 [REVIEW] Moving optimized L2 1-nearest neighbors implementation from cuml
  cpp/CMakeLists.txt
  cpp/include/raft/common/device_loads_stores.cuh
  cpp/include/raft/distance/fused_l2_nn.cuh
  cpp/include/raft/linalg/contractions.cuh
  cpp/test/distance/fused_l2_nn.cu
Labels: 5 - Ready to Merge, CMake, cpp, feature request, non-breaking

#154 Pass pre-computed colors to MST
  cpp/include/raft/sparse/mst/detail/mst_solver_inl.cuh
  cpp/include/raft/sparse/mst/mst.cuh
  cpp/include/raft/sparse/mst/mst_solver.cuh
  cpp/test/mst.cu
Labels: 3 - Ready for Review, cpp, enhancement, improvement, non-breaking

#166 [REVIEW] Updating sparse prims based on recent changes
  cpp/include/raft/sparse/distance/distance.cuh
  cpp/include/raft/sparse/distance/ip_distance.cuh
  cpp/include/raft/sparse/distance/l2_distance.cuh
  cpp/include/raft/sparse/distance/lp_distance.cuh
  cpp/include/raft/sparse/selection/knn.cuh
  cpp/test/sparse/dist_coo_spmv.cu
  cpp/test/sparse/dist_csr_spmv.cu
  cpp/test/sparse/distance.cu
  cpp/test/sparse/knn.cu
Labels: 3 - Ready for Review, cpp, improvement, non-breaking

#167 Remove setCudaMallocWarning() call for libfaiss@v1.7.0
  cpp/include/raft/spatial/knn/detail/brute_force_knn.hpp
Labels: bug, cpp, non-breaking

#169 Update Changelog Link [skip ci]
  CHANGELOG.md
Labels: improvement, non-breaking

#170 [REVIEW] Adding translations parameter to brute_force_knn
  cpp/include/raft/spatial/knn/knn.hpp
Labels: cpp, enhancement, improvement, non-breaking

#168 [REVIEW] Map operation
  cpp/CMakeLists.txt
  cpp/include/raft/linalg/eltwise.cuh
  cpp/include/raft/linalg/map.cuh
  cpp/test/linalg/map.cu
Labels: 3 - Ready for Review, CMake, cpp, improvement, non-breaking

#140 [REVIEW] Adding SLHC prims.
  cpp/CMakeLists.txt
  cpp/cmake/Dependencies.cmake
  cpp/include/raft/sparse/hierarchy/common.h
  cpp/include/raft/sparse/hierarchy/detail/agglomerative.cuh
  cpp/include/raft/sparse/hierarchy/detail/connectivities.cuh
  cpp/include/raft/sparse/hierarchy/detail/mst.cuh
  cpp/include/raft/sparse/hierarchy/single_linkage.hpp
  cpp/include/raft/sparse/linalg/symmetrize.cuh
  cpp/include/raft/sparse/selection/connect_components.cuh
  cpp/include/raft/sparse/selection/knn_graph.cuh
  cpp/include/raft/spatial/knn/detail/brute_force_knn.hpp
  cpp/test/sparse/connect_components.cu
  cpp/test/sparse/knn_graph.cu
  cpp/test/sparse/linkage.cu
  cpp/test/sparse/symmetrize.cu
Labels: 3 - Ready for Review, CMake, cpp, improvement, non-breaking

#172 [REVIEW] Porting over recent updates to distance prim from cuml
  cpp/cmake/Dependencies.cmake
  cpp/include/raft/sparse/distance/bin_distance.cuh
  cpp/include/raft/sparse/distance/l2_distance.cuh
  cpp/include/raft/sparse/selection/knn_graph.cuh
  cpp/include/raft/spatial/knn/detail/brute_force_knn.hpp
  cpp/test/sparse/connect_components.cu
  cpp/test/sparse/distance.cu
Labels: 3 - Ready for Review, CMake, cpp, improvement, non-breaking

#178 [REVIEW] Fixing RAFT CI & a few small updates for SLHC Python wrapper
  cpp/cmake/Dependencies.cmake
  cpp/include/raft/sparse/hierarchy/common.h
  cpp/include/raft/sparse/hierarchy/detail/agglomerative.cuh
  cpp/include/raft/sparse/hierarchy/detail/connectivities.cuh
  cpp/include/raft/sparse/hierarchy/detail/mst.cuh
  cpp/include/raft/sparse/mst/detail/mst_solver_inl.cuh
  cpp/include/raft/sparse/op/sort.h
  cpp/include/raft/sparse/selection/connect_components.cuh
  cpp/test/sparse/connect_components.cu
  cpp/test/sparse/linkage.cu
Labels: 5 - Ready to Merge, CMake, cpp, improvement, non-breaking

#177 Add Precomputed to the DistanceType enum (for cuML DBSCAN)
  cpp/include/raft/linalg/distance_type.h
Labels: 5 - Ready to Merge, cpp, improvement, non-breaking

#173 [REVIEW] Modify default value for rowMajorIndex and rowMajorQuery in bf-knn
  cpp/include/raft/spatial/knn/knn.hpp
Labels: 5 - Ready to Merge, bug, cpp, non-breaking

#174 Add Dice distance to distancetype enum
  cpp/include/raft/linalg/distance_type.h
  cpp/include/raft/sparse/distance/distance.cuh
Labels: 5 - Ready to Merge, cpp, improvement, non-breaking

#181 [REVIEW] Scaling knn graph fix connectivities algorithm
  cpp/CMakeLists.txt
  cpp/include/raft/label/classlabels.cuh
  cpp/include/raft/label/merge_labels.cuh
  cpp/include/raft/linalg/init.h
  cpp/include/raft/sparse/hierarchy/detail/connectivities.cuh
  cpp/include/raft/sparse/hierarchy/detail/mst.cuh
  cpp/include/raft/sparse/hierarchy/single_linkage.hpp
  cpp/include/raft/sparse/linalg/symmetrize.cuh
  cpp/include/raft/sparse/mst/detail/mst_solver_inl.cuh
  cpp/include/raft/sparse/op/reduce.cuh
  cpp/include/raft/sparse/op/sort.h
  cpp/include/raft/sparse/selection/connect_components.cuh
  cpp/test/label/label.cu
  cpp/test/label/merge_labels.cu
  cpp/test/sparse/connect_components.cu
  cpp/test/sparse/reduce.cu
Labels: 3 - Ready for Review, CMake, cpp, improvement, non-breaking

#183 Fix pointer arithmetic in spmv smem kernel
  cpp/include/raft/sparse/distance/csr_spmv.cuh
Labels: 3 - Ready for Review, 5 - Ready to Merge, bug, cpp, non-breaking

#176 [Review] Enable matrix::copyRows for row major input
  cpp/include/raft/cache/cache_util.cuh
  cpp/include/raft/matrix/matrix.cuh
  cpp/test/matrix/matrix.cu
Labels: 5 - Ready to Merge, cpp, improvement, non-breaking

#186 Dice formula correction
  cpp/include/raft/sparse/distance/bin_distance.cuh
  cpp/include/raft/sparse/distance/distance.cuh
Labels: cpp, improvement, non-breaking
