Repository rapidsai/raft, pull requests merged in 2022-04, with the labels that each got.

#607 Only run doc builds for x86_64 [skip-ci]
  ci/gpu/build.sh
Labels: bug, non-breaking, gpuCI

#616 [REVIEW] Unpin `dask` & `distributed` for development
  ci/gpu/build.sh
  conda/environments/raft_dev_cuda11.0.yml
  conda/environments/raft_dev_cuda11.2.yml
  conda/environments/raft_dev_cuda11.4.yml
  conda/environments/raft_dev_cuda11.5.yml
  conda/recipes/pyraft/meta.yaml
Labels: improvement, non-breaking, gpuCI

#617 Update CMake pinning to allow newer CMake versions
  conda/recipes/libraft_distance/meta.yaml
  conda/recipes/libraft_headers/meta.yaml
  conda/recipes/libraft_nn/meta.yaml
Labels: improvement, non-breaking, CMake

#585 Making cuco, thrust, and mdspan optional dependencies.
  BUILD.md
  README.md
  build.sh
  conda/recipes/libraft_distance/meta.yaml
  conda/recipes/libraft_headers/build.sh
  conda/recipes/libraft_headers/meta.yaml
  conda/recipes/libraft_nn/meta.yaml
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_cuco.cmake
  cpp/cmake/thirdparty/get_libcudacxx.cmake
  cpp/cmake/thirdparty/get_mdspan.cmake
  cpp/cmake/thirdparty/get_thrust.cmake
  cpp/include/raft/common/logger.hpp
  cpp/include/raft/common/nvtx.hpp
  cpp/include/raft/comms/comms.hpp
  cpp/include/raft/core/comms.hpp
  cpp/include/raft/core/cublas_macros.hpp
  cpp/include/raft/core/cudart_utils.hpp
  cpp/include/raft/core/cusolver_macros.hpp
  cpp/include/raft/core/cusparse_macros.hpp
  cpp/include/raft/core/error.hpp
  cpp/include/raft/core/handle.hpp
  cpp/include/raft/core/interruptible.hpp
  cpp/include/raft/core/logger.hpp
  cpp/include/raft/core/mdarray.hpp
  cpp/include/raft/core/nvtx.hpp
  cpp/include/raft/core/span.hpp
  cpp/include/raft/cudart_utils.h
  cpp/include/raft/error.hpp
  cpp/include/raft/handle.hpp
  cpp/include/raft/interruptible.hpp
  cpp/include/raft/linalg/cublas_macros.h
  cpp/include/raft/linalg/cusolver_macros.h
  cpp/include/raft/linalg/detail/cublas_wrappers.hpp
  cpp/include/raft/linalg/detail/cusolver_wrappers.hpp
  cpp/include/raft/mdarray.hpp
  cpp/include/raft/span.hpp
  cpp/include/raft/sparse/detail/cusparse_macros.h
  cpp/include/raft/spatial/knn/detail/selection_faiss.cuh
  cpp/test/CMakeLists.txt
  cpp/test/spatial/fused_l2_knn.cu
  docs/source/cuda_cpp.rst
  docs/source/index.rst
Labels: improvement, non-breaking, cpp, CMake

#623 Remove perf prints from MST
  cpp/include/raft/sparse/mst/detail/mst_solver_inl.cuh
  cpp/include/raft/sparse/mst/detail/utils.cuh
Labels: improvement, non-breaking, cpp

#625 Branch 22.06 merge 22.04
  CHANGELOG.md
Labels: bug, non-breaking

#630 [BUG] RNG API fixes
  cpp/include/raft/random/detail/rng_device.cuh
  cpp/include/raft/random/detail/rng_impl.cuh
  cpp/include/raft/random/detail/rng_impl_deprecated.cuh
  cpp/include/raft/random/rng.cuh
  cpp/include/raft/random/rng_device.cuh
Labels: bug, 3 - Ready for Review, non-breaking

#628 Fix mdspan accessor mixin offset policy.
  cpp/include/raft/detail/mdarray.hpp
  cpp/test/mdarray.cu
Labels: bug, 3 - Ready for Review, non-breaking, cpp

#632 [FIX] Get `libcudacxx` from `cuco`
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_libcudacxx.cmake
Labels: bug, 3 - Ready for Review, non-breaking, cpp, CMake

#624 [FIX] Add `cuda_lib_dir` to `library_dirs`, allow changing `UCX`/`RMM`/`Thrust`/`spdlog` locations via envvars in `setup.py`
  python/raft/setup.cfg
  python/raft/setup.py
Labels: 3 - Ready for Review, improvement, non-breaking, python

#601 mdspan/mdarray template functions and utilities
  cpp/include/raft/core/mdarray.hpp
  cpp/include/raft/detail/mdarray.hpp
  cpp/include/raft/distance/distance.cuh
  cpp/test/CMakeLists.txt
  cpp/test/mdspan_utils.cu
Labels: feature request, non-breaking, cpp, CMake

#634 Fixing raft compile bug w/ RNG changes
  cpp/include/raft/random/detail/rng_impl.cuh
Labels: bug, non-breaking, cpp
