Repository rapidsai/raft, pull requests merged in 2022-08, with the labels that each got.

#772 [REVIEW] Pin `dask` & `distributed` for release
  ci/gpu/build.sh
  conda/environments/raft_dev_cuda11.0.yml
  conda/environments/raft_dev_cuda11.2.yml
  conda/environments/raft_dev_cuda11.4.yml
  conda/environments/raft_dev_cuda11.5.yml
  conda/recipes/pyraft/meta.yaml
Labels: improvement, non-breaking, gpuCI

#771 Various fixes for build.sh
  build.sh
Labels: bug, 3 - Ready for Review, non-breaking

#773 [REVIEW] Use documented header template for doxygen
  cpp/doxygen/Doxyfile.in
  cpp/doxygen/header.html
  cpp/doxygen/rapids.css
Labels: doc, non-breaking, cpp

#779 [REVIEW] Use common `js` and `css` code
  docs/source/_static/params.css
  docs/source/conf.py
Labels: improvement, non-breaking

#783 [REVIEW] Unpin `dask` and `distributed` for development
  ci/gpu/build.sh
  conda/environments/raft_dev_cuda11.0.yml
  conda/environments/raft_dev_cuda11.2.yml
  conda/environments/raft_dev_cuda11.4.yml
  conda/environments/raft_dev_cuda11.5.yml
  conda/recipes/pyraft/meta.yaml
Labels: improvement, non-breaking, gpuCI

#784 Use rapids-cmake 22.10 best practice for RAPIDS.cmake location
  fetch_rapids.cmake
Labels: bug, 3 - Ready for Review, non-breaking

#785 Fix adj_to_csr_kernel
  cpp/bench/sparse/convert_csr.cu
  cpp/include/raft/sparse/convert/detail/adj_to_csr.cuh
Labels: bug, 3 - Ready for Review, non-breaking, cpp

#781 Remove type punning from TxN_t
  cpp/include/raft/matrix/detail/linewise_op.cuh
  cpp/include/raft/vectorized.cuh
Labels: bug, 3 - Ready for Review, breaking, cpp

#747 ivf_flat::index: hide implementation details
  cpp/include/raft/spatial/knn/detail/ann_kmeans_balanced.cuh
  cpp/include/raft/spatial/knn/detail/ann_utils.cuh
  cpp/include/raft/spatial/knn/detail/ivf_flat_build.cuh
  cpp/include/raft/spatial/knn/detail/ivf_flat_search.cuh
  cpp/include/raft/spatial/knn/detail/processing.cuh
  cpp/include/raft/spatial/knn/ivf_flat.cuh
  cpp/include/raft/spatial/knn/ivf_flat_types.hpp
  cpp/test/spatial/ann_ivf_flat.cu
Labels: 3 - Ready for Review, improvement, breaking, cpp

#792 Add alignment to the TxN_t vectorized type
  cpp/include/raft/vectorized.cuh
Labels: bug, 3 - Ready for Review, non-breaking, cpp
