Repository rapidsai/raft, pull requests merged in 2022-01, with the labels that each got.

#436 Fix comms memory leak
  cpp/include/raft/comms/comms.hpp
  cpp/include/raft/comms/mpi_comms.hpp
Labels: bug, 3 - Ready for Review, non-breaking

#401 Faster matrix-vector-ops
  cpp/include/raft/linalg/matrix_vector_op.cuh
  cpp/include/raft/matrix/detail/linewise_op.cuh
  cpp/include/raft/matrix/matrix.hpp
  cpp/include/raft/pow2_utils.cuh
  cpp/test/CMakeLists.txt
  cpp/test/matrix/linewise_op.cu
Labels: enhancement, 3 - Ready for Review, improvement, non-breaking, cpp, CMake

#420 [REVIEW] [FEA] error macros: determining buffer size instead of fixed 2048 chars
  cpp/include/raft/error.hpp
  cpp/include/raft/linalg/cholesky_r1_update.cuh
  cpp/test/cudart_utils.cpp
Labels: feature request, non-breaking, cpp

#440 [REVIEW] Unpin `dask` and `distributed`
  ci/gpu/build.sh
  ci/local/old-gpubuild.sh
  conda/environments/raft_dev_cuda11.0.yml
  conda/environments/raft_dev_cuda11.2.yml
  conda/environments/raft_dev_cuda11.4.yml
  conda/environments/raft_dev_cuda11.5.yml
Labels: improvement, non-breaking, gpuCI

#447 Update cuCollection git tag
  cpp/cmake/thirdparty/get_cuco.cmake
Labels: enhancement, 3 - Ready for Review, improvement, non-breaking

#446 Remove libcudacxx patch needed for nvcc 11.4
  cpp/cmake/libcudacxx.patch
  cpp/cmake/thirdparty/get_libcudacxx.cmake
Labels: improvement, non-breaking, cpp, CMake

#363 Use FAISS with RMM
  cpp/include/raft/spatial/knn/ann.hpp
  cpp/include/raft/spatial/knn/ann_common.h
  cpp/include/raft/spatial/knn/detail/ann_quantized_faiss.cuh
  cpp/include/raft/spatial/knn/detail/haversine_distance.cuh
  cpp/include/raft/spatial/knn/detail/knn_brute_force_faiss.cuh
  cpp/include/raft/spatial/knn/detail/selection_faiss.cuh
  cpp/include/raft/spatial/knn/faiss_mr.hpp
  cpp/test/CMakeLists.txt
  cpp/test/spatial/faiss_mr.cu
Labels: 5 - Ready to Merge, improvement, non-breaking, cpp, CMake

#451 Replace RMM CUDA Python bindings with those provided by CUDA-Python
  conda/environments/raft_dev_cuda11.5.yml
  python/raft/common/cuda.pxd
  python/raft/common/cuda.pyx
  python/raft/common/handle.pxd
  python/raft/common/handle.pyx
Labels: bug, non-breaking, python

#442 Updates to Python and C++ Docs
  BUILD.md
  DEVELOPER_GUIDE.md
  README.md
  build.sh
  ci/gpu/build.sh
  conda/environments/raft_dev_cuda11.0.yml
  conda/environments/raft_dev_cuda11.2.yml
  conda/environments/raft_dev_cuda11.4.yml
  conda/environments/raft_dev_cuda11.5.yml
  cpp/CMakeLists.txt
  cpp/doxygen/Doxyfile.in
  cpp/doxygen/main_page.md
  cpp/doxygen/rapids.css
  docs/Makefile
  docs/README.md
  docs/make.bat
  docs/source/_static/copybutton.css
  docs/source/_static/example_mod.js
  docs/source/_static/infoboxes.css
  docs/source/_static/params.css
  docs/source/_static/references.css
  docs/source/conf.py
  docs/source/cpp_api.rst
  docs/source/cpp_api/core.rst
  docs/source/cpp_api/distributed.rst
  docs/source/cpp_api/linalg.rst
  docs/source/cpp_api/nn.rst
  docs/source/cpp_api/sparse.rst
  docs/source/cpp_api/spatial.rst
  docs/source/cpp_api/stats.rst
  docs/source/cuda_cpp.rst
  docs/source/index.rst
  docs/source/python.rst
  docs/source/python_api.rst
  docs/source/sphinxext/github_link.py
Labels: doc, non-breaking, cpp, CMake, gpuCI

#428 Simplify raft component CMake logic, and allow compilation without FAISS
  build.sh
  cpp/CMakeLists.txt
  cpp/cmake/modules/config.cmake.in
  cpp/cmake/modules/raft_export.cmake
  cpp/cmake/thirdparty/get_cuco.cmake
  cpp/cmake/thirdparty/get_faiss.cmake
  cpp/cmake/thirdparty/get_gtest.cmake
  cpp/cmake/versions.json
  cpp/test/CMakeLists.txt
  cpp/test/distance/distance_base.cuh
  cpp/test/sparse/knn_graph.cu
  cpp/test/spatial/ball_cover.cu
  cpp/test/spatial/knn.cu
  cpp/test/spatial/selection.cu
Labels: improvement, breaking, cpp, CMake

#457 [gpuCI] Forward-merge branch-22.02 to branch-22.04 [skip gpuci]
  build.sh
  cpp/CMakeLists.txt
  cpp/cmake/modules/config.cmake.in
  cpp/cmake/modules/raft_export.cmake
  cpp/cmake/thirdparty/get_cuco.cmake
  cpp/cmake/thirdparty/get_faiss.cmake
  cpp/cmake/thirdparty/get_gtest.cmake
  cpp/cmake/versions.json
  cpp/test/CMakeLists.txt
  cpp/test/distance/distance_base.cuh
  cpp/test/sparse/knn_graph.cu
  cpp/test/spatial/ball_cover.cu
  cpp/test/spatial/knn.cu
  cpp/test/spatial/selection.cu
Labels: cpp, CMake

#455 [REVIEW] Pin `dask` & `distributed` versions
  ci/gpu/build.sh
  ci/local/old-gpubuild.sh
  conda/environments/raft_dev_cuda11.0.yml
  conda/environments/raft_dev_cuda11.2.yml
  conda/environments/raft_dev_cuda11.4.yml
  conda/environments/raft_dev_cuda11.5.yml
Labels: bug, non-breaking, gpuCI

#459 README and build fixes before release
  BUILD.md
  README.md
  build.sh
  ci/gpu/build.sh
Labels: doc, non-breaking, gpuCI

#461 Splitting fused l2 knn specializations
  README.md
  build.sh
  cpp/CMakeLists.txt
  cpp/src/nn/specializations/fused_l2_knn.cu
  cpp/src/nn/specializations/fused_l2_knn_int_float_false.cu
  cpp/src/nn/specializations/fused_l2_knn_int_float_true.cu
  cpp/src/nn/specializations/fused_l2_knn_long_float_false.cu
  cpp/src/nn/specializations/fused_l2_knn_long_float_true.cu
Labels: improvement, non-breaking, cpp, CMake

#463 [BUG] Removing extra logging from faiss mr
  cpp/include/raft/spatial/knn/faiss_mr.hpp
Labels: bug, non-breaking, cpp

#439 Adding conda packaging for libraft and pyraft
  README.md
  build.sh
  ci/checks/black_lists.sh
  ci/checks/changelog.sh
  ci/checks/copyright.py
  ci/gpu/build.sh
  ci/local/README.md
  ci/local/build.sh
  ci/local/old-gpubuild.sh
  ci/prtest.config
  ci/release/update-version.sh
  conda/recipes/libraft_distance/build.sh
  conda/recipes/libraft_distance/meta.yaml
  conda/recipes/libraft_headers/build.sh
  conda/recipes/libraft_headers/meta.yaml
  conda/recipes/libraft_nn/build.sh
  conda/recipes/libraft_nn/meta.yaml
  conda/recipes/pyraft/build.sh
  conda/recipes/pyraft/meta.yaml
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_thrust.cmake
Labels: 3 - Ready for Review, improvement, non-breaking, cpp, CMake, gpuCI

#427 [gpuCI] Forward-merge branch-21.12 to branch-22.02 [skip gpuci]
  CHANGELOG.md
Labels: inactive-30d

#468 raft always calls `install` after `rapids_cmake_install_lib_dir`.
  cpp/CMakeLists.txt
Labels: bug, non-breaking, cpp, CMake
