Repository rapidsai/raft, pull requests merged in 2022-03, with the labels that each got.

#514 Unify weighted mean code
  cpp/include/raft/stats/detail/weighted_mean.cuh
  cpp/include/raft/stats/weighted_mean.cuh
  cpp/include/raft/stats/weighted_mean.hpp
  cpp/test/stats/weighted_mean.cu
Labels: feature request, non-breaking, cpp

#513 [WIP] RNG test fixes and improvements
  cpp/include/raft/random/detail/make_blobs.cuh
  cpp/include/raft/random/detail/rng_impl.cuh
  cpp/test/linalg/gemm_layout.cu
  cpp/test/random/rng.cu
  cpp/test/spatial/epsilon_neighborhood.cu
Labels: improvement, non-breaking, cpp

#548 [IMP] clang-tidy support: improved clang run scripts with latest changes (see cugraph-ops)
  cpp/scripts/run-clang-compile.py
  cpp/scripts/run-clang-tidy.py
Labels: 3 - Ready for Review, improvement, non-breaking

#538 mdspan PoC for distance make_blobs
  README.md
  cpp/include/raft.hpp
  cpp/include/raft/distance/distance.cuh
  cpp/include/raft/distance/distance.hpp
  cpp/include/raft/mdarray.hpp
  cpp/include/raft/random/make_blobs.cuh
  cpp/include/raft/random/make_blobs.hpp
  cpp/include/raft/spatial/knn/ball_cover.cuh
  cpp/test/distance/distance_base.cuh
  cpp/test/random/make_blobs.cu
Labels: improvement, non-breaking, cpp

#550 Adding logger
  README.md
  cpp/include/raft/common/detail/callback_sink.hpp
  cpp/include/raft/common/detail/scatter.cuh
  cpp/include/raft/common/logger.hpp
  cpp/include/raft/common/scatter.cuh
  cpp/test/CMakeLists.txt
  cpp/test/common/logger.cpp
Labels: improvement, non-breaking, cpp, CMake

#553 Disabling benchmarks building by default.
  cpp/CMakeLists.txt
Labels: improvement, non-breaking, cpp, CMake

#554 Add `.github/ops-bot.yaml` config file [skip ci]
  .github/ops-bot.yaml
Labels: improvement, non-breaking

#557 Updated dask and distributed to >=2022.02.1
  conda/recipes/pyraft/meta.yaml
Labels: improvement, non-breaking

#558 Add local conda channel while looking for conda outputs
  ci/cpu/upload.sh
Labels: improvement, non-breaking, gpuCI

#559 Set `main` label by default
  ci/cpu/upload.sh
Labels: improvement, non-breaking

#400 [WIP] Remove RAFT memory management
  cpp/include/raft/cudart_utils.h
  cpp/include/raft/mr/allocator.hpp
  cpp/include/raft/mr/buffer_base.hpp
  cpp/include/raft/mr/device/allocator.hpp
  cpp/include/raft/mr/device/buffer.hpp
  cpp/include/raft/mr/host/allocator.hpp
  cpp/include/raft/mr/host/buffer.hpp
  cpp/include/raft/random/detail/make_regression.cuh
  cpp/include/raft/random/detail/rng_impl.cuh
  cpp/include/raft/sparse/distance/detail/utils.cuh
  cpp/include/raft/stats/detail/homogeneity_score.cuh
  cpp/test/CMakeLists.txt
  cpp/test/linalg/rsvd.cu
  cpp/test/span.cu
  cpp/test/spatial/fused_l2_knn.cu
  cpp/test/stats/information_criterion.cu
  python/raft/common/handle.pxd
  python/raft/common/handle.pyx
Labels: improvement, breaking, 2 - In Progress, cpp, CMake, python

#560 Update update-version.sh [skip ci]
  ci/release/update-version.sh
Labels: bug, non-breaking, gpuCI

#571 Fixing accidental removal of thrust target from cmakelists
  cpp/CMakeLists.txt
Labels: improvement, non-breaking, cpp, CMake

#574 Fixing raft headers dir
  cpp/CMakeLists.txt
Labels: bug, non-breaking, cpp, CMake

#576 [FIX] Thrust package name case
  cpp/cmake/thirdparty/get_thrust.cmake
Labels: improvement, non-breaking, cpp, CMake

#579 Adding INSTALL_EXPORT_SET for cuco, rmm, thrust
  cpp/cmake/thirdparty/get_cuco.cmake
  cpp/cmake/thirdparty/get_rmm.cmake
  cpp/cmake/thirdparty/get_thrust.cmake
Labels: improvement, non-breaking, cpp, CMake

#565 [FIX] Don't add gtest to build export set or generate a gtest-config.cmake
  cpp/cmake/thirdparty/get_gtest.cmake
Labels: 3 - Ready for Review, improvement, non-breaking, cpp, CMake

#575 [REVIEW] Add missing thrust includes to transpose.cuh
  cpp/include/raft/linalg/detail/transpose.cuh
Labels: improvement, non-breaking, cpp

#580 removing exclude_from_all from cuco
  cpp/cmake/thirdparty/get_cuco.cmake
Labels: improvement, non-breaking, cpp, CMake

#581 [REVIEW] Pin `dask` and `distributed` version
  ci/gpu/build.sh
  conda/environments/raft_dev_cuda11.0.yml
  conda/environments/raft_dev_cuda11.2.yml
  conda/environments/raft_dev_cuda11.4.yml
  conda/environments/raft_dev_cuda11.5.yml
  conda/recipes/pyraft/meta.yaml
Labels: improvement, non-breaking

#582 exposing faiss::faiss
  cpp/CMakeLists.txt
Labels: improvement, non-breaking, cpp, CMake

#583 [FIX] Link to `cuco` and add faiss `EXCLUDE_FROM_ALL` option
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_faiss.cmake
Labels: 3 - Ready for Review, improvement, non-breaking, cpp, CMake

#584 Fix commands to get conda output files
  ci/cpu/upload.sh
Labels: improvement, non-breaking, gpuCI

#586 Temporarily disable new `ops-bot` functionality [skip ci]
  .github/ops-bot.yaml
Labels: improvement, non-breaking

#592 Update cuco version.
  cpp/cmake/thirdparty/get_cuco.cmake
Labels: bug, 3 - Ready for Review, non-breaking, cpp, CMake

#593 [gpuCI] Forward-merge branch-22.04 to branch-22.06 [skip gpuci]
  cpp/cmake/thirdparty/get_cuco.cmake
Labels: cpp, CMake

#589 Adding build script for docs
  ci/docs/build.sh
Labels: improvement, non-breaking, gpuCI

#596 Update `ucx-py` version
  ci/cpu/build.sh
  ci/release/update-version.sh
Labels: improvement, non-breaking, gpuCI

#595 Fix make_device_vector_view
  cpp/include/raft/mdarray.hpp
Labels: bug, non-breaking, cpp

#551 KNN select-top-k variants
  cpp/bench/CMakeLists.txt
  cpp/bench/spatial/selection.cu
  cpp/include/raft/cudart_utils.h
  cpp/include/raft/spatial/knn/detail/selection_faiss.cuh
  cpp/include/raft/spatial/knn/detail/topk/bitonic_sort.cuh
  cpp/include/raft/spatial/knn/detail/topk/radix_topk.cuh
  cpp/include/raft/spatial/knn/detail/topk/warpsort_topk.cuh
  cpp/include/raft/spatial/knn/knn.cuh
  cpp/include/raft/spatial/knn/knn.hpp
  cpp/test/spatial/selection.cu
  cpp/test/test_utils.h
Labels: 3 - Ready for Review, improvement, non-breaking, cpp, CMake

#600 Pin cmake in conda recipe to <3.23
  conda/recipes/libraft_distance/meta.yaml
  conda/recipes/libraft_headers/meta.yaml
  conda/recipes/libraft_nn/meta.yaml
Labels: bug, non-breaking

#602 [FEA] Enable building static libs
  cpp/CMakeLists.txt
  cpp/cmake/modules/ConfigureCUDA.cmake
  cpp/cmake/thirdparty/get_cuco.cmake
Labels: 3 - Ready for Review, improvement, non-breaking

#604 fix issue in fusedL2knn which happens when rows are multiple of 256
  cpp/include/raft/spatial/knn/detail/fused_l2_knn.cuh
  cpp/test/spatial/fused_l2_knn.cu
Labels: bug, non-breaking, cpp
