Repository rapidsai/raft, pull requests merged in 2022-02, with the labels that each got.

#409 [REVIEW] Hiding implementation details for comms
  cpp/cmake/thirdparty/get_thrust.cmake
  cpp/include/raft/comms/comms.hpp
  cpp/include/raft/comms/comms_test.hpp
  cpp/include/raft/comms/detail/mpi_comms.hpp
  cpp/include/raft/comms/detail/std_comms.hpp
  cpp/include/raft/comms/detail/test.hpp
  cpp/include/raft/comms/detail/ucp_helper.hpp
  cpp/include/raft/comms/detail/util.hpp
  cpp/include/raft/comms/mpi_comms.hpp
  cpp/include/raft/comms/std_comms.hpp
  python/raft/dask/common/comms_utils.pyx
  python/raft/dask/common/nccl.pyx
Labels: improvement, non-breaking, cpp, CMake, python

#474 [REVIEW] Unpin dask and distributed
  ci/gpu/build.sh
  conda/environments/raft_dev_cuda11.0.yml
  conda/environments/raft_dev_cuda11.2.yml
  conda/environments/raft_dev_cuda11.4.yml
  conda/environments/raft_dev_cuda11.5.yml
Labels: improvement, non-breaking, gpuCI

#476 [FIX] Define PTDS via `-D` to fix cache misses in sccache
  cpp/cmake/modules/ConfigureCUDA.cmake
Labels: improvement, non-breaking, cpp, CMake

#480 iUpdating codeowners to use new raft codeowners [skip-ci]
  .github/CODEOWNERS
Labels: 3 - Ready for Review, improvement, non-breaking

#482 Adding cpu ci for conda build
  ci/cpu/build.sh
  ci/cpu/prebuild.sh
  ci/cpu/upload.sh
Labels: improvement, non-breaking, gpuCI

#399 [REVIEW] Span implementation.
  cpp/include/raft/detail/span.hpp
  cpp/include/raft/span.hpp
  cpp/test/CMakeLists.txt
  cpp/test/span.cpp
  cpp/test/span.cu
  cpp/test/test_span.hpp
Labels: 3 - Ready for Review, feature request, non-breaking, cpp, CMake

#471 Replace `ccache` with `sccache`
  ci/gpu/build.sh
  conda/recipes/libraft_distance/meta.yaml
  conda/recipes/libraft_headers/meta.yaml
  conda/recipes/libraft_nn/meta.yaml
Labels: improvement, non-breaking, gpuCI

#485 Adding fatbin to shared libs and fixing conda paths in cpu build
  build.sh
  ci/cpu/build.sh
  ci/cpu/prebuild.sh
  ci/cpu/upload.sh
  conda/recipes/libraft_distance/build.sh
  conda/recipes/libraft_distance/meta.yaml
  conda/recipes/libraft_headers/build.sh
  conda/recipes/libraft_nn/build.sh
  conda/recipes/pyraft/meta.yaml
  cpp/CMakeLists.txt
  cpp/src/distance/specializations/detail/jensen_shannon_double_double_double_int.cu
  cpp/src/distance/specializations/detail/jensen_shannon_float_float_float_int.cu
  cpp/src/distance/specializations/detail/jensen_shannon_float_float_float_uint32.cu
  cpp/src/distance/specializations/detail/kl_divergence_double_double_double_int.cu
  cpp/src/distance/specializations/detail/kl_divergence_float_float_float_int.cu
  cpp/src/distance/specializations/detail/kl_divergence_float_float_float_uint32.cu
  cpp/src/distance/specializations/detail/l1_double_double_double_int.cu
  cpp/src/distance/specializations/detail/l1_float_float_float_int.cu
  cpp/src/distance/specializations/detail/l1_float_float_float_uint32.cu
  cpp/src/distance/specializations/detail/l2_expanded_double_double_double_int.cu
  cpp/src/distance/specializations/detail/l2_expanded_float_float_float_int.cu
  cpp/src/distance/specializations/detail/l2_expanded_float_float_float_uint32.cu
  cpp/src/distance/specializations/detail/l2_sqrt_expanded_double_double_double_int.cu
  cpp/src/distance/specializations/detail/l2_sqrt_expanded_float_float_float_int.cu
  cpp/src/distance/specializations/detail/l2_sqrt_expanded_float_float_float_uint32.cu
  cpp/src/distance/specializations/detail/l2_sqrt_unexpanded_double_double_double_int.cu
  cpp/src/distance/specializations/detail/l2_sqrt_unexpanded_float_float_float_int.cu
  cpp/src/distance/specializations/detail/l2_sqrt_unexpanded_float_float_float_uint32.cu
  cpp/src/distance/specializations/detail/l2_unexpanded_double_double_double_int.cu
  cpp/src/distance/specializations/detail/l2_unexpanded_float_float_float_int.cu
  cpp/src/distance/specializations/detail/l2_unexpanded_float_float_float_uint32.cu
  cpp/src/distance/specializations/detail/lp_unexpanded_double_double_double_int.cu
  cpp/src/distance/specializations/detail/lp_unexpanded_float_float_float_int.cu
  cpp/src/distance/specializations/detail/lp_unexpanded_float_float_float_uint32.cu
Labels: improvement, non-breaking, cpp, CMake, gpuCI

#472 single-pass raft::stats::meanvar
  cpp/include/raft/stats/detail/meanvar.cuh
  cpp/include/raft/stats/meanvar.hpp
  cpp/test/CMakeLists.txt
  cpp/test/stats/meanvar.cu
  cpp/test/test_utils.h
Labels: 3 - Ready for Review, feature request, non-breaking, cpp, CMake

#453 CUBLAS wrappers with switchable host/device pointer mode
  cpp/include/raft/linalg/axpy.h
  cpp/include/raft/linalg/cublas_wrappers.h
  cpp/include/raft/linalg/gemm.cuh
  cpp/include/raft/linalg/gemv.h
Labels: enhancement, 3 - Ready for Review, improvement, non-breaking, cpp

#483 Add CMake `install` rule for tests
  cpp/test/CMakeLists.txt
Labels: improvement, non-breaking, cpp, CMake

#467 More README updates [skip-ci]
  BUILD.md
  README.md
Labels: improvement, non-breaking

#489 Improve row-major meanvar kernel via minimizing atomicCAS locks
  cpp/include/raft/stats/detail/meanvar.cuh
  cpp/test/stats/meanvar.cu
Labels: bug, 3 - Ready for Review, non-breaking, cpp

#487 Reusing shared libs in gpu ci builds
  build.sh
  ci/cpu/build.sh
  ci/cpu/upload.sh
  ci/gpu/build.sh
Labels: improvement, non-breaking, gpuCI

#490 Fix integer overflow in distances
  cpp/include/raft/distance/detail/pairwise_distance_base.cuh
  cpp/test/distance/dist_canberra.cu
  cpp/test/distance/dist_chebyshev.cu
  cpp/test/distance/dist_correlation.cu
  cpp/test/distance/dist_cos.cu
  cpp/test/distance/dist_euc_exp.cu
  cpp/test/distance/dist_euc_unexp.cu
  cpp/test/distance/dist_hamming.cu
  cpp/test/distance/dist_hellinger.cu
  cpp/test/distance/dist_jensen_shannon.cu
  cpp/test/distance/dist_kl_divergence.cu
  cpp/test/distance/dist_l1.cu
  cpp/test/distance/dist_minkowski.cu
  cpp/test/distance/dist_russell_rao.cu
  cpp/test/distance/distance_base.cuh
Labels: improvement, non-breaking, cpp

#433 Interruptible execution
  cpp/CMakeLists.txt
  cpp/cmake/modules/ConfigureCUDA.cmake
  cpp/include/raft/comms/detail/mpi_comms.hpp
  cpp/include/raft/comms/detail/std_comms.hpp
  cpp/include/raft/comms/detail/test.hpp
  cpp/include/raft/comms/detail/util.hpp
  cpp/include/raft/handle.hpp
  cpp/include/raft/interruptible.hpp
  cpp/include/raft/linalg/detail/cholesky_r1_update.hpp
  cpp/include/raft/linalg/detail/lanczos.hpp
  cpp/include/raft/linalg/detail/svd.hpp
  cpp/include/raft/mr/buffer_base.hpp
  cpp/include/raft/sparse/hierarchy/detail/agglomerative.cuh
  cpp/include/raft/sparse/linalg/detail/spectral.cuh
  cpp/include/raft/sparse/op/detail/reduce.cuh
  cpp/include/raft/sparse/selection/detail/connect_components.cuh
  cpp/test/CMakeLists.txt
  cpp/test/distance/dist_adj.cu
  cpp/test/distance/distance_base.cuh
  cpp/test/handle.cpp
  cpp/test/interruptible.cu
  cpp/test/linalg/add.cu
  cpp/test/linalg/binary_op.cu
  cpp/test/linalg/coalesced_reduction.cu
  cpp/test/linalg/divide.cu
  cpp/test/linalg/eig.cu
  cpp/test/linalg/eig_sel.cu
  cpp/test/linalg/eltwise.cu
  cpp/test/linalg/map_then_reduce.cu
  cpp/test/linalg/matrix_vector_op.cu
  cpp/test/linalg/multiply.cu
  cpp/test/linalg/norm.cu
  cpp/test/linalg/reduce.cu
  cpp/test/linalg/strided_reduction.cu
  cpp/test/linalg/subtract.cu
  cpp/test/linalg/svd.cu
  cpp/test/linalg/transpose.cu
  cpp/test/linalg/unary_op.cu
  cpp/test/matrix/math.cu
  cpp/test/matrix/matrix.cu
  cpp/test/random/rng_int.cu
  cpp/test/random/sample_without_replacement.cu
  cpp/test/sparse/connect_components.cu
  cpp/test/sparse/csr_row_slice.cu
  cpp/test/sparse/csr_transpose.cu
  cpp/test/sparse/knn_graph.cu
  cpp/test/sparse/linkage.cu
  cpp/test/sparse/symmetrize.cu
  cpp/test/spatial/haversine.cu
  cpp/test/spatial/knn.cu
  cpp/test/spatial/selection.cu
  cpp/test/stats/mean_center.cu
  cpp/test/stats/stddev.cu
  cpp/test/stats/sum.cu
  docs/source/cpp_api/core.rst
  python/raft/common/interruptible.pxd
  python/raft/common/interruptible.pyx
  python/raft/test/test_interruptible.py
  python/setup.py
Labels: 3 - Ready for Review, feature request, non-breaking, cpp, CMake, python

#492 Fix badly merged cublas wrappers
  cpp/include/raft/linalg/axpy.hpp
  cpp/include/raft/linalg/detail/axpy.hpp
  cpp/include/raft/linalg/detail/gemm.hpp
  cpp/include/raft/linalg/detail/gemv.hpp
  cpp/include/raft/linalg/gemm.hpp
  cpp/include/raft/linalg/gemv.hpp
Labels: improvement, breaking

#441 Cleaning up cusparse_wrappers
  cpp/doxygen/Doxyfile.in
  cpp/include/raft/handle.hpp
  cpp/include/raft/sparse/convert/dense.hpp
  cpp/include/raft/sparse/convert/detail/coo.cuh
  cpp/include/raft/sparse/convert/detail/csr.cuh
  cpp/include/raft/sparse/convert/detail/dense.cuh
  cpp/include/raft/sparse/detail/csr.cuh
  cpp/include/raft/sparse/detail/cusparse_macros.h
  cpp/include/raft/sparse/detail/cusparse_wrappers.h
  cpp/include/raft/sparse/distance/detail/bin_distance.cuh
  cpp/include/raft/sparse/distance/detail/coo_spmv.cuh
  cpp/include/raft/sparse/distance/detail/ip_distance.cuh
  cpp/include/raft/sparse/distance/detail/l2_distance.cuh
  cpp/include/raft/sparse/distance/detail/lp_distance.cuh
  cpp/include/raft/sparse/distance/distance.hpp
  cpp/include/raft/sparse/linalg/detail/add.cuh
  cpp/include/raft/sparse/linalg/detail/norm.cuh
  cpp/include/raft/sparse/linalg/detail/spectral.cuh
  cpp/include/raft/sparse/linalg/detail/symmetrize.cuh
  cpp/include/raft/sparse/linalg/detail/transpose.h
  cpp/include/raft/sparse/op/detail/filter.cuh
  cpp/include/raft/sparse/op/detail/reduce.cuh
  cpp/include/raft/sparse/op/detail/row_op.cuh
  cpp/include/raft/sparse/op/detail/slice.h
  cpp/include/raft/sparse/op/detail/sort.h
  cpp/include/raft/spectral/matrix_wrappers.hpp
  cpp/test/sparse/csr_row_slice.cu
  cpp/test/sparse/csr_to_dense.cu
  cpp/test/sparse/csr_transpose.cu
  cpp/test/sparse/dist_coo_spmv.cu
  cpp/test/sparse/distance.cu
  cpp/test/sparse/knn.cu
Labels: improvement, breaking, cpp

#496 Fixing spectral APIs
  cpp/include/raft/cluster/detail/kmeans.cuh
  cpp/include/raft/linalg/detail/lanczos.hpp
  cpp/include/raft/linalg/lanczos.hpp
  cpp/include/raft/mr/buffer_base.hpp
  cpp/include/raft/mr/device/buffer.hpp
  cpp/include/raft/mr/host/buffer.hpp
  cpp/include/raft/spectral/detail/matrix_wrappers.cuh
  cpp/include/raft/spectral/detail/modularity_maximization.hpp
  cpp/include/raft/spectral/detail/partition.hpp
  cpp/include/raft/spectral/detail/spectral_util.cuh
  cpp/include/raft/spectral/eigen_solvers.hpp
  cpp/include/raft/spectral/matrix_wrappers.hpp
  cpp/include/raft/spectral/modularity_maximization.hpp
  cpp/include/raft/spectral/partition.hpp
  cpp/test/CMakeLists.txt
  cpp/test/mr/device/buffer.cpp
  cpp/test/mr/host/buffer.cpp
  cpp/test/spectral_matrix.cu
Labels: improvement, non-breaking, cpp, CMake

#473 Adding destructor for std comms and using nccl allreduce for barrier in mpi comms
  cpp/include/raft/comms/detail/mpi_comms.hpp
  cpp/include/raft/comms/detail/std_comms.hpp
  cpp/include/raft/comms/mpi_comms.hpp
  cpp/include/raft/comms/std_comms.hpp
Labels: bug, 3 - Ready for Review, breaking, cpp

#503 Passing stream through commsplit
  cpp/include/raft/comms/detail/mpi_comms.hpp
Labels: improvement, non-breaking, cpp

#505 Correcting the namespace
  cpp/include/raft/sparse/linalg/detail/spectral.cuh
Labels: improvement, non-breaking, cpp

#502 Moving some of the remaining linalg prims from cuml
  cpp/include/raft/linalg/detail/axpy.hpp
  cpp/include/raft/linalg/detail/gemm.hpp
  cpp/include/raft/linalg/detail/gemv.hpp
  cpp/include/raft/linalg/detail/lstsq.hpp
  cpp/include/raft/linalg/detail/reduce_cols_by_key.cuh
  cpp/include/raft/linalg/detail/reduce_rows_by_key.cuh
  cpp/include/raft/linalg/detail/rsvd.cuh
  cpp/include/raft/linalg/detail/ternary_op.cuh
  cpp/include/raft/linalg/lstsq.hpp
  cpp/include/raft/linalg/power.cuh
  cpp/include/raft/linalg/reduce_cols_by_key.cuh
  cpp/include/raft/linalg/reduce_rows_by_key.cuh
  cpp/include/raft/linalg/rsvd.cuh
  cpp/include/raft/linalg/sqrt.cuh
  cpp/include/raft/linalg/ternary_op.cuh
  cpp/test/CMakeLists.txt
  cpp/test/linalg/power.cu
  cpp/test/linalg/reduce_cols_by_key.cu
  cpp/test/linalg/reduce_rows_by_key.cu
  cpp/test/linalg/rsvd.cu
  cpp/test/linalg/sqrt.cu
  cpp/test/linalg/ternary_op.cu
Labels: improvement, breaking, cpp, CMake

#449 Move `random` package of cuML to RAFT
  cpp/include/raft/random/detail/curand_wrappers.hpp
  cpp/include/raft/random/detail/make_blobs.cuh
  cpp/include/raft/random/detail/make_regression.cuh
  cpp/include/raft/random/detail/multi_variable_gaussian.cuh
  cpp/include/raft/random/detail/permute.cuh
  cpp/include/raft/random/make_blobs.hpp
  cpp/include/raft/random/make_regression.hpp
  cpp/include/raft/random/multi_variable_gaussian.hpp
  cpp/include/raft/random/permute.hpp
  cpp/test/CMakeLists.txt
  cpp/test/random/make_blobs.cu
  cpp/test/random/make_regression.cu
  cpp/test/random/multi_variable_gaussian.cu
  cpp/test/random/permute.cu
  cpp/test/sparse/filter.cu
  cpp/test/sparse/norm.cu
  cpp/test/sparse/reduce.cu
Labels: feature request, non-breaking, cpp, CMake

#434 [REVIEW] Improvents to RNG
  cpp/include/raft/random/detail/rng_impl.cuh
  cpp/include/raft/random/rng.hpp
  cpp/test/linalg/eig_sel.cu
  cpp/test/random/rng.cu
  cpp/test/random/rng_int.cu
  cpp/test/random/sample_without_replacement.cu
  thirdparty/README.md
  thirdparty/pcg/LICENSE.txt
  thirdparty/pcg/pcg_basic.c
Labels: improvement, breaking, cpp

#507 Moving remaining stats prims from cuml
  cpp/include/raft/common/seive.hpp
  cpp/include/raft/device_utils.cuh
  cpp/include/raft/random/detail/make_blobs.cuh
  cpp/include/raft/spatial/knn/detail/epsilon_neighborhood.cuh
  cpp/include/raft/spatial/knn/epsilon_neighborhood.hpp
  cpp/include/raft/stats/common.hpp
  cpp/include/raft/stats/cov.hpp
  cpp/include/raft/stats/detail/cov.cuh
  cpp/include/raft/stats/detail/histogram.cuh
  cpp/include/raft/stats/detail/minmax.cuh
  cpp/include/raft/stats/detail/weighted_mean.cuh
  cpp/include/raft/stats/histogram.hpp
  cpp/include/raft/stats/minmax.hpp
  cpp/include/raft/stats/weighted_mean.hpp
  cpp/test/CMakeLists.txt
  cpp/test/common/seive.cu
  cpp/test/linalg/rsvd.cu
  cpp/test/random/make_blobs.cu
  cpp/test/spatial/epsilon_neighborhood.cu
  cpp/test/stats/cov.cu
  cpp/test/stats/histogram.cu
  cpp/test/stats/minmax.cu
  cpp/test/stats/weighted_mean.cu
Labels: improvement, non-breaking, cpp, CMake

#509 Initializing memory in RBC
  cpp/include/raft/spatial/knn/detail/ball_cover.cuh
  cpp/include/raft/spatial/knn/detail/ball_cover/registers.cuh
Labels: improvement, non-breaking, cpp

#424 [FEA] make raft sources compilable with clang
  cpp/include/raft/cluster/detail/kmeans.cuh
  cpp/include/raft/cuda_utils.cuh
  cpp/include/raft/label/detail/classlabels.cuh
  cpp/include/raft/linalg/detail/contractions.cuh
  cpp/include/raft/linalg/detail/qr.cuh
  cpp/include/raft/linalg/detail/reduce_rows_by_key.cuh
  cpp/include/raft/linalg/detail/rsvd.cuh
  cpp/include/raft/matrix/detail/linewise_op.cuh
  cpp/include/raft/matrix/detail/matrix.cuh
  cpp/include/raft/random/detail/make_blobs.cuh
  cpp/include/raft/sparse/distance/detail/l2_distance.cuh
  cpp/include/raft/sparse/distance/detail/lp_distance.cuh
  cpp/include/raft/sparse/selection/detail/knn.cuh
  cpp/include/raft/sparse/selection/detail/knn_graph.cuh
  cpp/include/raft/spatial/knn/detail/fused_l2_knn.cuh
  cpp/include/raft/spectral/detail/spectral_util.cuh
  cpp/include/raft/stats/detail/meanvar.cuh
  cpp/scripts/__clang_cuda_additional_intrinsics.h
  cpp/scripts/run-clang-compile.py
  cpp/scripts/run-clang-tidy.py
  cpp/test/linalg/rsvd.cu
  cpp/test/random/make_blobs.cu
  cpp/test/stats/meanvar.cu
Labels: feature request, non-breaking, cpp

#515 [REVIEW] Implement span storage optimization.
  cpp/include/raft/detail/span.hpp
  cpp/include/raft/span.hpp
Labels: improvement, non-breaking, cpp

#516 raft-config is idempotent no matter RAFT_COMPILE_LIBRARIES value
  cpp/CMakeLists.txt
  cpp/cmake/modules/config.cmake.in
  cpp/cmake/thirdparty/get_faiss.cmake
Labels: bug, non-breaking, cpp, CMake

#512 Moving scores and metrics over to raft::stats
  cpp/include/raft/matrix/col_wise_sort.hpp
  cpp/include/raft/matrix/detail/columnWiseSort.cuh
  cpp/include/raft/spatial/knn/detail/ann_quantized_faiss.cuh
  cpp/include/raft/stats/accuracy.hpp
  cpp/include/raft/stats/adjusted_rand_index.hpp
  cpp/include/raft/stats/common.hpp
  cpp/include/raft/stats/completeness_score.hpp
  cpp/include/raft/stats/contingency_matrix.hpp
  cpp/include/raft/stats/detail/adjusted_rand_index.cuh
  cpp/include/raft/stats/detail/batched/information_criterion.cuh
  cpp/include/raft/stats/detail/batched/silhouette_score.cuh
  cpp/include/raft/stats/detail/completeness_score.cuh
  cpp/include/raft/stats/detail/contingencyMatrix.cuh
  cpp/include/raft/stats/detail/dispersion.cuh
  cpp/include/raft/stats/detail/entropy.cuh
  cpp/include/raft/stats/detail/homogeneity_score.cuh
  cpp/include/raft/stats/detail/kl_divergence.cuh
  cpp/include/raft/stats/detail/mutual_info_score.cuh
  cpp/include/raft/stats/detail/rand_index.cuh
  cpp/include/raft/stats/detail/scores.cuh
  cpp/include/raft/stats/detail/silhouette_score.cuh
  cpp/include/raft/stats/detail/trustworthiness_score.cuh
  cpp/include/raft/stats/detail/v_measure.cuh
  cpp/include/raft/stats/dispersion.hpp
  cpp/include/raft/stats/entropy.hpp
  cpp/include/raft/stats/homogeneity_score.hpp
  cpp/include/raft/stats/information_criterion.hpp
  cpp/include/raft/stats/kl_divergence.hpp
  cpp/include/raft/stats/mutual_info_score.hpp
  cpp/include/raft/stats/r2_score.hpp
  cpp/include/raft/stats/rand_index.hpp
  cpp/include/raft/stats/regression_metrics.hpp
  cpp/include/raft/stats/silhouette_score.hpp
  cpp/include/raft/stats/specializations.hpp
  cpp/include/raft/stats/trustworthiness_score.hpp
  cpp/include/raft/stats/v_measure.hpp
  cpp/test/CMakeLists.txt
  cpp/test/matrix/columnSort.cu
  cpp/test/stats/adjusted_rand_index.cu
  cpp/test/stats/completeness_score.cu
  cpp/test/stats/contingencyMatrix.cu
  cpp/test/stats/dispersion.cu
  cpp/test/stats/entropy.cu
  cpp/test/stats/homogeneity_score.cu
  cpp/test/stats/information_criterion.cu
  cpp/test/stats/kl_divergence.cu
  cpp/test/stats/mutual_info_score.cu
  cpp/test/stats/rand_index.cu
  cpp/test/stats/silhouette_score.cu
  cpp/test/stats/trustworthiness.cu
  cpp/test/stats/v_measure.cu
Labels: improvement, non-breaking, cpp, CMake

#520 Fixing Python conda package and installation
  build.sh
  python/.flake8
  python/.flake8.cython
  python/raft/_version.py
  python/raft/common/__init__.pxd
  python/setup.cfg
  python/setup.py
Labels: improvement, non-breaking, python

#437 [REVIEW] mdspan integration.
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_mdspan.cmake
  cpp/include/raft/detail/mdarray.hpp
  cpp/include/raft/mdarray.hpp
  cpp/test/CMakeLists.txt
  cpp/test/mdarray.cu
  thirdparty/LICENSES/mdarray.license
Labels: feature request, non-breaking, cpp, CMake

#508 Adjusting conda packaging to remove duplicate dependencies
  conda/recipes/libraft_distance/meta.yaml
  conda/recipes/libraft_headers/meta.yaml
  conda/recipes/libraft_nn/meta.yaml
  conda/recipes/pyraft/meta.yaml
Labels: improvement, non-breaking

#521 Use shfl_xor in warpReduce for broadcast
  cpp/include/raft/cuda_utils.cuh
Labels: improvement, non-breaking, cpp

#522 Updating some of the ci check scripts
  ci/checks/copyright.py
  ci/checks/style.sh
  cpp/scripts/gitutils.py
Labels: improvement, non-breaking, cpp, gpuCI

#523 Use `dynamic_extent` from `stdex`.
  cpp/include/raft/detail/mdarray.hpp
  cpp/include/raft/detail/span.hpp
  cpp/test/mdarray.cu
Labels: improvement, non-breaking, cpp

#519 Adding instructions to install from conda and build using CPM [skip-ci]
  BUILD.md
  README.md
  build.sh
Labels: improvement, non-breaking

#525 Increase parallelism in allgatherv
  cpp/include/raft/comms/detail/mpi_comms.hpp
  cpp/include/raft/comms/detail/std_comms.hpp
Labels: 3 - Ready for Review, improvement, non-breaking, cpp

#526 Include thrust/sort.h in ball_cover.cuh
  cpp/include/raft/spatial/knn/detail/ball_cover.cuh
Labels: improvement, non-breaking, cpp

#531 Allocate sufficient memory for Hungarian if number of batches > 1
  cpp/include/raft/lap/detail/lap_functions.cuh
Labels: bug, non-breaking, cpp

#532 find_package(raft) can now be called multiple times safely
  cpp/CMakeLists.txt
Labels: bug, 3 - Ready for Review, non-breaking, cpp, CMake
