Repository rapidsai/raft, pull requests merged in 2022-11, with the labels that each got.

#973 Update raft tests to compile with C++17 features enabled
  cpp/test/CMakeLists.txt
Labels: bug, 3 - Ready for Review, non-breaking, cpp, CMake

#969 Remove unnecessary requirements for raft-dask.
  python/raft-dask/setup.cfg
Labels: 3 - Ready for Review, improvement, non-breaking, python

#966 [BUG] Fix kmeans cluster templates
  cpp/include/raft/cluster/kmeans.cuh
  cpp/test/matrix/slice.cu
Labels: improvement, non-breaking, cpp

#978 Forward merge 22.10 into 22.12
  CHANGELOG.md
Labels: 3 - Ready for Review, improvement, non-breaking

#976 Use new rapids-cmake functionality for rpath handling.
  python/pylibraft/CMakeLists.txt
  python/pylibraft/pylibraft/common/CMakeLists.txt
  python/pylibraft/pylibraft/distance/CMakeLists.txt
  python/pylibraft/pylibraft/random/CMakeLists.txt
Labels: 3 - Ready for Review, improvement, non-breaking, CMake, python

#963 [HOTFIX] Update cuda-python dependency to 11.7.1
  conda/environments/raft_dev_cuda11.0.yml
  conda/environments/raft_dev_cuda11.2.yml
  conda/environments/raft_dev_cuda11.4.yml
  conda/environments/raft_dev_cuda11.5.yml
  conda/recipes/pylibraft/meta.yaml
  conda/recipes/raft-dask/meta.yaml
Labels: improvement, non-breaking

#987 Automatically sync handle when not passed to pylibraft functions
  python/pylibraft/pylibraft/cluster/kmeans.pyx
  python/pylibraft/pylibraft/common/handle.pyx
  python/pylibraft/pylibraft/distance/fused_l2_nn.pyx
  python/pylibraft/pylibraft/distance/pairwise_distance.pyx
  python/pylibraft/pylibraft/random/rmat_rectangular_generator.pyx
Labels: improvement, non-breaking, python

#980 Fix pylibraft docstring example code
  python/pylibraft/pylibraft/cluster/kmeans.pyx
  python/pylibraft/pylibraft/common/cuda.pyx
  python/pylibraft/pylibraft/distance/fused_l2_nn.pyx
Labels: bug, non-breaking, python

#992 Changing Overloads for GCC 11/12 bugs
  cpp/include/raft/linalg/rsvd.cuh
  cpp/include/raft/linalg/svd.cuh
Labels: bug, non-breaking, cpp

#993 [skip-ci] Updating minimum required gcc version
  README.md
  docs/source/build.md
Labels: doc, non-breaking

#996 Fix environment channels
  conda/environments/raft_dev_cuda11.0.yml
  conda/environments/raft_dev_cuda11.2.yml
  conda/environments/raft_dev_cuda11.4.yml
  conda/environments/raft_dev_cuda11.5.yml
  docs/source/build.md
Labels: improvement, non-breaking

#999 [skip-ci] Update compiler flags in build docs
  docs/source/build.md
Labels: doc, non-breaking

#989 Update cuSparse wrappers to avoid deprecated functions
  cpp/include/raft/sparse/detail/cusparse_wrappers.h
  cpp/include/raft/spectral/detail/matrix_wrappers.hpp
Labels: feature request, non-breaking, cpp

#911 Replace `map_along_rows` with `matrixVectorOp`
  cpp/bench/linalg/matrix_vector_op.cu
  cpp/include/raft/linalg/detail/matrix_vector_op.cuh
  cpp/include/raft/linalg/matrix_vector_op.cuh
  cpp/include/raft/matrix/detail/linewise_op.cuh
  cpp/include/raft/matrix/matrix.cuh
  cpp/include/raft/spatial/knn/detail/ann_kmeans_balanced.cuh
  cpp/include/raft/spatial/knn/detail/ann_utils.cuh
  cpp/include/raft/util/detail/itertools.hpp
  cpp/include/raft/util/itertools.hpp
  cpp/test/linalg/matrix_vector.cu
  cpp/test/linalg/matrix_vector_op.cu
  cpp/test/linalg/matrix_vector_op.cuh
  cpp/test/matrix/linewise_op.cu
Labels: 3 - Ready for Review, improvement, non-breaking, cpp

#1001 Add `except +` to cython extern cdef declarations
  python/pylibraft/pylibraft/cluster/kmeans.pyx
  python/pylibraft/pylibraft/distance/fused_l2_nn.pyx
  python/pylibraft/pylibraft/distance/pairwise_distance.pyx
  python/pylibraft/pylibraft/random/rmat_rectangular_generator.pyx
Labels: bug, non-breaking, python

#968 Expose `linalg::dot` in public API
  cpp/include/raft/core/device_mdspan.hpp
  cpp/include/raft/linalg/axpy.cuh
  cpp/include/raft/linalg/dot.cuh
  cpp/test/CMakeLists.txt
  cpp/test/linalg/axpy.cu
  cpp/test/linalg/dot.cu
  docs/source/quick_start.md
Labels: improvement, non-breaking, cpp, CMake

#1006 Moving contributing and developer guides to main docs
  README.md
  docs/source/contributing.md
  docs/source/developer_guide.md
  docs/source/index.rst
Labels: doc, non-breaking

#1005 Remove make_mdspan template for memory_type enum
  cpp/include/raft/core/mdspan.hpp
Labels: bug, breaking, cpp

#995 Changing Overloads for GCC 11/12 bug
  cpp/include/raft/linalg/rsvd.cuh
  cpp/include/raft/linalg/svd.cuh
  cpp/include/raft/matrix/col_wise_sort.cuh
  cpp/include/raft/random/rng.cuh
  cpp/include/raft/stats/contingency_matrix.cuh
Labels: bug, non-breaking, cpp

#1008 Moving TestDeviceBuffer to `pylibraft.common.device_ndarray`
  README.md
  python/pylibraft/pylibraft/common/__init__.py
  python/pylibraft/pylibraft/common/device_ndarray.py
  python/pylibraft/pylibraft/distance/fused_l2_nn.pyx
  python/pylibraft/pylibraft/distance/pairwise_distance.pyx
  python/pylibraft/pylibraft/test/test_device_ndarray.py
  python/pylibraft/pylibraft/test/test_distance.py
  python/pylibraft/pylibraft/test/test_fused_l2_argmin.py
  python/pylibraft/pylibraft/test/test_kmeans.py
  python/pylibraft/pylibraft/test/test_random.py
  python/pylibraft/pylibraft/testing/__init__.py
  python/pylibraft/pylibraft/testing/utils.py
Labels: improvement, non-breaking, python

#1020 [BUG] Fix for gemmi deprecation
  build.sh
  cpp/include/raft/sparse/detail/cusparse_wrappers.h
  cpp/include/raft/sparse/linalg/transpose.cuh
  cpp/test/CMakeLists.txt
  cpp/test/sparse/csr_transpose.cu
  cpp/test/sparse/spgemmi.cu
Labels: bug, non-breaking, cpp, CMake

#1022 [REVIEW] Pin `dask` and `distributed` for release
  ci/gpu/build.sh
  conda/environments/raft_dev_cuda11.2.yml
  conda/environments/raft_dev_cuda11.4.yml
  conda/environments/raft_dev_cuda11.5.yml
  conda/recipes/raft-dask/meta.yaml
Labels: improvement, non-breaking, gpuCI

#1019 IVF-Flat: make adaptive-centers behavior optional
  cpp/include/raft/neighbors/ivf_flat_types.hpp
  cpp/include/raft/spatial/knn/detail/ivf_flat_build.cuh
  cpp/test/neighbors/ann_ivf_flat.cu
Labels: 3 - Ready for Review, feature request, breaking, cpp

#1023 Revert "[REVIEW] Pin `dask` and `distributed` for release"
  ci/gpu/build.sh
  conda/environments/raft_dev_cuda11.2.yml
  conda/environments/raft_dev_cuda11.4.yml
  conda/environments/raft_dev_cuda11.5.yml
  conda/recipes/raft-dask/meta.yaml
Labels: improvement, non-breaking, gpuCI

#979 Replace `normalize_rows` in `ann_utils.cuh` by a new `rowNormalize` prim and improve performance for thin matrices (small `n_cols`)
  cpp/bench/CMakeLists.txt
  cpp/bench/linalg/normalize.cu
  cpp/include/raft/linalg/detail/norm.cuh
  cpp/include/raft/linalg/detail/normalize.cuh
  cpp/include/raft/linalg/norm.cuh
  cpp/include/raft/linalg/norm_types.hpp
  cpp/include/raft/linalg/normalize.cuh
  cpp/include/raft/spatial/knn/detail/ann_kmeans_balanced.cuh
  cpp/include/raft/spatial/knn/detail/ann_utils.cuh
  cpp/include/raft/util/cuda_utils.cuh
  cpp/test/CMakeLists.txt
  cpp/test/linalg/normalize.cu
Labels: improvement, non-breaking, 4 - Waiting on Reviewer, cpp, CMake

#926 ivf-pq performance tweaks
  cpp/include/raft/neighbors/ivf_pq.cuh
  cpp/include/raft/neighbors/ivf_pq_types.hpp
  cpp/include/raft/spatial/knn/detail/ann_utils.cuh
  cpp/include/raft/spatial/knn/detail/ivf_pq_build.cuh
  cpp/include/raft/spatial/knn/detail/ivf_pq_search.cuh
  cpp/include/raft/spatial/knn/detail/topk.cuh
  cpp/include/raft/spatial/knn/detail/topk/warpsort_topk.cuh
  cpp/include/raft/util/cuda_utils.cuh
  cpp/test/neighbors/ann_ivf_flat.cu
  cpp/test/neighbors/ann_ivf_pq.cuh
  cpp/test/neighbors/ann_ivf_pq/test_float_int64_t.cu
  cpp/test/neighbors/ann_ivf_pq/test_float_uint32_t.cu
  cpp/test/neighbors/ann_ivf_pq/test_float_uint64_t.cu
  cpp/test/neighbors/ann_ivf_pq/test_int8_t_uint64_t.cu
  cpp/test/neighbors/ann_ivf_pq/test_uint8_t_uint64_t.cu
  cpp/test/neighbors/ann_utils.cuh
  python/pylibraft/pylibraft/test/test_ivf_pq.py
Labels: 3 - Ready for Review, improvement, breaking, cpp, python

#1027 Adding lightweight cai_wrapper to reduce boilerplate
  python/pylibraft/pylibraft/common/__init__.py
  python/pylibraft/pylibraft/common/cai_wrapper.py
  python/pylibraft/pylibraft/distance/fused_l2_nn.pyx
  python/pylibraft/pylibraft/distance/pairwise_distance.pyx
  python/pylibraft/pylibraft/neighbors/ivf_pq/ivf_pq.pyx
  python/pylibraft/pylibraft/random/rmat_rectangular_generator.pyx
  python/pylibraft/pylibraft/test/test_cai_wrapper.py
Labels: improvement, non-breaking, python

#1026 [REVIEW] Change `raft` docs theme to `pydata-sphinx-theme`
  build.sh
  ci/gpu/build.sh
  conda/recipes/libraft/build_libraft_distance.sh
  conda/recipes/libraft/build_libraft_headers.sh
  conda/recipes/libraft/build_libraft_nn.sh
  conda/recipes/pylibraft/build.sh
  conda/recipes/raft-dask/build.sh
  docs/source/_static/copybutton.css
  docs/source/_static/example_mod.js
  docs/source/_static/infoboxes.css
  docs/source/build.md
  docs/source/conf.py
  python/pylibraft/pylibraft/distance/pairwise_distance.pyx
Labels: improvement, non-breaking, gpuCI, python

#1033 Suppres ptxas stack size warning in Debug mode
  cpp/cmake/modules/ConfigureCUDA.cmake
Labels: bug, non-breaking, cpp, CMake

#1029 Don't use CMake 3.25.0 as it has a FindCUDAToolkit show stopping bug
  conda/environments/raft_dev_cuda11.2.yml
  conda/environments/raft_dev_cuda11.4.yml
  conda/environments/raft_dev_cuda11.5.yml
  conda/recipes/libraft/conda_build_config.yaml
  conda/recipes/pylibraft/conda_build_config.yaml
  conda/recipes/raft-dask/conda_build_config.yaml
  python/pylibraft/pyproject.toml
  python/raft-dask/pyproject.toml
Labels: bug, 3 - Ready for Review, non-breaking, python

#1034 Fix trivial deprecated header includes
  cpp/include/raft/spatial/knn/detail/ball_cover.cuh
  cpp/include/raft/spatial/knn/detail/ball_cover/registers.cuh
  cpp/include/raft/spatial/knn/detail/epsilon_neighborhood.cuh
  cpp/include/raft/spectral/eigen_solvers.cuh
  cpp/include/raft/stats/detail/batched/information_criterion.cuh
  cpp/include/raft/stats/detail/histogram.cuh
  cpp/include/raft/stats/histogram.cuh
  cpp/include/raft/stats/information_criterion.cuh
  cpp/test/common/seive.cu
  cpp/test/distance/fused_l2_nn.cu
  cpp/test/distance/gram.cu
  cpp/test/integer_utils.cpp
  cpp/test/pow2_utils.cu
  docs/source/build.md
  python/pylibraft/pylibraft/distance/distance_type.pxd
Labels: bug, 3 - Ready for Review, non-breaking, cpp, python

#1035 IVF-PQ: use device properties helper
  cpp/include/raft/spatial/knn/detail/ivf_pq_search.cuh
Labels: 3 - Ready for Review, improvement, non-breaking, cpp

#1032 Make ucx linkage explicit and add a new CMake target for it
  cpp/CMakeLists.txt
  cpp/include/raft/comms/detail/std_comms.hpp
  cpp/include/raft/comms/detail/ucp_helper.hpp
  python/raft-dask/CMakeLists.txt
  python/raft-dask/raft_dask/common/CMakeLists.txt
Labels: 3 - Ready for Review, improvement, breaking, cpp, CMake, python

#1028 Expose cluster_cost to python
  cpp/CMakeLists.txt
  cpp/include/raft_distance/kmeans.hpp
  cpp/src/distance/cluster_cost.cuh
  cpp/src/distance/cluster_cost_double.cu
  cpp/src/distance/cluster_cost_float.cu
  python/pylibraft/pylibraft/cluster/kmeans.pyx
  python/pylibraft/pylibraft/cpp/__init__.pxd
  python/pylibraft/pylibraft/cpp/__init__.py
  python/pylibraft/pylibraft/cpp/kmeans.pxd
  python/pylibraft/pylibraft/test/test_kmeans.py
Labels: improvement, non-breaking, cpp, CMake, python

#1011 Replace `dots_along_rows` with `rowNorm` and improve `coalescedReduction` performance
  cpp/bench/CMakeLists.txt
  cpp/bench/linalg/norm.cu
  cpp/include/raft/linalg/coalesced_reduction.cuh
  cpp/include/raft/linalg/detail/coalesced_reduction.cuh
  cpp/include/raft/linalg/norm.cuh
  cpp/include/raft/linalg/reduce.cuh
  cpp/include/raft/linalg/strided_reduction.cuh
  cpp/include/raft/spatial/knn/detail/ann_utils.cuh
  cpp/include/raft/spatial/knn/detail/ivf_flat_build.cuh
  cpp/include/raft/spatial/knn/detail/ivf_flat_search.cuh
  cpp/include/raft/spatial/knn/detail/ivf_pq_build.cuh
  cpp/include/raft/util/cuda_utils.cuh
  cpp/test/linalg/coalesced_reduction.cu
  cpp/test/linalg/norm.cu
  cpp/test/linalg/reduce.cu
  cpp/test/linalg/reduce.cuh
  cpp/test/linalg/strided_reduction.cu
  cpp/test/test_utils.h
Labels: 3 - Ready for Review, improvement, non-breaking, cpp, CMake

#1040 [HOTFIX] Fix fusedL2NN bug that can happen when the same point appears in both x and y
  cpp/include/raft/distance/detail/fused_l2_nn.cuh
Labels: bug, 3 - Ready for Review, non-breaking, cpp

#1013 Add wheel builds
  .github/workflows/wheels.yml
  .gitignore
  cpp/CMakeLists.txt
  python/pylibraft/CMakeLists.txt
  python/pylibraft/LICENSE
  python/pylibraft/_custom_build/backend.py
  python/pylibraft/pylibraft/cluster/CMakeLists.txt
  python/pylibraft/pylibraft/neighbors/CMakeLists.txt
  python/pylibraft/pylibraft/neighbors/ivf_pq/CMakeLists.txt
  python/pylibraft/pylibraft/random/CMakeLists.txt
  python/pylibraft/pyproject.toml
  python/pylibraft/setup.cfg
  python/pylibraft/setup.py
  python/raft-dask/CMakeLists.txt
  python/raft-dask/LICENSE
  python/raft-dask/pyproject.toml
  python/raft-dask/pytest.ini
  python/raft-dask/raft_dask/common/CMakeLists.txt
  python/raft-dask/raft_dask/include_test/CMakeLists.txt
  python/raft-dask/setup.py
Labels: 3 - Ready for Review, feature request, non-breaking, cpp, CMake, python

#1038 Add ANN refinement method
  cpp/bench/CMakeLists.txt
  cpp/bench/neighbors/refine.cu
  cpp/include/raft/neighbors/detail/refine.cuh
  cpp/include/raft/neighbors/refine.cuh
  cpp/include/raft/spatial/knn/detail/ivf_flat_build.cuh
  cpp/include/raft/spatial/knn/detail/ivf_flat_search.cuh
  cpp/test/CMakeLists.txt
  cpp/test/neighbors/ann_utils.cuh
  cpp/test/neighbors/refine.cu
  cpp/test/neighbors/refine_helper.cuh
Labels: feature request, non-breaking, cpp, CMake

#1045 fusedL2NN: Add input alignment checks
  cpp/include/raft/distance/fused_l2_nn.cuh
Labels: bug, 3 - Ready for Review, non-breaking, cpp

#1030 Fixing broken doc functions and improving coverage
  cpp/include/raft/core/device_mdspan.hpp
  cpp/include/raft/core/host_mdspan.hpp
  cpp/include/raft/core/mdspan.hpp
  cpp/include/raft/random/detail/multi_variable_gaussian.cuh
  cpp/include/raft/random/detail/random_types.hpp
  cpp/include/raft/random/multi_variable_gaussian.cuh
  cpp/include/raft/random/random_types.hpp
  cpp/include/raft/random/rng.cuh
  cpp/test/random/multi_variable_gaussian.cu
  docs/source/cpp_api.rst
  docs/source/cpp_api/cluster.rst
  docs/source/cpp_api/core.rst
  docs/source/cpp_api/distance.rst
  docs/source/cpp_api/linalg.rst
  docs/source/cpp_api/matrix.rst
  docs/source/cpp_api/mdspan.rst
  docs/source/cpp_api/neighbors.rst
  docs/source/cpp_api/random.rst
  docs/source/cpp_api/solver.rst
  docs/source/cpp_api/sparse.rst
  docs/source/cpp_api/stats.rst
  docs/source/pylibraft_api.rst
  docs/source/pylibraft_api/cluster.rst
  docs/source/pylibraft_api/common.rst
  docs/source/pylibraft_api/distance.rst
  docs/source/pylibraft_api/neighbors.rst
  docs/source/pylibraft_api/random.rst
  docs/source/quick_start.md
  python/pylibraft/pylibraft/cluster/__init__.py
  python/pylibraft/pylibraft/distance/fused_l2_nn.pyx
  python/pylibraft/pylibraft/distance/pairwise_distance.pyx
Labels: improvement, non-breaking, cpp, python

#1048 Fix concurrency issues in k-means++ initialization
  cpp/include/raft/cluster/detail/kmeans.cuh
Labels: bug, non-breaking, cpp

#1053 Remove unused setuputils modules
  python/pylibraft/setuputils.py
  python/raft-dask/setuputils.py
Labels: 3 - Ready for Review, improvement, non-breaking, python

#1039 Replace k-means++ CPU bottleneck with a `random::discrete` prim
  cpp/include/raft/cluster/detail/kmeans.cuh
  cpp/include/raft/random/detail/rng_device.cuh
  cpp/include/raft/random/detail/rng_impl.cuh
  cpp/include/raft/random/rng.cuh
  cpp/test/CMakeLists.txt
  cpp/test/random/rng_discrete.cu
Labels: 3 - Ready for Review, improvement, non-breaking, cpp, CMake

#1054 Specify correct global targets names to raft_export
  cpp/CMakeLists.txt
Labels: bug, 3 - Ready for Review, non-breaking, cpp, CMake

#1016 Add python bindings for kmeans fit
  cpp/CMakeLists.txt
  cpp/include/raft_distance/kmeans.hpp
  cpp/src/distance/kmeans_fit_double.cu
  cpp/src/distance/kmeans_fit_float.cu
  python/pylibraft/pylibraft/cluster/kmeans.pyx
  python/pylibraft/pylibraft/common/cai_wrapper.py
  python/pylibraft/pylibraft/cpp/kmeans.pxd
  python/pylibraft/pylibraft/cpp/kmeans_types.pxd
  python/pylibraft/pylibraft/cpp/mdspan.pxd
  python/pylibraft/pylibraft/cpp/optional.pxd
  python/pylibraft/pylibraft/test/test_kmeans.py
Labels: improvement, non-breaking, cpp, CMake, python
