Repository rapidsai/raft, pull requests merged in 2022-06, with the labels that each got.

#695 Use unique ptr in `print_device_vector`
  cpp/include/raft/core/cudart_utils.hpp
Labels: improvement, non-breaking, cpp

#701 Avoid shadowing CMAKE_ARGS variable in build.sh
  build.sh
Labels: 3 - Ready for Review, improvement, non-breaking

#704 [REVIEW] Unpin `dask` & `distributed` for development
  ci/gpu/build.sh
  conda/environments/raft_dev_cuda11.0.yml
  conda/environments/raft_dev_cuda11.2.yml
  conda/environments/raft_dev_cuda11.4.yml
  conda/environments/raft_dev_cuda11.5.yml
  conda/recipes/pyraft/meta.yaml
Labels: improvement, non-breaking, gpuCI

#712 Branch 22.08 merge branch 22.06
  CHANGELOG.md
  ci/release/update-version.sh
  conda/recipes/pylibraft/conda_build_config.yaml
  conda/recipes/pyraft/conda_build_config.yaml
Labels: improvement, non-breaking, gpuCI

#713 [FIX] Update conda environment pinnings and update-versions.sh.
  ci/release/update-version.sh
  conda/environments/raft_dev_cuda11.0.yml
  conda/environments/raft_dev_cuda11.2.yml
  conda/environments/raft_dev_cuda11.4.yml
  conda/environments/raft_dev_cuda11.5.yml
Labels: improvement, non-breaking, gpuCI

#714 Update cuco version
  cpp/cmake/thirdparty/get_cuco.cmake
  cpp/include/raft/sparse/distance/detail/coo_spmv_strategies/hash_strategy.cuh
Labels: 3 - Ready for Review, improvement, non-breaking, cpp, CMake

#718 Fix sccache
  ci/cpu/build.sh
  ci/gpu/build.sh
  conda/recipes/libraft/build_libraft_distance.sh
  conda/recipes/libraft/build_libraft_headers.sh
  conda/recipes/libraft/build_libraft_nn.sh
  conda/recipes/libraft/build_libraft_tests.sh
  conda/recipes/libraft/meta.yaml
  conda/recipes/pylibraft/build.sh
  conda/recipes/pyraft/build.sh
Labels: improvement, non-breaking, gpuCI

#715 Introducing raft::mdspan as an alias
  cpp/include/raft/core/mdarray.hpp
  cpp/test/mdspan_utils.cu
Labels: improvement, non-breaking, cpp

#678 Add missing Thrust includes
  cpp/include/raft/cluster/detail/kmeans.cuh
  cpp/include/raft/core/span.hpp
  cpp/include/raft/lap/detail/lap_functions.cuh
  cpp/include/raft/lap/detail/lap_kernels.cuh
  cpp/include/raft/lap/lap.cuh
  cpp/include/raft/lap/lap.hpp
  cpp/include/raft/linalg/detail/add.cuh
  cpp/include/raft/linalg/detail/eltwise.cuh
  cpp/include/raft/matrix/detail/matrix.cuh
  cpp/include/raft/sparse/distance/detail/coo_spmv_strategies/coo_mask_row_iterators.cuh
  cpp/include/raft/sparse/distance/detail/coo_spmv_strategies/hash_strategy.cuh
  cpp/include/raft/sparse/distance/detail/l2_distance.cuh
  cpp/include/raft/sparse/hierarchy/detail/agglomerative.cuh
  cpp/include/raft/sparse/hierarchy/detail/connectivities.cuh
  cpp/include/raft/sparse/mst/detail/mst_solver_inl.cuh
  cpp/include/raft/sparse/op/detail/filter.cuh
  cpp/include/raft/sparse/op/detail/sort.h
  cpp/include/raft/sparse/selection/detail/connect_components.cuh
  cpp/include/raft/spatial/knn/detail/ball_cover.cuh
  cpp/include/raft/spatial/knn/detail/ball_cover/common.cuh
  cpp/include/raft/spatial/knn/detail/ball_cover/registers.cuh
  cpp/include/raft/spectral/detail/matrix_wrappers.hpp
  cpp/include/raft/spectral/detail/spectral_util.cuh
  cpp/include/raft/stats/detail/adjusted_rand_index.cuh
  cpp/include/raft/stats/detail/batched/silhouette_score.cuh
  cpp/include/raft/stats/detail/contingencyMatrix.cuh
  cpp/include/raft/stats/detail/scores.cuh
  cpp/test/linalg/reduce.cuh
  cpp/test/matrix/matrix.cu
  cpp/test/mdarray.cu
  cpp/test/mst.cu
  cpp/test/random/make_regression.cu
  cpp/test/span.cu
  cpp/test/spatial/ball_cover.cu
Labels: improvement, non-breaking, cpp

#721 [REVIEW] Switch `language` from `None` to `"en"` in docs build
  ci/release/update-version.sh
  docs/source/conf.py
Labels: doc, non-breaking, gpuCI

#724 fix nans in naive kl divergence kernel introduced by div by 0.
  cpp/test/distance/distance_base.cuh
Labels: improvement, non-breaking, cpp

#722 Use rapids-cmake for cuco
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_cuco.cmake
Labels: 3 - Ready for Review, improvement, non-breaking, cpp, CMake

#723 [FEA] Implement unravel_index for row-major array.
  cpp/include/raft/core/mdarray.hpp
  cpp/include/raft/detail/mdarray.hpp
  cpp/test/mdarray.cu
Labels: 3 - Ready for Review, feature request, non-breaking, cpp
