Repository rapidsai/raft, pull requests merged in 2022-10, with the labels that each got.

#827 Mdspan-ifying `raft::spatial`
  build.sh
  cpp/include/raft/spatial/knn/ball_cover.cuh
  cpp/include/raft/spatial/knn/ball_cover_types.hpp
  cpp/include/raft/spatial/knn/brute_force.cuh
  cpp/include/raft/spatial/knn/detail/ball_cover.cuh
  cpp/include/raft/spatial/knn/detail/ball_cover/registers.cuh
  cpp/include/raft/spatial/knn/epsilon_neighborhood.cuh
  cpp/include/raft/spatial/knn/ivf_flat.cuh
  cpp/include/raft/spatial/knn/knn.cuh
  cpp/include/raft/spatial/knn/specializations/ball_cover.cuh
  cpp/src/nn/specializations/ball_cover.cu
  cpp/test/spatial/ann_ivf_flat.cu
  cpp/test/spatial/ball_cover.cu
  cpp/test/spatial/epsilon_neighborhood.cu
  cpp/test/spatial/knn.cu
Labels: improvement, non-breaking, cpp

#858 [REVIEW] Pin `dask` and `distributed` for release
  ci/gpu/build.sh
  conda/environments/raft_dev_cuda11.0.yml
  conda/environments/raft_dev_cuda11.2.yml
  conda/environments/raft_dev_cuda11.4.yml
  conda/environments/raft_dev_cuda11.5.yml
  conda/recipes/raft-dask/meta.yaml
Labels: improvement, non-breaking, gpuCI

#846 Mdspanifying (currently tested) `raft::matrix`
  BUILD.md
  cpp/include/raft/cluster/detail/single_linkage.cuh
  cpp/include/raft/cluster/single_linkage.cuh
  cpp/include/raft/cluster/single_linkage_types.hpp
  cpp/include/raft/core/mdspan.hpp
  cpp/include/raft/matrix/col_wise_sort.cuh
  cpp/include/raft/matrix/copy.cuh
  cpp/include/raft/matrix/detail/math.cuh
  cpp/include/raft/matrix/detail/matrix.cuh
  cpp/include/raft/matrix/detail/print.hpp
  cpp/include/raft/matrix/gather.cuh
  cpp/include/raft/matrix/init.cuh
  cpp/include/raft/matrix/linewise_op.cuh
  cpp/include/raft/matrix/math.cuh
  cpp/include/raft/matrix/matrix.cuh
  cpp/include/raft/matrix/matrix_types.hpp
  cpp/include/raft/matrix/power.cuh
  cpp/include/raft/matrix/print.cuh
  cpp/include/raft/matrix/print.hpp
  cpp/include/raft/matrix/ratio.cuh
  cpp/include/raft/matrix/reciprocal.cuh
  cpp/include/raft/matrix/sign_flip.cuh
  cpp/include/raft/matrix/sqrt.cuh
  cpp/include/raft/matrix/threshold.cuh
  cpp/include/raft/spatial/knn/ball_cover.cuh
  cpp/include/raft/spatial/knn/ball_cover_types.hpp
  cpp/include/raft/spatial/knn/brute_force.cuh
  cpp/include/raft/spatial/knn/detail/ball_cover.cuh
  cpp/include/raft/spatial/knn/detail/ball_cover/registers.cuh
  cpp/include/raft/spatial/knn/specializations/ball_cover.cuh
  cpp/include/raft/spatial/knn/specializations/detail/ball_cover_lowdim.hpp
  cpp/include/raft/util/input_validation.hpp
  cpp/src/nn/specializations/ball_cover.cu
  cpp/src/nn/specializations/detail/ball_cover_lowdim_pass_one_2d.cu
  cpp/src/nn/specializations/detail/ball_cover_lowdim_pass_one_3d.cu
  cpp/src/nn/specializations/detail/ball_cover_lowdim_pass_two_2d.cu
  cpp/src/nn/specializations/detail/ball_cover_lowdim_pass_two_3d.cu
  cpp/test/CMakeLists.txt
  cpp/test/matrix/columnSort.cu
  cpp/test/matrix/gather.cu
  cpp/test/matrix/linewise_op.cu
  cpp/test/matrix/math.cu
  cpp/test/matrix/matrix.cu
  cpp/test/sparse/linkage.cu
Labels: improvement, non-breaking, cpp, CMake

#855 [REVIEW] Include knn.cuh in knn.cu benchmark source for finding brute_force_knn
  build.sh
  cpp/bench/spatial/knn.cuh
Labels: bug, non-breaking, cpp

#874 Fixing a few compile errors in new APIs
  cpp/include/raft/cluster/single_linkage_types.hpp
  cpp/include/raft/linalg/axpy.cuh
  cpp/include/raft/linalg/mean_squared_error.cuh
  cpp/include/raft/sparse/hierarchy/common.h
Labels: bug, non-breaking, cpp

#879 Fix target names in build.sh help text
  build.sh
Labels: 5 - Ready to Merge, doc, non-breaking

#878 ivf-pq post integration hotfixes
  cpp/include/raft/spatial/knn/detail/ivf_pq_build.cuh
  cpp/include/raft/spatial/knn/detail/ivf_pq_search.cuh
  cpp/test/spatial/ann_ivf_pq.cuh
  cpp/test/spatial/ann_ivf_pq/test_float_uint32_t.cu
  cpp/test/spatial/ann_utils.cuh
Labels: bug, 3 - Ready for Review, non-breaking, cpp

#821 Use fusedL2NN in ANN kmeans
  cpp/bench/spatial/knn.cuh
  cpp/include/raft/distance/detail/fused_l2_nn.cuh
  cpp/include/raft/distance/fused_l2_nn.cuh
  cpp/include/raft/linalg/coalesced_reduction.cuh
  cpp/include/raft/linalg/detail/norm.cuh
  cpp/include/raft/linalg/detail/reduce.cuh
  cpp/include/raft/linalg/reduce.cuh
  cpp/include/raft/linalg/strided_reduction.cuh
  cpp/include/raft/spatial/knn/detail/ann_kmeans_balanced.cuh
  cpp/include/raft/spatial/knn/detail/ann_utils.cuh
  cpp/include/raft/spatial/knn/detail/ivf_flat_build.cuh
  cpp/include/raft/spatial/knn/detail/ivf_flat_search.cuh
  cpp/include/raft/spatial/knn/detail/ivf_pq_build.cuh
  cpp/test/spatial/ann_ivf_flat.cu
Labels: 5 - Ready to Merge, improvement, non-breaking, cpp

#888 [gpuCI] Forward-merge branch-22.10 to branch-22.12 [skip gpuci]
  cpp/bench/spatial/knn.cuh
  cpp/include/raft/distance/detail/fused_l2_nn.cuh
  cpp/include/raft/distance/fused_l2_nn.cuh
  cpp/include/raft/linalg/coalesced_reduction.cuh
  cpp/include/raft/linalg/detail/norm.cuh
  cpp/include/raft/linalg/detail/reduce.cuh
  cpp/include/raft/linalg/reduce.cuh
  cpp/include/raft/linalg/strided_reduction.cuh
  cpp/include/raft/spatial/knn/detail/ann_kmeans_balanced.cuh
  cpp/include/raft/spatial/knn/detail/ann_utils.cuh
  cpp/include/raft/spatial/knn/detail/ivf_flat_build.cuh
  cpp/include/raft/spatial/knn/detail/ivf_flat_search.cuh
  cpp/include/raft/spatial/knn/detail/ivf_pq_build.cuh
  cpp/test/spatial/ann_ivf_flat.cu
Labels: cpp

#883 Breaking apart benchmarks into individual binaries
  BUILD.md
  build.sh
  cpp/bench/CMakeLists.txt
Labels: improvement, non-breaking, cpp, CMake

#887 Removing cub symbol from libraft-distance instantiation.
  cpp/bench/spatial/fused_l2_nn.cu
  cpp/include/raft/cluster/detail/kmeans.cuh
  cpp/include/raft/cluster/detail/kmeans_common.cuh
  cpp/include/raft/cluster/kmeans.cuh
  cpp/include/raft/core/detail/macros.hpp
  cpp/include/raft/core/kvp.hpp
  cpp/include/raft/distance/detail/fused_l2_nn.cuh
  cpp/include/raft/distance/fused_l2_nn.cuh
  cpp/include/raft/distance/specializations/fused_l2_nn_min.cuh
  cpp/include/raft/sparse/spatial/detail/connect_components.cuh
  cpp/include/raft/spatial/knn/detail/ann_kmeans_balanced.cuh
  cpp/src/distance/specializations/fused_l2_nn_double_int.cu
  cpp/src/distance/specializations/fused_l2_nn_double_int64.cu
  cpp/src/distance/specializations/fused_l2_nn_float_int.cu
  cpp/src/distance/specializations/fused_l2_nn_float_int64.cu
  cpp/test/distance/fused_l2_nn.cu
Labels: bug, non-breaking, cpp

#891 ivf-pq integration: hotfixes
  cpp/include/raft/spatial/knn/detail/ivf_pq_search.cuh
Labels: bug, non-breaking, cpp

#893 Adding ninja and cxx compilers to conda dev dependencies
  conda/environments/raft_dev_cuda11.0.yml
  conda/environments/raft_dev_cuda11.2.yml
  conda/environments/raft_dev_cuda11.4.yml
  conda/environments/raft_dev_cuda11.5.yml
Labels: improvement, non-breaking

#845 [REVIEW] Develop new mdspan-ified multi_variable_gaussian interface
  cpp/include/raft/random/detail/multi_variable_gaussian.cuh
  cpp/include/raft/random/detail/random_types.hpp
  cpp/include/raft/random/multi_variable_gaussian.cuh
  cpp/test/random/multi_variable_gaussian.cu
Labels: feature request, non-breaking, cpp

#897 [REVIEW] mdspanify raft::random functions uniformInt, normalTable, fill, bernoulli, and scaled_bernoulli
  cpp/include/raft/random/rng.cuh
  cpp/test/random/rng.cu
  cpp/test/random/rng_int.cu
  cpp/test/stats/histogram.cu
Labels: feature request, non-breaking, cpp

#899 Revert recent fused l2 nn instantiations
  cpp/CMakeLists.txt
  cpp/bench/spatial/fused_l2_nn.cu
  cpp/include/raft/cluster/detail/kmeans.cuh
  cpp/include/raft/cluster/detail/kmeans_common.cuh
  cpp/include/raft/cluster/kmeans.cuh
  cpp/include/raft/core/detail/macros.hpp
  cpp/include/raft/core/kvp.hpp
  cpp/include/raft/distance/detail/fused_l2_nn.cuh
  cpp/include/raft/distance/fused_l2_nn.cuh
  cpp/include/raft/distance/specializations/distance.cuh
  cpp/include/raft/distance/specializations/fused_l2_nn_min.cuh
  cpp/include/raft/sparse/spatial/detail/connect_components.cuh
  cpp/include/raft/spatial/knn/detail/ann_kmeans_balanced.cuh
  cpp/src/distance/specializations/fused_l2_nn_double_int.cu
  cpp/src/distance/specializations/fused_l2_nn_double_int64.cu
  cpp/src/distance/specializations/fused_l2_nn_float_int.cu
  cpp/src/distance/specializations/fused_l2_nn_float_int64.cu
  cpp/test/distance/fused_l2_nn.cu
Labels: improvement, non-breaking, cpp, CMake

#892 Output non-normalized distances in IVF-PQ and brute-force KNN
  cpp/include/raft/spatial/knn/detail/ivf_flat_search.cuh
  cpp/include/raft/spatial/knn/detail/ivf_pq_search.cuh
  cpp/test/spatial/ann_utils.cuh
Labels: 5 - Ready to Merge, improvement, non-breaking, cpp

#901 Some fixes for build.sh
  build.sh
Labels: improvement, non-breaking

#898 [REVIEW] Update Python build instructions [skip-ci]
  BUILD.md
Labels: improvement, non-breaking

#906 Adding missing include for device mdspan in `mean_squared_error.cuh`
  cpp/include/raft/linalg/detail/mean_squared_error.cuh
  cpp/include/raft/linalg/mean_squared_error.cuh
Labels: bug, non-breaking, cpp

#905 Re-enabling Fused L2 NN specializations and renaming `cub::KeyValuePair` -> `raft::KeyValuePair`
  cpp/CMakeLists.txt
  cpp/bench/spatial/fused_l2_nn.cu
  cpp/include/raft/cluster/detail/kmeans.cuh
  cpp/include/raft/cluster/detail/kmeans_common.cuh
  cpp/include/raft/cluster/kmeans.cuh
  cpp/include/raft/core/detail/macros.hpp
  cpp/include/raft/core/kvp.hpp
  cpp/include/raft/distance/detail/fused_l2_nn.cuh
  cpp/include/raft/distance/fused_l2_nn.cuh
  cpp/include/raft/distance/specializations/distance.cuh
  cpp/include/raft/distance/specializations/fused_l2_nn_min.cuh
  cpp/include/raft/sparse/spatial/detail/connect_components.cuh
  cpp/include/raft/spatial/knn/detail/ann_kmeans_balanced.cuh
  cpp/src/distance/specializations/fused_l2_nn_double_int.cu
  cpp/src/distance/specializations/fused_l2_nn_double_int64.cu
  cpp/src/distance/specializations/fused_l2_nn_float_int.cu
  cpp/src/distance/specializations/fused_l2_nn_float_int64.cu
  cpp/test/distance/fused_l2_nn.cu
Labels: improvement, non-breaking, cpp, CMake

#802 Implement `raft::stats` API with mdspan
  build.sh
  cpp/CMakeLists.txt
  cpp/cmake/doxygen.cmake
  cpp/doxygen/Doxyfile.in
  cpp/include/raft/stats/accuracy.cuh
  cpp/include/raft/stats/adjusted_rand_index.cuh
  cpp/include/raft/stats/completeness_score.cuh
  cpp/include/raft/stats/contingency_matrix.cuh
  cpp/include/raft/stats/cov.cuh
  cpp/include/raft/stats/detail/batched/silhouette_score.cuh
  cpp/include/raft/stats/detail/histogram.cuh
  cpp/include/raft/stats/detail/rand_index.cuh
  cpp/include/raft/stats/detail/silhouette_score.cuh
  cpp/include/raft/stats/detail/weighted_mean.cuh
  cpp/include/raft/stats/dispersion.cuh
  cpp/include/raft/stats/entropy.cuh
  cpp/include/raft/stats/histogram.cuh
  cpp/include/raft/stats/homogeneity_score.cuh
  cpp/include/raft/stats/information_criterion.cuh
  cpp/include/raft/stats/kl_divergence.cuh
  cpp/include/raft/stats/mean.cuh
  cpp/include/raft/stats/mean_center.cuh
  cpp/include/raft/stats/meanvar.cuh
  cpp/include/raft/stats/minmax.cuh
  cpp/include/raft/stats/mutual_info_score.cuh
  cpp/include/raft/stats/r2_score.cuh
  cpp/include/raft/stats/rand_index.cuh
  cpp/include/raft/stats/regression_metrics.cuh
  cpp/include/raft/stats/silhouette_score.cuh
  cpp/include/raft/stats/stddev.cuh
  cpp/include/raft/stats/sum.cuh
  cpp/include/raft/stats/trustworthiness_score.cuh
  cpp/include/raft/stats/v_measure.cuh
  cpp/test/stats/adjusted_rand_index.cu
  cpp/test/stats/completeness_score.cu
  cpp/test/stats/contingencyMatrix.cu
  cpp/test/stats/cov.cu
  cpp/test/stats/dispersion.cu
  cpp/test/stats/entropy.cu
  cpp/test/stats/histogram.cu
  cpp/test/stats/homogeneity_score.cu
  cpp/test/stats/information_criterion.cu
  cpp/test/stats/kl_divergence.cu
  cpp/test/stats/mean.cu
  cpp/test/stats/mean_center.cu
  cpp/test/stats/meanvar.cu
  cpp/test/stats/minmax.cu
  cpp/test/stats/mutual_info_score.cu
  cpp/test/stats/rand_index.cu
  cpp/test/stats/silhouette_score.cu
  cpp/test/stats/stddev.cu
  cpp/test/stats/sum.cu
  cpp/test/stats/trustworthiness.cu
  cpp/test/stats/v_measure.cu
  cpp/test/stats/weighted_mean.cu
Labels: 5 - Ready to Merge, feature request, non-breaking, cpp, CMake

#910 mdspanifying `weighted_mean` and add `raft::stats` tests
  cpp/include/raft/stats/weighted_mean.cuh
  cpp/test/CMakeLists.txt
  cpp/test/stats/accuracy.cu
  cpp/test/stats/r2_score.cu
  cpp/test/stats/regression_metrics.cu
  cpp/test/stats/weighted_mean.cu
Labels: 3 - Ready for Review, feature request, non-breaking, cpp, CMake

#886 [REVIEW] Unpin `dask` and `distributed` for development
  ci/gpu/build.sh
  conda/environments/raft_dev_cuda11.0.yml
  conda/environments/raft_dev_cuda11.2.yml
  conda/environments/raft_dev_cuda11.4.yml
  conda/environments/raft_dev_cuda11.5.yml
  conda/recipes/raft-dask/meta.yaml
Labels: improvement, non-breaking, gpuCI

#917 Fix logger (vsnprintf consumes args)
  cpp/include/raft/core/logger.hpp
Labels: bug, 3 - Ready for Review, non-breaking, cpp

#920 Moving kernel gramm primitives to `raft::distance::kernels`
  cpp/CMakeLists.txt
  cpp/bench/CMakeLists.txt
  cpp/bench/distance/distance_common.cuh
  cpp/bench/distance/kernels.cu
  cpp/include/raft/distance/detail/kernels/gram_matrix.cuh
  cpp/include/raft/distance/detail/kernels/kernel_factory.cuh
  cpp/include/raft/distance/detail/kernels/kernel_matrices.cuh
  cpp/include/raft/distance/distance_types.hpp
  cpp/include/raft/distance/kernels.cuh
  cpp/include/raft/distance/specializations/detail/kernels.cuh
  cpp/include/raft/distance/specializations/distance.cuh
  cpp/include/raft/linalg/init.cuh
  cpp/include/raft/util/cache.cuh
  cpp/include/raft/util/fast_int_div.cuh
  cpp/src/distance/specializations/detail/kernels/gram_matrix_base_double.cu
  cpp/src/distance/specializations/detail/kernels/gram_matrix_base_float.cu
  cpp/src/distance/specializations/detail/kernels/polynomial_kernel_double_int.cu
  cpp/src/distance/specializations/detail/kernels/polynomial_kernel_float_int.cu
  cpp/src/distance/specializations/detail/kernels/rbf_kernel_double.cu
  cpp/src/distance/specializations/detail/kernels/rbf_kernel_float.cu
  cpp/src/distance/specializations/detail/kernels/tanh_kernel_double.cu
  cpp/src/distance/specializations/detail/kernels/tanh_kernel_float.cu
  cpp/test/CMakeLists.txt
  cpp/test/distance/gram.cu
Labels: improvement, non-breaking, cpp, CMake

#924 Adding `fused_l2_nn_argmin` wrapper to Pylibraft
  cpp/CMakeLists.txt
  cpp/include/raft_distance/fused_l2_min_arg.hpp
  cpp/src/distance/fused_l2_min_arg.cu
  python/pylibraft/pylibraft/distance/CMakeLists.txt
  python/pylibraft/pylibraft/distance/__init__.py
  python/pylibraft/pylibraft/distance/fused_l2_nn.pyx
  python/pylibraft/pylibraft/test/test_fused_l2_argmin.py
  python/pylibraft/pylibraft/testing/utils.py
Labels: improvement, non-breaking, cpp, CMake, python

#909 Integrate `accumulate_into_selected` from ANN utils into `linalg::reduce_rows_by_keys`
  cpp/bench/CMakeLists.txt
  cpp/bench/common/benchmark.hpp
  cpp/bench/linalg/reduce_rows_by_key.cu
  cpp/include/raft/linalg/detail/reduce_rows_by_key.cuh
  cpp/include/raft/linalg/reduce_rows_by_key.cuh
  cpp/include/raft/spatial/knn/detail/ann_kmeans_balanced.cuh
  cpp/include/raft/spatial/knn/detail/ann_utils.cuh
  cpp/include/raft/spatial/knn/detail/ivf_flat_build.cuh
  cpp/test/linalg/reduce_rows_by_key.cu
Labels: 3 - Ready for Review, improvement, non-breaking, cpp, CMake

#932 Updates to kmeans public API to fix cuml
  cpp/include/raft/cluster/kmeans.cuh
Labels: bug, non-breaking, cpp

#933 important doc updates for core, cluster, and neighbors
  cpp/include/raft/cluster/kmeans.cuh
  cpp/include/raft/cluster/kmeans_types.hpp
  cpp/include/raft/cluster/single_linkage.cuh
  cpp/include/raft/cluster/single_linkage_types.hpp
  cpp/test/CMakeLists.txt
  cpp/test/cluster/linkage.cu
  cpp/test/cluster_solvers_deprecated.cu
  docs/source/cpp_api.rst
  docs/source/cpp_api/cluster.rst
  docs/source/cpp_api/clustering.rst
  docs/source/cpp_api/core.rst
  docs/source/cpp_api/distance.rst
  docs/source/cpp_api/neighbors.rst
  docs/source/cpp_api/solver.rst
  docs/source/cpp_api/spatial.rst
Labels: doc, non-breaking, cpp, CMake

#943 Improving documentation across the board. Adding quick-start to breathe docs.
  README.md
  build.sh
  cpp/doxygen/Doxyfile.in
  cpp/include/raft/cluster/kmeans.cuh
  cpp/include/raft/cluster/kmeans_params.hpp
  cpp/include/raft/cluster/kmeans_types.hpp
  cpp/include/raft/cluster/single_linkage_types.hpp
  cpp/include/raft/core/detail/device_mdarray.hpp
  cpp/include/raft/core/device_mdspan.hpp
  cpp/include/raft/core/host_device_accessor.hpp
  cpp/include/raft/core/host_mdspan.hpp
  cpp/include/raft/core/mdarray.hpp
  cpp/include/raft/core/mdspan.hpp
  cpp/include/raft/neighbors/ball_cover.cuh
  cpp/include/raft/neighbors/brute_force.cuh
  cpp/include/raft/neighbors/epsilon_neighborhood.cuh
  cpp/include/raft/neighbors/ivf_flat.cuh
  cpp/include/raft/neighbors/ivf_pq.cuh
  cpp/include/raft/solver/linear_assignment.cuh
  cpp/include/raft/sparse/solver/mst.cuh
  cpp/include/raft/spatial/knn/ivf_flat.cuh
  cpp/include/raft/stats/adjusted_rand_index.cuh
  cpp/include/raft/stats/common.hpp
  cpp/include/raft/stats/detail/histogram.cuh
  cpp/include/raft/stats/histogram.cuh
  cpp/include/raft/stats/stats_types.hpp
  cpp/test/neighbors/ann_ivf_flat.cu
  cpp/test/neighbors/knn.cu
  docs/README.md
  docs/source/build.md
  docs/source/cpp_api.rst
  docs/source/cpp_api/cluster.rst
  docs/source/cpp_api/core.rst
  docs/source/cpp_api/distance.rst
  docs/source/cpp_api/linalg.rst
  docs/source/cpp_api/matrix.rst
  docs/source/cpp_api/mdspan.rst
  docs/source/cpp_api/solver.rst
  docs/source/cpp_api/sparse.rst
  docs/source/index.rst
  docs/source/quick_start.md
Labels: improvement, non-breaking, cpp

#938 Calculate max cluster size correctly for IVF-PQ
  cpp/include/raft/spatial/knn/detail/ivf_pq_build.cuh
Labels: improvement, non-breaking, cpp

#947 Adding optional handle to each public API function (along with example)
  python/pylibraft/pylibraft/distance/fused_l2_nn.pyx
  python/pylibraft/pylibraft/distance/pairwise_distance.pyx
  python/pylibraft/pylibraft/random/rmat_rectangular_generator.pyx
  python/pylibraft/pylibraft/test/test_distance.py
  python/pylibraft/pylibraft/test/test_fused_l2_argmin.py
  python/pylibraft/pylibraft/test/test_random.py
  python/pylibraft/pylibraft/test/test_z_interruptible.py
Labels: improvement, non-breaking, python

#951 Remove stale labeler [skip-ci]
  .github/workflows/stale.yaml
Labels: improvement, non-breaking

#954 Switch to using rapids-cmake for gbench.
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_gbench.cmake
Labels: 3 - Ready for Review, improvement, non-breaking, cpp, CMake

#725 Adding padded layout 'layout_padded_general'
  cpp/include/raft/core/device_mdspan.hpp
  cpp/include/raft/core/host_mdspan.hpp
  cpp/include/raft/core/mdspan.hpp
  cpp/include/raft/matrix/detail/linewise_op.cuh
  cpp/include/raft/matrix/linewise_op.cuh
  cpp/include/raft/thirdparty/mdspan/include/experimental/__p0009_bits/aligned_accessor.hpp
  cpp/include/raft/thirdparty/mdspan/include/experimental/__p0009_bits/layout_padded.hpp
  cpp/include/raft/thirdparty/mdspan/include/experimental/mdspan
  cpp/test/matrix/linewise_op.cu
  cpp/test/mdarray.cu
Labels: improvement, non-breaking, cpp

#955 Making ivf flat gtest invoke mdspanified APIs
  cpp/include/raft/neighbors/ivf_flat.cuh
  cpp/include/raft/neighbors/ivf_pq.cuh
  cpp/include/raft/spatial/knn/ivf_flat.cuh
  cpp/include/raft/spatial/knn/ivf_flat_types.hpp
  cpp/test/neighbors/ann_ivf_flat.cu
Labels: bug, non-breaking, cpp

#936 Add fusedL2NN benchmark
  cpp/bench/CMakeLists.txt
  cpp/bench/distance/fused_l2_nn.cu
  cpp/bench/neighbors/fused_l2_nn.cu
  cpp/include/raft/linalg/contractions.cuh
  cpp/include/raft/random/detail/rng_device.cuh
Labels: 3 - Ready for Review, improvement, non-breaking, cpp, CMake

#942 Add unittest for `linalg::axpy`
  cpp/include/raft/linalg/axpy.cuh
  cpp/test/CMakeLists.txt
  cpp/test/linalg/axpy.cu
Labels: improvement, non-breaking, cpp, CMake

#937 Add tests for `raft::matrix`
  cpp/include/raft/core/device_mdarray.hpp
  cpp/include/raft/core/device_mdspan.hpp
  cpp/include/raft/core/host_mdarray.hpp
  cpp/include/raft/core/host_mdspan.hpp
  cpp/include/raft/core/mdspan_types.hpp
  cpp/include/raft/linalg/matrix_vector.cuh
  cpp/include/raft/matrix/argmax.cuh
  cpp/include/raft/matrix/detail/matrix.cuh
  cpp/include/raft/matrix/diagonal.cuh
  cpp/include/raft/matrix/gather.cuh
  cpp/include/raft/matrix/init.cuh
  cpp/include/raft/matrix/norm.cuh
  cpp/include/raft/matrix/reverse.cuh
  cpp/include/raft/matrix/slice.cuh
  cpp/include/raft/matrix/triangular.cuh
  cpp/test/CMakeLists.txt
  cpp/test/linalg/matrix_vector.cu
  cpp/test/linalg/matrix_vector_op.cu
  cpp/test/linalg/matrix_vector_op.cuh
  cpp/test/matrix/argmax.cu
  cpp/test/matrix/diagonal.cu
  cpp/test/matrix/math.cu
  cpp/test/matrix/norm.cu
  cpp/test/matrix/reverse.cu
  cpp/test/matrix/slice.cu
  cpp/test/matrix/triangular.cu
Labels: improvement, non-breaking, cpp, CMake

#918 kmeans improvements: random initialization on GPU, NVTX markers, no batching when using fusedL2NN
  cpp/bench/cluster/kmeans.cu
  cpp/include/raft/cluster/detail/kmeans.cuh
  cpp/include/raft/cluster/detail/kmeans_common.cuh
  cpp/include/raft/cluster/kmeans.cuh
Labels: 5 - Ready to Merge, improvement, non-breaking, cpp

#961 Add unittest for `linalg::mean_squared_error`
  cpp/include/raft/linalg/mean_squared_error.cuh
  cpp/test/CMakeLists.txt
  cpp/test/linalg/mean_squared_error.cu
Labels: improvement, non-breaking, cpp, CMake

#959 Exposing fused l2 knn to public APIs
  cpp/include/raft/neighbors/brute_force.cuh
  cpp/test/neighbors/fused_l2_knn.cu
Labels: improvement, non-breaking, cpp

#964 [Hotfix] linewiseop padded span test
  cpp/test/matrix/linewise_op.cu
Labels: improvement, non-breaking, cpp
