Repository rapidsai/raft, pull requests merged in 2022-07, with the labels that each got.

#728 Pin max version of `cuda-python` to `11.7.0`
  conda/environments/raft_dev_cuda11.5.yml
  conda/recipes/pylibraft/meta.yaml
  conda/recipes/pyraft/meta.yaml
Labels: improvement, non-breaking

#726 Add several type aliases and helpers for creating mdarrays
  cpp/include/raft/core/mdarray.hpp
  cpp/include/raft/detail/mdarray.hpp
Labels: 3 - Ready for Review, improvement, non-breaking, cpp

#730 Support 32bit and unsigned indices in bruteforce KNN
  cpp/bench/CMakeLists.txt
  cpp/bench/common/benchmark.hpp
  cpp/bench/spatial/knn.cu
  cpp/include/raft/spatial/knn/detail/haversine_distance.cuh
  cpp/include/raft/spatial/knn/detail/knn_brute_force_faiss.cuh
  cpp/include/raft/spatial/knn/specializations/knn.cuh
  cpp/src/nn/specializations/knn.cu
  cpp/test/spatial/knn.cu
Labels: 3 - Ready for Review, improvement, non-breaking, cpp, CMake

#729 [REVIEW] [ENH] Ability to use ccache to speedup local builds
  build.sh
  conda/environments/raft_dev_cuda11.0.yml
  conda/environments/raft_dev_cuda11.2.yml
  conda/environments/raft_dev_cuda11.4.yml
  conda/environments/raft_dev_cuda11.5.yml
Labels: enhancement, improvement, non-breaking

#734 fix logic bug in include_checker.py utility
  cpp/scripts/include_checker.py
Labels: improvement, non-breaking, cpp

#735 Add warp-aggregated atomic increment
  cpp/include/raft/device_atomics.cuh
  cpp/test/CMakeLists.txt
  cpp/test/device_atomics.cu
Labels: 5 - Ready to Merge, improvement, non-breaking, cpp, CMake

#746 Replace csr_adj_graph functions with faster equivalent
  cpp/bench/CMakeLists.txt
  cpp/bench/sparse/convert_csr.cu
  cpp/doxygen/Doxyfile.in
  cpp/include/raft/sparse/convert/coo.hpp
  cpp/include/raft/sparse/convert/csr.cuh
  cpp/include/raft/sparse/convert/csr.hpp
  cpp/include/raft/sparse/convert/dense.hpp
  cpp/include/raft/sparse/convert/detail/adj_to_csr.cuh
  cpp/include/raft/sparse/convert/detail/csr.cuh
  cpp/test/sparse/convert_csr.cu
Labels: 5 - Ready to Merge, improvement, breaking, cpp, CMake

#749 Update rapids-cmake version for pyraft in update-version.sh
  ci/release/update-version.sh
  cpp/CMakeLists.txt
  fetch_rapids.cmake
  python/pylibraft/CMakeLists.txt
  python/raft/CMakeLists.txt
Labels: bug, 3 - Ready for Review, non-breaking, cpp, CMake, gpuCI, python

#750 Add inline to nccl_sync_stream()
  cpp/include/raft/comms/detail/util.hpp
Labels: 3 - Ready for Review, improvement, non-breaking

#605 Moving kmeans from cuml to Raft
  cpp/include/raft/cluster/detail/kmeans.cuh
  cpp/include/raft/cluster/detail/kmeans_common.cuh
  cpp/include/raft/cluster/kmeans.cuh
  cpp/include/raft/cluster/kmeans_params.hpp
  cpp/include/raft/comms/detail/ucp_helper.hpp
  cpp/include/raft/core/logger.hpp
  cpp/include/raft/matrix/detail/gather.cuh
  cpp/include/raft/matrix/gather.cuh
  cpp/include/raft/random/detail/rng_impl.cuh
  cpp/include/raft/spectral/cluster_solvers.cuh
  cpp/include/raft/spectral/cluster_solvers.hpp
  cpp/include/raft/spectral/detail/partition.hpp
  cpp/include/raft/spectral/detail/spectral_util.cuh
  cpp/test/CMakeLists.txt
  cpp/test/cluster/kmeans.cu
  cpp/test/matrix/gather.cu
Labels: 3 - Ready for Review, improvement, breaking, cpp, CMake

#756 Fix KMeans
  cpp/include/raft/cluster/detail/kmeans.cuh
  cpp/include/raft/cluster/detail/kmeans_common.cuh
  cpp/include/raft/cluster/kmeans.cuh
  cpp/include/raft/detail/mdarray.hpp
  cpp/include/raft/spectral/cluster_solvers.cuh
  cpp/test/cluster/kmeans.cu
Labels: improvement, non-breaking, cpp

#758 Fix for KMeans raw pointers API
  cpp/include/raft/cluster/detail/kmeans.cuh
Labels: 3 - Ready for Review, improvement, non-breaking, cpp

#738 [FEA] [REVIEW] RMAT rectangular graph generator
  cpp/include/raft/cuda_utils.cuh
  cpp/include/raft/random/detail/rmat_rectangular_generator.cuh
  cpp/include/raft/random/rmat_rectangular_generator.cuh
  cpp/test/CMakeLists.txt
  cpp/test/random/rmat_rectangular_generator.cu
Labels: enhancement, improvement, non-breaking, cpp, CMake

#652 Integrate KNN implementation: ivf-flat
  cpp/bench/spatial/knn.cu
  cpp/include/raft/common/device_loads_stores.cuh
  cpp/include/raft/core/cudart_utils.hpp
  cpp/include/raft/cuda_utils.cuh
  cpp/include/raft/detail/mdarray.hpp
  cpp/include/raft/integer_utils.h
  cpp/include/raft/spatial/knn/ann.cuh
  cpp/include/raft/spatial/knn/ann.hpp
  cpp/include/raft/spatial/knn/ann_common.h
  cpp/include/raft/spatial/knn/common.hpp
  cpp/include/raft/spatial/knn/detail/ann_kmeans_balanced.cuh
  cpp/include/raft/spatial/knn/detail/ann_quantized.cuh
  cpp/include/raft/spatial/knn/detail/ann_quantized_faiss.cuh
  cpp/include/raft/spatial/knn/detail/ann_utils.cuh
  cpp/include/raft/spatial/knn/detail/fused_l2_knn.cuh
  cpp/include/raft/spatial/knn/detail/ivf_flat_build.cuh
  cpp/include/raft/spatial/knn/detail/ivf_flat_search.cuh
  cpp/include/raft/spatial/knn/detail/knn_brute_force_faiss.cuh
  cpp/include/raft/spatial/knn/detail/processing.cuh
  cpp/include/raft/spatial/knn/detail/processing.hpp
  cpp/include/raft/spatial/knn/detail/topk/radix_topk.cuh
  cpp/include/raft/spatial/knn/detail/topk/warpsort_topk.cuh
  cpp/include/raft/spatial/knn/ivf_flat.cuh
  cpp/include/raft/spatial/knn/ivf_flat_types.hpp
  cpp/test/CMakeLists.txt
  cpp/test/integer_utils.cpp
  cpp/test/spatial/ann_base_kernel.cuh
  cpp/test/spatial/ann_ivf_flat.cu
  docs/source/cpp_api/spatial.rst
Labels: feature request, breaking, 2 - In Progress, cpp, CMake

#761 Adding old kmeans impl back in (as kmeans_deprecated)
  cpp/include/raft/cluster/detail/kmeans_deprecated.cuh
  cpp/include/raft/cluster/kmeans_deprecated.cuh
  cpp/include/raft/spectral/cluster_solvers_deprecated.cuh
  cpp/test/CMakeLists.txt
  cpp/test/cluster_solvers_deprecated.cu
Labels: improvement, non-breaking, cpp, CMake

#764 Restrict the use of `[[no_unique_address]]` to CXX 20 only.
  cpp/include/raft/thirdparty/mdspan/include/experimental/__p0009_bits/config.hpp
Labels: bug, 3 - Ready for Review, non-breaking

#763 Move cmake to the build section.
  conda/recipes/pylibraft/meta.yaml
  conda/recipes/pyraft/meta.yaml
Labels: 3 - Ready for Review, improvement, non-breaking

#766 Relax ivf-flat test recall thresholds
  cpp/test/spatial/ann_ivf_flat.cu
Labels: bug, 3 - Ready for Review, non-breaking
