Repository rapidsai/raft, pull requests merged in 2022-05, with the labels that each got.

#639 [BUG] Rng: removed cyclic dependency creating hard-to-debug compiler errors
  cpp/include/raft/random/rng_device.cuh
Labels: bug, 3 - Ready for Review, breaking

#638 Require UCX 1.12.1+
  conda/environments/raft_dev_cuda11.0.yml
  conda/environments/raft_dev_cuda11.2.yml
  conda/environments/raft_dev_cuda11.4.yml
  conda/environments/raft_dev_cuda11.5.yml
  conda/recipes/pyraft/conda_build_config.yaml
  conda/recipes/pyraft/meta.yaml
Labels: improvement, non-breaking

#636 Updating raft rng host public API and adding docs
  cpp/bench/common/benchmark.hpp
  cpp/bench/random/permute.cu
  cpp/bench/random/rng.cu
  cpp/bench/spatial/fused_l2_nn.cu
  cpp/bench/spatial/selection.cu
  cpp/include/raft/linalg/detail/rsvd.cuh
  cpp/include/raft/random/detail/make_blobs.cuh
  cpp/include/raft/random/rng.cuh
  cpp/include/raft/spatial/knn/ball_cover.hpp
  cpp/include/raft/spatial/knn/detail/ball_cover.cuh
  cpp/test/distance/dist_adj.cu
  cpp/test/distance/distance_base.cuh
  cpp/test/distance/fused_l2_nn.cu
  cpp/test/linalg/add.cu
  cpp/test/linalg/binary_op.cu
  cpp/test/linalg/coalesced_reduction.cu
  cpp/test/linalg/divide.cu
  cpp/test/linalg/eig.cu
  cpp/test/linalg/eltwise.cu
  cpp/test/linalg/gemm_layout.cu
  cpp/test/linalg/gemv.cu
  cpp/test/linalg/map.cu
  cpp/test/linalg/map_then_reduce.cu
  cpp/test/linalg/matrix_vector_op.cu
  cpp/test/linalg/multiply.cu
  cpp/test/linalg/norm.cu
  cpp/test/linalg/power.cu
  cpp/test/linalg/reduce.cu
  cpp/test/linalg/reduce_cols_by_key.cu
  cpp/test/linalg/reduce_rows_by_key.cu
  cpp/test/linalg/rsvd.cu
  cpp/test/linalg/sqrt.cu
  cpp/test/linalg/strided_reduction.cu
  cpp/test/linalg/subtract.cu
  cpp/test/linalg/ternary_op.cu
  cpp/test/linalg/unary_op.cu
  cpp/test/matrix/linewise_op.cu
  cpp/test/matrix/math.cu
  cpp/test/matrix/matrix.cu
  cpp/test/random/make_blobs.cu
  cpp/test/random/permute.cu
  cpp/test/random/rng.cu
  cpp/test/random/rng_int.cu
  cpp/test/random/sample_without_replacement.cu
  cpp/test/sparse/filter.cu
  cpp/test/sparse/sort.cu
  cpp/test/spatial/fused_l2_knn.cu
  cpp/test/spatial/selection.cu
  cpp/test/stats/cov.cu
  cpp/test/stats/dispersion.cu
  cpp/test/stats/histogram.cu
  cpp/test/stats/mean.cu
  cpp/test/stats/mean_center.cu
  cpp/test/stats/meanvar.cu
  cpp/test/stats/minmax.cu
  cpp/test/stats/stddev.cu
  cpp/test/stats/weighted_mean.cu
Labels: improvement, non-breaking, cpp

#621 Enable components installation using CMake
  cpp/CMakeLists.txt
  cpp/cmake/modules/raft_export.cmake
Labels: improvement, non-breaking, cpp, CMake

#610 Allow enabling NVTX markers by downstream projects after install
  build.sh
  conda/recipes/libraft_distance/build.sh
  conda/recipes/libraft_headers/build.sh
  conda/recipes/libraft_nn/build.sh
  conda/recipes/pylibraft/build.sh
  conda/recipes/pyraft/build.sh
  cpp/CMakeLists.txt
  cpp/include/raft/common/detail/nvtx.hpp
Labels: 3 - Ready for Review, improvement, breaking, cpp, CMake

#646 Fixing the unit test issue(s) in RAFT
  cpp/test/linalg/divide.cu
Labels: improvement, non-breaking, cpp

#530 Some RBC3D fixes
  cpp/include/raft/spatial/knn/ball_cover_common.h
  cpp/include/raft/spatial/knn/detail/ball_cover.cuh
  cpp/include/raft/spatial/knn/detail/ball_cover/registers.cuh
  cpp/test/spatial/ball_cover.cu
Labels: improvement, non-breaking, inactive-30d, cpp

#615 Improve performance of select-top-k RADIX implementation
  cpp/include/raft/spatial/knn/detail/topk/radix_topk.cuh
Labels: 3 - Ready for Review, improvement, non-breaking

#633 Build pylibraft with scikit-build
  .gitignore
  build.sh
  ci/gpu/build.sh
  ci/release/update-version.sh
  conda/environments/raft_dev_cuda11.0.yml
  conda/environments/raft_dev_cuda11.2.yml
  conda/environments/raft_dev_cuda11.4.yml
  conda/environments/raft_dev_cuda11.5.yml
  conda/recipes/pylibraft/build.sh
  conda/recipes/pylibraft/meta.yaml
  cpp/CMakeLists.txt
  python/pylibraft/CMakeLists.txt
  python/pylibraft/pylibraft/distance/CMakeLists.txt
  python/pylibraft/pyproject.toml
  python/pylibraft/setup.py
Labels: 3 - Ready for Review, improvement, non-breaking, cpp, CMake, gpuCI, python

#606 Improve performance of select-top-k WARP_SORT implementation
  cpp/include/raft/spatial/knn/detail/topk/warpsort_topk.cuh
Labels: 3 - Ready for Review, improvement, non-breaking, cpp

#655 Don't install component dependency files in raft-header only mode
  cpp/cmake/modules/raft_export.cmake
Labels: bug, 3 - Ready for Review, non-breaking, cpp, CMake

#618 Allow nullptr as input-indices argument of select_k
  cpp/include/raft/spatial/knn/detail/selection_faiss.cuh
  cpp/include/raft/spatial/knn/knn.cuh
  cpp/test/spatial/selection.cu
Labels: 3 - Ready for Review, improvement, non-breaking, cpp

#657 Revert recent cmake updates
  cpp/CMakeLists.txt
  cpp/test/spatial/selection.cu
Labels: bug, non-breaking, cpp, CMake

#644 Build pyraft with scikit-build
  build.sh
  ci/release/update-version.sh
  conda/recipes/pyraft/build.sh
  conda/recipes/pyraft/meta.yaml
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_nccl.cmake
  python/raft/CMakeLists.txt
  python/raft/cmake/thirdparty/get_nccl.cmake
  python/raft/pyproject.toml
  python/raft/raft/common/CMakeLists.txt
  python/raft/raft/dask/common/CMakeLists.txt
  python/raft/raft/include_test/CMakeLists.txt
  python/raft/setup.py
Labels: improvement, non-breaking, cpp, CMake, gpuCI, python

#659 Fix SelectionTest: allow different indices when keys are equal.
  cpp/test/spatial/selection.cu
Labels: bug, non-breaking, 2 - In Progress, cpp

#664 gemm: fix [inout] parameter C mistakenly set as const
  cpp/include/raft/linalg/detail/gemm.hpp
  cpp/include/raft/linalg/gemm.cuh
  cpp/include/raft/linalg/gemm.hpp
Labels: bug, 3 - Ready for Review, non-breaking

#662 Fix minor errors in CMake configuration
  python/pylibraft/CMakeLists.txt
  python/raft/CMakeLists.txt
Labels: improvement, non-breaking, CMake, python

#673 Improve logging
  cpp/include/raft/common/detail/logger.hpp
  cpp/include/raft/core/cudart_utils.hpp
  cpp/include/raft/core/error.hpp
  cpp/include/raft/core/logger.hpp
  cpp/test/common/logger.cpp
Labels: 3 - Ready for Review, improvement, non-breaking, cpp

#680 [REVIEW] Pin `dask` & `distributed` for release
  ci/gpu/build.sh
  conda/environments/raft_dev_cuda11.0.yml
  conda/environments/raft_dev_cuda11.2.yml
  conda/environments/raft_dev_cuda11.4.yml
  conda/environments/raft_dev_cuda11.5.yml
  conda/recipes/pyraft/meta.yaml
Labels: improvement, non-breaking, gpuCI

#679 fix race in fusedL2knn smem read/write by adding a syncwarp
  cpp/include/raft/spatial/knn/detail/fused_l2_knn.cuh
Labels: bug, non-breaking, cpp

#683 Adding handle and stream to pylibraft
  python/pylibraft/pylibraft/common/cuda.pyx
  python/pylibraft/pylibraft/common/handle.pxd
  python/pylibraft/pylibraft/common/handle.pyx
Labels: feature request, non-breaking, python

#681 Revert print vector changes because of std::vector<bool>
  cpp/include/raft/core/cudart_utils.hpp
Labels: bug, non-breaking, cpp

#689 Fix excessive memory used in selection test
  cpp/test/spatial/selection.cu
Labels: bug, 3 - Ready for Review, non-breaking, cpp

#690 For fixing the cuGraph test failures with PCG
  cpp/include/raft/random/detail/rng_device.cuh
  cpp/test/linalg/gemm_layout.cu
Labels: bug, non-breaking, cpp

#693 [REVIEW] Pin `dask` and `distributed` for release
  ci/gpu/build.sh
  conda/environments/raft_dev_cuda11.0.yml
  conda/environments/raft_dev_cuda11.2.yml
  conda/environments/raft_dev_cuda11.4.yml
  conda/environments/raft_dev_cuda11.5.yml
  conda/recipes/pyraft/meta.yaml
Labels: improvement, non-breaking, gpuCI

#686 Restore changes from #653 and #655 and correct cmake component dependencies
  build.sh
  cpp/CMakeLists.txt
  cpp/cmake/modules/raft_export.cmake
  cpp/cmake/thirdparty/get_cuco.cmake
  cpp/cmake/thirdparty/get_faiss.cmake
Labels: 3 - Ready for Review, feature request, non-breaking, cpp, CMake
