Repository rapidsai/raft, pull requests merged in 2022-12, with the labels that each got.

#1052 ANN refinement Python wrapper
  cpp/CMakeLists.txt
  cpp/include/raft/neighbors/detail/refine.cuh
  cpp/include/raft/neighbors/specializations/refine.hpp
  cpp/src/nn/specializations/refine.cu
  cpp/test/neighbors/refine.cu
  python/pylibraft/pylibraft/common/mdspan.pxd
  python/pylibraft/pylibraft/neighbors/CMakeLists.txt
  python/pylibraft/pylibraft/neighbors/__init__.py
  python/pylibraft/pylibraft/neighbors/refine.pyx
  python/pylibraft/pylibraft/test/test_ivf_pq.py
  python/pylibraft/pylibraft/test/test_refine.py
Labels: feature request, non-breaking, cpp, CMake, python

#1062 Pin `dask` and `distributed` for release
  ci/gpu/build.sh
  conda/environments/raft_dev_cuda11.2.yml
  conda/environments/raft_dev_cuda11.4.yml
  conda/environments/raft_dev_cuda11.5.yml
  conda/recipes/raft-dask/meta.yaml
Labels: improvement, non-breaking, gpuCI

#1057 switch mma instruction shape to 1684 from current 1688 for 3xTF32 L2/cosine kernel
  cpp/include/raft/distance/detail/pairwise_distance_gemm.h
Labels: improvement, non-breaking, cpp

#1067 Fix double definition error in ANN refinement header
  cpp/include/raft/neighbors/detail/refine.cuh
Labels: bug, non-breaking, cpp

#1072 Minor cython fixes / cleanup
  python/pylibraft/pylibraft/cluster/cpp/kmeans.pxd
  python/pylibraft/pylibraft/cluster/kmeans.pyx
  python/pylibraft/pylibraft/distance/fused_l2_nn.pyx
  python/pylibraft/pylibraft/distance/pairwise_distance.pyx
  python/pylibraft/pylibraft/random/rmat_rectangular_generator.pyx
Labels: improvement, non-breaking, python

#1073 Use doctest for testing python example docstrings
  python/pylibraft/pylibraft/cluster/__init__.py
  python/pylibraft/pylibraft/cluster/kmeans.pyx
  python/pylibraft/pylibraft/distance/__init__.py
  python/pylibraft/pylibraft/distance/fused_l2_nn.pyx
  python/pylibraft/pylibraft/distance/pairwise_distance.pyx
  python/pylibraft/pylibraft/neighbors/__init__.py
  python/pylibraft/pylibraft/neighbors/ivf_pq/__init__.py
  python/pylibraft/pylibraft/neighbors/ivf_pq/ivf_pq.pyx
  python/pylibraft/pylibraft/neighbors/refine.pyx
  python/pylibraft/pylibraft/random/__init__.py
  python/pylibraft/pylibraft/random/rmat_rectangular_generator.pyx
  python/pylibraft/pylibraft/test/test_doctests.py
Labels: improvement, non-breaking, python

#1075 Adding uninstall option to build.sh
  README.md
  build.sh
  docs/source/build.md
  docs/source/cpp_api.rst
  docs/source/pylibraft_api.rst
Labels: improvement, non-breaking

#1069 IVF-PQ: tweak launch configuration
  cpp/include/raft/spatial/knn/detail/ivf_pq_search.cuh
Labels: 3 - Ready for Review, improvement, non-breaking, cpp

#1050 Shared-memory-cached kernel for `reduce_cols_by_key` to limit atomic conflicts
  cpp/bench/CMakeLists.txt
  cpp/bench/linalg/reduce_cols_by_key.cu
  cpp/include/raft/cluster/detail/kmeans_common.cuh
  cpp/include/raft/linalg/detail/reduce_cols_by_key.cuh
  cpp/include/raft/linalg/reduce_cols_by_key.cuh
  cpp/test/linalg/reduce_cols_by_key.cu
Labels: 5 - Ready to Merge, improvement, non-breaking, cpp, CMake

#1083 Exclude changelog from pre-commit spellcheck
  .pre-commit-config.yaml
  python/pylibraft/pylibraft/__init__.py
  python/raft-dask/raft_dask/__init__.py
Labels: improvement, non-breaking, python

#1077 Export NCCL dependency as part of raft::distributed.
  cpp/CMakeLists.txt
  python/raft-dask/cmake/thirdparty/get_nccl.cmake
  python/raft-dask/raft_dask/common/CMakeLists.txt
Labels: 3 - Ready for Review, feature request, non-breaking, cpp, CMake, python

#1084 Fixing libraft conda recipes
  conda/recipes/libraft/meta.yaml
Labels: bug, non-breaking

#1078 Ensure that we get the cuda version of faiss.
  conda/environments/all_cuda-115_arch-x86_64.yaml
  dependencies.yaml
Labels: bug, 3 - Ready for Review, non-breaking

#1082 [HOTFIX] Fix pinnings for dask.
  CHANGELOG.md
  python/raft-dask/setup.py
Labels: bug, 3 - Ready for Review, non-breaking, python

#1095 Pin libcusparse and libcusolver to avoid CUDA 12
  ci/gpu/build.sh
  conda/environments/all_cuda-115_arch-x86_64.yaml
  conda/recipes/libraft/conda_build_config.yaml
  conda/recipes/raft-dask/meta.yaml
  dependencies.yaml
Labels: bug, non-breaking, gpuCI

#1094 Fix race condition in `raft::random::discrete`
  cpp/include/raft/random/detail/rng_impl.cuh
Labels: bug, 3 - Ready for Review, non-breaking, cpp

#1068 [REVIEW] Unpin `dask` and `distributed` for development
  ci/gpu/build.sh
  python/raft-dask/setup.py
Labels: improvement, non-breaking, gpuCI, python

#1098 Cleanup faiss includes
  cpp/include/raft/spatial/knn/detail/ann_quantized.cuh
  cpp/include/raft/spatial/knn/detail/ball_cover.cuh
  cpp/include/raft/spatial/knn/detail/ball_cover/registers.cuh
  cpp/include/raft/spatial/knn/detail/common_faiss.h
  cpp/include/raft/spatial/knn/detail/haversine_distance.cuh
  cpp/include/raft/spatial/knn/detail/knn_brute_force_faiss.cuh
  cpp/include/raft/spatial/knn/detail/selection_faiss.cuh
  cpp/include/raft/spatial/knn/detail/warp_select_faiss.cuh
Labels: improvement, non-breaking, cpp

#1097 [Hotfix] Pin libcusparse and libcusolver to avoid CUDA 12
  conda/recipes/libraft/conda_build_config.yaml
Labels: bug, non-breaking

#1100 Speedup `make_blobs` by up to 2x by fixing inefficient kernel launch configuration
  cpp/bench/random/make_blobs.cu
  cpp/include/raft/random/detail/make_blobs.cuh
Labels: 3 - Ready for Review, improvement, non-breaking, cpp

#1103 Update handle docstring
  python/pylibraft/pylibraft/common/__init__.py
  python/pylibraft/pylibraft/common/handle.pyx
  python/pylibraft/pylibraft/test/test_doctests.py
Labels: bug, non-breaking, python

#1099 Use `GenPC` (Permuted Congruential) as the default random number generator everywhere
  cpp/include/raft/cluster/kmeans_types.hpp
  cpp/include/raft/random/detail/make_regression.cuh
  cpp/include/raft/random/make_blobs.cuh
  cpp/include/raft/random/make_regression.cuh
  cpp/test/linalg/reduce_rows_by_key.cu
  cpp/test/random/make_regression.cu
  cpp/test/random/rng_discrete.cu
Labels: 3 - Ready for Review, improvement, breaking, cpp

#1105 Remove redundant operators in sparse/distance and move others to raft/core
  cpp/include/raft/core/operators.cuh
  cpp/include/raft/core/operators.hpp
  cpp/include/raft/sparse/distance/detail/ip_distance.cuh
  cpp/include/raft/sparse/distance/detail/l2_distance.cuh
  cpp/include/raft/sparse/distance/detail/lp_distance.cuh
  cpp/include/raft/sparse/distance/detail/operators.cuh
  cpp/test/sparse/dist_coo_spmv.cu
Labels: 3 - Ready for Review, improvement, non-breaking, cpp

#1109 Fixing the sample-without-replacement test failures
  cpp/test/random/sample_without_replacement.cu
Labels: improvement, non-breaking, cpp

#1110 Fixing an index error introduced in PR #1109
  cpp/test/random/sample_without_replacement.cu
Labels: improvement, non-breaking, cpp

#1076 Add GitHub Actions Workflows.
  .github/CODEOWNERS
  .github/labeler.yml
  .github/workflows/build.yaml
  .github/workflows/dependency-files.yml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/build_cpp.sh
  ci/build_python.sh
  ci/check_style.sh
  ci/cpu/build.sh
  ci/gpu/build.sh
  ci/release/update-version.sh
  ci/test_cpp.sh
  ci/test_python.sh
  conda/environments/all_cuda-115_arch-x86_64.yaml
  conda/recipes/libraft/conda_build_config.yaml
  conda/recipes/libraft/meta.yaml
  conda/recipes/pylibraft/meta.yaml
  conda/recipes/raft-dask/conda_build_config.yaml
  conda/recipes/raft-dask/meta.yaml
  dependencies.yaml
  python/pylibraft/.coveragerc
  python/raft-dask/.coveragerc
Labels: improvement, non-breaking, gpuCI

#1117 Enable `Recently Updated` Check
  .github/ops-bot.yaml
Labels: improvement, non-breaking
