Repository rapidsai/raft, pull requests merged in 2022-09, with the labels that each got.

#776 Device, Host, Managed Accessor Types for `mdspan`
  cpp/include/raft/core/mdarray.hpp
  cpp/include/raft/detail/mdarray.hpp
  cpp/test/mdarray.cu
  cpp/test/mdspan_utils.cu
Labels: improvement, non-breaking, cpp

#796 Minor follow-up fixes for ivf-flat
  cpp/include/raft/spatial/knn/detail/ivf_flat_search.cuh
  cpp/include/raft/spatial/knn/detail/topk/warpsort_topk.cuh
  cpp/test/spatial/ann_ivf_flat.cu
Labels: 3 - Ready for Review, improvement, non-breaking, cpp

#788 Prepare parts of the balanced kmeans for ivf-pq
  cpp/include/raft/spatial/knn/detail/ann_kmeans_balanced.cuh
  cpp/include/raft/spatial/knn/detail/ann_utils.cuh
  cpp/include/raft/spatial/knn/detail/ivf_flat_build.cuh
Labels: 3 - Ready for Review, improvement, non-breaking, cpp

#800 Branch 22.10 merge 22.08
  CHANGELOG.md
Labels: improvement, non-breaking

#760 Fea 2208 kmeans use specializations
  cpp/include/raft/cluster/specializations.cuh
  cpp/include/raft/spectral/specializations.cuh
  cpp/test/cluster/kmeans.cu
  cpp/test/cluster_solvers.cu
Labels: improvement, non-breaking, cpp

#794 Optimize fusedL2NN when data is skinny
  cpp/bench/spatial/fused_l2_nn.cu
  cpp/include/raft/distance/detail/fused_l2_nn.cuh
  cpp/include/raft/distance/fused_l2_nn.cuh
  cpp/include/raft/linalg/contractions.cuh
  cpp/test/distance/fused_l2_nn.cu
Labels: improvement, non-breaking, cpp

#801 Renaming `pyraft` -> `raft-dask`
  BUILD.md
  README.md
  build.sh
  ci/cpu/build.sh
  ci/cpu/upload.sh
  ci/gpu/build.sh
  ci/release/update-version.sh
  conda/recipes/raft-dask/build.sh
  conda/recipes/raft-dask/conda_build_config.yaml
  conda/recipes/raft-dask/meta.yaml
  docs/source/conf.py
  docs/source/index.rst
  docs/source/pyraft_api.rst
  docs/source/python.rst
  docs/source/raft_dask_api.rst
  python/pylibraft/CMakeLists.txt
  python/pylibraft/pylibraft/common/CMakeLists.txt
  python/pylibraft/pylibraft/common/handle.pxd
  python/pylibraft/pylibraft/common/interruptible.pxd
  python/pylibraft/pylibraft/common/interruptible.pyx
  python/pylibraft/pylibraft/test/test_interruptible.py
  python/pylibraft/pyproject.toml
  python/raft-dask/CMakeLists.txt
  python/raft-dask/cmake/thirdparty/get_nccl.cmake
  python/raft-dask/pyproject.toml
  python/raft-dask/pytest.ini
  python/raft-dask/raft_dask/__init__.py
  python/raft-dask/raft_dask/_version.py
  python/raft-dask/raft_dask/common/CMakeLists.txt
  python/raft-dask/raft_dask/common/__init__.pxd
  python/raft-dask/raft_dask/common/__init__.py
  python/raft-dask/raft_dask/common/comms.py
  python/raft-dask/raft_dask/common/comms_utils.pyx
  python/raft-dask/raft_dask/common/nccl.pyx
  python/raft-dask/raft_dask/common/ucx.py
  python/raft-dask/raft_dask/common/utils.py
  python/raft-dask/raft_dask/include_test/CMakeLists.txt
  python/raft-dask/raft_dask/include_test/__init__.py
  python/raft-dask/raft_dask/include_test/raft_include_test.pyx
  python/raft-dask/raft_dask/test/conftest.py
  python/raft-dask/raft_dask/test/test_comms.py
  python/raft-dask/raft_dask/test/test_raft.py
  python/raft-dask/setup.cfg
  python/raft-dask/setup.py
  python/raft-dask/setuputils.py
  python/raft-dask/versioneer.py
  python/raft/pyproject.toml
  python/raft/raft/common/cuda.pyx
  python/raft/raft/common/handle.pyx
  python/raft/raft/common/interruptible.pxd
  python/raft/raft/dask/__init__.py
  python/raft/raft/test/test_raft.py
Labels: improvement, non-breaking, CMake, gpuCI, python

#811 [REVIEW] mdspan-ify make_regression
  cpp/include/raft/random/make_regression.cuh
  cpp/test/random/make_regression.cu
Labels: feature request, non-breaking, cpp

#826 Fixing __init__.py for handle and stream
  python/pylibraft/pylibraft/common/__init__.py
Labels: improvement, non-breaking, python

#828 Updating cpu job in hopes it speeds up python cpu builds
  build.sh
  ci/cpu/build.sh
  python/pylibraft/CMakeLists.txt
Labels: improvement, non-breaking, CMake, gpuCI, python

#835 Fix integer overflow in ANN kmeans
  cpp/include/raft/spatial/knn/detail/ann_utils.cuh
Labels: bug, non-breaking, cpp

#839 [BUG] rng_state not including necessary cstdint
  cpp/include/raft/random/rng_state.hpp
Labels: bug, 3 - Ready for Review, non-breaking, cpp

#836 Separating _RAFT_HOST and _RAFT_DEVICE macros
  cpp/include/raft/core/detail/macros.hpp
Labels: improvement, non-breaking, cpp

#841 Document that minimum required CMake version is now 3.23.1
  conda/environments/raft_dev_cuda11.0.yml
  conda/environments/raft_dev_cuda11.2.yml
  conda/environments/raft_dev_cuda11.4.yml
  conda/environments/raft_dev_cuda11.5.yml
  conda/recipes/libraft/conda_build_config.yaml
  conda/recipes/pylibraft/conda_build_config.yaml
  conda/recipes/raft-dask/conda_build_config.yaml
  cpp/CMakeLists.txt
  python/pylibraft/CMakeLists.txt
  python/pylibraft/pyproject.toml
  python/raft-dask/CMakeLists.txt
  python/raft-dask/pyproject.toml
Labels: 5 - Ready to Merge, doc, non-breaking, cpp, CMake, python

#842 [gpuCI] Forward-merge branch-22.10 to branch-22.12 [skip gpuci]
  conda/environments/raft_dev_cuda11.0.yml
  conda/environments/raft_dev_cuda11.2.yml
  conda/environments/raft_dev_cuda11.4.yml
  conda/environments/raft_dev_cuda11.5.yml
  conda/recipes/libraft/conda_build_config.yaml
  conda/recipes/pylibraft/conda_build_config.yaml
  conda/recipes/raft-dask/conda_build_config.yaml
  cpp/CMakeLists.txt
  python/pylibraft/CMakeLists.txt
  python/pylibraft/pyproject.toml
  python/raft-dask/CMakeLists.txt
  python/raft-dask/pyproject.toml
Labels: cpp, CMake, python

#820 Separating test executables
  build.sh
  ci/gpu/build.sh
  cpp/test/CMakeLists.txt
  cpp/test/cluster/kmeans.cu
  cpp/test/matrix/gather.cu
  cpp/test/sparse/linkage.cu
  cpp/test/stats/information_criterion.cu
Labels: improvement, non-breaking, cpp, CMake, gpuCI

#848 [REVIEW] Do not use strcpy to copy 2 char
  cpp/include/raft/linalg/detail/svd.cuh
Labels: bug, non-breaking, cpp

#857 [REVIEW] mdspan-ify several raft::random rng functions
  cpp/include/raft/random/rng.cuh
  cpp/test/random/rng.cu
Labels: feature request, non-breaking, cpp

#859 [gpuCI] Forward-merge branch-22.10 to branch-22.12 [skip gpuci]
  cpp/include/raft/random/rng.cuh
  cpp/test/random/rng.cu
Labels: cpp

#795 KMeans benchmarks (cuML + ANN implementations) and fix for IndexT=int64_t
  cpp/CMakeLists.txt
  cpp/bench/CMakeLists.txt
  cpp/bench/cluster/kmeans.cu
  cpp/bench/cluster/kmeans_balanced.cu
  cpp/bench/common/benchmark.hpp
  cpp/bench/spatial/knn.cu
  cpp/include/raft/cluster/detail/kmeans.cuh
  cpp/include/raft/cluster/detail/kmeans_common.cuh
  cpp/include/raft/core/detail/macros.hpp
  cpp/include/raft/distance/detail/fused_l2_nn.cuh
  cpp/include/raft/distance/fused_l2_nn.cuh
  cpp/include/raft/distance/specializations/detail/russel_rao.cuh
  cpp/include/raft/distance/specializations/distance.cuh
  cpp/include/raft/distance/specializations/fused_l2_nn_min.cuh
  cpp/include/raft/random/detail/rng_impl.cuh
  cpp/include/raft/spatial/knn/detail/ann_kmeans_balanced.cuh
  cpp/include/raft/spatial/knn/detail/ann_utils.cuh
  cpp/include/raft/spectral/detail/warn_dbg.hpp
  cpp/src/distance/specializations/detail/russel_rao_double_double_double_int.cu
  cpp/src/distance/specializations/detail/russel_rao_float_float_float_int.cu
  cpp/src/distance/specializations/detail/russel_rao_float_float_float_uint32.cu
  cpp/src/distance/specializations/fused_l2_nn_double_int.cu
  cpp/src/distance/specializations/fused_l2_nn_double_int64.cu
  cpp/src/distance/specializations/fused_l2_nn_float_int.cu
  cpp/src/distance/specializations/fused_l2_nn_float_int64.cu
Labels: improvement, non-breaking, 4 - Waiting on Reviewer, cpp, CMake

#861 [gpuCI] Forward-merge branch-22.10 to branch-22.12 [skip gpuci]
  cpp/CMakeLists.txt
  cpp/bench/CMakeLists.txt
  cpp/bench/cluster/kmeans.cu
  cpp/bench/cluster/kmeans_balanced.cu
  cpp/bench/common/benchmark.hpp
  cpp/bench/spatial/knn.cu
  cpp/include/raft/cluster/detail/kmeans.cuh
  cpp/include/raft/cluster/detail/kmeans_common.cuh
  cpp/include/raft/core/detail/macros.hpp
  cpp/include/raft/distance/detail/fused_l2_nn.cuh
  cpp/include/raft/distance/fused_l2_nn.cuh
  cpp/include/raft/distance/specializations/detail/russel_rao.cuh
  cpp/include/raft/distance/specializations/distance.cuh
  cpp/include/raft/distance/specializations/fused_l2_nn_min.cuh
  cpp/include/raft/random/detail/rng_impl.cuh
  cpp/include/raft/spatial/knn/detail/ann_kmeans_balanced.cuh
  cpp/include/raft/spatial/knn/detail/ann_utils.cuh
  cpp/include/raft/spectral/detail/warn_dbg.hpp
  cpp/src/distance/specializations/detail/russel_rao_double_double_double_int.cu
  cpp/src/distance/specializations/detail/russel_rao_float_float_float_int.cu
  cpp/src/distance/specializations/detail/russel_rao_float_float_float_uint32.cu
  cpp/src/distance/specializations/fused_l2_nn_double_int.cu
  cpp/src/distance/specializations/fused_l2_nn_double_int64.cu
  cpp/src/distance/specializations/fused_l2_nn_float_int.cu
  cpp/src/distance/specializations/fused_l2_nn_float_int64.cu
Labels: cpp, CMake
