Repository rapidsai/raft, pull requests merged in 2023-10, with the labels that each got.

#1862 [BUG] Fix a bug in the filtering operation in CAGRA multi-kernel
  cpp/include/raft/neighbors/detail/cagra/search_multi_kernel.cuh
  cpp/include/raft/neighbors/detail/cagra/search_plan.cuh
  cpp/include/raft/neighbors/detail/nn_descent.cuh
Labels: bug, non-breaking, cpp

#1865 Add option to brute_force index to store non-owning reference to norms
  cpp/include/raft/neighbors/brute_force_types.hpp
Labels: improvement, non-breaking, cpp

#1837 [FEA] Add `bitset_filter` for CAGRA indices removal
  cpp/bench/prims/neighbors/cagra_bench.cuh
  cpp/include/raft/neighbors/cagra.cuh
  cpp/include/raft/neighbors/sample_filter.cuh
  cpp/test/neighbors/ann_cagra.cuh
  cpp/test/neighbors/ann_cagra/test_float_uint32_t.cu
  cpp/test/neighbors/ann_cagra/test_int8_t_uint32_t.cu
  cpp/test/neighbors/ann_cagra/test_uint8_t_uint32_t.cu
Labels: 3 - Ready for Review, feature request, non-breaking, cpp

#1868 Branch 23.12 merge 23.10
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/cuda11.8-conda/devcontainer.json
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.0-conda/devcontainer.json
  .devcontainer/cuda12.0-pip/devcontainer.json
  .github/workflows/pr.yaml
  .gitignore
  ci/release/update-version.sh
  ci/test_wheel_raft_dask.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/environments/bench_ann_cuda-118_arch-x86_64.yaml
  conda/recipes/raft-dask/meta.yaml
  cpp/.clangd
  cpp/test/core/math_device.cu
  dependencies.yaml
  python/raft-dask/CMakeLists.txt
  python/raft-dask/pyproject.toml
Labels: improvement, non-breaking, cpp, CMake, python, ci

#1873 Branch 23.12 merge 23.10
  cpp/bench/prims/neighbors/cagra_bench.cuh
  cpp/include/raft/neighbors/brute_force_types.hpp
  cpp/include/raft/neighbors/cagra.cuh
  cpp/include/raft/neighbors/detail/cagra/search_multi_kernel.cuh
  cpp/include/raft/neighbors/detail/cagra/search_plan.cuh
  cpp/include/raft/neighbors/detail/nn_descent.cuh
  cpp/include/raft/neighbors/sample_filter.cuh
  cpp/test/neighbors/ann_cagra.cuh
  cpp/test/neighbors/ann_cagra/test_float_uint32_t.cu
  cpp/test/neighbors/ann_cagra/test_int8_t_uint32_t.cu
  cpp/test/neighbors/ann_cagra/test_uint8_t_uint32_t.cu
Labels: improvement, non-breaking, cpp

#1870 Build fix for CUDA 12.2
  cpp/cmake/patches/ggnn.patch
  cpp/include/raft/core/kvp.hpp
Labels: bug, non-breaking, cpp, CMake

#1869 [BUG] Fix a bug in NN descent
  cpp/include/raft/neighbors/detail/nn_descent.cuh
Labels: bug, non-breaking, cpp

#1875 Fix NN Descent overflows
  conda/environments/bench_ann_cuda-118_arch-x86_64.yaml
  cpp/bench/ann/src/raft/raft_benchmark.cu
  cpp/include/raft/neighbors/cagra.cuh
  cpp/include/raft/neighbors/cagra_types.hpp
  cpp/include/raft/neighbors/detail/nn_descent.cuh
  dependencies.yaml
  docs/source/ann_benchmarks_param_tuning.md
Labels: bug, non-breaking, cpp

#1867 Replace `raft::random` calls to not use deprecated API
  cpp/bench/prims/cluster/kmeans_balanced.cu
  cpp/bench/prims/distance/kernels.cu
  cpp/bench/prims/linalg/norm.cu
  cpp/bench/prims/linalg/normalize.cu
  cpp/bench/prims/linalg/reduce_cols_by_key.cu
  cpp/bench/prims/linalg/reduce_rows_by_key.cu
  cpp/bench/prims/matrix/argmin.cu
  cpp/bench/prims/matrix/gather.cu
  cpp/bench/prims/neighbors/cagra_bench.cuh
  cpp/bench/prims/neighbors/knn.cuh
  cpp/include/raft/neighbors/detail/ivf_pq_build.cuh
  cpp/internal/raft_internal/neighbors/refine_helper.cuh
  cpp/test/distance/gram.cu
  cpp/test/linalg/reduce.cu
  cpp/test/neighbors/ann_cagra.cuh
  cpp/test/neighbors/ann_ivf_flat.cuh
  cpp/test/neighbors/ann_ivf_pq.cuh
  cpp/test/neighbors/ann_nn_descent.cuh
  cpp/test/random/rmat_rectangular_generator.cu
  cpp/test/sparse/gram.cu
  cpp/test/test_utils.cuh
  cpp/test/util/bitonic_sort.cu
Labels: 5 - Ready to Merge, improvement, non-breaking, cpp

#1818 Provide a raft::copy overload for mdspan-to-mdspan copies
  cpp/bench/prims/CMakeLists.txt
  cpp/bench/prims/core/copy.cu
  cpp/include/raft/core/copy.cuh
  cpp/include/raft/core/copy.hpp
  cpp/include/raft/core/cuda_support.hpp
  cpp/include/raft/core/detail/copy.hpp
  cpp/include/raft/core/error.hpp
  cpp/include/raft/core/resource/resource_types.hpp
  cpp/include/raft/core/resource/stream_view.hpp
  cpp/include/raft/core/stream_view.hpp
  cpp/test/CMakeLists.txt
  cpp/test/core/mdspan_copy.cpp
  cpp/test/core/mdspan_copy.cu
  cpp/test/core/stream_view.cpp
Labels: 5 - Ready to Merge, improvement, non-breaking, cpp, CMake

#1860 Add `raft::stats::neighborhood_recall`
  cpp/include/raft/stats/detail/neighborhood_recall.cuh
  cpp/include/raft/stats/neighborhood_recall.cuh
  cpp/test/CMakeLists.txt
  cpp/test/neighbors/ann_utils.cuh
  cpp/test/stats/neighborhood_recall.cu
  docs/source/cpp_api/stats_neighborhood.rst
Labels: feature request, non-breaking, cpp, CMake

#1833 Documentation for raft ANN benchmark containers.
  docs/source/raft_ann_benchmarks.md
  python/raft-ann-bench/src/raft-ann-bench/run/conf/mnist-784-euclidean.json
Labels: improvement, non-breaking, python

#1884 Update rapids-cmake functions to non-deprecated signatures
  cpp/cmake/thirdparty/get_cutlass.cmake
  cpp/cmake/thirdparty/get_faiss.cmake
Labels: 3 - Ready for Review, feature request, non-breaking, cpp, CMake

#1886 Use branch-23.12 workflows.
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#1861 [FEA] Helpers for identifying contiguous layouts.
  cpp/include/raft/core/mdspan.hpp
  cpp/test/core/mdspan_utils.cu
  docs/source/conf.py
  docs/source/cpp_api/mdspan_mdspan.rst
Labels: 3 - Ready for Review, feature request, non-breaking, cpp

#1897 Check return values of raft-ann-bench subprocess calls
  python/raft-ann-bench/src/raft-ann-bench/get_dataset/__main__.py
  python/raft-ann-bench/src/raft-ann-bench/run/__main__.py
  python/raft-ann-bench/src/raft-ann-bench/split_groundtruth/__main__.py
Labels: improvement, non-breaking, python

#1894 Add check-json to pre-commit linters, and fix invalid ann-bench JSON config
  .pre-commit-config.yaml
  python/raft-ann-bench/src/raft-ann-bench/run/conf/glove-100-inner.json
  python/raft-ann-bench/src/raft-ann-bench/run/conf/mnist-784-euclidean.json
Labels: improvement, non-breaking, python

#1776 End-to-end vector search tutorial in docs
  docs/source/index.rst
  docs/source/using_raft_comms.rst
  docs/source/vector_search_tutorial.md
Labels: doc, non-breaking

#1899 Refactor install/build guide.
  README.md
  docs/source/build.md
  docs/source/cpp_api/cluster.rst
  docs/source/cpp_api/cluster_kmeans_balanced.rst
  docs/source/pylibraft_api.rst
  docs/source/pylibraft_api/matrix.rst
  docs/source/raft_ann_benchmarks.md
Labels: improvement, non-breaking

#1905 Updates to raft-ann-bench docs
  docs/source/raft_ann_benchmarks.md
  python/raft-ann-bench/src/raft-ann-bench/run/conf/bigann-100M.json
  python/raft-ann-bench/src/raft-ann-bench/run/conf/deep-100M.json
  python/raft-ann-bench/src/raft-ann-bench/run/conf/deep-image-96-inner.json
  python/raft-ann-bench/src/raft-ann-bench/run/conf/fashion-mnist-784-euclidean.json
  python/raft-ann-bench/src/raft-ann-bench/run/conf/gist-960-euclidean.json
  python/raft-ann-bench/src/raft-ann-bench/run/conf/glove-100-angular.json
  python/raft-ann-bench/src/raft-ann-bench/run/conf/glove-100-inner.json
  python/raft-ann-bench/src/raft-ann-bench/run/conf/glove-50-angular.json
  python/raft-ann-bench/src/raft-ann-bench/run/conf/glove-50-inner.json
  python/raft-ann-bench/src/raft-ann-bench/run/conf/lastfm-65-angular.json
  python/raft-ann-bench/src/raft-ann-bench/run/conf/mnist-784-euclidean.json
  python/raft-ann-bench/src/raft-ann-bench/run/conf/nytimes-256-angular.json
  python/raft-ann-bench/src/raft-ann-bench/run/conf/nytimes-256-inner.json
  python/raft-ann-bench/src/raft-ann-bench/run/conf/sift-128-euclidean.json
Labels: doc, non-breaking, python

#1906 Fix python script location in ANN bench description
  docs/source/ann_benchmarks_low_level.md
Labels: documentation, improvement, non-breaking, Vector Search

#1907 Update `shared-action-workflows` references
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/release/update-version.sh
Labels: ci

#1908 Remove unnecessary dataset path check in ANN bench
  python/raft-ann-bench/src/raft-ann-bench/run/__main__.py
Labels: bug, non-breaking, Vector Search

#1910 Remove dynamic entry-points from raft-ann-bench
  python/raft-ann-bench/pyproject.toml
Labels: bug, non-breaking, python

#1904 Fixing Googletests and re-enabling in CI
  ci/test_cpp.sh
  cpp/include/raft/distance/detail/distance_ops/l2_exp.cuh
  cpp/include/raft/neighbors/detail/knn_brute_force.cuh
  cpp/test/distance/fused_l2_nn.cu
  cpp/test/neighbors/ann_cagra.cuh
  cpp/test/neighbors/ann_ivf_pq.cuh
  docs/source/raft_ann_benchmarks.md
  python/pylibraft/pylibraft/test/test_distance.py
Labels: bug, non-breaking, cpp, python, ci

#1911 Fix filepath in `raft-ann-bench/split_groundtruth` module
  python/raft-ann-bench/src/raft-ann-bench/run/__main__.py
  python/raft-ann-bench/src/raft-ann-bench/split_groundtruth/__main__.py
Labels: bug, non-breaking, python

#1914 Providing `aarch64` yaml environment files
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-120_arch-aarch64.yaml
  conda/environments/bench_ann_cuda-118_arch-aarch64.yaml
  dependencies.yaml
Labels: improvement, non-breaking

#1915 Increase iterations in NN Descent tests to avoid flakiness
  cpp/test/neighbors/ann_cagra.cuh
  cpp/test/neighbors/ann_nn_descent.cuh
Labels: bug, non-breaking, cpp

#1916 Fix FAISS CPU algorithm names in `raft-ann-bench`
  python/raft-ann-bench/src/raft-ann-bench/plot/__main__.py
  python/raft-ann-bench/src/raft-ann-bench/run/algos.yaml
Labels: bug, non-breaking, python

#1877 [FEA] Improvements on bitset class
  cpp/bench/prims/core/bitset.cu
  cpp/include/raft/core/bitset.cuh
  cpp/test/core/bitset.cu
Labels: 3 - Ready for Review, improvement, non-breaking, cpp

#1926 Try using contiguous rank to fix cuda_visible_devices
  python/raft-dask/raft_dask/common/comms.py
Labels: improvement, non-breaking, python

#1927 Relax ucx pinning
  conda/recipes/raft-dask/conda_build_config.yaml
Labels: improvement, non-breaking

#1918 Add `wiki_all` dataset config and documentation.
  docs/source/raft_ann_benchmarks.md
  docs/source/wiki_all_dataset.md
  python/raft-ann-bench/src/raft-ann-bench/run/conf/wiki_all_10M.json
  python/raft-ann-bench/src/raft-ann-bench/run/conf/wiki_all_1M.json
  python/raft-ann-bench/src/raft-ann-bench/run/conf/wiki_all_88M.json
Labels: doc, non-breaking, python, Vector Search

#1925 Unpin `dask` and `distributed` for `23.12` development
  ci/test_wheel_raft_dask.sh
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-aarch64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/raft-dask/meta.yaml
  dependencies.yaml
  python/raft-dask/pyproject.toml
Labels: improvement, non-breaking, python, ci

#1931 Set RNG seeds in NN Descent to diagnose flaky tests
  cpp/include/raft/neighbors/detail/nn_descent.cuh
  cpp/test/neighbors/ann_nn_descent.cuh
  cpp/test/neighbors/ann_nn_descent/test_float_uint32_t.cu
  cpp/test/neighbors/ann_nn_descent/test_int8_t_uint32_t.cu
  cpp/test/neighbors/ann_nn_descent/test_uint8_t_uint32_t.cu
Labels: bug, non-breaking, cpp

#1920 Adding `throughput` and `latency` modes to `raft-ann-bench`
  cpp/bench/ann/CMakeLists.txt
  cpp/bench/ann/src/common/ann_types.hpp
  cpp/bench/ann/src/common/benchmark.hpp
  cpp/bench/ann/src/common/thread_pool.hpp
  cpp/bench/ann/src/hnswlib/hnswlib_wrapper.h
  cpp/bench/ann/src/raft/raft_benchmark.cu
  cpp/bench/ann/src/raft/raft_cagra_wrapper.h
  cpp/bench/ann/src/raft/raft_ivf_flat_wrapper.h
  cpp/bench/ann/src/raft/raft_ivf_pq_wrapper.h
  docs/source/raft_ann_benchmarks.md
  python/raft-ann-bench/src/raft-ann-bench/run/__main__.py
Labels: improvement, non-breaking, cpp, CMake, python, Vector Search

#1946 Reduce NN Descent test threshold
  cpp/test/neighbors/ann_nn_descent.cuh
Labels: bug, non-breaking, cpp
