Repository rapidsai/raft, pull requests merged in 2023-11, with the labels that each got.

#1944 Brute Force Index documentation fix
  cpp/include/raft/neighbors/ball_cover-inl.cuh
  cpp/include/raft/neighbors/brute_force-inl.cuh
  cpp/include/raft/neighbors/brute_force_types.hpp
Labels: 3 - Ready for Review, doc, non-breaking, cpp

#1945 Fixes to new YAML config `raft-bench-ann`
  cpp/bench/ann/src/common/ann_types.hpp
  cpp/bench/ann/src/common/benchmark.hpp
  cpp/bench/ann/src/faiss/faiss_cpu_benchmark.cpp
  cpp/bench/ann/src/faiss/faiss_cpu_wrapper.h
  cpp/bench/ann/src/faiss/faiss_gpu_benchmark.cu
  cpp/bench/ann/src/faiss/faiss_gpu_wrapper.h
  docs/source/ann_benchmarks_param_tuning.md
  docs/source/raft_ann_benchmarks.md
  docs/source/wiki_all_dataset.md
  python/raft-ann-bench/src/raft-ann-bench/constraints/__init__.py
  python/raft-ann-bench/src/raft-ann-bench/data_export/__main__.py
  python/raft-ann-bench/src/raft-ann-bench/plot/__main__.py
  python/raft-ann-bench/src/raft-ann-bench/run/__main__.py
  python/raft-ann-bench/src/raft-ann-bench/run/conf/algos/faiss_gpu_ivf_flat.yaml
  python/raft-ann-bench/src/raft-ann-bench/run/conf/algos/faiss_gpu_ivf_pq.yaml
  python/raft-ann-bench/src/raft-ann-bench/run/conf/algos/hnswlib.yaml
  python/raft-ann-bench/src/raft-ann-bench/run/conf/algos/raft_cagra.yaml
  python/raft-ann-bench/src/raft-ann-bench/run/conf/algos/raft_ivf_pq.yaml
  python/raft-ann-bench/src/raft-ann-bench/run/conf/datasets.yaml
Labels: bug, non-breaking, cpp, python, Vector Search

#1949 Add constraints to `hnswlib` in `raft-bench-ann`
  python/raft-ann-bench/src/raft-ann-bench/constraints/__init__.py
  python/raft-ann-bench/src/raft-ann-bench/run/conf/algos/hnswlib.yaml
Labels: improvement, non-breaking, python

#1951 Adding pool back in and fixing cagra benchmark params
  cpp/bench/ann/src/raft/raft_benchmark.cu
  python/raft-ann-bench/src/raft-ann-bench/run/conf/algos/raft_cagra.yaml
Labels: improvement, non-breaking, cpp, python

#1953 Fix `ucx-py` alpha version update for `raft-dask`
  ci/build_wheel.sh
Labels: bug, non-breaking, ci

#1940 Fix ANN bench latency
  cpp/bench/ann/src/common/benchmark.hpp
  cpp/bench/ann/src/common/cuda_stub.hpp
  docs/source/raft_ann_benchmarks.md
  python/raft-ann-bench/src/raft-ann-bench/run/__main__.py
Labels: improvement, non-breaking, cpp, python, Vector Search

#1959 Fixing hnswlib in latency mode
  cpp/bench/ann/src/common/benchmark.hpp
  cpp/bench/ann/src/hnswlib/hnswlib_wrapper.h
  python/raft-ann-bench/src/raft-ann-bench/run/conf/datasets.yaml
Labels: bug, non-breaking, cpp, python, Vector Search

#1960 Remove unused header
  cpp/include/raft/core/detail/copy.hpp
Labels: improvement, non-breaking, cpp

#1961 Fix syncing mechanism in `raft-ann-bench` C++ search
  cpp/bench/ann/src/common/benchmark.hpp
Labels: bug, non-breaking, cpp

#1967 Add ANN bench scripts to generate ground truth
  docs/source/ann_benchmarks_dataset.md
  python/raft-ann-bench/src/raft-ann-bench/generate_groundtruth/__main__.py
  python/raft-ann-bench/src/raft-ann-bench/generate_groundtruth/utils.py
Labels: feature request, non-breaking, python, Vector Search

#1912 CAGRA ANN bench: parse build options for IVF-PQ build algo
  cpp/bench/ann/src/raft/raft_benchmark.cu
  cpp/bench/ann/src/raft/raft_cagra_wrapper.h
  cpp/include/raft/neighbors/cagra.cuh
  cpp/include/raft/neighbors/detail/cagra/cagra_build.cuh
  docs/source/ann_benchmarks_param_tuning.md
  python/raft-ann-bench/src/raft-ann-bench/run/conf/wiki_all_1M.json
Labels: improvement, non-breaking, cpp, python, Vector Search

#1970 Adding `dry-run` option to `raft-ann-bench`
  docs/source/raft_ann_benchmarks.md
  python/raft-ann-bench/src/raft-ann-bench/run/__main__.py
Labels: feature request, non-breaking, python

#1971 Add build and search params to `raft-ann-bench.data_export` CSVs
  python/raft-ann-bench/src/raft-ann-bench/data_export/__main__.py
Labels: improvement, non-breaking, python

#1980 Allow `raft-ann-bench/run` to continue after encountering bad YAML configs
  python/raft-ann-bench/src/raft-ann-bench/data_export/__main__.py
  python/raft-ann-bench/src/raft-ann-bench/generate_groundtruth/__main__.py
  python/raft-ann-bench/src/raft-ann-bench/get_dataset/__main__.py
  python/raft-ann-bench/src/raft-ann-bench/plot/__main__.py
  python/raft-ann-bench/src/raft-ann-bench/run/__main__.py
  python/raft-ann-bench/src/raft-ann-bench/split_groundtruth/__main__.py
Labels: improvement, non-breaking, python

#1979 Catching conversion errors in data_export instead of fully failing
  python/raft-ann-bench/src/raft-ann-bench/data_export/__main__.py
  python/raft-ann-bench/src/raft-ann-bench/run/__main__.py
Labels: bug, non-breaking, python, Vector Search

#1981 ANN bench: use different offset for each thread
  cpp/bench/ann/src/common/benchmark.hpp
Labels: improvement, non-breaking, cpp, Vector Search

#1935 Verify conda-cpp-post-build-checks
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: feature request, non-breaking

#1878 Fix and improve one-block radix select
  cpp/include/raft/matrix/detail/select_radix.cuh
Labels: improvement, non-breaking, cpp

#1968 Use new `rapids-dask-dependency` metapackage for managing dask versions
  ci/build_wheel.sh
  ci/release/update-version.sh
  ci/test_wheel_raft_dask.sh
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-aarch64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/raft-dask/meta.yaml
  dependencies.yaml
  python/raft-dask/pyproject.toml
Labels: improvement, non-breaking, python, ci

#1987 CAGRA graph optimizer: clamp rev_graph_count
  cpp/include/raft/neighbors/detail/cagra/graph_core.cuh
Labels: bug, non-breaking, cpp, Vector Search

#1989 Adjusting end-to-end start time so it doesn't include stream creation time
  cpp/bench/ann/src/common/benchmark.hpp
  python/raft-ann-bench/src/raft-ann-bench/data_export/__main__.py
  python/raft-ann-bench/src/raft-ann-bench/run/conf/datasets.yaml
Labels: bug, non-breaking, cpp, python

#1991 Fixes to update-version.sh
  ci/release/update-version.sh
Labels: bug, non-breaking, ci

#1990 Skipping bad json parse
  python/raft-ann-bench/src/raft-ann-bench/data_export/__main__.py
Labels: improvement, non-breaking, python, Vector Search

#1985 Update select-k heuristic
  cpp/include/raft/matrix/detail/select_k-inl.cuh
  cpp/scripts/heuristics/select_k/algorithm_selection.ipynb
  cpp/scripts/heuristics/select_k/generate_heuristic.ipynb
  cpp/scripts/heuristics/select_k/generate_plots.ipynb
Labels: improvement, non-breaking, cpp

#1997 Remove static checks for serialization size
  cpp/include/raft/neighbors/detail/cagra/cagra_serialize.cuh
  cpp/include/raft/neighbors/detail/ivf_flat_serialize.cuh
  cpp/include/raft/neighbors/detail/ivf_pq_serialize.cuh
Labels: improvement, non-breaking, cpp

#2002 Fix pyproject versions
  ci/release/update-version.sh
  python/pylibraft/pyproject.toml
  python/raft-dask/pyproject.toml
Labels: bug, non-breaking, python, ci

#1896 ANN bench options to specify CAGRA graph and dataset locations
  cpp/bench/ann/src/common/benchmark.hpp
  cpp/bench/ann/src/common/cuda_huge_page_resource.hpp
  cpp/bench/ann/src/common/cuda_pinned_resource.hpp
  cpp/bench/ann/src/raft/raft_ann_bench_param_parser.h
  cpp/bench/ann/src/raft/raft_cagra_wrapper.h
  cpp/include/raft/neighbors/cagra_types.hpp
  cpp/include/raft/neighbors/detail/cagra/utils.hpp
  cpp/include/raft/util/integer_utils.hpp
  docs/source/ann_benchmarks_param_tuning.md
  python/raft-ann-bench/src/raft-ann-bench/run/__main__.py
Labels: improvement, non-breaking, cpp, python, Vector Search

#2004 Forward-merge branch-23.12 to branch-24.02
  cpp/bench/ann/src/common/benchmark.hpp
  cpp/bench/ann/src/common/cuda_huge_page_resource.hpp
  cpp/bench/ann/src/common/cuda_pinned_resource.hpp
  cpp/bench/ann/src/raft/raft_ann_bench_param_parser.h
  cpp/bench/ann/src/raft/raft_cagra_wrapper.h
  cpp/include/raft/neighbors/cagra_types.hpp
  cpp/include/raft/neighbors/detail/cagra/utils.hpp
  cpp/include/raft/util/integer_utils.hpp
  docs/source/ann_benchmarks_param_tuning.md
  python/raft-ann-bench/src/raft-ann-bench/run/__main__.py
Labels: cpp, python

#2006 Using `EXPORT_SET` in `rapids_find_package_root`
  cpp/cmake/thirdparty/get_spdlog.cmake
Labels: improvement, non-breaking, cpp, CMake

#2007 Forward-merge branch-23.12 to branch-24.02
  cpp/cmake/thirdparty/get_spdlog.cmake
Labels: cpp, CMake

#1947 Add support for iterating over batches in bfknn
  cpp/bench/ann/CMakeLists.txt
  cpp/include/raft/distance/detail/distance_ops/l2_exp.cuh
  cpp/include/raft/neighbors/brute_force-ext.cuh
  cpp/include/raft/neighbors/brute_force-inl.cuh
  cpp/include/raft/neighbors/brute_force.cuh
  cpp/include/raft/neighbors/brute_force_types.hpp
  cpp/include/raft/neighbors/detail/knn_brute_force.cuh
  cpp/include/raft/neighbors/detail/knn_brute_force_batch_k_query.cuh
  cpp/include/raft/neighbors/neighbors_types.hpp
  cpp/src/neighbors/brute_force_knn_index_float.cu
  cpp/test/neighbors/tiled_knn.cu
Labels: improvement, non-breaking, cpp, CMake, Vector Search

#2010 Forward-merge branch-23.12 to branch-24.02
  cpp/bench/ann/CMakeLists.txt
  cpp/include/raft/distance/detail/distance_ops/l2_exp.cuh
  cpp/include/raft/neighbors/brute_force-ext.cuh
  cpp/include/raft/neighbors/brute_force-inl.cuh
  cpp/include/raft/neighbors/brute_force.cuh
  cpp/include/raft/neighbors/brute_force_types.hpp
  cpp/include/raft/neighbors/detail/knn_brute_force.cuh
  cpp/include/raft/neighbors/detail/knn_brute_force_batch_k_query.cuh
  cpp/include/raft/neighbors/neighbors_types.hpp
  cpp/src/neighbors/brute_force_knn_index_float.cu
  cpp/test/neighbors/tiled_knn.cu
Labels: cpp, CMake

#2011 Build concurrency for nightly and merge triggers
  .github/workflows/build.yaml
Labels: improvement, non-breaking

#1826 [FEA] Helpers and CodePacker for IVF-PQ
  cpp/include/raft/neighbors/detail/div_utils.hpp
  cpp/include/raft/neighbors/detail/ivf_pq_build.cuh
  cpp/include/raft/neighbors/ivf_flat_codepacker.hpp
  cpp/include/raft/neighbors/ivf_flat_helpers.cuh
  cpp/include/raft/neighbors/ivf_pq_helpers.cuh
  cpp/include/raft/neighbors/ivf_pq_types.hpp
  cpp/test/neighbors/ann_ivf_pq.cuh
Labels: feature request, non-breaking, cpp

#2009 Export Pareto frontier in `raft-ann-bench.data_export`
  docs/source/raft_ann_benchmarks.md
  python/raft-ann-bench/src/raft-ann-bench/data_export/__main__.py
  python/raft-ann-bench/src/raft-ann-bench/plot/__main__.py
Labels: feature request, non-breaking, python

#2013 pylibraft only depends on numpy at runtime, not build time.
  conda/recipes/pylibraft/meta.yaml
Labels: bug, non-breaking

#2018 Pinning fmt and spdlog for raft-ann-bench-cpu
  conda/recipes/libraft/conda_build_config.yaml
  conda/recipes/libraft/meta.yaml
  conda/recipes/raft-ann-bench-cpu/conda_build_config.yaml
  conda/recipes/raft-ann-bench-cpu/meta.yaml
Labels: improvement, non-breaking

#1635 Enable host dataset for IVF-Flat
  cpp/bench/ann/src/raft/raft_ivf_flat_wrapper.h
  cpp/include/raft/neighbors/detail/ivf_flat_build.cuh
  cpp/include/raft/neighbors/ivf_flat-ext.cuh
  cpp/include/raft/neighbors/ivf_flat-inl.cuh
  cpp/src/neighbors/ivf_flat_00_generate.py
  cpp/src/neighbors/ivf_flat_build_float_int64_t.cu
  cpp/src/neighbors/ivf_flat_build_int8_t_int64_t.cu
  cpp/src/neighbors/ivf_flat_build_uint8_t_int64_t.cu
  cpp/src/neighbors/ivf_flat_extend_float_int64_t.cu
  cpp/src/neighbors/ivf_flat_extend_int8_t_int64_t.cu
  cpp/src/neighbors/ivf_flat_extend_uint8_t_int64_t.cu
  cpp/test/neighbors/ann_ivf_flat.cuh
Labels: improvement, non-breaking, cpp, Vector Search

#2025 Fixing json parse error in `raft-ann-bench.data_export`
  python/raft-ann-bench/src/raft-ann-bench/data_export/__main__.py
Labels: improvement, non-breaking, python

#1957 Update to fmt 10.1.1 and spdlog 1.12.0.
  ci/build_python.sh
  conda/recipes/libraft/conda_build_config.yaml
  conda/recipes/raft-ann-bench-cpu/conda_build_config.yaml
Labels: improvement, non-breaking, ci

#2027 Remove selection_faiss
  cpp/CMakeLists.txt
  cpp/bench/prims/matrix/select_k.cu
  cpp/include/raft/matrix/detail/select_k-inl.cuh
  cpp/include/raft/neighbors/detail/selection_faiss-ext.cuh
  cpp/include/raft/neighbors/detail/selection_faiss-inl.cuh
  cpp/include/raft/neighbors/detail/selection_faiss.cuh
  cpp/include/raft/neighbors/detail/selection_faiss_helpers.cuh
  cpp/include/raft/sparse/neighbors/detail/knn.cuh
  cpp/include/raft/spatial/knn/knn.cuh
  cpp/internal/raft_internal/matrix/select_k.cuh
  cpp/src/neighbors/detail/selection_faiss_00_generate.py
  cpp/src/neighbors/detail/selection_faiss_int32_t_float.cu
  cpp/src/neighbors/detail/selection_faiss_int64_t_double.cu
  cpp/src/neighbors/detail/selection_faiss_int64_t_half.cu
  cpp/src/neighbors/detail/selection_faiss_int_double.cu
  cpp/src/neighbors/detail/selection_faiss_long_float.cu
  cpp/src/neighbors/detail/selection_faiss_size_t_double.cu
  cpp/src/neighbors/detail/selection_faiss_size_t_float.cu
  cpp/src/neighbors/detail/selection_faiss_uint32_t_double.cu
  cpp/src/neighbors/detail/selection_faiss_uint32_t_float.cu
  cpp/src/neighbors/detail/selection_faiss_uint32_t_half.cu
  cpp/test/CMakeLists.txt
  cpp/test/ext_headers/00_generate.py
  cpp/test/ext_headers/raft_neighbors_detail_selection_faiss.cu
  cpp/test/matrix/select_k.cuh
  cpp/test/neighbors/fused_l2_knn.cu
  cpp/test/neighbors/selection.cu
  cpp/test/neighbors/tiled_knn.cu
Labels: improvement, breaking
