Repository rapidsai/raft, pull requests merged in 2023-09, with the labels that each got.

#1793 neighbors::refine_host: check the dataset bounds
  cpp/bench/ann/src/raft/raft_ivf_pq_wrapper.h
  cpp/include/raft/neighbors/detail/refine_host-inl.hpp
Labels: bug, 3 - Ready for Review, non-breaking, cpp

#1792 ANN-bench: more flexible cuda_stub.hpp
  cpp/bench/ann/CMakeLists.txt
  cpp/bench/ann/src/common/ann_types.hpp
  cpp/bench/ann/src/common/benchmark.hpp
  cpp/bench/ann/src/common/cuda_stub.hpp
  cpp/bench/ann/src/common/util.hpp
Labels: 3 - Ready for Review, improvement, non-breaking, cpp, CMake

#1804 Simplify wheel build scripts and allow alphas of RAPIDS dependencies
  ci/build_wheel.sh
  ci/build_wheel_raft_dask.sh
  ci/release/apply_wheel_modifications.sh
Labels: improvement, non-breaking, ci

#1805 Fix `raft-dask` naming in wheel builds
  ci/build_wheel.sh
  ci/build_wheel_raft_dask.sh
Labels: bug, non-breaking, ci

#1806 A few fixes to `raft-ann-bench` recipe and docs
  conda/recipes/raft-ann-bench-cpu/meta.yaml
  conda/recipes/raft-ann-bench/meta.yaml
  docs/source/raft_ann_benchmarks.md
  python/raft-ann-bench/src/raft-ann-bench/run/__main__.py
Labels: improvement, non-breaking, python

#1808 ann-bench: miscellaneous improvements
  cpp/bench/ann/src/faiss/faiss_benchmark.cu
  cpp/bench/ann/src/faiss/faiss_wrapper.h
  cpp/bench/ann/src/raft/raft_benchmark.cu
  cpp/bench/ann/src/raft/raft_ivf_pq_wrapper.h
  docs/source/ann_benchmarks_param_tuning.md
Labels: 3 - Ready for Review, feature request, non-breaking, cpp

#1812 Use `conda mambabuild` not `mamba mambabuild`
  ci/build_cpp.sh
  ci/build_python.sh
Labels: bug, non-breaking, ci

#1810 More updates to ann-bench docs
  conda/recipes/raft-ann-bench-cpu/meta.yaml
  conda/recipes/raft-ann-bench/meta.yaml
  docs/source/ann_benchmarks_param_tuning.md
  docs/source/raft_ann_benchmarks.md
Labels: improvement, non-breaking

#1790 Cagra memory optimizations
  cpp/include/raft/neighbors/cagra.cuh
  cpp/include/raft/neighbors/detail/cagra/graph_core.cuh
  cpp/include/raft/neighbors/detail/cagra/utils.hpp
Labels: improvement, non-breaking, cpp

#1800 Various fixes to reproducible benchmarks
  cpp/bench/ann/src/ggnn/ggnn_benchmark.cu
  cpp/bench/ann/src/ggnn/ggnn_wrapper.cuh
  cpp/bench/ann/src/hnswlib/hnswlib_wrapper.h
  docs/source/ann_benchmarks_param_tuning.md
Labels: improvement, non-breaking, cpp

#1807 Add best deep-100M configs for IVF-PQ to ANN benchmarks
  python/raft-ann-bench/src/raft-ann-bench/run/conf/deep-100M.json
Labels: improvement, non-breaking, python

#1815 Adding rmm to `raft-ann-bench` dependencies
  conda/recipes/raft-ann-bench/meta.yaml
Labels: bug, non-breaking

#1816 Printing actual exception in `require base set`
  cpp/bench/ann/src/common/benchmark.hpp
Labels: bug, non-breaking, cpp

#1835 Update image names
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#1737 Add NVTX ranges for cagra search/serialize functions
  cpp/include/raft/neighbors/detail/cagra/cagra_build.cuh
  cpp/include/raft/neighbors/detail/cagra/cagra_search.cuh
  cpp/include/raft/neighbors/detail/cagra/cagra_serialize.cuh
Labels: improvement, non-breaking, cpp

#1758 Add ivf-flat notebook
  notebooks/ivf_flat_example.ipynb
  notebooks/tutorial_ivf_pq.ipynb
  notebooks/utils.py
Labels: improvement, non-breaking, Vector Search

#1839 Fix update-version.sh for all pyproject.toml files
  ci/release/update-version.sh
Labels: bug, non-breaking, ci

#1838 Make RMM a run dependency of the raft-ann-bench conda package
  conda/recipes/raft-ann-bench/meta.yaml
Labels: bug, non-breaking

#1846 Fix conf file for benchmarking glove datasets
  python/raft-ann-bench/src/raft-ann-bench/run/conf/glove-100-angular.json
  python/raft-ann-bench/src/raft-ann-bench/run/conf/glove-100-inner.json
  python/raft-ann-bench/src/raft-ann-bench/run/conf/glove-50-angular.json
  python/raft-ann-bench/src/raft-ann-bench/run/conf/glove-50-inner.json
Labels: bug, non-breaking, python

#1849 Forward-merge branch-23.10 to branch-23.12
  python/raft-ann-bench/src/raft-ann-bench/run/conf/glove-100-angular.json
  python/raft-ann-bench/src/raft-ann-bench/run/conf/glove-100-inner.json
  python/raft-ann-bench/src/raft-ann-bench/run/conf/glove-50-angular.json
  python/raft-ann-bench/src/raft-ann-bench/run/conf/glove-50-inner.json
Labels: python

#1811 [FEA] Add pre-filtering to CAGRA
  cpp/include/raft/neighbors/cagra.cuh
  cpp/include/raft/neighbors/detail/cagra/cagra_search.cuh
  cpp/include/raft/neighbors/detail/cagra/compute_distance.hpp
  cpp/include/raft/neighbors/detail/cagra/factory.cuh
  cpp/include/raft/neighbors/detail/cagra/search_multi_cta.cuh
  cpp/include/raft/neighbors/detail/cagra/search_multi_cta_kernel-ext.cuh
  cpp/include/raft/neighbors/detail/cagra/search_multi_cta_kernel-inl.cuh
  cpp/include/raft/neighbors/detail/cagra/search_multi_kernel.cuh
  cpp/include/raft/neighbors/detail/cagra/search_plan.cuh
  cpp/include/raft/neighbors/detail/cagra/search_single_cta.cuh
  cpp/include/raft/neighbors/detail/cagra/search_single_cta_kernel-ext.cuh
  cpp/include/raft/neighbors/detail/cagra/search_single_cta_kernel-inl.cuh
  cpp/include/raft/neighbors/ivf_flat-inl.cuh
  cpp/include/raft/neighbors/ivf_pq-inl.cuh
  cpp/include/raft/neighbors/sample_filter_types.hpp
  cpp/src/neighbors/detail/cagra/search_multi_cta_00_generate.py
  cpp/src/neighbors/detail/cagra/search_multi_cta_float_uint32_dim1024_t32.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_float_uint32_dim128_t8.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_float_uint32_dim256_t16.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_float_uint32_dim512_t32.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_float_uint64_dim1024_t32.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_float_uint64_dim128_t8.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_float_uint64_dim256_t16.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_float_uint64_dim512_t32.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_int8_uint32_dim1024_t32.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_int8_uint32_dim128_t8.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_int8_uint32_dim256_t16.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_int8_uint32_dim512_t32.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_uint8_uint32_dim1024_t32.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_uint8_uint32_dim128_t8.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_uint8_uint32_dim256_t16.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_uint8_uint32_dim512_t32.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_00_generate.py
  cpp/src/neighbors/detail/cagra/search_single_cta_float_uint32_dim1024_t32.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_float_uint32_dim128_t8.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_float_uint32_dim256_t16.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_float_uint32_dim512_t32.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_float_uint64_dim1024_t32.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_float_uint64_dim128_t8.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_float_uint64_dim256_t16.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_float_uint64_dim512_t32.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_int8_uint32_dim1024_t32.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_int8_uint32_dim128_t8.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_int8_uint32_dim256_t16.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_int8_uint32_dim512_t32.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_uint8_uint32_dim1024_t32.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_uint8_uint32_dim128_t8.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_uint8_uint32_dim256_t16.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_uint8_uint32_dim512_t32.cu
  cpp/test/neighbors/ann_cagra.cuh
  cpp/test/neighbors/ann_cagra/search_kernel_uint64_t.cuh
  cpp/test/neighbors/ann_cagra/test_float_int64_t.cu
  cpp/test/neighbors/ann_cagra/test_float_uint32_t.cu
  cpp/test/neighbors/ann_cagra/test_int8_t_uint32_t.cu
  cpp/test/neighbors/ann_cagra/test_uint8_t_uint32_t.cu
Labels: enhancement, improvement, non-breaking, cpp, Vector Search, REDIS, Milvus

#1828 Add IVF-Flat C++ example
  cpp/template/CMakeLists.txt
  cpp/template/src/cagra_example.cu
  cpp/template/src/common.cuh
  cpp/template/src/ivf_flat_example.cu
  cpp/template/src/test_vector_search.cu
Labels: improvement, non-breaking, cpp, CMake, Vector Search

#1748 Port NN-descent algorithm to use in `cagra::build()`
  build.sh
  ci/build_cpp.sh
  cpp/bench/ann/src/raft/raft_benchmark.cu
  cpp/include/raft/neighbors/cagra.cuh
  cpp/include/raft/neighbors/cagra_types.hpp
  cpp/include/raft/neighbors/detail/cagra/cagra_build.cuh
  cpp/include/raft/neighbors/detail/cagra/graph_core.cuh
  cpp/include/raft/neighbors/detail/nn_descent.cuh
  cpp/include/raft/neighbors/nn_descent.cuh
  cpp/include/raft/neighbors/nn_descent_types.hpp
  cpp/test/CMakeLists.txt
  cpp/test/neighbors/ann_cagra.cuh
  cpp/test/neighbors/ann_nn_descent.cuh
  cpp/test/neighbors/ann_nn_descent/test_float_uint32_t.cu
  cpp/test/neighbors/ann_nn_descent/test_int8_t_uint32_t.cu
  cpp/test/neighbors/ann_nn_descent/test_uint8_t_uint32_t.cu
  cpp/test/neighbors/ann_utils.cuh
  docs/source/ann_benchmarks_param_tuning.md
  python/pylibraft/pylibraft/neighbors/cagra/cagra.pyx
  python/pylibraft/pylibraft/neighbors/cagra/cpp/c_cagra.pxd
  python/pylibraft/pylibraft/test/test_cagra.py
Labels: feature request, non-breaking, cpp, CMake, python, ci, Vector Search, REDIS, Milvus

#1852 Forward-merge branch-23.10 to branch-23.12
  build.sh
  ci/build_cpp.sh
  cpp/bench/ann/src/raft/raft_benchmark.cu
  cpp/include/raft/neighbors/cagra.cuh
  cpp/include/raft/neighbors/cagra_types.hpp
  cpp/include/raft/neighbors/detail/cagra/cagra_build.cuh
  cpp/include/raft/neighbors/detail/cagra/graph_core.cuh
  cpp/include/raft/neighbors/detail/nn_descent.cuh
  cpp/include/raft/neighbors/nn_descent.cuh
  cpp/include/raft/neighbors/nn_descent_types.hpp
  cpp/test/CMakeLists.txt
  cpp/test/neighbors/ann_cagra.cuh
  cpp/test/neighbors/ann_nn_descent.cuh
  cpp/test/neighbors/ann_nn_descent/test_float_uint32_t.cu
  cpp/test/neighbors/ann_nn_descent/test_int8_t_uint32_t.cu
  cpp/test/neighbors/ann_nn_descent/test_uint8_t_uint32_t.cu
  cpp/test/neighbors/ann_utils.cuh
  docs/source/ann_benchmarks_param_tuning.md
  python/pylibraft/pylibraft/neighbors/cagra/cagra.pyx
  python/pylibraft/pylibraft/neighbors/cagra/cpp/c_cagra.pxd
  python/pylibraft/pylibraft/test/test_cagra.py
Labels: cpp, CMake, python, ci

#1830 Change CAGRA auto mode selection
  cpp/include/raft/neighbors/detail/cagra/search_multi_cta.cuh
  cpp/include/raft/neighbors/detail/cagra/search_plan.cuh
  python/pylibraft/pylibraft/test/test_cagra.py
Labels: improvement, breaking, cpp, python

#1803 [FEA] Add bitset for ANN pre-filtering and deletion
  build.sh
  cpp/bench/prims/CMakeLists.txt
  cpp/bench/prims/core/bitset.cu
  cpp/include/raft/core/bitset.cuh
  cpp/include/raft/util/memory_pool-inl.hpp
  cpp/test/CMakeLists.txt
  cpp/test/core/bitset.cu
  docs/source/cpp_api.rst
  docs/source/cpp_api/core.rst
  docs/source/cpp_api/core_bitset.rst
  docs/source/cpp_api/utils.rst
Labels: 3 - Ready for Review, feature request, non-breaking, cpp, CMake

#1853 raft: Build CUDA 12.0 ARM conda packages.
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#1740 Remove block size template parameter from CAGRA search
  cpp/include/raft/neighbors/detail/cagra/compute_distance.hpp
  cpp/include/raft/neighbors/detail/cagra/hashmap.hpp
  cpp/include/raft/neighbors/detail/cagra/search_multi_cta_kernel-inl.cuh
  cpp/include/raft/neighbors/detail/cagra/search_multi_kernel.cuh
  cpp/include/raft/neighbors/detail/cagra/search_single_cta.cuh
  cpp/include/raft/neighbors/detail/cagra/search_single_cta_kernel-inl.cuh
  cpp/include/raft/neighbors/detail/cagra/topk_by_radix.cuh
  cpp/include/raft/neighbors/detail/cagra/topk_for_cagra/topk_core.cuh
  cpp/test/neighbors/ann_cagra.cuh
Labels: improvement, non-breaking, cpp

#1817 Add index class for brute_force knn
  cpp/CMakeLists.txt
  cpp/include/raft/neighbors/brute_force-ext.cuh
  cpp/include/raft/neighbors/brute_force-inl.cuh
  cpp/include/raft/neighbors/brute_force_types.hpp
  cpp/include/raft/neighbors/detail/knn_brute_force.cuh
  cpp/include/raft/spatial/knn/detail/fused_l2_knn-ext.cuh
  cpp/include/raft/spatial/knn/detail/fused_l2_knn-inl.cuh
  cpp/src/neighbors/brute_force_knn_index_float.cu
  cpp/src/spatial/knn/detail/fused_l2_knn_int32_t_float.cu
  cpp/src/spatial/knn/detail/fused_l2_knn_int64_t_float.cu
  cpp/src/spatial/knn/detail/fused_l2_knn_uint32_t_float.cu
  cpp/template/CMakeLists.txt
  cpp/test/neighbors/tiled_knn.cu
Labels: improvement, non-breaking, cpp, CMake, FAISS

#1791 Add RAFT devcontainers
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/cuda11.8-conda/devcontainer.json
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.0-conda/devcontainer.json
  .devcontainer/cuda12.0-pip/devcontainer.json
  .github/workflows/pr.yaml
  .gitignore
  ci/release/update-version.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/environments/bench_ann_cuda-118_arch-x86_64.yaml
  cpp/.clangd
  cpp/test/core/math_device.cu
  dependencies.yaml
  python/raft-dask/CMakeLists.txt
Labels: 3 - Ready for Review, improvement, non-breaking, cpp, CMake, python, ci

#1864 Pin `dask` and `distributed` for `23.10` release
  ci/test_wheel_raft_dask.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/raft-dask/meta.yaml
  dependencies.yaml
  python/raft-dask/pyproject.toml
Labels: 3 - Ready for Review, improvement, non-breaking, python, ci
