Repository rapidsai/raft, pull requests merged in 2023-02, with the labels that each got.

#1188 Add function to convert mdspan to a const view
  cpp/bench/matrix/argmin.cu
  cpp/bench/matrix/gather.cu
  cpp/include/raft/core/mdspan.hpp
  cpp/test/cluster/kmeans.cu
  cpp/test/core/mdspan_utils.cu
  docs/source/cpp_api/mdspan_mdspan.rst
Labels: 3 - Ready for Review, feature request, non-breaking, cpp

#1173 [REVIEW] Serializer for mdspans
  conda/recipes/libraft/build_libraft_distance.sh
  conda/recipes/libraft/build_libraft_nn.sh
  conda/recipes/libraft/build_libraft_tests.sh
  cpp/CMakeLists.txt
  cpp/include/raft/core/detail/mdspan_numpy_serializer.hpp
  cpp/include/raft/core/serialize.hpp
  cpp/include/raft/spatial/knn/detail/ann_serialization.h
  cpp/include/raft/spatial/knn/detail/ivf_flat_build.cuh
  cpp/include/raft/spatial/knn/detail/ivf_pq_build.cuh
  cpp/include/raft/util/cudart_utils.hpp
  cpp/include/raft/util/device_atomics.cuh
  cpp/include/raft_runtime/neighbors/ivf_pq.hpp
  cpp/src/distance/neighbors/ivfpq_build.cu
  cpp/test/CMakeLists.txt
  cpp/test/core/mdspan_utils.cu
  cpp/test/core/numpy_serializer.cu
  cpp/test/neighbors/ann_ivf_flat.cu
  cpp/test/neighbors/ann_ivf_pq.cuh
  python/pylibraft/pylibraft/common/CMakeLists.txt
  python/pylibraft/pylibraft/common/cpp/mdspan.pxd
  python/pylibraft/pylibraft/common/mdspan.pyx
  python/pylibraft/pylibraft/neighbors/ivf_pq/cpp/c_ivf_pq.pxd
  python/pylibraft/pylibraft/neighbors/ivf_pq/ivf_pq.pyx
  python/pylibraft/pylibraft/test/test_mdspan_serializer.py
Labels: improvement, non-breaking, cpp, CMake, python

#1224 Removing interruptible from basic handle sync.
  cpp/include/raft/core/resource/cuda_stream.hpp
Labels: improvement, non-breaking, cpp

#1241 Update shared workflow branches
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/release/update-version.sh
Labels: improvement, non-breaking, ci

#1198 [HELP-REQ] Expose KMeans `init_plus_plus` in pylibraft
  cpp/CMakeLists.txt
  cpp/include/raft_runtime/cluster/kmeans.hpp
  cpp/src/distance/cluster/kmeans_init_plus_plus_double.cu
  cpp/src/distance/cluster/kmeans_init_plus_plus_float.cu
  python/pylibraft/pylibraft/cluster/__init__.py
  python/pylibraft/pylibraft/cluster/cpp/kmeans.pxd
  python/pylibraft/pylibraft/cluster/kmeans.pyx
  python/pylibraft/pylibraft/test/test_kmeans.py
Labels: improvement, non-breaking, cpp, CMake, python

#1192 Expose raft::handle_t in the public header
  cpp/include/raft/handle.hpp
Labels: bug, 3 - Ready for Review, non-breaking, cpp

#1190 Fix for svd API
  cpp/include/raft/linalg/detail/svd.cuh
  cpp/include/raft/linalg/svd.cuh
  cpp/test/linalg/svd.cu
Labels: bug, 3 - Ready for Review, breaking, cpp

#1242 [REVIEW] Pin `dask` and `distributed` for release
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/gpu/build.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/raft-dask/meta.yaml
  dependencies.yaml
  python/raft-dask/setup.py
Labels: improvement, non-breaking, python, ci

#1223 Move date to build string in `conda` recipe
  conda/recipes/libraft/meta.yaml
  conda/recipes/pylibraft/meta.yaml
  conda/recipes/raft-dask/meta.yaml
Labels: improvement, non-breaking

#1251 [REVIEW] Resolve auto merger conflicts
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/gpu/build.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/raft-dask/meta.yaml
  dependencies.yaml
  python/raft-dask/setup.py
Labels: python, ci

#1247 Forward-merge branch-23.02 to branch-23.04
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/gpu/build.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/raft-dask/meta.yaml
  dependencies.yaml
  python/raft-dask/setup.py
Labels: python, ci

#1255 Keeping only compute similarity specializations for uint64_t for now
  cpp/src/distance/neighbors/specializations/detail/ivfpq_compute_similarity_float_fast.cu
  cpp/src/distance/neighbors/specializations/detail/ivfpq_compute_similarity_float_no_basediff.cu
  cpp/src/distance/neighbors/specializations/detail/ivfpq_compute_similarity_float_no_smem_lut.cu
  cpp/src/distance/neighbors/specializations/detail/ivfpq_compute_similarity_fp8s_fast.cu
  cpp/src/distance/neighbors/specializations/detail/ivfpq_compute_similarity_fp8s_no_basediff.cu
  cpp/src/distance/neighbors/specializations/detail/ivfpq_compute_similarity_fp8s_no_smem_lut.cu
  cpp/src/distance/neighbors/specializations/detail/ivfpq_compute_similarity_fp8u_fast.cu
  cpp/src/distance/neighbors/specializations/detail/ivfpq_compute_similarity_fp8u_no_basediff.cu
  cpp/src/distance/neighbors/specializations/detail/ivfpq_compute_similarity_fp8u_no_smem_lut.cu
  cpp/src/distance/neighbors/specializations/detail/ivfpq_compute_similarity_half_fast.cu
  cpp/src/distance/neighbors/specializations/detail/ivfpq_compute_similarity_half_no_basediff.cu
  cpp/src/distance/neighbors/specializations/detail/ivfpq_compute_similarity_half_no_smem_lut.cu
Labels: improvement, non-breaking, cpp

#1256 Update shared workflow branches
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#1254 Fix compile time explosion for minkowski distance
  ci/cpu/build.sh
  ci/gpu/build.sh
  cpp/bench/CMakeLists.txt
  cpp/bench/distance/distance_common.cuh
  cpp/bench/distance/masked_nn.cu
  cpp/include/raft/distance/detail/canberra.cuh
  cpp/include/raft/distance/detail/compress_to_bits.cuh
  cpp/include/raft/distance/detail/fused_l2_nn.cuh
  cpp/include/raft/distance/detail/masked_distance_base.cuh
  cpp/include/raft/distance/detail/masked_nn.cuh
  cpp/include/raft/distance/detail/minkowski.cuh
  cpp/include/raft/distance/detail/pairwise_distance_base.cuh
  cpp/include/raft/distance/masked_nn.cuh
  cpp/include/raft/linalg/detail/contractions.cuh
  cpp/include/raft/spatial/knn/detail/epsilon_neighborhood.cuh
  cpp/test/CMakeLists.txt
  cpp/test/distance/fused_l2_nn.cu
  cpp/test/distance/masked_nn.cu
  cpp/test/distance/masked_nn_compress_to_bits.cu
  docs/source/conf.py
  docs/source/cpp_api/distance.rst
  docs/source/cpp_api/distance_masked_nn.rst
  fetch_rapids.cmake
  python/pylibraft/CMakeLists.txt
Labels: improvement, non-breaking, cpp, CMake, python, ci, Build Time Improvement

#1266 Bump pinned deps to 23.4
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/release/update-version.sh
  python/pylibraft/_custom_build/backend.py
  python/pylibraft/setup.py
  python/raft-dask/setup.py
Labels: bug, 3 - Ready for Review, non-breaking, python, ci

#1264 Remove duplicate `librmm` runtime dependency
  conda/recipes/libraft/meta.yaml
Labels: improvement, non-breaking

#1259 Reduce error handling verbosity in CI tests scripts
  ci/test_cpp.sh
  ci/test_python.sh
Labels: improvement, non-breaking, ci

#1252 Remove gpuCI scripts.
  README.md
  ci/checks/style.sh
  ci/cpu/build.sh
  ci/cpu/prebuild.sh
  ci/cpu/upload.sh
  ci/gpu/build.sh
  ci/local/README.md
  ci/local/build.sh
  ci/release/update-version.sh
  conda/recipes/pylibraft/meta.yaml
  conda/recipes/raft-dask/meta.yaml
Labels: improvement, non-breaking, ci

#1272 Remove no longer instantiated templates from list of extern template declarations
  cpp/include/raft/neighbors/specializations/detail/ivf_pq_search.cuh
Labels: bug, 3 - Ready for Review, non-breaking, cpp

#1274 Fixign a couple small kmeans bugs
  cpp/include/raft/cluster/detail/kmeans.cuh
  cpp/include/raft/random/detail/make_blobs.cuh
Labels: bug, non-breaking, cpp

#1253 [REVIEW] Unpin `dask` and `distributed` for development
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/raft-dask/meta.yaml
  dependencies.yaml
  python/raft-dask/setup.py
Labels: improvement, non-breaking, python

#1277 fix build on cuda 11.5
  cpp/include/raft/distance/detail/distance.cuh
Labels: improvement, non-breaking, cpp

#1229 Fix the destruction of interruptible token registry
  cpp/include/raft/core/interruptible.hpp
  cpp/include/raft/core/resource/cuda_stream.hpp
Labels: bug, 3 - Ready for Review, non-breaking, cpp

#1248 Fix inconsistency between the building doc and CMakeLists.txt
  cpp/CMakeLists.txt
  docs/source/build.md
Labels: improvement, non-breaking, cpp, CMake

#1168 Add docs build job
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .gitignore
  build.sh
  ci/build_docs.sh
  ci/release/update-version.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  cpp/CMakeLists.txt
  cpp/cmake/doxygen.cmake
  cpp/doxygen/Doxyfile
  cpp/include/raft/distance/distance.cuh
  cpp/include/raft/stats/adjusted_rand_index.cuh
  cpp/include/raft/stats/information_criterion.cuh
  dependencies.yaml
  docs/Makefile
  docs/source/build.md
  docs/source/conf.py
  docs/source/cuda_cpp.rst
  docs/source/developer_guide.md
  docs/source/python.rst
Labels: improvement, non-breaking, cpp, CMake, ci

#1268 matrix::select_k specializations
  cpp/CMakeLists.txt
  cpp/include/raft/matrix/specializations/detail/select_k.cuh
  cpp/include/raft/neighbors/detail/ivf_pq_build.cuh
  cpp/include/raft/neighbors/specializations/ivf_pq.cuh
  cpp/internal/raft_internal/matrix/select_k.cuh
  cpp/internal/raft_internal/neighbors/naive_knn.cuh
  cpp/src/distance/matrix/specializations/detail/select_k_float_uint32_t.cu
  cpp/src/distance/matrix/specializations/detail/select_k_float_uint64_t.cu
  cpp/src/distance/matrix/specializations/detail/select_k_half_uint32_t.cu
  cpp/src/distance/matrix/specializations/detail/select_k_half_uint64_t.cu
  cpp/test/neighbors/ann_ivf_flat.cuh
  cpp/test/neighbors/selection.cu
Labels: 5 - Ready to Merge, feature request, non-breaking, cpp, CMake

#1287 support k up to 2048 in faiss select
  ci/check_style.sh
  cpp/CMakeLists.txt
  cpp/include/raft/spatial/knn/detail/selection_faiss.cuh
  cpp/test/neighbors/selection.cu
Labels: improvement, non-breaking, cpp, CMake, ci

#1070 Initial port of auto-find-k
  cpp/include/raft/cluster/detail/kmeans.cuh
  cpp/include/raft/cluster/detail/kmeans_auto_find_k.cuh
  cpp/include/raft/cluster/kmeans.cuh
  cpp/test/CMakeLists.txt
  cpp/test/cluster/kmeans_find_k.cu
Labels: improvement, non-breaking, cpp, CMake

#1305 Fix docs upload path
  build.sh
  ci/docs/build.sh
Labels: improvement, non-breaking, ci

#1293 Enable dfg in pre-commit.
  .github/workflows/pr.yaml
  .pre-commit-config.yaml
Labels: 3 - Ready for Review, improvement, non-breaking

#1301 Stop using versioneer to manage versions
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .pre-commit-config.yaml
  ci/release/apply_wheel_modifications.sh
  ci/release/update-version.sh
  python/pylibraft/_custom_build/backend.py
  python/pylibraft/pylibraft/__init__.py
  python/pylibraft/pylibraft/_version.py
  python/pylibraft/pyproject.toml
  python/pylibraft/setup.cfg
  python/pylibraft/setup.py
  python/pylibraft/versioneer.py
  python/raft-dask/raft_dask/__init__.py
  python/raft-dask/raft_dask/_version.py
  python/raft-dask/setup.cfg
  python/raft-dask/setup.py
  python/raft-dask/versioneer.py
  setup.cfg
Labels: 3 - Ready for Review, improvement, non-breaking, python, ci

#1302 Make docs builds less verbose
  ci/build_docs.sh
Labels: improvement, non-breaking, ci
