Repository rapidsai/raft, pull requests merged in 2023-01, with the labels that each got.

#1119 Update workflows for nightly tests
  .github/workflows/build.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#919 Serialization of IVF Flat and IVF PQ
  cpp/include/raft/spatial/knn/detail/ann_serialization.h
  cpp/include/raft/spatial/knn/detail/ivf_flat_build.cuh
  cpp/include/raft/spatial/knn/detail/ivf_pq_build.cuh
  cpp/include/raft_runtime/neighbors/ivf_pq.hpp
  cpp/src/distance/neighbors/ivfpq_build.cu
  cpp/test/neighbors/ann_ivf_flat.cu
  cpp/test/neighbors/ann_ivf_pq.cuh
  python/pylibraft/pylibraft/neighbors/ivf_pq/__init__.py
  python/pylibraft/pylibraft/neighbors/ivf_pq/cpp/c_ivf_pq.pxd
  python/pylibraft/pylibraft/neighbors/ivf_pq/ivf_pq.pyx
  python/pylibraft/pylibraft/test/test_ivf_pq.py
Labels: feature request, non-breaking, cpp, python

#1108 Remove faiss dependency from fused_l2_knn.cuh, selection_faiss.cuh, ball_cover.cuh and haversine_distance.cuh
  ci/checks/copyright.py
  cpp/include/raft/core/kvp.hpp
  cpp/include/raft/spatial/knn/detail/ball_cover.cuh
  cpp/include/raft/spatial/knn/detail/ball_cover/registers.cuh
  cpp/include/raft/spatial/knn/detail/faiss_select/Comparators.cuh
  cpp/include/raft/spatial/knn/detail/faiss_select/MergeNetworkBlock.cuh
  cpp/include/raft/spatial/knn/detail/faiss_select/MergeNetworkUtils.cuh
  cpp/include/raft/spatial/knn/detail/faiss_select/MergeNetworkWarp.cuh
  cpp/include/raft/spatial/knn/detail/faiss_select/Select.cuh
  cpp/include/raft/spatial/knn/detail/faiss_select/StaticUtils.h
  cpp/include/raft/spatial/knn/detail/faiss_select/key_value_block_select.cuh
  cpp/include/raft/spatial/knn/detail/fused_l2_knn.cuh
  cpp/include/raft/spatial/knn/detail/haversine_distance.cuh
  cpp/include/raft/spatial/knn/detail/knn_brute_force_faiss.cuh
  cpp/include/raft/spatial/knn/detail/selection_faiss.cuh
  thirdparty/LICENSES/LICENSE.faiss
Labels: improvement, non-breaking, cpp, gpuCI, ci

#1056 Make IVF-PQ build index in batches when necessary
  cpp/include/raft/neighbors/ivf_pq_types.hpp
  cpp/include/raft/spatial/knn/detail/ann_utils.cuh
  cpp/include/raft/spatial/knn/detail/ivf_pq_build.cuh
Labels: 3 - Ready for Review, improvement, non-breaking, cpp

#1125 Adding ability to use an existing stream in the pylibraft Handle
  cpp/include/raft/neighbors/ivf_pq_types.hpp
  cpp/include/raft/spatial/knn/detail/ann_utils.cuh
  python/pylibraft/pylibraft/common/cuda.pyx
  python/pylibraft/pylibraft/common/handle.pyx
  python/pylibraft/pylibraft/test/test_distance.py
  python/pylibraft/pylibraft/test/test_handle.py
Labels: improvement, non-breaking, cpp, python

#1122 Fix `euclidean_dist` in IVF-Flat search
  cpp/include/raft/spatial/knn/detail/ivf_flat_search.cuh
  python/pylibraft/pylibraft/test/test_refine.py
Labels: bug, 3 - Ready for Review, non-breaking, cpp, python

#1114 Allow host dataset for IVF-PQ
  python/pylibraft/pylibraft/common/__init__.py
  python/pylibraft/pylibraft/common/ai_wrapper.py
  python/pylibraft/pylibraft/common/cai_wrapper.py
  python/pylibraft/pylibraft/neighbors/ivf_pq/ivf_pq.pyx
  python/pylibraft/pylibraft/test/test_ivf_pq.py
Labels: improvement, non-breaking, python

#1132 build.sh switch to use `RAPIDS` magic value
  build.sh
Labels: bug, 3 - Ready for Review, non-breaking

#1134 Fix documentation author
  docs/source/conf.py
Labels: improvement, non-breaking

#1136 Add raft::void_op functor
  cpp/include/raft/core/operators.hpp
  cpp/include/raft/distance/detail/canberra.cuh
  cpp/include/raft/distance/detail/chebyshev.cuh
  cpp/include/raft/distance/detail/l1.cuh
Labels: improvement, non-breaking, cpp

#1138 Add L2SqrtExpanded support to ivf_pq
  cpp/include/raft/spatial/knn/detail/ivf_pq_search.cuh
  cpp/test/neighbors/ann_ivf_pq.cuh
  cpp/test/neighbors/ann_ivf_pq/test_float_int64_t.cu
  python/pylibraft/pylibraft/neighbors/ivf_pq/ivf_pq.pyx
  python/pylibraft/pylibraft/test/test_ivf_pq.py
Labels: improvement, non-breaking, cpp, python

#1137 Adding workspace resource
  cpp/include/raft/core/device_resources.hpp
  cpp/include/raft/core/handle.hpp
  cpp/include/raft/core/resource/device_memory_resource.hpp
  cpp/include/raft/core/resource/resource_types.hpp
  cpp/test/core/handle.cpp
Labels: improvement, non-breaking, cpp

#1133 Add L2SqrtExpanded support to ivf_flat ANN indices
  cpp/include/raft/neighbors/ivf_flat_types.hpp
  cpp/include/raft/spatial/knn/detail/ann_quantized.cuh
  cpp/include/raft/spatial/knn/detail/ivf_flat_build.cuh
  cpp/include/raft/spatial/knn/detail/ivf_flat_search.cuh
  cpp/include/raft/spatial/knn/detail/topk/warpsort_topk.cuh
  cpp/test/neighbors/ann_ivf_flat.cu
Labels: 5 - Ready to Merge, improvement, non-breaking, cpp

#1116 Build wheels alongside conda CI
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/wheels.yml
  ci/release/update-version.sh
  ci/wheel_smoke_test_pylibraft.py
  ci/wheel_smoke_test_raft_dask.py
  python/raft-dask/CMakeLists.txt
Labels: improvement, non-breaking, CMake, python, ci

#1141 IVF-Flat bug fix: the *squared* norm is required for expanded distance calculations
  cpp/include/raft/spatial/knn/detail/ivf_flat_build.cuh
  cpp/include/raft/spatial/knn/detail/ivf_pq_build.cuh
Labels: bug, 3 - Ready for Review, non-breaking, cpp

#1135 IVF-PQ: tighten the test criteria
  cpp/test/neighbors/ann_ivf_pq.cuh
  cpp/test/neighbors/ann_utils.cuh
Labels: 5 - Ready to Merge, improvement, non-breaking, cpp

#1144 Squared norm fix follow-up (change was lost in merge conflict)
  cpp/include/raft/spatial/knn/detail/ivf_flat_search.cuh
Labels: bug, 5 - Ready to Merge, non-breaking, cpp

#1120 Update builds for CUDA `11.8` and Python `3.10`
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  README.md
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/libraft/conda_build_config.yaml
  dependencies.yaml
  docs/source/build.md
  python/pylibraft/setup.py
  python/raft-dask/setup.py
Labels: improvement, non-breaking, python

#1150 Remove faiss bfKnn call from fused_l2_knn unittest
  cpp/test/neighbors/fused_l2_knn.cu
Labels: improvement, non-breaking, cpp

#1147 Catch signal handler change error
  python/pylibraft/pylibraft/common/interruptible.pyx
Labels: bug, non-breaking, python

#1152 Fix various build errors
  cpp/bench/CMakeLists.txt
  cpp/include/raft/core/device_mdspan.hpp
  cpp/include/raft/core/host_mdspan.hpp
  cpp/include/raft/matrix/detail/linewise_op.cuh
Labels: improvement, non-breaking, cpp, CMake

#1148 balanced-k-means: fix a too large initial memory pool size
  cpp/include/raft/spatial/knn/detail/ann_kmeans_balanced.cuh
Labels: bug, 3 - Ready for Review, non-breaking, cpp

#1121 Remove faiss ANN code from knnIndex
  cpp/include/raft/spatial/knn/ann_common.h
  cpp/include/raft/spatial/knn/detail/ann_quantized.cuh
  cpp/test/neighbors/ann_ivf_flat.cu
Labels: improvement, breaking, cpp

#1160 Use squeuclidean for metric name in ivf_pq python bindings
  python/pylibraft/pylibraft/neighbors/ivf_pq/ivf_pq.pyx
  python/pylibraft/pylibraft/neighbors/refine.pyx
  python/pylibraft/pylibraft/test/test_ivf_pq.py
  python/pylibraft/pylibraft/test/test_refine.py
Labels: improvement, non-breaking, python

#1155 Make cutlass use static ctk
  cpp/cmake/thirdparty/get_cutlass.cmake
Labels: improvement, non-breaking, cpp, CMake

#1161 Protect balanced k-means out-of-memory in some cases
  cpp/include/raft/spatial/knn/detail/ann_kmeans_balanced.cuh
Labels: 5 - Ready to Merge, improvement, non-breaking, cpp

#1146 Improvement of the math API wrappers
  cpp/include/raft/core/math.hpp
  cpp/include/raft/core/operators.hpp
  cpp/include/raft/distance/detail/canberra.cuh
  cpp/include/raft/distance/detail/chebyshev.cuh
  cpp/include/raft/distance/detail/correlation.cuh
  cpp/include/raft/distance/detail/euclidean.cuh
  cpp/include/raft/distance/detail/fused_l2_nn.cuh
  cpp/include/raft/distance/detail/hellinger.cuh
  cpp/include/raft/distance/detail/jensen_shannon.cuh
  cpp/include/raft/distance/detail/kl_divergence.cuh
  cpp/include/raft/distance/detail/l1.cuh
  cpp/include/raft/distance/detail/minkowski.cuh
  cpp/include/raft/linalg/detail/lstsq.cuh
  cpp/include/raft/matrix/detail/math.cuh
  cpp/include/raft/random/detail/make_regression.cuh
  cpp/include/raft/random/detail/rng_device.cuh
  cpp/include/raft/sparse/distance/detail/l2_distance.cuh
  cpp/include/raft/sparse/distance/detail/lp_distance.cuh
  cpp/include/raft/spatial/knn/detail/ball_cover/common.cuh
  cpp/include/raft/spatial/knn/detail/haversine_distance.cuh
  cpp/include/raft/spectral/detail/spectral_util.cuh
  cpp/include/raft/stats/detail/stddev.cuh
  cpp/include/raft/util/cuda_utils.cuh
  cpp/test/CMakeLists.txt
  cpp/test/core/math_device.cu
  cpp/test/core/math_host.cpp
  cpp/test/distance/distance_base.cuh
  cpp/test/distance/fused_l2_nn.cu
  cpp/test/linalg/matrix_vector.cu
  cpp/test/linalg/norm.cu
  cpp/test/linalg/power.cu
  cpp/test/linalg/sqrt.cu
  cpp/test/matrix/math.cu
  cpp/test/neighbors/ann_utils.cuh
  cpp/test/random/rng.cu
Labels: 3 - Ready for Review, improvement, non-breaking, cpp, CMake

#1126 Improvements in `matrix::gather`: test coverage, compilation errors, performance
  cpp/bench/CMakeLists.txt
  cpp/bench/matrix/argmin.cu
  cpp/bench/matrix/gather.cu
  cpp/include/raft/cluster/detail/kmeans_common.cuh
  cpp/include/raft/core/operators.hpp
  cpp/include/raft/matrix/detail/gather.cuh
  cpp/include/raft/matrix/gather.cuh
  cpp/test/matrix/gather.cu
Labels: 3 - Ready for Review, improvement, non-breaking, cpp, CMake

#1156 ANN tests: make the min_recall check strict
  cpp/test/neighbors/ann_ivf_pq.cuh
  cpp/test/neighbors/ann_utils.cuh
Labels: 5 - Ready to Merge, improvement, non-breaking, cpp

#1085 matrix::select_k: move selection and warp-sort primitives
  cpp/bench/CMakeLists.txt
  cpp/bench/matrix/select_k.cu
  cpp/bench/neighbors/selection.cu
  cpp/include/raft/matrix/detail/select_k.cuh
  cpp/include/raft/matrix/detail/select_radix.cuh
  cpp/include/raft/matrix/detail/select_warpsort.cuh
  cpp/include/raft/matrix/select_k.cuh
  cpp/include/raft/neighbors/detail/refine.cuh
  cpp/include/raft/spatial/knn/detail/ivf_flat_search.cuh
  cpp/include/raft/spatial/knn/detail/ivf_pq_search.cuh
  cpp/include/raft/spatial/knn/knn.cuh
  cpp/include/raft/util/bitonic_sort.cuh
  cpp/include/raft/util/integer_utils.hpp
  cpp/test/CMakeLists.txt
  cpp/test/matrix/select_k.cu
  cpp/test/matrix/select_k.cuh
  cpp/test/neighbors/ann_ivf_flat.cu
  cpp/test/neighbors/ann_utils.cuh
  cpp/test/neighbors/selection.cu
  cpp/test/util/bitonic_sort.cu
  docs/source/cpp_api/matrix_ordering.rst
Labels: 5 - Ready to Merge, improvement, non-breaking, cpp, CMake

#1149 Fix `unary_op` docs and add `map_offset` as an improved version of `write_only_unary_op`
  cpp/include/raft/core/operators.hpp
  cpp/include/raft/linalg/map.cuh
  cpp/include/raft/linalg/unary_op.cuh
  cpp/include/raft/random/detail/make_blobs.cuh
  cpp/include/raft/spatial/knn/detail/ann_kmeans_balanced.cuh
  cpp/include/raft/spatial/knn/detail/ivf_flat_build.cuh
  cpp/include/raft/spatial/knn/detail/ivf_flat_search.cuh
  cpp/include/raft/spatial/knn/detail/ivf_pq_build.cuh
  cpp/include/raft/spatial/knn/detail/ivf_pq_search.cuh
  cpp/test/linalg/map.cu
  cpp/test/linalg/unary_op.cu
  cpp/test/linalg/unary_op.cuh
Labels: improvement, non-breaking, 4 - Waiting on Reviewer, cpp

#1169 Use CTK 118/cp310 branch of wheel workflows
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  python/raft-dask/setup.cfg
Labels: improvement, non-breaking, python

#1162 Internal library to share headers between test and bench
  README.md
  cpp/CMakeLists.txt
  cpp/bench/CMakeLists.txt
  cpp/bench/matrix/select_k.cu
  cpp/bench/neighbors/refine.cu
  cpp/internal/CMakeLists.txt
  cpp/internal/raft_internal/matrix/select_k.cuh
  cpp/internal/raft_internal/neighbors/naive_knn.cuh
  cpp/internal/raft_internal/neighbors/refine_helper.cuh
  cpp/test/CMakeLists.txt
  cpp/test/matrix/select_k.cu
  cpp/test/neighbors/ann_ivf_flat.cu
  cpp/test/neighbors/ann_ivf_pq.cuh
  cpp/test/neighbors/ann_utils.cuh
  cpp/test/neighbors/refine.cu
Labels: 3 - Ready for Review, feature request, non-breaking, cpp, CMake

#1184 Fix `ucx-py` version
  conda/recipes/raft-dask/conda_build_config.yaml
Labels: improvement, non-breaking

#1185 Update README.md: fix a missing word
  README.md
Labels: bug, 5 - Ready to Merge, non-breaking

#837 Move contractions tiling logic outside of Contractions_NT
  cpp/CMakeLists.txt
  cpp/bench/distance/distance_common.cuh
  cpp/bench/neighbors/knn.cuh
  cpp/bench/neighbors/refine.cu
  cpp/include/raft/distance/detail/pairwise_distance_base.cuh
  cpp/include/raft/linalg/detail/contractions.cuh
  cpp/include/raft/neighbors/specializations.cuh
  cpp/include/raft/neighbors/specializations/refine.cuh
  cpp/include/raft/spatial/knn/detail/epsilon_neighborhood.cuh
  cpp/src/distance/neighbors/refine.cu
  cpp/src/distance/neighbors/refine_d_uint64_t_float.cu
  cpp/src/distance/neighbors/refine_d_uint64_t_int8_t.cu
  cpp/src/distance/neighbors/refine_d_uint64_t_uint8_t.cu
  cpp/src/distance/neighbors/refine_h_uint64_t_float.cu
  cpp/src/distance/neighbors/refine_h_uint64_t_int8_t.cu
  cpp/src/distance/neighbors/refine_h_uint64_t_uint8_t.cu
  cpp/src/distance/neighbors/specializations/refine_d_uint64_t_float.cu
  cpp/src/distance/neighbors/specializations/refine_d_uint64_t_int8_t.cu
  cpp/src/distance/neighbors/specializations/refine_d_uint64_t_uint8_t.cu
  cpp/src/distance/neighbors/specializations/refine_h_uint64_t_float.cu
  cpp/src/distance/neighbors/specializations/refine_h_uint64_t_int8_t.cu
  cpp/src/distance/neighbors/specializations/refine_h_uint64_t_uint8_t.cu
  cpp/test/neighbors/refine.cu
Labels: enhancement, 5 - Ready to Merge, improvement, non-breaking, cpp, CMake, gpuCI

#1199 Forward-merge branch-23.02 to branch-23.04
  cpp/CMakeLists.txt
  cpp/bench/distance/distance_common.cuh
  cpp/bench/neighbors/knn.cuh
  cpp/bench/neighbors/refine.cu
  cpp/include/raft/distance/detail/pairwise_distance_base.cuh
  cpp/include/raft/linalg/detail/contractions.cuh
  cpp/include/raft/neighbors/specializations.cuh
  cpp/include/raft/neighbors/specializations/refine.cuh
  cpp/include/raft/spatial/knn/detail/epsilon_neighborhood.cuh
  cpp/src/distance/neighbors/refine.cu
  cpp/src/distance/neighbors/refine_d_uint64_t_float.cu
  cpp/src/distance/neighbors/refine_d_uint64_t_int8_t.cu
  cpp/src/distance/neighbors/refine_d_uint64_t_uint8_t.cu
  cpp/src/distance/neighbors/refine_h_uint64_t_float.cu
  cpp/src/distance/neighbors/refine_h_uint64_t_int8_t.cu
  cpp/src/distance/neighbors/refine_h_uint64_t_uint8_t.cu
  cpp/src/distance/neighbors/specializations/refine_d_uint64_t_float.cu
  cpp/src/distance/neighbors/specializations/refine_d_uint64_t_int8_t.cu
  cpp/src/distance/neighbors/specializations/refine_d_uint64_t_uint8_t.cu
  cpp/src/distance/neighbors/specializations/refine_h_uint64_t_float.cu
  cpp/src/distance/neighbors/specializations/refine_h_uint64_t_int8_t.cu
  cpp/src/distance/neighbors/specializations/refine_h_uint64_t_uint8_t.cu
  cpp/test/neighbors/refine.cu
Labels: cpp, CMake

#838 Add MaskedL2NN
  cpp/bench/CMakeLists.txt
  cpp/bench/distance/masked_nn.cu
  cpp/include/raft/distance/detail/compress_to_bits.cuh
  cpp/include/raft/distance/detail/fused_l2_nn.cuh
  cpp/include/raft/distance/detail/masked_distance_base.cuh
  cpp/include/raft/distance/detail/masked_nn.cuh
  cpp/include/raft/distance/masked_nn.cuh
  cpp/include/raft/linalg/detail/contractions.cuh
  cpp/test/CMakeLists.txt
  cpp/test/distance/fused_l2_nn.cu
  cpp/test/distance/masked_nn.cu
  cpp/test/distance/masked_nn_compress_to_bits.cu
  docs/source/cpp_api/distance.rst
  docs/source/cpp_api/distance_masked_nn.rst
Labels: enhancement, improvement, non-breaking, 2 - In Progress, cpp, CMake, gpuCI

#1203 Forward-merge branch-23.02 to branch-23.04
  cpp/bench/CMakeLists.txt
  cpp/bench/distance/masked_nn.cu
  cpp/include/raft/distance/detail/compress_to_bits.cuh
  cpp/include/raft/distance/detail/fused_l2_nn.cuh
  cpp/include/raft/distance/detail/masked_distance_base.cuh
  cpp/include/raft/distance/detail/masked_nn.cuh
  cpp/include/raft/distance/masked_nn.cuh
  cpp/include/raft/linalg/detail/contractions.cuh
  cpp/test/CMakeLists.txt
  cpp/test/distance/fused_l2_nn.cu
  cpp/test/distance/masked_nn.cu
  cpp/test/distance/masked_nn_compress_to_bits.cu
  docs/source/cpp_api/distance.rst
  docs/source/cpp_api/distance_masked_nn.rst
Labels: cpp, CMake

#1204 Adding small comms tutorial to docs
  README.md
  docs/source/index.rst
  docs/source/using_comms.rst
  python/raft-dask/setup.py
Labels: doc, non-breaking, python

#1214 Forward-merge branch-23.02 to branch-23.04
  README.md
  docs/source/index.rst
  docs/source/using_comms.rst
  python/raft-dask/setup.py
Labels: python

#1113 Add public API and tests for hierarchical balanced k-means
  cpp/bench/cluster/kmeans_balanced.cu
  cpp/include/raft/cluster/detail/kmeans_balanced.cuh
  cpp/include/raft/cluster/detail/kmeans_common.cuh
  cpp/include/raft/cluster/kmeans_balanced.cuh
  cpp/include/raft/cluster/kmeans_balanced_types.hpp
  cpp/include/raft/cluster/kmeans_types.hpp
  cpp/include/raft/core/operators.hpp
  cpp/include/raft/matrix/detail/gather.cuh
  cpp/include/raft/spatial/knn/detail/ann_kmeans_balanced.cuh
  cpp/include/raft/spatial/knn/detail/ivf_flat_build.cuh
  cpp/include/raft/spatial/knn/detail/ivf_pq_build.cuh
  cpp/include/raft/util/cudart_utils.hpp
  cpp/include/raft/util/device_atomics.cuh
  cpp/test/CMakeLists.txt
  cpp/test/cluster/kmeans.cu
  cpp/test/cluster/kmeans_balanced.cu
  cpp/test/matrix/gather.cu
  python/pylibraft/pylibraft/test/test_ivf_pq.py
Labels: feature request, non-breaking, 4 - Waiting on Reviewer, cpp, CMake, python

#1216 Forward-merge branch-23.02 to branch-23.04
  cpp/bench/cluster/kmeans_balanced.cu
  cpp/include/raft/cluster/detail/kmeans_balanced.cuh
  cpp/include/raft/cluster/detail/kmeans_common.cuh
  cpp/include/raft/cluster/kmeans_balanced.cuh
  cpp/include/raft/cluster/kmeans_balanced_types.hpp
  cpp/include/raft/cluster/kmeans_types.hpp
  cpp/include/raft/core/operators.hpp
  cpp/include/raft/matrix/detail/gather.cuh
  cpp/include/raft/spatial/knn/detail/ann_kmeans_balanced.cuh
  cpp/include/raft/spatial/knn/detail/ivf_flat_build.cuh
  cpp/include/raft/spatial/knn/detail/ivf_pq_build.cuh
  cpp/include/raft/util/cudart_utils.hpp
  cpp/include/raft/util/device_atomics.cuh
  cpp/test/CMakeLists.txt
  cpp/test/cluster/kmeans.cu
  cpp/test/cluster/kmeans_balanced.cu
  cpp/test/matrix/gather.cu
  python/pylibraft/pylibraft/test/test_ivf_pq.py
Labels: cpp, CMake, python

#1215 pre-commit: Update isort version to 5.12.0
  .pre-commit-config.yaml
Labels: improvement, non-breaking

#1200 Pin wheel dependencies to same RAPIDS release
  .github/workflows/pr.yaml
  ci/release/update-version.sh
  python/pylibraft/_custom_build/backend.py
  python/pylibraft/setup.py
  python/raft-dask/setup.py
Labels: improvement, non-breaking, python, ci
