Repository rapidsai/raft, pull requests merged in 2023-08, with the labels that each got.

#1662 Add notebook for Vector Search - Question Retrieval
  docs/source/build.md
  notebooks/VectorSearch_QuestionRetrieval.ipynb
  python/pylibraft/pylibraft/neighbors/refine.pyx
Labels: improvement, non-breaking, python

#1632 [FEA] Codepacking for IVF-flat
  cpp/include/raft/neighbors/detail/ivf_flat_build.cuh
  cpp/include/raft/neighbors/ivf_flat_codepacker.hpp
  cpp/include/raft/neighbors/ivf_flat_helpers.cuh
  cpp/test/neighbors/ann_ivf_flat.cuh
  cpp/test/neighbors/ann_ivf_flat/test_float_int64_t.cu
Labels: improvement, non-breaking, 2 - In Progress, cpp, Vector Search

#1705 Critical doc fixes and updates for 23.08
  README.md
  cpp/doxygen/Doxyfile
  cpp/include/raft/core/coo_matrix.hpp
  cpp/include/raft/core/csr_matrix.hpp
  cpp/include/raft/core/device_coo_matrix.hpp
  cpp/include/raft/core/device_csr_matrix.hpp
  cpp/include/raft/core/host_coo_matrix.hpp
  cpp/include/raft/core/host_csr_matrix.hpp
  cpp/include/raft/core/host_span.hpp
  cpp/include/raft/core/interruptible.hpp
  cpp/include/raft/core/math.hpp
  cpp/include/raft/core/mdarray.hpp
  cpp/include/raft/core/mdspan.hpp
  cpp/include/raft/core/mdspan_types.hpp
  cpp/include/raft/core/resource/device_memory_resource.hpp
  cpp/include/raft/core/resource/sub_comms.hpp
  cpp/include/raft/core/span.hpp
  cpp/include/raft/core/sparse_types.hpp
  cpp/include/raft/core/temporary_device_buffer.hpp
  docs/source/cpp_api/core.rst
  docs/source/cpp_api/core_math.rst
  docs/source/cpp_api/core_resources.rst
  docs/source/cpp_api/mdspan_mdarray.rst
  docs/source/cpp_api/mdspan_mdspan.rst
  docs/source/cpp_api/mdspan_representation.rst
  docs/source/cpp_api/mdspan_temporary_device_buffer.rst
  docs/source/cpp_api/sparse_types.rst
  docs/source/cpp_api/sparse_types_coo_matrix.rst
  docs/source/cpp_api/sparse_types_csr_matrix.rst
  docs/source/index.rst
  docs/source/quick_start.md
  img/raft-tech-stack-vss.png
Labels: doc, non-breaking, cpp

#1709 Forward-merge branch-23.08 to branch-23.10
  README.md
  cpp/doxygen/Doxyfile
  cpp/include/raft/core/coo_matrix.hpp
  cpp/include/raft/core/csr_matrix.hpp
  cpp/include/raft/core/device_coo_matrix.hpp
  cpp/include/raft/core/device_csr_matrix.hpp
  cpp/include/raft/core/host_coo_matrix.hpp
  cpp/include/raft/core/host_csr_matrix.hpp
  cpp/include/raft/core/host_span.hpp
  cpp/include/raft/core/interruptible.hpp
  cpp/include/raft/core/math.hpp
  cpp/include/raft/core/mdarray.hpp
  cpp/include/raft/core/mdspan.hpp
  cpp/include/raft/core/mdspan_types.hpp
  cpp/include/raft/core/resource/device_memory_resource.hpp
  cpp/include/raft/core/resource/sub_comms.hpp
  cpp/include/raft/core/span.hpp
  cpp/include/raft/core/sparse_types.hpp
  cpp/include/raft/core/temporary_device_buffer.hpp
  docs/source/cpp_api/core.rst
  docs/source/cpp_api/core_math.rst
  docs/source/cpp_api/core_resources.rst
  docs/source/cpp_api/mdspan_mdarray.rst
  docs/source/cpp_api/mdspan_mdspan.rst
  docs/source/cpp_api/mdspan_representation.rst
  docs/source/cpp_api/mdspan_temporary_device_buffer.rst
  docs/source/cpp_api/sparse_types.rst
  docs/source/cpp_api/sparse_types_coo_matrix.rst
  docs/source/cpp_api/sparse_types_csr_matrix.rst
  docs/source/index.rst
  docs/source/quick_start.md
  img/raft-tech-stack-vss.png
Labels: cpp

#1702 Enable CUTLASS-based distance kernels on CTK 12
  cpp/include/raft/distance/detail/pairwise_matrix/dispatch-inl.cuh
Labels: 3 - Ready for Review, improvement, non-breaking, cpp

#1710 fixed box around raft image
  img/raft-tech-stack-vss.png
Labels: improvement, non-breaking

#1677 Update CMake version
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/environments/bench_ann_cuda-118_arch-x86_64.yaml
  conda/recipes/libraft/conda_build_config.yaml
  conda/recipes/pylibraft/conda_build_config.yaml
  conda/recipes/raft-dask/conda_build_config.yaml
  cpp/CMakeLists.txt
  cpp/template/CMakeLists.txt
  dependencies.yaml
  docs/source/build.md
  python/pylibraft/CMakeLists.txt
  python/pylibraft/pyproject.toml
  python/raft-dask/CMakeLists.txt
  python/raft-dask/pyproject.toml
Labels: improvement, non-breaking, cpp, CMake, python

#1713 Additional polishing of README and docs
  README.md
  docs/source/index.rst
  docs/source/raft_ann_benchmarks.md
Labels: doc, non-breaking

#1688 Update to Cython 3.0.0
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/environments/bench_ann_cuda-118_arch-x86_64.yaml
  conda/recipes/pylibraft/meta.yaml
  conda/recipes/raft-dask/meta.yaml
  dependencies.yaml
  python/pylibraft/pyproject.toml
  python/raft-dask/pyproject.toml
Labels: 3 - Ready for Review, improvement, breaking, python

#1731 Fixing forward merger for 23.08 -> 23.10
  CHANGELOG.md
  ci/test_wheel_raft_dask.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/raft-dask/meta.yaml
  dependencies.yaml
  python/raft-dask/pyproject.toml
Labels: improvement, non-breaking, python, ci

#1717 Update RAFT documentation
  docs/source/cpp_api/neighbors_cagra.rst
  docs/source/cpp_api/neighbors_ivf_pq.rst
  docs/source/pylibraft_api/cluster.rst
  docs/source/pylibraft_api/neighbors.rst
  docs/source/raft_ann_benchmarks.md
  img/raft-vector-search-batch-10.png
  python/pylibraft/pylibraft/cluster/kmeans.pyx
  python/pylibraft/pylibraft/common/handle.pyx
  python/pylibraft/pylibraft/neighbors/brute_force.pyx
  python/pylibraft/pylibraft/neighbors/cagra/cagra.pyx
  python/pylibraft/pylibraft/neighbors/ivf_flat/ivf_flat.pyx
  python/pylibraft/pylibraft/neighbors/ivf_pq/ivf_pq.pyx
  python/pylibraft/pylibraft/neighbors/refine.pyx
Labels: doc, non-breaking, python

#1724 Fix build.sh to enable NEIGHBORS_ANN_CAGRA_TEST
  build.sh
Labels: bug, non-breaking

#1680 Fix template types for create_descriptor function.
  cpp/include/raft/sparse/detail/cusparse_wrappers.h
  cpp/include/raft/sparse/linalg/detail/spmm.hpp
Labels: bug, non-breaking, cpp

#1733 Make get_cache_idx a weak symbol with dummy template
  cpp/include/raft/util/cache_util.cuh
Labels: bug, 3 - Ready for Review, non-breaking, cpp

#1726 Fix IVF-PQ fused kernel performance problems
  cpp/include/raft/neighbors/detail/ivf_pq_compute_similarity-inl.cuh
Labels: bug, 3 - Ready for Review, non-breaking, cpp

#1734 Improvements to ANN Benchmark Python scripts and docs
  bench/ann/algos.yaml
  bench/ann/conf/bigann-100M.json
  bench/ann/conf/deep-100M.json
  bench/ann/conf/deep-1B.json
  bench/ann/conf/glove-100-inner.json
  bench/ann/conf/sift-128-euclidean.json
  bench/ann/data_export.py
  bench/ann/get_dataset.py
  bench/ann/plot.py
  bench/ann/run.py
  bench/ann/split_groundtruth.py
  conda/environments/bench_ann_cuda-118_arch-x86_64.yaml
  dependencies.yaml
  docs/source/raft_ann_benchmarks.md
Labels: improvement, breaking

#1730 [FEA] Use CAGRA in C++ template
  cpp/CMakeLists.txt
  cpp/template/CMakeLists.txt
  cpp/template/src/test_distance.cu
  cpp/template/src/test_vector_search.cu
Labels: improvement, non-breaking, cpp, CMake

#1716 [FEA] Provide device_resources_manager for easy generation of device_resources
  cpp/include/raft/core/device_resources_manager.hpp
  cpp/include/raft/core/device_setter.hpp
  cpp/include/raft/core/logger-ext.hpp
  cpp/include/raft/util/reduction.cuh
  cpp/test/CMakeLists.txt
  cpp/test/core/device_resources_manager.cpp
  cpp/test/core/device_setter.cpp
  docs/source/cpp_api/core_resources.rst
Labels: feature request, non-breaking, cpp, CMake

#1755 Update CAGRA serialization
  cpp/include/raft/neighbors/cagra_serialize.cuh
  cpp/include/raft/neighbors/detail/cagra/cagra_serialize.cuh
  cpp/include/raft_runtime/neighbors/cagra.hpp
  cpp/src/raft_runtime/neighbors/cagra_serialize.cu
  cpp/test/neighbors/ann_cagra.cuh
  python/pylibraft/pylibraft/common/mdspan.pxd
  python/pylibraft/pylibraft/common/mdspan.pyx
  python/pylibraft/pylibraft/neighbors/cagra/cagra.pyx
  python/pylibraft/pylibraft/neighbors/cagra/cpp/c_cagra.pxd
  python/pylibraft/pylibraft/test/test_cagra.py
Labels: improvement, breaking, cpp, python

#1754 Fix ann-bench Documentation
  README.md
  bench/ann/data_export.py
  bench/ann/run.py
  docs/source/raft_ann_benchmarks.md
Labels: bug, non-breaking

#1760 Unpin `dask` and `distributed` for `23.10` development
  ci/test_wheel_raft_dask.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/raft-dask/meta.yaml
  dependencies.yaml
  python/raft-dask/pyproject.toml
Labels: improvement, non-breaking, python, ci

#1764 IVF-Flat: fix search batching
  cpp/include/raft/neighbors/detail/ivf_flat_interleaved_scan-inl.cuh
  cpp/test/neighbors/ann_ivf_flat.cuh
Labels: bug, 3 - Ready for Review, non-breaking, cpp

#1774 Use `copy-pr-bot`
  .github/copy-pr-bot.yaml
  .github/ops-bot.yaml
Labels: improvement, non-breaking

#1782 [DOC] Fix grouping for ANN in C++ doxygen
  cpp/doxygen/Doxyfile
  cpp/include/raft/neighbors/cagra_types.hpp
  cpp/include/raft/neighbors/ivf_flat_types.hpp
  cpp/include/raft/neighbors/ivf_pq_types.hpp
  docs/source/cpp_api/neighbors_ivf_flat.rst
  docs/source/cpp_api/neighbors_ivf_pq.rst
Labels: 3 - Ready for Review, doc, non-breaking, cpp

#1785 Fixing a couple security concerns in `raft-dask` nccl unique id generation
  cpp/include/raft/comms/std_comms.hpp
  python/raft-dask/raft_dask/common/nccl.pyx
Labels: improvement, non-breaking, cpp, python

#1661 ANN-benchmarks: switch to use gbench
  bench/ann/conf/bigann-100M.json
  bench/ann/conf/deep-100M.json
  bench/ann/conf/deep-1B.json
  bench/ann/conf/glove-100-inner.json
  bench/ann/conf/sift-128-euclidean.json
  bench/ann/data_export.py
  bench/ann/run.py
  cpp/CMakeLists.txt
  cpp/bench/ann/CMakeLists.txt
  cpp/bench/ann/scripts/eval.pl
  cpp/bench/ann/src/common/ann_types.hpp
  cpp/bench/ann/src/common/benchmark.cpp
  cpp/bench/ann/src/common/benchmark.hpp
  cpp/bench/ann/src/common/benchmark_util.hpp
  cpp/bench/ann/src/common/conf.cpp
  cpp/bench/ann/src/common/conf.h
  cpp/bench/ann/src/common/conf.hpp
  cpp/bench/ann/src/common/cuda_stub.hpp
  cpp/bench/ann/src/common/dataset.hpp
  cpp/bench/ann/src/common/util.cpp
  cpp/bench/ann/src/common/util.h
  cpp/bench/ann/src/common/util.hpp
  cpp/bench/ann/src/faiss/faiss_benchmark.cu
  cpp/bench/ann/src/faiss/faiss_wrapper.h
  cpp/bench/ann/src/ggnn/ggnn_benchmark.cu
  cpp/bench/ann/src/ggnn/ggnn_wrapper.cuh
  cpp/bench/ann/src/hnswlib/hnswlib_benchmark.cpp
  cpp/bench/ann/src/hnswlib/hnswlib_wrapper.h
  cpp/bench/ann/src/raft/raft_benchmark.cu
  cpp/bench/ann/src/raft/raft_cagra_wrapper.h
  cpp/bench/ann/src/raft/raft_ivf_flat_wrapper.h
  cpp/bench/ann/src/raft/raft_ivf_pq_wrapper.h
  cpp/bench/ann/src/raft/raft_wrapper.h
  docs/source/ann_benchmarks_low_level.md
Labels: 3 - Ready for Review, improvement, breaking, cpp, CMake

#1784 [BUG] Fix search parameter check in CAGRA
  cpp/include/raft/neighbors/detail/cagra/search_multi_cta.cuh
  cpp/include/raft/neighbors/detail/cagra/search_plan.cuh
Labels: bug, non-breaking, cpp

#1787 Add citation info for the CAGRA paper preprint
  README.md
Labels: doc, non-breaking

#1769 Improvements to raft-ann-bench scripts, docs, and benchmarking implementations.
  .gitignore
  bench/ann/conf/bigann-100M.json
  bench/ann/conf/deep-100M.json
  bench/ann/conf/deep-image-96-angular.json
  bench/ann/conf/fashion-mnist-784-euclidean.json
  bench/ann/conf/gist-960-euclidean.json
  bench/ann/conf/glove-100-angular.json
  bench/ann/conf/glove-50-angular.json
  bench/ann/conf/lastfm-65-angular.json
  bench/ann/conf/mnist-784-euclidean.json
  bench/ann/conf/nytimes-256-angular.json
  bench/ann/conf/sift-128-euclidean.json
  bench/ann/data_export.py
  bench/ann/plot.py
  bench/ann/run.py
  conda/environments/bench_ann_cuda-118_arch-x86_64.yaml
  cpp/bench/ann/src/faiss/faiss_benchmark.cu
  cpp/bench/ann/src/faiss/faiss_wrapper.h
  cpp/bench/ann/src/raft/raft_benchmark.cu
  dependencies.yaml
  docs/source/ann_benchmarks_low_level.md
  docs/source/ann_benchmarks_param_tuning.md
  docs/source/raft_ann_benchmarks.md
Labels: improvement, non-breaking, cpp, Vector Search

#1788 Fix the CAGRA paper citation
  README.md
Labels: doc, non-breaking

#1746 Adding conda build for libraft static
  build.sh
  conda/recipes/libraft/build_libraft_static.sh
  conda/recipes/libraft/meta.yaml
  cpp/CMakeLists.txt
Labels: feature request, non-breaking, cpp, CMake
