Repository rapidsai/raft, pull requests merged in 2023-06, with the labels that each got.

#1556 Fix update version and pinnings for 23.08.
  ci/release/update-version.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  cpp/template/cmake/thirdparty/fetch_rapids.cmake
  dependencies.yaml
Labels: bug, non-breaking, cpp, CMake, ci

#1570 Remove documentation build scripts for Jenkins
  ci/docs/build.sh
Labels: improvement, non-breaking, ci

#1550 Update CAGRA knn_graph_sort to use Raft::bitonic_sort
  cpp/include/raft/neighbors/detail/cagra/graph_core.cuh
Labels: improvement, non-breaking, cpp

#1554 Add support to __half and nv_bfloat16 to most math functions
  cpp/CMakeLists.txt
  cpp/include/raft/core/detail/macros.hpp
  cpp/include/raft/core/math.hpp
  cpp/test/core/math_device.cu
Labels: improvement, non-breaking, cpp, CMake

#1541 Add sample filtering for ivf_flat. Filtering code refactoring and cleanup
  cpp/include/raft/neighbors/detail/ivf_flat_interleaved_scan-ext.cuh
  cpp/include/raft/neighbors/detail/ivf_flat_interleaved_scan-inl.cuh
  cpp/include/raft/neighbors/detail/ivf_flat_search-ext.cuh
  cpp/include/raft/neighbors/detail/ivf_flat_search-inl.cuh
  cpp/include/raft/neighbors/detail/ivf_pq_compute_similarity-ext.cuh
  cpp/include/raft/neighbors/detail/ivf_pq_compute_similarity-inl.cuh
  cpp/include/raft/neighbors/detail/ivf_pq_search.cuh
  cpp/include/raft/neighbors/detail/refine.cuh
  cpp/include/raft/neighbors/ivf_flat-ext.cuh
  cpp/include/raft/neighbors/ivf_flat-inl.cuh
  cpp/include/raft/neighbors/ivf_pq-ext.cuh
  cpp/include/raft/neighbors/ivf_pq-inl.cuh
  cpp/include/raft/neighbors/sample_filter_types.hpp
  cpp/src/neighbors/detail/ivf_flat_interleaved_scan_float_float_int64_t.cu
  cpp/src/neighbors/detail/ivf_flat_interleaved_scan_int8_t_int32_t_int64_t.cu
  cpp/src/neighbors/detail/ivf_flat_interleaved_scan_uint8_t_uint32_t_int64_t.cu
  cpp/src/neighbors/detail/ivf_flat_search.cu
  cpp/src/neighbors/detail/ivf_pq_compute_similarity_00_generate.py
  cpp/src/neighbors/detail/ivf_pq_compute_similarity_float_float.cu
  cpp/src/neighbors/detail/ivf_pq_compute_similarity_float_fp8_false.cu
  cpp/src/neighbors/detail/ivf_pq_compute_similarity_float_fp8_true.cu
  cpp/src/neighbors/detail/ivf_pq_compute_similarity_float_half.cu
  cpp/src/neighbors/detail/ivf_pq_compute_similarity_half_fp8_false.cu
  cpp/src/neighbors/detail/ivf_pq_compute_similarity_half_fp8_true.cu
  cpp/src/neighbors/detail/ivf_pq_compute_similarity_half_half.cu
Labels: improvement, non-breaking, cpp

#1574 Unpin `dask` and `distributed` for development and fix `merge_labels` test
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/raft-dask/meta.yaml
  cpp/test/label/merge_labels.cu
  dependencies.yaml
  python/raft-dask/pyproject.toml
Labels: improvement, non-breaking, cpp, python

#1578 use rapids-upload-docs script
  ci/build_docs.sh
  ci/release/update-version.sh
Labels: improvement, non-breaking, ci

#1582 preprocessor syntax fix
  cpp/include/raft/core/math.hpp
Labels: improvement, non-breaking, cpp

#1505 CAGRA pad dataset for 128bit vectorized load
  cpp/include/raft/neighbors/cagra.cuh
  cpp/include/raft/neighbors/cagra_types.hpp
  cpp/include/raft/neighbors/detail/cagra/cagra_build.cuh
  cpp/include/raft/neighbors/detail/cagra/cagra_search.cuh
  cpp/include/raft/neighbors/detail/cagra/cagra_serialize.cuh
  cpp/include/raft/neighbors/detail/cagra/compute_distance.hpp
  cpp/include/raft/neighbors/detail/cagra/search_multi_cta.cuh
  cpp/include/raft/neighbors/detail/cagra/search_multi_kernel.cuh
  cpp/include/raft/neighbors/detail/cagra/search_plan.cuh
  cpp/include/raft/neighbors/detail/cagra/search_single_cta.cuh
  cpp/test/neighbors/ann_cagra.cuh
Labels: improvement, breaking, cpp

#1547 Unpin scikit-build upper bound
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/bench_ann_cuda-118_arch-x86_64.yaml
  dependencies.yaml
  python/pylibraft/pyproject.toml
  python/raft-dask/pyproject.toml
Labels: improvement, non-breaking, python

#1580 Fix raft::bitonic_sort small usage example
  cpp/include/raft/util/bitonic_sort.cuh
Labels: doc, non-breaking, cpp

#1585 This PR adds support to __half and nb_bfloat16 to myAtomicReduce
  cpp/include/raft/util/cuda_utils.cuh
Labels: improvement, non-breaking, cpp

#1584 [IMP] move core CUDA RT macros to cuda_rt_essentials.hpp
  cpp/include/raft/util/cuda_rt_essentials.hpp
  cpp/include/raft/util/cudart_utils.hpp
Labels: 3 - Ready for Review, improvement, non-breaking, cpp

#1587 Assigning Deterministic rank to Dask Workers Based on CUDA_VISIBLE_DEVICES (branch-23.06)
  python/raft-dask/raft_dask/common/comms.py
Labels: bug, non-breaking, python

#1594 Use exceptions instead of `exit(-1)`
  cpp/include/raft/neighbors/detail/cagra/graph_core.cuh
  cpp/include/raft/neighbors/detail/cagra/search_plan.cuh
  cpp/include/raft/neighbors/detail/cagra/topk_for_cagra/topk_core.cuh
Labels: improvement, non-breaking, cpp

#1597 pass correct stream to cutlass kernel launch of L2/cosine pairwise distance kernels
  cpp/include/raft/distance/detail/pairwise_distance_cutlass_base.cuh
Labels: bug, non-breaking, cpp

#1596 Fix the documentation about changing the logging level
  docs/source/developer_guide.md
Labels: doc, non-breaking

#1586 Fix launchconfig y-gridsize too large in epilogue kernel
  cpp/include/raft/distance/detail/kernels/kernel_matrices.cuh
Labels: bug, non-breaking, cpp

#1588 Rename the CAGRA prune function to optimize
  cpp/include/raft/neighbors/cagra.cuh
  cpp/include/raft/neighbors/detail/cagra/graph_core.cuh
Labels: improvement, breaking, cpp

#1591 Add support for row-major slice
  cpp/include/raft/matrix/detail/matrix.cuh
  cpp/include/raft/matrix/matrix.cuh
  cpp/include/raft/matrix/slice.cuh
  cpp/test/matrix/slice.cu
Labels: feature request, non-breaking, cpp

#1552 Add RAFT ANN benchmark for CAGRA
  cpp/bench/ann/CMakeLists.txt
  cpp/bench/ann/conf/bigann-100M.json
  cpp/bench/ann/conf/deep-100M.json
  cpp/bench/ann/conf/sift-128-euclidean.json
  cpp/bench/ann/src/common/benchmark.hpp
  cpp/bench/ann/src/faiss/faiss_benchmark.cu
  cpp/bench/ann/src/raft/raft_benchmark.cu
  cpp/bench/ann/src/raft/raft_cagra.cu
  cpp/bench/ann/src/raft/raft_cagra_wrapper.h
Labels: improvement, non-breaking, cpp, CMake

#1418 Fix for function exposing KNN merge
  cpp/include/raft/neighbors/brute_force-inl.cuh
  cpp/include/raft/neighbors/detail/knn_merge_parts.cuh
  cpp/include/raft/spatial/knn/knn.cuh
Labels: bug, non-breaking, cpp

#1625 Set pool memory resource for raft IVF ANN benchmarks
  cpp/bench/ann/src/raft/raft_ivf_flat_wrapper.h
  cpp/bench/ann/src/raft/raft_ivf_pq_wrapper.h
Labels: improvement, non-breaking, cpp
