Repository rapidsai/raft, pull requests merged in 2023-05, with the labels that each got.

#1478 Enable sccache hits from local builds
  conda/recipes/libraft/meta.yaml
Labels: improvement, non-breaking, ci

#1487 Pin to scikit-build<17.2
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/bench_ann_cuda-118_arch-x86_64.yaml
  dependencies.yaml
  python/pylibraft/pyproject.toml
  python/raft-dask/pyproject.toml
Labels: bug, non-breaking, python

#1477 Build wheels using new single image workflow
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#1488 Update cupy dependency
  conda/environments/all_cuda-118_arch-x86_64.yaml
  dependencies.yaml
  python/pylibraft/pyproject.toml
Labels: improvement, non-breaking, python

#1482 Add missing ext declaration for log detail::format
  cpp/include/raft/core/logger-ext.hpp
  cpp/include/raft/core/logger-inl.hpp
  cpp/test/core/logger.cpp
Labels: bug, non-breaking, cpp

#1484 Remove pool_size() calls from debug printouts
  cpp/include/raft/cluster/detail/kmeans_balanced.cuh
  cpp/include/raft/matrix/detail/select_radix.cuh
  cpp/include/raft/matrix/detail/select_warpsort.cuh
  cpp/include/raft/neighbors/detail/cagra/cagra_build.cuh
  cpp/include/raft/neighbors/detail/ivf_flat_search-inl.cuh
  cpp/include/raft/neighbors/detail/ivf_pq_build.cuh
  cpp/include/raft/neighbors/detail/ivf_pq_search.cuh
  cpp/include/raft/util/memory_pool-inl.hpp
Labels: bug, non-breaking, cpp

#1489 Support CUDA 12.0 for pip wheels
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/release/apply_wheel_modifications.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  dependencies.yaml
  python/pylibraft/pyproject.toml
Labels: improvement, non-breaking, python, ci

#1492 Inline get_cache_idx
  cpp/include/raft/util/cache_util.cuh
Labels: bug, non-breaking, cpp

#1495 Re-use memory pool between benchmark runs
  cpp/bench/prims/common/benchmark.hpp
  cpp/bench/prims/matrix/select_k.cu
  cpp/bench/prims/neighbors/knn.cuh
Labels: improvement, non-breaking, cpp

#1501 Update recipes to GTest version >=1.13.0
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/libraft/conda_build_config.yaml
  cpp/test/linalg/eig.cu
  cpp/test/linalg/svd.cu
  dependencies.yaml
Labels: improvement, non-breaking, cpp

#1499 Un-scale output distances
  cpp/include/raft/neighbors/detail/cagra/cagra_search.cuh
  cpp/include/raft/neighbors/detail/cagra/compute_distance.hpp
  cpp/include/raft/neighbors/detail/cagra/device_common.hpp
  cpp/include/raft/neighbors/detail/cagra/search_multi_cta.cuh
  cpp/include/raft/neighbors/detail/cagra/search_multi_kernel.cuh
  cpp/include/raft/neighbors/detail/cagra/search_single_cta.cuh
  cpp/include/raft/spatial/knn/detail/ann_utils.cuh
  cpp/test/CMakeLists.txt
  cpp/test/neighbors/ann_cagra.cuh
  cpp/test/neighbors/ann_cagra/test_int8_t_uint32_t.cu
  cpp/test/neighbors/ann_cagra/test_uint8_t_uint32_t.cu
Labels: bug, 3 - Ready for Review, non-breaking, cpp, CMake

#1471 CAGRA: Separate graph index sorting functionality from prune function
  cpp/include/raft/neighbors/cagra.cuh
  cpp/include/raft/neighbors/detail/cagra/graph_core.cuh
  cpp/test/neighbors/ann_cagra.cuh
  cpp/test/neighbors/ann_cagra/test_float_uint32_t.cu
  cpp/test/neighbors/ann_cagra/test_int8_t_uint32_t.cu
  cpp/test/neighbors/ann_cagra/test_uint8_t_uint32_t.cu
Labels: improvement, non-breaking, cpp

#1497 Generate dataset of select_k times
  cpp/CMakeLists.txt
  cpp/bench/prims/CMakeLists.txt
  cpp/bench/prims/matrix/main.cpp
  cpp/bench/prims/matrix/select_k.cu
  cpp/include/raft/neighbors/detail/selection_faiss-ext.cuh
  cpp/internal/raft_internal/matrix/select_k.cuh
  cpp/src/neighbors/detail/selection_faiss_00_generate.py
  cpp/src/neighbors/detail/selection_faiss_int64_t_double.cu
  cpp/src/neighbors/detail/selection_faiss_int64_t_half.cu
  cpp/src/neighbors/detail/selection_faiss_uint32_t_double.cu
  cpp/src/neighbors/detail/selection_faiss_uint32_t_half.cu
Labels: improvement, non-breaking, cpp, CMake

#1508 Workaround for cuda 12 issue in cusparse
  cpp/include/raft/spectral/detail/matrix_wrappers.hpp
Labels: bug, non-breaking, cpp

#1498 Remove raft/matrix/matrix.cuh includes
  cpp/include/raft/cluster/detail/kmeans_balanced.cuh
  cpp/include/raft/linalg/detail/eig.cuh
  cpp/include/raft/linalg/detail/lstsq.cuh
  cpp/include/raft/linalg/detail/matrix_vector_op.cuh
  cpp/include/raft/linalg/detail/qr.cuh
  cpp/include/raft/linalg/detail/rsvd.cuh
  cpp/include/raft/linalg/detail/svd.cuh
  cpp/include/raft/linalg/matrix_vector_op.cuh
  cpp/include/raft/matrix/copy.cuh
  cpp/include/raft/matrix/diagonal.cuh
  cpp/include/raft/matrix/init.cuh
  cpp/include/raft/matrix/linewise_op.cuh
  cpp/include/raft/matrix/print.cuh
  cpp/include/raft/matrix/sign_flip.cuh
  cpp/include/raft/matrix/slice.cuh
  cpp/include/raft/matrix/sqrt.cuh
  cpp/include/raft/matrix/triangular.cuh
  cpp/include/raft/neighbors/detail/ivf_pq_build.cuh
  cpp/include/raft/neighbors/refine-inl.cuh
  cpp/include/raft/random/detail/make_regression.cuh
  cpp/include/raft/sparse/neighbors/detail/knn.cuh
  cpp/include/raft/spatial/knn/detail/ball_cover.cuh
  cpp/test/linalg/svd.cu
  cpp/test/matrix/matrix.cu
  cpp/test/neighbors/ann_utils.cuh
Labels: improvement, non-breaking, cpp

#1507 Adding bfknn and ivf-pq python api to docs
  dependencies.yaml
  docs/source/pylibraft_api/neighbors.rst
Labels: doc, non-breaking, ci

#1503 Use rmm allocator in CAGRA prune
  cpp/include/raft/neighbors/detail/cagra/graph_core.cuh
Labels: improvement, non-breaking, cpp

#1453 Fix linalg::map to work with non-power-of-2-sized types again
  cpp/include/raft/linalg/detail/map.cuh
  cpp/test/linalg/map.cu
Labels: improvement, non-breaking, cpp

#1519 Switch back to using primary shared-action-workflows branch
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#1118 Fused L2 1-NN based on cutlass 3xTF32 / DMMA
  cpp/cmake/thirdparty/get_cutlass.cmake
  cpp/include/raft/distance/detail/fused_distance_nn/custom_epilogue_with_broadcast.h
  cpp/include/raft/distance/detail/fused_distance_nn/cutlass_base.cuh
  cpp/include/raft/distance/detail/fused_distance_nn/epilogue.cuh
  cpp/include/raft/distance/detail/fused_distance_nn/epilogue_elementwise.cuh
  cpp/include/raft/distance/detail/fused_distance_nn/gemm.h
  cpp/include/raft/distance/detail/fused_distance_nn/persistent_gemm.h
  cpp/include/raft/distance/detail/fused_distance_nn/predicated_tile_iterator_normvec_smem.h
  cpp/include/raft/distance/detail/fused_distance_nn/predicated_tile_iterator_reduced_vec.h
  cpp/include/raft/distance/detail/fused_l2_nn.cuh
  cpp/include/raft/distance/detail/pairwise_distance_cutlass_base.cuh
  cpp/include/raft/distance/detail/predicated_tile_iterator_normvec.h
  cpp/include/raft/sparse/neighbors/detail/connect_components.cuh
  cpp/include/raft/util/cutlass_utils.cuh
  cpp/test/distance/fused_l2_nn.cu
Labels: improvement, non-breaking, cpp, CMake, python, ci

#1515 ivf-flat: limit the workspace size of the search via batching
  cpp/include/raft/neighbors/detail/ivf_flat_search-inl.cuh
  cpp/test/neighbors/ann_ivf_flat.cuh
Labels: bug, non-breaking, cpp

#1522 [REVIEW] make raft::cache::Cache protected to allow overrides
  cpp/include/raft/util/cache.cuh
Labels: improvement, non-breaking, cpp

#1523 Learn heuristic to pick fastest select_k algorithm
  cpp/bench/prims/matrix/select_k.cu
  cpp/include/raft/matrix/detail/select_k-inl.cuh
  cpp/internal/raft_internal/matrix/select_k.cuh
  cpp/scripts/heuristics/select_k/algorithm_selection.ipynb
  cpp/scripts/heuristics/select_k/generate_heuristic.ipynb
  cpp/scripts/heuristics/select_k/generate_plots.ipynb
  cpp/scripts/heuristics/select_k/select_k_dataset.py
Labels: improvement, non-breaking, cpp

#1463 use `matrix::select_k` in brute_force::knn call
  cpp/CMakeLists.txt
  cpp/include/raft/matrix/detail/select_k-ext.cuh
  cpp/include/raft/neighbors/detail/knn_brute_force.cuh
  cpp/src/matrix/detail/select_k_float_int32.cu
Labels: improvement, non-breaking, cpp, CMake

#1470 Add generic reduction functions and separate reductions/warp_primitives
  cpp/include/raft/random/device/sample.cuh
  cpp/include/raft/util/cuda_utils.cuh
  cpp/include/raft/util/device_loads_stores.cuh
  cpp/include/raft/util/pow2_utils.cuh
  cpp/include/raft/util/reduction.cuh
  cpp/include/raft/util/warp_primitives.cuh
  cpp/test/CMakeLists.txt
  cpp/test/util/reduction.cu
Labels: enhancement, 3 - Ready for Review, improvement, non-breaking, cpp, CMake

#1520 run docs nightly too
  .github/workflows/build.yaml
  ci/build_docs.sh
Labels: improvement, non-breaking, ci

#1525 ivf-flat: fix incorrect recomputed size of the index
  cpp/include/raft/neighbors/ivf_flat_types.hpp
  cpp/test/neighbors/ann_ivf_flat.cuh
Labels: bug, non-breaking, cpp

#1516 Python API for IVF-Flat serialization
  cpp/CMakeLists.txt
  cpp/include/raft/neighbors/detail/ivf_flat_serialize.cuh
  cpp/include/raft_runtime/neighbors/ivf_flat.hpp
  cpp/src/raft_runtime/neighbors/ivf_flat_serialize.cu
  python/pylibraft/pylibraft/neighbors/ivf_flat/__init__.py
  python/pylibraft/pylibraft/neighbors/ivf_flat/cpp/c_ivf_flat.pxd
  python/pylibraft/pylibraft/neighbors/ivf_flat/ivf_flat.pyx
  python/pylibraft/pylibraft/test/test_ivf_flat.py
Labels: improvement, non-breaking, cpp, CMake, python

#1537 Check python brute-force knn inputs
  python/pylibraft/pylibraft/common/device_ndarray.py
  python/pylibraft/pylibraft/neighbors/brute_force.pyx
  python/pylibraft/pylibraft/test/test_brute_force.py
  python/pylibraft/pylibraft/test/test_handle.py
Labels: bug, non-breaking, python

#1513 Introduce sample filtering to IVFPQ index search
  cpp/include/raft/neighbors/detail/ivf_pq_compute_similarity-ext.cuh
  cpp/include/raft/neighbors/detail/ivf_pq_compute_similarity-inl.cuh
  cpp/include/raft/neighbors/detail/ivf_pq_search.cuh
  cpp/include/raft/neighbors/detail/sample_filter.cuh
  cpp/include/raft/neighbors/ivf_pq-ext.cuh
  cpp/include/raft/neighbors/ivf_pq-inl.cuh
  cpp/src/neighbors/detail/ivf_pq_compute_similarity_00_generate.py
  cpp/src/neighbors/detail/ivf_pq_compute_similarity_float_float.cu
  cpp/src/neighbors/detail/ivf_pq_compute_similarity_float_fp8_false.cu
  cpp/src/neighbors/detail/ivf_pq_compute_similarity_float_fp8_true.cu
  cpp/src/neighbors/detail/ivf_pq_compute_similarity_float_half.cu
  cpp/src/neighbors/detail/ivf_pq_compute_similarity_half_fp8_false.cu
  cpp/src/neighbors/detail/ivf_pq_compute_similarity_half_fp8_true.cu
  cpp/src/neighbors/detail/ivf_pq_compute_similarity_half_half.cu
Labels: improvement, non-breaking, cpp

#1539 ivf-pq::search: fix the indexing type of the query-related mdspan arguments
  cpp/bench/prims/neighbors/knn.cuh
  cpp/include/raft/neighbors/detail/cagra/cagra_build.cuh
  cpp/include/raft/neighbors/ivf_pq-ext.cuh
  cpp/include/raft/neighbors/ivf_pq-inl.cuh
  cpp/include/raft/spatial/knn/detail/ann_quantized.cuh
  cpp/src/neighbors/ivfpq_search_float_int64_t.cu
  cpp/src/neighbors/ivfpq_search_int8_t_int64_t.cu
  cpp/src/neighbors/ivfpq_search_uint8_t_int64_t.cu
  cpp/test/neighbors/ann_ivf_pq.cuh
Labels: bug, breaking, cpp

#1540 remove device_resources include from linalg::map
  cpp/include/raft/linalg/detail/map.cuh
  cpp/test/linalg/map.cu
  cpp/test/neighbors/ann_cagra.cuh
Labels: improvement, non-breaking, cpp

#1538 Various updates to the docs for 23.06 release
  cpp/include/raft/core/device_span.hpp
  cpp/include/raft/core/host_mdarray.hpp
  cpp/include/raft/core/host_span.hpp
  cpp/include/raft/core/interruptible.hpp
  cpp/include/raft/core/mdarray.hpp
  cpp/include/raft/core/mdspan.hpp
  cpp/include/raft/core/span.hpp
  cpp/include/raft/linalg/normalize.cuh
  cpp/include/raft/random/rng.cuh
  docs/source/cpp_api/core_interruptible.rst
  docs/source/cpp_api/core_resources.rst
  docs/source/cpp_api/distance_1nn.rst
  docs/source/cpp_api/mdspan_mdarray.rst
  docs/source/cpp_api/mdspan_representation.rst
  docs/source/cpp_api/mdspan_span.rst
  docs/source/cpp_api/neighbors.rst
  docs/source/cpp_api/neighbors_cagra.rst
  docs/source/cpp_api/random_datagen.rst
  docs/source/cpp_api/random_sampling_univariate.rst
Labels: doc, non-breaking, cpp

#1000 [FEA] Add randomized svd from cusolver
  cpp/include/raft/linalg/detail/cusolver_wrappers.hpp
  cpp/include/raft/linalg/detail/rsvd.cuh
  cpp/include/raft/linalg/rsvd.cuh
  cpp/include/raft/linalg/transpose.cuh
  cpp/test/CMakeLists.txt
  cpp/test/linalg/randomized_svd.cu
Labels: feature request, non-breaking, cpp, CMake

#1543 Using raft::resources in rsvd
  cpp/include/raft/linalg/detail/rsvd.cuh
  cpp/include/raft/linalg/rsvd.cuh
  cpp/test/linalg/randomized_svd.cu
Labels: bug, non-breaking, cpp

#1559 Require Numba 0.57.0+
  conda/environments/all_cuda-118_arch-x86_64.yaml
  dependencies.yaml
  python/raft-dask/pyproject.toml
Labels: improvement, non-breaking, python
