Repository rapidsai/raft, pull requests merged in 2023-07, with the labels that each got.

#1630 Fixing ann bench cmake (and docs)
  cpp/bench/ann/CMakeLists.txt
  cpp/bench/ann/src/raft/raft_cagra.cu
  docs/source/cuda_ann_benchmarks.md
Labels: improvement, non-breaking, cpp, CMake

#1502 Sparse Pairwise Distances API Updates
  cpp/include/raft/core/device_coo_matrix.hpp
  cpp/include/raft/core/device_csr_matrix.hpp
  cpp/include/raft/core/host_coo_matrix.hpp
  cpp/include/raft/core/host_csr_matrix.hpp
  cpp/include/raft/distance/detail/kernels/gram_matrix.cuh
  cpp/include/raft/sparse/distance/detail/bin_distance.cuh
  cpp/include/raft/sparse/distance/detail/common.hpp
  cpp/include/raft/sparse/distance/detail/coo_spmv.cuh
  cpp/include/raft/sparse/distance/detail/coo_spmv_strategies/base_strategy.cuh
  cpp/include/raft/sparse/distance/detail/coo_spmv_strategies/coo_mask_row_iterators.cuh
  cpp/include/raft/sparse/distance/detail/ip_distance.cuh
  cpp/include/raft/sparse/distance/detail/l2_distance.cuh
  cpp/include/raft/sparse/distance/detail/lp_distance.cuh
  cpp/include/raft/sparse/distance/distance.cuh
  cpp/include/raft/sparse/neighbors/detail/knn.cuh
  cpp/test/sparse/dist_coo_spmv.cu
  cpp/test/sparse/distance.cu
Labels: improvement, breaking, cpp

#1613 CAGRA max_queries auto configuration
  cpp/include/raft/neighbors/cagra_types.hpp
  cpp/include/raft/neighbors/detail/cagra/cagra_search.cuh
  cpp/test/neighbors/ann_cagra.cuh
Labels: improvement, breaking, cpp

#1626 [WIP] Test CI issues
  python/raft-dask/raft_dask/test/__init__.py
  python/raft-dask/raft_dask/test/test_comms.py
Labels: improvement, non-breaking, python

#1615 Adding sort option to matrix::select_k api
  cpp/include/raft/matrix/detail/select_k-ext.cuh
  cpp/include/raft/matrix/detail/select_k-inl.cuh
  cpp/include/raft/matrix/select_k.cuh
  cpp/include/raft/neighbors/detail/ivf_flat_search-inl.cuh
  cpp/include/raft/neighbors/detail/ivf_pq_search.cuh
  cpp/include/raft/neighbors/detail/knn_brute_force.cuh
  cpp/internal/raft_internal/matrix/select_k.cuh
  cpp/internal/raft_internal/neighbors/naive_knn.cuh
  cpp/internal/raft_internal/neighbors/refine_helper.cuh
  cpp/src/matrix/detail/select_k_double_int64_t.cu
  cpp/src/matrix/detail/select_k_double_uint32_t.cu
  cpp/src/matrix/detail/select_k_float_int32.cu
  cpp/src/matrix/detail/select_k_float_int64_t.cu
  cpp/src/matrix/detail/select_k_float_uint32_t.cu
  cpp/src/matrix/detail/select_k_half_int64_t.cu
  cpp/src/matrix/detail/select_k_half_uint32_t.cu
  cpp/test/matrix/select_k.cu
  cpp/test/neighbors/ann_cagra.cuh
  cpp/test/neighbors/ann_ivf_flat.cuh
  cpp/test/neighbors/ann_ivf_pq.cuh
Labels: improvement, non-breaking, cpp

#1628 Fix cagra multi CTA bug
  cpp/include/raft/neighbors/detail/cagra/search_multi_cta.cuh
  cpp/test/neighbors/ann_cagra.cuh
Labels: bug, non-breaking, cpp

#1637 Drop blank line in `raft-dask/meta.yaml`
  conda/recipes/raft-dask/meta.yaml
Labels: improvement, non-breaking

#1634 Enable conservative memory allocations for RAFT IVF-Flat benchmarks.
  cpp/bench/ann/src/raft/raft_ivf_flat_wrapper.h
Labels: improvement, non-breaking, cpp

#1638 Fix uploading of RAFT nightly packages
  .github/workflows/build.yaml
Labels: bug, non-breaking

#1639 Further removal of uses-setup-env-vars
  .github/workflows/build.yaml
Labels: improvement, non-breaking

#1645 Stop using setup.py in build.sh
  build.sh
Labels: 3 - Ready for Review, improvement, breaking

#1644 IVF-PQ: Add a (faster) direct conversion fp8->half
  cpp/include/raft/neighbors/detail/ivf_pq_fp_8bit.cuh
Labels: 3 - Ready for Review, improvement, non-breaking, cpp

#1652 Revert CUDA 12.0 CI workflows to branch-23.08.
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#1496 Add CAGRA gbench
  cpp/bench/prims/CMakeLists.txt
  cpp/bench/prims/neighbors/cagra_bench.cuh
  cpp/bench/prims/neighbors/knn/cagra_float_uint32_t.cu
Labels: improvement, non-breaking, cpp, CMake, Vector Search

#1650 Cagra template instantiations
  cpp/CMakeLists.txt
  cpp/include/raft/neighbors/detail/cagra/hashmap.hpp
  cpp/include/raft/neighbors/detail/cagra/search_multi_cta.cuh
  cpp/include/raft/neighbors/detail/cagra/search_multi_cta_kernel-ext.cuh
  cpp/include/raft/neighbors/detail/cagra/search_multi_cta_kernel-inl.cuh
  cpp/include/raft/neighbors/detail/cagra/search_multi_cta_kernel.cuh
  cpp/include/raft/neighbors/detail/cagra/search_single_cta.cuh
  cpp/include/raft/neighbors/detail/cagra/search_single_cta_kernel-ext.cuh
  cpp/include/raft/neighbors/detail/cagra/search_single_cta_kernel-inl.cuh
  cpp/include/raft/neighbors/detail/cagra/search_single_cta_kernel.cuh
  cpp/include/raft/neighbors/detail/cagra/topk_by_radix.cuh
  cpp/src/neighbors/detail/cagra/search_multi_cta_00_generate.py
  cpp/src/neighbors/detail/cagra/search_multi_cta_float_uint32_dim1024_t32.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_float_uint32_dim128_t8.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_float_uint32_dim256_t16.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_float_uint32_dim512_t32.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_float_uint64_dim1024_t32.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_float_uint64_dim128_t8.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_float_uint64_dim256_t16.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_float_uint64_dim512_t32.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_int8_uint32_dim1024_t32.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_int8_uint32_dim128_t8.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_int8_uint32_dim256_t16.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_int8_uint32_dim512_t32.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_uint8_uint32_dim1024_t32.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_uint8_uint32_dim128_t8.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_uint8_uint32_dim256_t16.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_uint8_uint32_dim512_t32.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_00_generate.py
  cpp/src/neighbors/detail/cagra/search_single_cta_float_uint32_dim1024_t32.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_float_uint32_dim128_t8.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_float_uint32_dim256_t16.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_float_uint32_dim512_t32.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_float_uint64_dim1024_t32.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_float_uint64_dim128_t8.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_float_uint64_dim256_t16.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_float_uint64_dim512_t32.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_int8_uint32_dim1024_t32.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_int8_uint32_dim128_t8.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_int8_uint32_dim256_t16.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_int8_uint32_dim512_t32.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_uint8_uint32_dim1024_t32.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_uint8_uint32_dim128_t8.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_uint8_uint32_dim256_t16.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_uint8_uint32_dim512_t32.cu
  cpp/test/CMakeLists.txt
  cpp/test/neighbors/ann_cagra/search_kernel_uint64_t.cuh
  cpp/test/neighbors/ann_cagra/test_float_int64_t.cu
Labels: improvement, non-breaking, cpp, CMake, Vector Search

#1654 Hotfix: wrong constant in IVF-PQ fp_8bit2half
  cpp/include/raft/neighbors/detail/ivf_pq_fp_8bit.cuh
Labels: bug, 3 - Ready for Review, non-breaking, cpp

#1656 Add rmm to pylibraft run dependencies, since it is used by Cython.
  conda/recipes/pylibraft/meta.yaml
Labels: bug, non-breaking

#1494 Cagra index construction without copying device mdarrays
  cpp/bench/prims/neighbors/cagra_bench.cuh
  cpp/include/raft/neighbors/cagra.cuh
  cpp/include/raft/neighbors/cagra_types.hpp
  cpp/include/raft/neighbors/detail/cagra/cagra_serialize.cuh
  cpp/include/raft/neighbors/detail/cagra/search_plan.cuh
  cpp/test/neighbors/ann_cagra.cuh
Labels: improvement, breaking, cpp, Vector Search

#1657 ANN-benchmarks: avoid using the dataset during search when possible
  cpp/bench/ann/src/common/conf.cpp
  cpp/bench/ann/src/common/dataset.h
  cpp/bench/ann/src/raft/raft_ivf_pq_wrapper.h
Labels: 3 - Ready for Review, improvement, non-breaking, cpp

#1659 Fix CMake CUDA support for pylibraft when raft is found.
  python/pylibraft/CMakeLists.txt
Labels: improvement, non-breaking

#1658 Cagra ANN benchmark improvements
  cpp/bench/ann/src/raft/raft_benchmark.cu
  cpp/bench/ann/src/raft/raft_cagra_wrapper.h
  cpp/include/raft/neighbors/detail/cagra/cagra_build.cuh
  cpp/include/raft/spatial/knn/detail/ann_utils.cuh
Labels: improvement, non-breaking, cpp, Vector Search

#1546 Migrate wheel workflow scripts locally
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/build_wheel.sh
  ci/build_wheel_pylibraft.sh
  ci/build_wheel_raft_dask.sh
  ci/test_wheel_pylibraft.sh
  ci/test_wheel_raft_dask.sh
Labels: improvement, non-breaking, ci

#1623 Use rapids-cmake new parallel testing feature
  ci/test_cpp.sh
  cpp/test/CMakeLists.txt
  cpp/test/distance/gram.cu
  cpp/test/matrix/select_k.cu
  cpp/test/matrix/select_k.cuh
  cpp/test/matrix/select_large_k.cu
  cpp/test/neighbors/selection.cu
  cpp/test/random/rng_discrete.cu
  cpp/test/sparse/gram.cu
  cpp/test/util/device_atomics.cu
  dependencies.yaml
Labels: feature request, non-breaking, cpp, CMake, ci

#1649 Modify comm_split to avoid ucp
  cpp/include/raft/comms/detail/std_comms.hpp
Labels: 3 - Ready for Review, improvement, non-breaking, cpp

#1445 [FEA] Masked NN for connect_components
  cpp/include/raft/cluster/detail/mst.cuh
  cpp/include/raft/cluster/detail/single_linkage.cuh
  cpp/include/raft/matrix/detail/gather.cuh
  cpp/include/raft/matrix/detail/gather_inplace.cuh
  cpp/include/raft/matrix/detail/scatter_inplace.cuh
  cpp/include/raft/matrix/gather.cuh
  cpp/include/raft/matrix/scatter.cuh
  cpp/include/raft/sparse/neighbors/cross_component_nn.cuh
  cpp/include/raft/sparse/neighbors/detail/cross_component_nn.cuh
  cpp/include/raft/sparse/neighbors/detail/knn_graph.cuh
  cpp/include/raft/sparse/selection/cross_component_nn.cuh
  cpp/test/CMakeLists.txt
  cpp/test/cluster/linkage.cu
  cpp/test/matrix/gather.cu
  cpp/test/matrix/scatter.cu
  cpp/test/sparse/neighbors/connect_components.cu
  cpp/test/sparse/neighbors/cross_component_nn.cu
Labels: feature request, breaking, cpp, CMake

#1642 Simplify `bench/ann` scripts to Python based module
  conda/environments/bench_ann_cuda-118_arch-x86_64.yaml
  cpp/bench/ann/conf/glove-100-inner.json
  cpp/bench/ann/src/raft/raft_cagra_wrapper.h
  cpp/bench/ann/src/raft/raft_ivf_flat_wrapper.h
  cpp/bench/ann/src/raft/raft_ivf_pq_wrapper.h
  dependencies.yaml
  docs/source/ann_benchmarks_build.md
  docs/source/ann_benchmarks_dataset.md
  docs/source/ann_benchmarks_low_level.md
  docs/source/cuda_ann_benchmarks.md
  docs/source/index.rst
  docs/source/raft_ann_benchmarks.md
  scripts/ann-benchmarks/algos.yaml
  scripts/ann-benchmarks/data_export.py
  scripts/ann-benchmarks/get_dataset.py
  scripts/ann-benchmarks/plot.py
  scripts/ann-benchmarks/run.py
  thirdparty/LICENSES/LICENSE.ann-benchmark
Labels: improvement, non-breaking, cpp

#1640 Fix sparse KNN for large batches
  cpp/bench/ann/src/faiss/faiss_benchmark.cu
  cpp/include/raft/sparse/detail/utils.h
  cpp/include/raft/sparse/distance/detail/coo_spmv.cuh
  cpp/include/raft/sparse/distance/detail/lp_distance.cuh
  cpp/include/raft/sparse/neighbors/detail/knn.cuh
Labels: bug, 3 - Ready for Review, non-breaking, cpp

#1674 Forward-merge branch-23.08 to branch-23.10
  cpp/bench/ann/src/faiss/faiss_benchmark.cu
  cpp/include/raft/sparse/detail/utils.h
  cpp/include/raft/sparse/distance/detail/coo_spmv.cuh
  cpp/include/raft/sparse/distance/detail/lp_distance.cuh
  cpp/include/raft/sparse/neighbors/detail/knn.cuh
Labels: cpp

#1356 Limiting workspace memory resource
  cpp/include/raft/core/device_container_policy.hpp
  cpp/include/raft/core/device_mdarray.hpp
  cpp/include/raft/core/device_resources.hpp
  cpp/include/raft/core/handle.hpp
  cpp/include/raft/core/resource/detail/device_memory_resource.hpp
  cpp/include/raft/core/resource/device_memory_resource.hpp
  cpp/include/raft/core/resources.hpp
  cpp/include/raft/neighbors/detail/ivf_flat_serialize.cuh
  cpp/include/raft/neighbors/detail/ivf_pq_build.cuh
  cpp/include/raft/neighbors/detail/ivf_pq_search.cuh
  cpp/include/raft/neighbors/detail/ivf_pq_serialize.cuh
  cpp/include/raft/neighbors/ivf_pq-ext.cuh
  cpp/include/raft/neighbors/ivf_pq-inl.cuh
  cpp/test/core/handle.cpp
  cpp/test/util/device_atomics.cu
Labels: 3 - Ready for Review, feature request, breaking, cpp

#1679 ANN benchmarks python wrapper for splitting billion-scale dataset groundtruth
  docs/source/raft_ann_benchmarks.md
  scripts/ann-benchmarks/data_export.py
  scripts/ann-benchmarks/get_dataset.py
  scripts/ann-benchmarks/run.py
  scripts/ann-benchmarks/split_groundtruth.py
Labels: improvement, non-breaking

#1664 Separate CAGRA index type from internal idx type
  cpp/bench/ann/src/raft/raft_cagra_wrapper.h
  cpp/bench/prims/neighbors/cagra_bench.cuh
  cpp/include/raft/neighbors/cagra.cuh
  cpp/include/raft/neighbors/cagra_types.hpp
  cpp/include/raft/neighbors/detail/cagra/cagra_build.cuh
  cpp/include/raft/neighbors/detail/cagra/cagra_search.cuh
  cpp/include/raft/neighbors/detail/cagra/cagra_serialize.cuh
  cpp/include/raft/neighbors/detail/cagra/graph_core.cuh
  cpp/include/raft/neighbors/detail/cagra/search_multi_cta.cuh
  cpp/include/raft/neighbors/detail/cagra/search_multi_cta_kernel-ext.cuh
  cpp/include/raft/neighbors/detail/cagra/search_multi_cta_kernel-inl.cuh
  cpp/include/raft/neighbors/detail/cagra/search_multi_kernel.cuh
  cpp/include/raft/neighbors/detail/cagra/search_plan.cuh
  cpp/include/raft/neighbors/detail/cagra/search_single_cta.cuh
  cpp/include/raft/neighbors/detail/cagra/search_single_cta_kernel-ext.cuh
  cpp/include/raft/neighbors/detail/cagra/search_single_cta_kernel-inl.cuh
  cpp/src/neighbors/detail/cagra/search_multi_cta_00_generate.py
  cpp/src/neighbors/detail/cagra/search_multi_cta_float_uint32_dim1024_t32.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_float_uint32_dim128_t8.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_float_uint32_dim256_t16.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_float_uint32_dim512_t32.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_float_uint64_dim1024_t32.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_float_uint64_dim128_t8.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_float_uint64_dim256_t16.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_float_uint64_dim512_t32.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_int8_uint32_dim1024_t32.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_int8_uint32_dim128_t8.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_int8_uint32_dim256_t16.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_int8_uint32_dim512_t32.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_uint8_uint32_dim1024_t32.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_uint8_uint32_dim128_t8.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_uint8_uint32_dim256_t16.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_uint8_uint32_dim512_t32.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_00_generate.py
  cpp/src/neighbors/detail/cagra/search_single_cta_float_uint32_dim1024_t32.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_float_uint32_dim128_t8.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_float_uint32_dim256_t16.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_float_uint32_dim512_t32.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_float_uint64_dim1024_t32.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_float_uint64_dim128_t8.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_float_uint64_dim256_t16.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_float_uint64_dim512_t32.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_int8_uint32_dim1024_t32.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_int8_uint32_dim128_t8.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_int8_uint32_dim256_t16.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_int8_uint32_dim512_t32.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_uint8_uint32_dim1024_t32.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_uint8_uint32_dim128_t8.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_uint8_uint32_dim256_t16.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_uint8_uint32_dim512_t32.cu
  cpp/test/neighbors/ann_cagra.cuh
  cpp/test/neighbors/ann_cagra/search_kernel_uint64_t.cuh
Labels: bug, breaking, cpp, Vector Search

#1683 Forward-merge branch-23.08 to branch-23.10
  cpp/bench/ann/src/raft/raft_cagra_wrapper.h
  cpp/bench/prims/neighbors/cagra_bench.cuh
  cpp/include/raft/neighbors/cagra.cuh
  cpp/include/raft/neighbors/cagra_types.hpp
  cpp/include/raft/neighbors/detail/cagra/cagra_build.cuh
  cpp/include/raft/neighbors/detail/cagra/cagra_search.cuh
  cpp/include/raft/neighbors/detail/cagra/cagra_serialize.cuh
  cpp/include/raft/neighbors/detail/cagra/graph_core.cuh
  cpp/include/raft/neighbors/detail/cagra/search_multi_cta.cuh
  cpp/include/raft/neighbors/detail/cagra/search_multi_cta_kernel-ext.cuh
  cpp/include/raft/neighbors/detail/cagra/search_multi_cta_kernel-inl.cuh
  cpp/include/raft/neighbors/detail/cagra/search_multi_kernel.cuh
  cpp/include/raft/neighbors/detail/cagra/search_plan.cuh
  cpp/include/raft/neighbors/detail/cagra/search_single_cta.cuh
  cpp/include/raft/neighbors/detail/cagra/search_single_cta_kernel-ext.cuh
  cpp/include/raft/neighbors/detail/cagra/search_single_cta_kernel-inl.cuh
  cpp/src/neighbors/detail/cagra/search_multi_cta_00_generate.py
  cpp/src/neighbors/detail/cagra/search_multi_cta_float_uint32_dim1024_t32.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_float_uint32_dim128_t8.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_float_uint32_dim256_t16.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_float_uint32_dim512_t32.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_float_uint64_dim1024_t32.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_float_uint64_dim128_t8.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_float_uint64_dim256_t16.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_float_uint64_dim512_t32.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_int8_uint32_dim1024_t32.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_int8_uint32_dim128_t8.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_int8_uint32_dim256_t16.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_int8_uint32_dim512_t32.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_uint8_uint32_dim1024_t32.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_uint8_uint32_dim128_t8.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_uint8_uint32_dim256_t16.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_uint8_uint32_dim512_t32.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_00_generate.py
  cpp/src/neighbors/detail/cagra/search_single_cta_float_uint32_dim1024_t32.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_float_uint32_dim128_t8.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_float_uint32_dim256_t16.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_float_uint32_dim512_t32.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_float_uint64_dim1024_t32.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_float_uint64_dim128_t8.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_float_uint64_dim256_t16.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_float_uint64_dim512_t32.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_int8_uint32_dim1024_t32.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_int8_uint32_dim128_t8.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_int8_uint32_dim256_t16.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_int8_uint32_dim512_t32.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_uint8_uint32_dim1024_t32.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_uint8_uint32_dim128_t8.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_uint8_uint32_dim256_t16.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_uint8_uint32_dim512_t32.cu
  cpp/test/neighbors/ann_cagra.cuh
  cpp/test/neighbors/ann_cagra/search_kernel_uint64_t.cuh
Labels: cpp

#1685 IVF-PQ: Fix illegal memory access with large max_samples
  cpp/include/raft/neighbors/detail/ivf_pq_compute_similarity-ext.cuh
  cpp/include/raft/neighbors/detail/ivf_pq_compute_similarity-inl.cuh
  cpp/include/raft/neighbors/detail/ivf_pq_search.cuh
  cpp/src/neighbors/detail/ivf_pq_compute_similarity_00_generate.py
  cpp/src/neighbors/detail/ivf_pq_compute_similarity_float_float.cu
  cpp/src/neighbors/detail/ivf_pq_compute_similarity_float_fp8_false.cu
  cpp/src/neighbors/detail/ivf_pq_compute_similarity_float_fp8_true.cu
  cpp/src/neighbors/detail/ivf_pq_compute_similarity_float_half.cu
  cpp/src/neighbors/detail/ivf_pq_compute_similarity_half_fp8_false.cu
  cpp/src/neighbors/detail/ivf_pq_compute_similarity_half_fp8_true.cu
  cpp/src/neighbors/detail/ivf_pq_compute_similarity_half_half.cu
Labels: bug, 3 - Ready for Review, non-breaking, cpp

#1676 Rename CAGRA parameter num_parents to search_width
  cpp/bench/ann/src/raft/raft_benchmark.cu
  cpp/bench/prims/neighbors/cagra_bench.cuh
  cpp/include/raft/neighbors/cagra_types.hpp
  cpp/include/raft/neighbors/detail/cagra/compute_distance.hpp
  cpp/include/raft/neighbors/detail/cagra/search_multi_cta.cuh
  cpp/include/raft/neighbors/detail/cagra/search_multi_cta_kernel-ext.cuh
  cpp/include/raft/neighbors/detail/cagra/search_multi_cta_kernel-inl.cuh
  cpp/include/raft/neighbors/detail/cagra/search_multi_kernel.cuh
  cpp/include/raft/neighbors/detail/cagra/search_plan.cuh
  cpp/include/raft/neighbors/detail/cagra/search_single_cta.cuh
  cpp/include/raft/neighbors/detail/cagra/search_single_cta_kernel-ext.cuh
  cpp/include/raft/neighbors/detail/cagra/search_single_cta_kernel-inl.cuh
  cpp/src/neighbors/detail/cagra/search_multi_cta_00_generate.py
  cpp/src/neighbors/detail/cagra/search_multi_cta_float_uint32_dim1024_t32.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_float_uint32_dim128_t8.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_float_uint32_dim256_t16.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_float_uint32_dim512_t32.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_float_uint64_dim1024_t32.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_float_uint64_dim128_t8.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_float_uint64_dim256_t16.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_float_uint64_dim512_t32.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_int8_uint32_dim1024_t32.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_int8_uint32_dim128_t8.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_int8_uint32_dim256_t16.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_int8_uint32_dim512_t32.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_uint8_uint32_dim1024_t32.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_uint8_uint32_dim128_t8.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_uint8_uint32_dim256_t16.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_uint8_uint32_dim512_t32.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_00_generate.py
  cpp/src/neighbors/detail/cagra/search_single_cta_float_uint32_dim1024_t32.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_float_uint32_dim128_t8.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_float_uint32_dim256_t16.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_float_uint32_dim512_t32.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_float_uint64_dim1024_t32.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_float_uint64_dim128_t8.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_float_uint64_dim256_t16.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_float_uint64_dim512_t32.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_int8_uint32_dim1024_t32.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_int8_uint32_dim128_t8.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_int8_uint32_dim256_t16.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_int8_uint32_dim512_t32.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_uint8_uint32_dim1024_t32.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_uint8_uint32_dim128_t8.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_uint8_uint32_dim256_t16.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_uint8_uint32_dim512_t32.cu
  cpp/test/neighbors/ann_cagra.cuh
  cpp/test/neighbors/ann_cagra/search_kernel_uint64_t.cuh
Labels: improvement, non-breaking, cpp

#1689 Forward-merge branch-23.08 to branch-23.10
  cpp/bench/ann/src/raft/raft_benchmark.cu
  cpp/bench/prims/neighbors/cagra_bench.cuh
  cpp/include/raft/neighbors/cagra_types.hpp
  cpp/include/raft/neighbors/detail/cagra/compute_distance.hpp
  cpp/include/raft/neighbors/detail/cagra/search_multi_cta.cuh
  cpp/include/raft/neighbors/detail/cagra/search_multi_cta_kernel-ext.cuh
  cpp/include/raft/neighbors/detail/cagra/search_multi_cta_kernel-inl.cuh
  cpp/include/raft/neighbors/detail/cagra/search_multi_kernel.cuh
  cpp/include/raft/neighbors/detail/cagra/search_plan.cuh
  cpp/include/raft/neighbors/detail/cagra/search_single_cta.cuh
  cpp/include/raft/neighbors/detail/cagra/search_single_cta_kernel-ext.cuh
  cpp/include/raft/neighbors/detail/cagra/search_single_cta_kernel-inl.cuh
  cpp/src/neighbors/detail/cagra/search_multi_cta_00_generate.py
  cpp/src/neighbors/detail/cagra/search_multi_cta_float_uint32_dim1024_t32.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_float_uint32_dim128_t8.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_float_uint32_dim256_t16.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_float_uint32_dim512_t32.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_float_uint64_dim1024_t32.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_float_uint64_dim128_t8.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_float_uint64_dim256_t16.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_float_uint64_dim512_t32.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_int8_uint32_dim1024_t32.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_int8_uint32_dim128_t8.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_int8_uint32_dim256_t16.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_int8_uint32_dim512_t32.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_uint8_uint32_dim1024_t32.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_uint8_uint32_dim128_t8.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_uint8_uint32_dim256_t16.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_uint8_uint32_dim512_t32.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_00_generate.py
  cpp/src/neighbors/detail/cagra/search_single_cta_float_uint32_dim1024_t32.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_float_uint32_dim128_t8.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_float_uint32_dim256_t16.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_float_uint32_dim512_t32.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_float_uint64_dim1024_t32.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_float_uint64_dim128_t8.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_float_uint64_dim256_t16.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_float_uint64_dim512_t32.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_int8_uint32_dim1024_t32.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_int8_uint32_dim128_t8.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_int8_uint32_dim256_t16.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_int8_uint32_dim512_t32.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_uint8_uint32_dim1024_t32.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_uint8_uint32_dim128_t8.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_uint8_uint32_dim256_t16.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_uint8_uint32_dim512_t32.cu
  cpp/test/neighbors/ann_cagra.cuh
  cpp/test/neighbors/ann_cagra/search_kernel_uint64_t.cuh
Labels: cpp

#1687 Add algo parameter for CAGRA ANN bench
  cpp/bench/ann/conf/deep-100M.json
  cpp/bench/ann/src/raft/raft_benchmark.cu
Labels: improvement, non-breaking, cpp, Vector Search

#1682 Fix missing parameter for select_k
  cpp/include/raft/matrix/detail/select_k-inl.cuh
Labels: bug, non-breaking, cpp

#1693 Remove push condition on docs-build
  .github/workflows/build.yaml
Labels: bug, non-breaking

#1544 IVF-PQ tutorial notebook
  README.md
  notebooks/tutorial_ivf_pq.ipynb
Labels: 3 - Ready for Review, feature request, non-breaking, Vector Search
