Repository rapidsai/raft, pull requests merged in 2023-04, with the labels that each got.

#1399 [REVIEW] Pin `dask` and `distributed` for release
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/raft-dask/meta.yaml
  dependencies.yaml
  python/raft-dask/pyproject.toml
Labels: improvement, breaking, python

#1375 CAGRA
  cpp/include/raft/neighbors/cagra.cuh
  cpp/include/raft/neighbors/cagra_serialize.cuh
  cpp/include/raft/neighbors/cagra_types.hpp
  cpp/include/raft/neighbors/detail/cagra/bitonic.hpp
  cpp/include/raft/neighbors/detail/cagra/cagra_build.cuh
  cpp/include/raft/neighbors/detail/cagra/cagra_search.cuh
  cpp/include/raft/neighbors/detail/cagra/cagra_serialize.cuh
  cpp/include/raft/neighbors/detail/cagra/compute_distance.hpp
  cpp/include/raft/neighbors/detail/cagra/device_common.hpp
  cpp/include/raft/neighbors/detail/cagra/factory.cuh
  cpp/include/raft/neighbors/detail/cagra/fragment.hpp
  cpp/include/raft/neighbors/detail/cagra/graph_core.cuh
  cpp/include/raft/neighbors/detail/cagra/hashmap.hpp
  cpp/include/raft/neighbors/detail/cagra/search_multi_cta.cuh
  cpp/include/raft/neighbors/detail/cagra/search_multi_kernel.cuh
  cpp/include/raft/neighbors/detail/cagra/search_plan.cuh
  cpp/include/raft/neighbors/detail/cagra/search_single_cta.cuh
  cpp/include/raft/neighbors/detail/cagra/topk_for_cagra/topk.h
  cpp/include/raft/neighbors/detail/cagra/topk_for_cagra/topk_core.cuh
  cpp/include/raft/neighbors/detail/cagra/utils.hpp
  cpp/include/raft/util/cache_util.cuh
  cpp/test/CMakeLists.txt
  cpp/test/neighbors/ann_cagra.cuh
  cpp/test/neighbors/ann_cagra/test_float_uint32_t.cu
  cpp/test/neighbors/ann_utils.cuh
Labels: improvement, non-breaking, cpp, CMake

#1403 Resolve conflicts in auto-merger of `branch-23.06` and `branch-23.04`
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/raft-dask/meta.yaml
  cpp/include/raft/neighbors/cagra.cuh
  cpp/include/raft/neighbors/cagra_serialize.cuh
  cpp/include/raft/neighbors/cagra_types.hpp
  cpp/include/raft/neighbors/detail/cagra/bitonic.hpp
  cpp/include/raft/neighbors/detail/cagra/cagra_build.cuh
  cpp/include/raft/neighbors/detail/cagra/cagra_search.cuh
  cpp/include/raft/neighbors/detail/cagra/cagra_serialize.cuh
  cpp/include/raft/neighbors/detail/cagra/compute_distance.hpp
  cpp/include/raft/neighbors/detail/cagra/device_common.hpp
  cpp/include/raft/neighbors/detail/cagra/factory.cuh
  cpp/include/raft/neighbors/detail/cagra/fragment.hpp
  cpp/include/raft/neighbors/detail/cagra/graph_core.cuh
  cpp/include/raft/neighbors/detail/cagra/hashmap.hpp
  cpp/include/raft/neighbors/detail/cagra/search_multi_cta.cuh
  cpp/include/raft/neighbors/detail/cagra/search_multi_kernel.cuh
  cpp/include/raft/neighbors/detail/cagra/search_plan.cuh
  cpp/include/raft/neighbors/detail/cagra/search_single_cta.cuh
  cpp/include/raft/neighbors/detail/cagra/topk_for_cagra/topk.h
  cpp/include/raft/neighbors/detail/cagra/topk_for_cagra/topk_core.cuh
  cpp/include/raft/neighbors/detail/cagra/utils.hpp
  cpp/include/raft/util/cache_util.cuh
  cpp/test/CMakeLists.txt
  cpp/test/neighbors/ann_cagra.cuh
  cpp/test/neighbors/ann_cagra/test_float_uint32_t.cu
  cpp/test/neighbors/ann_utils.cuh
  dependencies.yaml
  python/raft-dask/pyproject.toml
Labels: improvement, non-breaking, cpp, CMake, python

#1400 Forward-merge branch-23.04 to branch-23.06
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/raft-dask/meta.yaml
  cpp/include/raft/neighbors/cagra.cuh
  cpp/include/raft/neighbors/cagra_serialize.cuh
  cpp/include/raft/neighbors/cagra_types.hpp
  cpp/include/raft/neighbors/detail/cagra/bitonic.hpp
  cpp/include/raft/neighbors/detail/cagra/cagra_build.cuh
  cpp/include/raft/neighbors/detail/cagra/cagra_search.cuh
  cpp/include/raft/neighbors/detail/cagra/cagra_serialize.cuh
  cpp/include/raft/neighbors/detail/cagra/compute_distance.hpp
  cpp/include/raft/neighbors/detail/cagra/device_common.hpp
  cpp/include/raft/neighbors/detail/cagra/factory.cuh
  cpp/include/raft/neighbors/detail/cagra/fragment.hpp
  cpp/include/raft/neighbors/detail/cagra/graph_core.cuh
  cpp/include/raft/neighbors/detail/cagra/hashmap.hpp
  cpp/include/raft/neighbors/detail/cagra/search_multi_cta.cuh
  cpp/include/raft/neighbors/detail/cagra/search_multi_kernel.cuh
  cpp/include/raft/neighbors/detail/cagra/search_plan.cuh
  cpp/include/raft/neighbors/detail/cagra/search_single_cta.cuh
  cpp/include/raft/neighbors/detail/cagra/topk_for_cagra/topk.h
  cpp/include/raft/neighbors/detail/cagra/topk_for_cagra/topk_core.cuh
  cpp/include/raft/neighbors/detail/cagra/utils.hpp
  cpp/include/raft/util/cache_util.cuh
  cpp/test/CMakeLists.txt
  cpp/test/neighbors/ann_cagra.cuh
  cpp/test/neighbors/ann_cagra/test_float_uint32_t.cu
  cpp/test/neighbors/ann_utils.cuh
  dependencies.yaml
  python/raft-dask/pyproject.toml
Labels: cpp, CMake, python

#1401 Have consistent compile lines between BUILD_TESTS enabled or not
  cpp/CMakeLists.txt
Labels: bug, 3 - Ready for Review, non-breaking, cpp, CMake

#1406 Remove uses-setup-env-vars
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#1414 Generate build metrics report for test and benchmarks
  build.sh
  conda/recipes/libraft/build_libraft.sh
  conda/recipes/libraft/build_libraft_nn_bench.sh
  conda/recipes/libraft/build_libraft_tests.sh
Labels: improvement, non-breaking

#1384 Fix IVF-PQ API to use `device_vector_view`
  cpp/include/raft/neighbors/ivf_flat.cuh
  cpp/include/raft/neighbors/ivf_pq.cuh
  cpp/include/raft/neighbors/specializations/ivf_pq.cuh
  cpp/include/raft_runtime/neighbors/ivf_pq.hpp
  cpp/src/neighbors/ivfpq_build.cu
  cpp/src/neighbors/specializations/ivfpq_extend_float_int64_t.cu
  cpp/src/neighbors/specializations/ivfpq_extend_int8_t_int64_t.cu
  cpp/src/neighbors/specializations/ivfpq_extend_uint8_t_int64_t.cu
  cpp/test/neighbors/ann_ivf_pq.cuh
  python/pylibraft/pylibraft/neighbors/ivf_flat/ivf_flat.pyx
  python/pylibraft/pylibraft/neighbors/ivf_pq/cpp/c_ivf_pq.pxd
  python/pylibraft/pylibraft/neighbors/ivf_pq/ivf_pq.pyx
Labels: improvement, non-breaking, cpp, python

#1386 Adding base header-only conda package without cuda math libs
  build.sh
  conda/recipes/libraft/meta.yaml
  cpp/CMakeLists.txt
  cpp/bench/ann/CMakeLists.txt
  cpp/include/raft/linalg/detail/cublas_wrappers.hpp
  cpp/include/raft/spectral/detail/modularity_maximization.hpp
  cpp/test/CMakeLists.txt
  docs/source/build.md
Labels: improvement, non-breaking, cpp, CMake, python

#1410 Use ARC V2 self-hosted runners for GPU jobs
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#1419 Fix is_min_close
  cpp/include/raft/distance/distance_types.hpp
  cpp/include/raft/sparse/neighbors/detail/knn.cuh
Labels: bug, non-breaking, cpp

#1298 IVF-PQ: manipulating individual lists
  cpp/include/raft/neighbors/detail/ivf_pq_build.cuh
  cpp/include/raft/neighbors/detail/ivf_pq_codepacking.cuh
  cpp/include/raft/neighbors/ivf_pq.cuh
  cpp/include/raft/neighbors/ivf_pq_helpers.cuh
  cpp/test/neighbors/ann_ivf_pq.cuh
Labels: 3 - Ready for Review, feature request, non-breaking, cpp

#1422 Add python bindings for matrix::select_k
  cpp/CMakeLists.txt
  cpp/include/raft/matrix/select_k.cuh
  cpp/include/raft_runtime/matrix/select_k.hpp
  cpp/internal/raft_internal/matrix/select_k.cuh
  cpp/src/matrix/select_k_float_int64_t.cu
  python/pylibraft/CMakeLists.txt
  python/pylibraft/pylibraft/matrix/CMakeLists.txt
  python/pylibraft/pylibraft/matrix/__init__.pxd
  python/pylibraft/pylibraft/matrix/__init__.py
  python/pylibraft/pylibraft/matrix/cpp/__init__.pxd
  python/pylibraft/pylibraft/matrix/cpp/__init__.py
  python/pylibraft/pylibraft/matrix/cpp/select_k.pxd
  python/pylibraft/pylibraft/matrix/select_k.pyx
  python/pylibraft/pylibraft/neighbors/brute_force.pyx
  python/pylibraft/pylibraft/test/test_brute_force.py
  python/pylibraft/pylibraft/test/test_doctests.py
  python/pylibraft/pylibraft/test/test_select_k.py
Labels: improvement, non-breaking, cpp, CMake, python

#1427 Fix dim param for IVF-PQ wrapper in ANN bench
  cpp/bench/ann/src/raft/raft_ivf_pq_wrapper.h
Labels: bug, non-breaking, cpp

#1424 Remove wheel pytest verbosity
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#1429 Removing cuda stream view include from mdarray
  cpp/include/raft/core/mdarray.hpp
Labels: bug, non-breaking, cpp

#1431 Use nvtx3 includes.
  cpp/bench/ann/src/common/benchmark.hpp
  cpp/include/raft/core/detail/nvtx.hpp
Labels: improvement, non-breaking, cpp

#1426 Remove MetricProcessor code from brute_force::knn
  cpp/include/raft/neighbors/detail/knn_brute_force.cuh
  python/pylibraft/pylibraft/test/test_brute_force.py
Labels: bug, non-breaking, cpp, python

#1432 Minor Updates to Sparse Structures
  cpp/include/raft/core/coo_matrix.hpp
  cpp/include/raft/core/csr_matrix.hpp
  cpp/include/raft/core/device_coo_matrix.hpp
  cpp/include/raft/core/device_csr_matrix.hpp
  cpp/include/raft/core/host_coo_matrix.hpp
  cpp/include/raft/core/host_csr_matrix.hpp
  cpp/include/raft/core/sparse_types.hpp
Labels: improvement, non-breaking, cpp

#1433 Add missing resource factory virtual destructor
  cpp/include/raft/core/resource/resource_types.hpp
Labels: bug, non-breaking, FAISS

#1436 Remove usage of rapids-get-rapids-version-from-git
  ci/build_docs.sh
  ci/release/update-version.sh
Labels: improvement, non-breaking, ci

#1442 The glog project root CMakeLists.txt is where we should build from
  cpp/cmake/thirdparty/get_glog.cmake
Labels: bug, 3 - Ready for Review, non-breaking, cpp, CMake

#1456 fix ivf_pq n_probes
  cpp/include/raft/neighbors/detail/ivf_pq_search.cuh
Labels: bug, non-breaking, cpp

#1454 Dropping Python 3.8
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  dependencies.yaml
  pyproject.toml
  python/pylibraft/pyproject.toml
  python/raft-dask/pyproject.toml
Labels: improvement, breaking, python

#1462 Use pin_compatible to ensure that lower CTKs can be used
  conda/recipes/libraft/meta.yaml
  cpp/include/raft/distance/detail/kernels/gram_matrix.cuh
Labels: bug, 3 - Ready for Review, non-breaking, cpp

#1452 [ENH] Enable building with clang (limit strict error checking to GCC)
  cpp/cmake/modules/ConfigureCUDA.cmake
Labels: 3 - Ready for Review, improvement, non-breaking, cpp, CMake

#1467 Remove include statements from inside namespace
  cpp/include/raft/core/detail/nvtx.hpp
Labels: bug, 3 - Ready for Review, non-breaking, cpp

#1444 Add RAPIDS cuDF as a library that supports cuda_array_interface
  README.md
Labels: doc, non-breaking

#1475 Revert shared-action-workflows pin
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking
