Repository rapidsai/raft, pull requests merged in 2023-12, with the labels that each got.

#1996 Add filtering to vector search tutorial
  docs/source/vector_search_tutorial.md
Labels: 3 - Ready for Review, doc, non-breaking

#2037 Update actions/labeler to v4
  .github/workflows/labeler.yml
Labels: bug, non-breaking

#2030 Make device_resources accessed from device_resources_manager thread-safe
  cpp/include/raft/core/device_resources_manager.hpp
Labels: bug, 5 - Ready to Merge, non-breaking, cpp

#2041 Fixing small bug in raft-ann-bench
  python/raft-ann-bench/src/raft-ann-bench/run/__main__.py
Labels: bug, non-breaking, python

#2040 Remove RAFT_BUILD_WHEELS and standardize Python builds
  ci/build_wheel_pylibraft.sh
  ci/build_wheel_raft_dask.sh
  python/pylibraft/CMakeLists.txt
  python/raft-dask/CMakeLists.txt
Labels: improvement, non-breaking, CMake, python, ci

#2042 Update dependencies.yaml to new pip index
  dependencies.yaml
Labels: improvement, non-breaking

#2036 Add brute_force index serialization
  build.sh
  cpp/include/raft/linalg/norm.cuh
  cpp/include/raft/neighbors/brute_force-ext.cuh
  cpp/include/raft/neighbors/brute_force-inl.cuh
  cpp/include/raft/neighbors/brute_force_serialize.cuh
  cpp/include/raft/neighbors/brute_force_types.hpp
  cpp/src/neighbors/brute_force_knn_index_float.cu
  cpp/test/CMakeLists.txt
  cpp/test/neighbors/ann_brute_force.cuh
  cpp/test/neighbors/ann_brute_force/test_float.cu
Labels: feature request, non-breaking, 4 - Waiting on Reviewer, cpp, CMake

#1994 Add support for 1024+ dim vectors in CAGRA search
  cpp/include/raft/neighbors/detail/cagra/compute_distance.hpp
  cpp/include/raft/neighbors/detail/cagra/factory.cuh
  cpp/include/raft/neighbors/detail/cagra/fragment.hpp
  cpp/include/raft/neighbors/detail/cagra/search_multi_cta.cuh
  cpp/include/raft/neighbors/detail/cagra/search_multi_cta_kernel-inl.cuh
  cpp/include/raft/neighbors/detail/cagra/search_multi_kernel.cuh
  cpp/include/raft/neighbors/detail/cagra/search_plan.cuh
  cpp/include/raft/neighbors/detail/cagra/search_single_cta.cuh
  cpp/include/raft/neighbors/detail/cagra/search_single_cta_kernel-inl.cuh
  cpp/test/neighbors/ann_cagra.cuh
Labels: feature request, non-breaking, cpp, Lantern

#2047 Removing code that explicitly compares equality of rmm memory resources
  cpp/include/raft/cluster/detail/kmeans_balanced.cuh
  cpp/include/raft/core/resource/detail/device_memory_resource.hpp
  cpp/include/raft/matrix/detail/select_k-inl.cuh
  cpp/include/raft/matrix/detail/select_radix.cuh
  cpp/include/raft/matrix/detail/select_warpsort.cuh
  cpp/include/raft/neighbors/detail/cagra/cagra_build.cuh
  cpp/include/raft/neighbors/detail/cagra/cagra_search.cuh
  cpp/include/raft/neighbors/detail/ivf_flat_search-inl.cuh
  cpp/include/raft/neighbors/detail/ivf_pq_build.cuh
  cpp/include/raft/neighbors/detail/ivf_pq_search.cuh
  cpp/internal/raft_internal/neighbors/naive_knn.cuh
Labels: improvement, non-breaking, cpp

#2062 Fix a crash in FAISS benchmark wrapper introduced in #2021
  cpp/bench/ann/src/faiss/faiss_gpu_wrapper.h
Labels: bug, 3 - Ready for Review, non-breaking, cpp

#2051 Switch to scikit-build-core
  build.sh
  ci/build_wheel_pylibraft.sh
  ci/build_wheel_raft_dask.sh
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-aarch64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/environments/bench_ann_cuda-118_arch-aarch64.yaml
  conda/environments/bench_ann_cuda-118_arch-x86_64.yaml
  conda/environments/bench_ann_cuda-120_arch-aarch64.yaml
  conda/environments/bench_ann_cuda-120_arch-x86_64.yaml
  conda/recipes/pylibraft/meta.yaml
  conda/recipes/raft-dask/meta.yaml
  dependencies.yaml
  python/pylibraft/CMakeLists.txt
  python/pylibraft/README.md
  python/pylibraft/pyproject.toml
  python/pylibraft/setup.py
  python/raft-dask/CMakeLists.txt
  python/raft-dask/README.md
  python/raft-dask/pyproject.toml
  python/raft-dask/setup.py
Labels: improvement, breaking, CMake, python, ci

#2061 [BUG] fix empty initialization of device_ndarray in pylibraft
  python/pylibraft/pylibraft/common/device_ndarray.py
Labels: improvement, non-breaking, python

#2049 Update to CCCL 2.2.0.
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_cccl.cmake
Labels: improvement, breaking, cpp, CMake

#2063 Benchmark brute force knn
  cpp/bench/ann/CMakeLists.txt
  cpp/bench/ann/src/faiss/faiss_cpu_benchmark.cpp
  cpp/bench/ann/src/faiss/faiss_gpu_benchmark.cu
  cpp/bench/ann/src/raft/raft_ann_bench_param_parser.h
  cpp/bench/ann/src/raft/raft_benchmark.cu
  cpp/bench/ann/src/raft/raft_wrapper.h
  python/raft-ann-bench/src/raft-ann-bench/run/__main__.py
  python/raft-ann-bench/src/raft-ann-bench/run/conf/algos/faiss_cpu_flat.yaml
  python/raft-ann-bench/src/raft-ann-bench/run/conf/algos/faiss_gpu_flat.yaml
  python/raft-ann-bench/src/raft-ann-bench/run/conf/algos/raft_brute_force.yaml
Labels: improvement, non-breaking, cpp, CMake, python

#2043 Update `raft-ann-bench` output filenames and add features to plotting
  docs/source/raft_ann_benchmarks.md
  python/raft-ann-bench/src/raft-ann-bench/data_export/__main__.py
  python/raft-ann-bench/src/raft-ann-bench/plot/__main__.py
  python/raft-ann-bench/src/raft-ann-bench/run/__main__.py
Labels: feature request, breaking, python
