Repository rapidsai/raft, pull requests merged in 2023-03, with the labels that each got.

#1311 [REVIEW] Fix docs build to be `pydata-sphinx-theme=0.13.0` compatible
  docs/source/conf.py
Labels: improvement, non-breaking

#1309 Update to GCC 11
  ci/docs/build.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/libraft/conda_build_config.yaml
  conda/recipes/pylibraft/conda_build_config.yaml
  conda/recipes/raft-dask/conda_build_config.yaml
  cpp/include/raft/matrix/detail/select_radix.cuh
  dependencies.yaml
  python/pylibraft/pylibraft/__init__.py
  python/pylibraft/setup.cfg
  python/raft-dask/raft_dask/__init__.py
  setup.cfg
Labels: improvement, non-breaking, cpp, python, ci

#1315 Add stream overloads to `ivf_pq` serialize/deserialize methods
  cpp/include/raft/neighbors/detail/ivf_pq_serialize.cuh
  cpp/include/raft/neighbors/ivf_pq.cuh
  cpp/include/raft/neighbors/ivf_pq_serialize.cuh
  cpp/src/distance/neighbors/ivfpq_deserialize.cu
  cpp/src/distance/neighbors/ivfpq_serialize.cu
  cpp/test/neighbors/ann_ivf_pq.cuh
  docs/source/cpp_api/neighbors_ivf_pq.rst
Labels: improvement, non-breaking, cpp

#1313 Temporary buffer to view host or device memory in device
  cpp/include/raft/core/temporary_device_buffer.hpp
  cpp/test/CMakeLists.txt
  cpp/test/core/mdarray.cu
  cpp/test/core/temporary_device_buffer.cu
  docs/source/cpp_api/mdspan.rst
  docs/source/cpp_api/mdspan_temporary_device_buffer.rst
Labels: 5 - Ready to Merge, improvement, non-breaking, cpp, CMake

#1321 Pass `AWS_SESSION_TOKEN` and `SCCACHE_S3_USE_SSL` vars to conda build
  conda/recipes/libraft/meta.yaml
Labels: improvement, non-breaking

#1236 mdspan view for IVF-PQ API
  cpp/bench/neighbors/knn.cuh
  cpp/include/raft/neighbors/ivf_pq.cuh
  cpp/include/raft/spatial/knn/detail/ann_quantized.cuh
  cpp/include/raft_runtime/neighbors/ivf_pq.hpp
  cpp/src/distance/neighbors/ivfpq_build.cu
  cpp/src/distance/neighbors/ivfpq_search_float_uint64_t.cu
  cpp/src/distance/neighbors/ivfpq_search_int8_t_uint64_t.cu
  cpp/src/distance/neighbors/ivfpq_search_uint8_t_uint64_t.cu
  cpp/src/distance/neighbors/specializations/ivfpq_build_float_uint64_t.cu
  cpp/src/distance/neighbors/specializations/ivfpq_build_int8_t_uint64_t.cu
  cpp/src/distance/neighbors/specializations/ivfpq_build_uint8_t_uint64_t.cu
  cpp/src/distance/neighbors/specializations/ivfpq_extend_float_uint64_t.cu
  cpp/src/distance/neighbors/specializations/ivfpq_extend_int8_t_uint64_t.cu
  cpp/src/distance/neighbors/specializations/ivfpq_extend_uint8_t_uint64_t.cu
  cpp/src/distance/neighbors/specializations/ivfpq_search_float_uint64_t.cu
  cpp/src/distance/neighbors/specializations/ivfpq_search_int8_t_uint64_t.cu
  cpp/src/distance/neighbors/specializations/ivfpq_search_uint8_t_uint64_t.cu
  cpp/test/neighbors/ann_ivf_pq.cuh
  python/pylibraft/pylibraft/common/cpp/mdspan.pxd
  python/pylibraft/pylibraft/common/mdspan.pxd
  python/pylibraft/pylibraft/common/mdspan.pyx
  python/pylibraft/pylibraft/neighbors/ivf_pq/cpp/c_ivf_pq.pxd
  python/pylibraft/pylibraft/neighbors/ivf_pq/ivf_pq.pyx
  python/pylibraft/pylibraft/neighbors/refine.pyx
Labels: 5 - Ready to Merge, improvement, non-breaking, cpp, python, FAISS

#1319 Numerical stability fixes for l2 pairwise distance
  cpp/include/raft/distance/detail/euclidean.cuh
Labels: improvement, non-breaking, cpp

#1317 Consolidate linter configuration into pyproject.toml
  .flake8
  .pre-commit-config.yaml
  cpp/include/raft/matrix/detail/linewise_op.cuh
  cpp/include/raft/neighbors/ivf_pq_serialize.cuh
  cpp/include/raft/random/detail/multi_variable_gaussian.cuh
  cpp/scripts/gitutils.py
  cpp/test/util/bitonic_sort.cu
  pyproject.toml
  python/pylibraft/.flake8
  python/pylibraft/.flake8.cython
  python/pylibraft/pyproject.toml
  python/pylibraft/setup.cfg
  python/raft-dask/pyproject.toml
  python/raft-dask/raft_dask/common/comms.py
  python/raft-dask/setup.cfg
  setup.cfg
Labels: 3 - Ready for Review, improvement, non-breaking, cpp, python

#1327 Fixing remaining bug in ann_quantized
  cpp/include/raft/spatial/knn/detail/ann_quantized.cuh
Labels: bug, non-breaking, cpp

#1142 Simplify distance/detail to make is easier to dispatch to different kernel implementations
  cpp/CMakeLists.txt
  cpp/include/raft/distance/detail/canberra.cuh
  cpp/include/raft/distance/detail/chebyshev.cuh
  cpp/include/raft/distance/detail/correlation.cuh
  cpp/include/raft/distance/detail/cosine.cuh
  cpp/include/raft/distance/detail/distance.cuh
  cpp/include/raft/distance/detail/distance_ops/canberra.cuh
  cpp/include/raft/distance/detail/distance_ops/correlation.cuh
  cpp/include/raft/distance/detail/distance_ops/cosine.cuh
  cpp/include/raft/distance/detail/distance_ops/hamming.cuh
  cpp/include/raft/distance/detail/distance_ops/hellinger.cuh
  cpp/include/raft/distance/detail/distance_ops/jensen_shannon.cuh
  cpp/include/raft/distance/detail/distance_ops/kl_divergence.cuh
  cpp/include/raft/distance/detail/distance_ops/l1.cuh
  cpp/include/raft/distance/detail/distance_ops/l2_exp.cuh
  cpp/include/raft/distance/detail/distance_ops/l2_unexp.cuh
  cpp/include/raft/distance/detail/distance_ops/l_inf.cuh
  cpp/include/raft/distance/detail/distance_ops/lp_unexp.cuh
  cpp/include/raft/distance/detail/distance_ops/russel_rao.cuh
  cpp/include/raft/distance/detail/distance_ops/template.cuh
  cpp/include/raft/distance/detail/euclidean.cuh
  cpp/include/raft/distance/detail/hamming.cuh
  cpp/include/raft/distance/detail/hellinger.cuh
  cpp/include/raft/distance/detail/jensen_shannon.cuh
  cpp/include/raft/distance/detail/kl_divergence.cuh
  cpp/include/raft/distance/detail/l1.cuh
  cpp/include/raft/distance/detail/minkowski.cuh
  cpp/include/raft/distance/detail/pairwise_distance_base.cuh
  cpp/include/raft/distance/detail/pairwise_distance_cutlass_base.cuh
  cpp/include/raft/distance/detail/pairwise_matrix/dispatch.cuh
  cpp/include/raft/distance/detail/pairwise_matrix/kernel_sm60.cuh
  cpp/include/raft/distance/detail/russell_rao.cuh
  cpp/include/raft/distance/distance.cuh
  cpp/include/raft/distance/distance_type.hpp
  cpp/include/raft/distance/specializations/detail/l_inf.cuh
  cpp/include/raft/distance/specializations/distance.cuh
  cpp/include/raft/linalg/detail/contractions.cuh
  cpp/src/distance/distance/specializations/detail/l_inf_double_double_double_int.cu
  cpp/src/distance/distance/specializations/detail/l_inf_float_float_float_int.cu
  cpp/test/CMakeLists.txt
  cpp/test/distance/dist_l2_exp.cu
  cpp/test/distance/dist_l2_sqrt_exp.cu
  cpp/test/distance/dist_l2_unexp.cu
  cpp/test/distance/dist_l_inf.cu
  cpp/test/distance/dist_lp_unexp.cu
Labels: 5 - Ready to Merge, improvement, non-breaking, cpp, CMake

#1332 Small follow-up to specializations cleanup
  cpp/bench/neighbors/knn.cuh
Labels: bug, non-breaking, cpp

#1329 Generic linalg::map
  cpp/include/raft/linalg/binary_op.cuh
  cpp/include/raft/linalg/detail/binary_op.cuh
  cpp/include/raft/linalg/detail/init.hpp
  cpp/include/raft/linalg/detail/map.cuh
  cpp/include/raft/linalg/detail/strided_reduction.cuh
  cpp/include/raft/linalg/detail/ternary_op.cuh
  cpp/include/raft/linalg/detail/unary_op.cuh
  cpp/include/raft/linalg/init.cuh
  cpp/include/raft/linalg/map.cuh
  cpp/include/raft/linalg/ternary_op.cuh
  cpp/include/raft/linalg/unary_op.cuh
  cpp/include/raft/matrix/init.cuh
  cpp/include/raft/neighbors/detail/ivf_pq_search.cuh
  cpp/test/linalg/map.cu
Labels: 3 - Ready for Review, feature request, breaking, cpp

#1324 Migrate as much as possible to pyproject.toml
  ci/release/apply_wheel_modifications.sh
  ci/release/update-version.sh
  python/pylibraft/MANIFEST.in
  python/pylibraft/pyproject.toml
  python/pylibraft/setup.py
  python/raft-dask/MANIFEST.in
  python/raft-dask/pyproject.toml
  python/raft-dask/setup.cfg
  python/raft-dask/setup.py
Labels: 3 - Ready for Review, improvement, non-breaking, python, ci

#1337 Generic linalg::map
  cpp/include/raft/linalg/binary_op.cuh
  cpp/include/raft/linalg/detail/binary_op.cuh
  cpp/include/raft/linalg/detail/init.hpp
  cpp/include/raft/linalg/detail/map.cuh
  cpp/include/raft/linalg/detail/strided_reduction.cuh
  cpp/include/raft/linalg/detail/ternary_op.cuh
  cpp/include/raft/linalg/detail/unary_op.cuh
  cpp/include/raft/linalg/init.cuh
  cpp/include/raft/linalg/map.cuh
  cpp/include/raft/linalg/ternary_op.cuh
  cpp/include/raft/linalg/unary_op.cuh
  cpp/include/raft/matrix/init.cuh
  cpp/include/raft/neighbors/detail/ivf_pq_search.cuh
  cpp/test/linalg/map.cu
Labels: 3 - Ready for Review, feature request, breaking, cpp

#1339 Small updates to docs
  README.md
  docs/source/index.rst
Labels: doc, non-breaking

#1271 IVF-Flat index splitting
  cpp/include/raft/neighbors/detail/ivf_flat_build.cuh
  cpp/include/raft/neighbors/detail/ivf_flat_search.cuh
  cpp/include/raft/neighbors/detail/ivf_flat_serialize.cuh
  cpp/include/raft/neighbors/detail/ivf_pq_build.cuh
  cpp/include/raft/neighbors/detail/ivf_pq_serialize.cuh
  cpp/include/raft/neighbors/detail/refine.cuh
  cpp/include/raft/neighbors/ivf_flat.cuh
  cpp/include/raft/neighbors/ivf_flat_serialize.cuh
  cpp/include/raft/neighbors/ivf_flat_types.hpp
  cpp/include/raft/neighbors/ivf_list.hpp
  cpp/include/raft/neighbors/ivf_list_types.hpp
  cpp/include/raft/neighbors/ivf_pq_types.hpp
  cpp/test/neighbors/ann_ivf_flat.cuh
Labels: improvement, breaking, cpp, FAISS

#1341 Pass minimum target compile options through `raft::raft`
  cpp/CMakeLists.txt
Labels: improvement, non-breaking, cpp, CMake

#1279 New Sparse Matrix APIs
  cpp/bench/cluster/kmeans.cu
  cpp/bench/cluster/kmeans_balanced.cu
  cpp/bench/common/benchmark.hpp
  cpp/bench/distance/fused_l2_nn.cu
  cpp/bench/matrix/argmin.cu
  cpp/bench/matrix/gather.cu
  cpp/include/raft/core/coo_matrix.hpp
  cpp/include/raft/core/csr_matrix.hpp
  cpp/include/raft/core/device_container_policy.hpp
  cpp/include/raft/core/device_coo_matrix.hpp
  cpp/include/raft/core/device_csr_matrix.hpp
  cpp/include/raft/core/device_mdarray.hpp
  cpp/include/raft/core/device_resources.hpp
  cpp/include/raft/core/host_container_policy.hpp
  cpp/include/raft/core/host_coo_matrix.hpp
  cpp/include/raft/core/host_csr_matrix.hpp
  cpp/include/raft/core/host_mdarray.hpp
  cpp/include/raft/core/mdarray.hpp
  cpp/include/raft/core/sparse_types.hpp
  cpp/include/raft/core/temporary_device_buffer.hpp
  cpp/include/raft/linalg/gemm.cuh
  cpp/include/raft/matrix/detail/select_radix.cuh
  cpp/include/raft/neighbors/detail/ivf_flat_serialize.cuh
  cpp/include/raft/neighbors/detail/ivf_pq_serialize.cuh
  cpp/include/raft/neighbors/ivf_flat_types.hpp
  cpp/include/raft/neighbors/ivf_list.hpp
  cpp/include/raft/neighbors/ivf_pq_types.hpp
  cpp/internal/raft_internal/neighbors/refine_helper.cuh
  cpp/test/CMakeLists.txt
  cpp/test/core/mdarray.cu
  cpp/test/core/mdspan_utils.cu
  cpp/test/core/sparse_matrix.cpp
  cpp/test/core/sparse_matrix.cu
  cpp/test/linalg/transpose.cu
  docs/source/cpp_api/distance.rst
  docs/source/cpp_api/distance_1nn.rst
  docs/source/cpp_api/distance_masked_nn.rst
  docs/source/cpp_api/sparse.rst
  docs/source/cpp_api/sparse_types.rst
Labels: improvement, non-breaking, cpp, CMake

#1328 Update and standardize IVF indexes API
  cpp/bench/neighbors/knn.cuh
  cpp/include/raft/neighbors/ivf_pq.cuh
  cpp/include/raft/neighbors/ivf_pq_serialize.cuh
  cpp/include/raft/neighbors/specializations/ivf_pq.cuh
  cpp/include/raft/spatial/knn/detail/ann_quantized.cuh
  cpp/include/raft_runtime/neighbors/ivf_pq.hpp
  cpp/src/distance/neighbors/ivfpq_build.cu
  cpp/src/distance/neighbors/ivfpq_search_float_int64_t.cu
  cpp/src/distance/neighbors/ivfpq_search_int8_t_int64_t.cu
  cpp/src/distance/neighbors/ivfpq_search_uint8_t_int64_t.cu
  cpp/src/distance/neighbors/specializations/ivfpq_extend_float_int64_t.cu
  cpp/src/distance/neighbors/specializations/ivfpq_extend_int8_t_int64_t.cu
  cpp/src/distance/neighbors/specializations/ivfpq_extend_uint8_t_int64_t.cu
  cpp/src/distance/neighbors/specializations/ivfpq_search_float_int64_t.cu
  cpp/src/distance/neighbors/specializations/ivfpq_search_int8_t_int64_t.cu
  cpp/src/distance/neighbors/specializations/ivfpq_search_uint8_t_int64_t.cu
  cpp/test/neighbors/ann_ivf_flat.cuh
  cpp/test/neighbors/ann_ivf_pq.cuh
  python/pylibraft/pylibraft/common/mdspan.pxd
  python/pylibraft/pylibraft/common/mdspan.pyx
  python/pylibraft/pylibraft/common/optional.pxd
  python/pylibraft/pylibraft/neighbors/ivf_pq/cpp/c_ivf_pq.pxd
  python/pylibraft/pylibraft/neighbors/ivf_pq/ivf_pq.pyx
Labels: improvement, breaking, cpp, python

#1345 Rename optional helper function
  python/pylibraft/pylibraft/common/mdspan.pxd
  python/pylibraft/pylibraft/common/mdspan.pyx
  python/pylibraft/pylibraft/neighbors/ivf_pq/ivf_pq.pyx
Labels: improvement, non-breaking, python

#1347 Fix serialize documentation of ivf_flat
  cpp/include/raft/neighbors/ivf_flat_serialize.cuh
  docs/source/cpp_api/neighbors_ivf_flat.rst
  docs/source/cpp_api/neighbors_ivf_pq.rst
Labels: 3 - Ready for Review, doc, non-breaking, cpp

#1348 Remove MANIFEST.in use auto-generated one for sdists and package_data for wheels
  python/pylibraft/MANIFEST.in
  python/pylibraft/setup.py
  python/raft-dask/MANIFEST.in
  python/raft-dask/setup.py
Labels: bug, 3 - Ready for Review, non-breaking, python

#1335 Add dispatch based on compute architecture
  cpp/include/raft/distance/detail/distance.cuh
  cpp/include/raft/distance/detail/distance_ops/all_ops.cuh
  cpp/include/raft/distance/detail/distance_ops/canberra.cuh
  cpp/include/raft/distance/detail/distance_ops/correlation.cuh
  cpp/include/raft/distance/detail/distance_ops/cosine.cuh
  cpp/include/raft/distance/detail/distance_ops/cutlass.cuh
  cpp/include/raft/distance/detail/distance_ops/hamming.cuh
  cpp/include/raft/distance/detail/distance_ops/hellinger.cuh
  cpp/include/raft/distance/detail/distance_ops/jensen_shannon.cuh
  cpp/include/raft/distance/detail/distance_ops/kl_divergence.cuh
  cpp/include/raft/distance/detail/distance_ops/l1.cuh
  cpp/include/raft/distance/detail/distance_ops/l2_exp.cuh
  cpp/include/raft/distance/detail/distance_ops/l2_unexp.cuh
  cpp/include/raft/distance/detail/distance_ops/l_inf.cuh
  cpp/include/raft/distance/detail/distance_ops/lp_unexp.cuh
  cpp/include/raft/distance/detail/distance_ops/russel_rao.cuh
  cpp/include/raft/distance/detail/distance_ops/template.cuh
  cpp/include/raft/distance/detail/pairwise_distance_cutlass_base.cuh
  cpp/include/raft/distance/detail/pairwise_matrix/dispatch.cuh
  cpp/include/raft/distance/detail/pairwise_matrix/dispatch_layout.cuh
  cpp/include/raft/distance/detail/pairwise_matrix/dispatch_sm60.cuh
  cpp/include/raft/distance/detail/pairwise_matrix/dispatch_sm80.cuh
  cpp/include/raft/distance/detail/pairwise_matrix/kernel_sm60.cuh
  cpp/include/raft/distance/detail/pairwise_matrix/params.cuh
  cpp/include/raft/util/arch.cuh
Labels: 3 - Ready for Review, improvement, non-breaking, cpp

#1202 Replace faiss bfKnn
  ci/checks/copyright.py
  cpp/include/raft/core/resource/cublas_handle.hpp
  cpp/include/raft/distance/distance_types.hpp
  cpp/include/raft/linalg/detail/transpose.cuh
  cpp/include/raft/neighbors/brute_force.cuh
  cpp/include/raft/neighbors/detail/faiss_select/Comparators.cuh
  cpp/include/raft/neighbors/detail/faiss_select/DistanceUtils.h
  cpp/include/raft/neighbors/detail/faiss_select/MergeNetworkBlock.cuh
  cpp/include/raft/neighbors/detail/faiss_select/MergeNetworkUtils.cuh
  cpp/include/raft/neighbors/detail/faiss_select/MergeNetworkWarp.cuh
  cpp/include/raft/neighbors/detail/faiss_select/Select.cuh
  cpp/include/raft/neighbors/detail/faiss_select/StaticUtils.h
  cpp/include/raft/neighbors/detail/faiss_select/key_value_block_select.cuh
  cpp/include/raft/neighbors/detail/ivf_flat_search.cuh
  cpp/include/raft/neighbors/detail/knn_brute_force.cuh
  cpp/include/raft/neighbors/detail/knn_merge_parts.cuh
  cpp/include/raft/neighbors/detail/refine.cuh
  cpp/include/raft/neighbors/detail/selection_faiss.cuh
  cpp/include/raft/neighbors/specializations/knn.cuh
  cpp/include/raft/spatial/knn/detail/ball_cover.cuh
  cpp/include/raft/spatial/knn/detail/ball_cover/registers.cuh
  cpp/include/raft/spatial/knn/detail/common_faiss.h
  cpp/include/raft/spatial/knn/detail/fused_l2_knn.cuh
  cpp/include/raft/spatial/knn/detail/haversine_distance.cuh
  cpp/include/raft/spatial/knn/detail/knn_brute_force_faiss.cuh
  cpp/include/raft/spatial/knn/knn.cuh
  cpp/include/raft/util/bitonic_sort.cuh
  cpp/include/raft/util/integer_utils.hpp
  cpp/src/nn/specializations/brute_force_knn_long_float_int.cu
  cpp/src/nn/specializations/brute_force_knn_long_float_uint.cu
  cpp/src/nn/specializations/brute_force_knn_uint32_t_float_int.cu
  cpp/src/nn/specializations/brute_force_knn_uint32_t_float_uint.cu
  cpp/test/CMakeLists.txt
  cpp/test/neighbors/ball_cover.cu
  cpp/test/neighbors/faiss_mr.cu
  cpp/test/neighbors/fused_l2_knn.cu
  cpp/test/neighbors/knn.cu
  cpp/test/neighbors/knn_utils.cuh
  cpp/test/neighbors/selection.cu
  cpp/test/neighbors/tiled_knn.cu
Labels: improvement, non-breaking, cpp, CMake, ci

#1351 Remove faiss_mr.hpp
  cpp/include/raft/spatial/knn/faiss_mr.hpp
  cpp/test/CMakeLists.txt
  cpp/test/neighbors/faiss_mr.cu
Labels: improvement, breaking, cpp, CMake

#1354 [skip ci] Adding small readme image
  README.md
  img/raft.png
Labels: doc, non-breaking

#1358 Fix ivf flat specialization header IdxT from uint64_t -> int64_t
  cpp/include/raft/neighbors/specializations/ivf_flat.cuh
Labels: improvement, non-breaking, cpp

#1359 Stop setting package version attribute in wheels
  ci/release/apply_wheel_modifications.sh
Labels: improvement, non-breaking, ci

#1365 Remove usage of Dask's `get_worker`
  ci/wheel_smoke_test_raft_dask.py
  python/raft-dask/raft_dask/common/comms.py
  python/raft-dask/raft_dask/test/test_comms.py
Labels: bug, non-breaking, python, ci

#1364 Generate pyproject dependencies with dfg
  .pre-commit-config.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/pylibraft/meta.yaml
  dependencies.yaml
  python/pylibraft/pyproject.toml
  python/raft-dask/pyproject.toml
Labels: 3 - Ready for Review, improvement, non-breaking, python

#1366 Relax UCX pin to allow 1.14
  conda/recipes/raft-dask/conda_build_config.yaml
  conda/recipes/raft-dask/meta.yaml
Labels: improvement, non-breaking

#1175 Improve the performance of radix top-k
  cpp/bench/matrix/select_k.cu
  cpp/include/raft/matrix/detail/select_k.cuh
  cpp/include/raft/matrix/detail/select_radix.cuh
  cpp/include/raft/spatial/knn/knn.cuh
  cpp/internal/raft_internal/matrix/select_k.cuh
  cpp/test/matrix/select_k.cu
Labels: improvement, non-breaking, 4 - Waiting on Author, cpp

#1312 RAFT skeleton project template
  .github/workflows/build.yaml
  README.md
  build.sh
  conda/recipes/libraft/build_libraft_template.sh
  conda/recipes/libraft/meta.yaml
  cpp/template/CMakeLists.txt
  cpp/template/README.md
  cpp/template/build.sh
  cpp/template/cmake/thirdparty/fetch_rapids.cmake
  cpp/template/cmake/thirdparty/get_raft.cmake
  cpp/template/src/test_distance.cu
  docs/source/build.md
  python/pylibraft/setup.cfg
  setup.cfg
Labels: improvement, non-breaking, cpp, CMake, python

#1373 Adding some functions back in that seem to be a copy/paste error
  cpp/include/raft/util/cuda_dev_essentials.cuh
Labels: bug, non-breaking, cpp

#1360 [ENH] Add extern template for ivfflat_interleaved_scan
  cpp/include/raft/neighbors/detail/ivf_flat_search.cuh
  cpp/include/raft/neighbors/detail/refine.cuh
  cpp/include/raft/neighbors/specializations/ivf_flat.cuh
  cpp/src/neighbors/specializations/ivfflat_search_float_int64_t.cu
  cpp/src/neighbors/specializations/ivfflat_search_int8_t_int64_t.cu
  cpp/src/neighbors/specializations/ivfflat_search_uint8_t_int64_t.cu
Labels: 3 - Ready for Review, improvement, non-breaking, cpp, Build Time Improvement

#1371 add a distance epilogue function to the bfknn call
  cpp/include/raft/neighbors/brute_force.cuh
  cpp/include/raft/neighbors/detail/knn_brute_force.cuh
  cpp/include/raft/neighbors/specializations/brute_force.cuh
  cpp/include/raft/spatial/knn/detail/ball_cover.cuh
  cpp/src/neighbors/brute_force_knn_int64_t_float.cu
  cpp/src/neighbors/specializations/detail/brute_force_knn_impl_long_float_int.cu
  cpp/src/neighbors/specializations/detail/brute_force_knn_impl_long_float_uint.cu
  cpp/src/neighbors/specializations/detail/brute_force_knn_impl_uint_float_int.cu
  cpp/src/neighbors/specializations/detail/brute_force_knn_impl_uint_float_uint.cu
  cpp/test/neighbors/ball_cover.cu
  cpp/test/neighbors/knn.cu
Labels: improvement, non-breaking, cpp

#1378 Fixing index-url link on pip install docs
  README.md
  docs/source/build.md
Labels: bug, non-breaking

#1262 build.sh: Add option to log nvcc compile times
  build.sh
  cpp/CMakeLists.txt
  cpp/cmake/modules/ConfigureCUDA.cmake
  cpp/scripts/analyze_nvcc_log.py
Labels: 3 - Ready for Review, improvement, non-breaking, cpp, CMake, Build Time Improvement

#1383 Pin cupy in wheel tests to supported versions
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#1389 Fix primitives benchmarks
  cpp/bench/CMakeLists.txt
  cpp/bench/prims/CMakeLists.txt
  cpp/bench/prims/neighbors/knn.cuh
  cpp/internal/CMakeLists.txt
  cpp/template/cmake/thirdparty/get_raft.cmake
  docs/source/build.md
  python/pylibraft/CMakeLists.txt
  python/raft-dask/CMakeLists.txt
Labels: bug, 3 - Ready for Review, non-breaking, cpp, CMake, python

#1154 Use rapids-cmake new COMPONENT exporting feature
  cpp/CMakeLists.txt
  cpp/cmake/modules/config.cmake.in
  cpp/cmake/modules/raft_export.cmake
  fetch_rapids.cmake
Labels: feature request, non-breaking, cpp, CMake

#1396 Fix ucx-py pin in raft-dask recipe
  conda/recipes/raft-dask/conda_build_config.yaml
Labels: bug, 3 - Ready for Review, non-breaking
