Repository rapidsai/raft, pull requests merged in 2024-10, with the labels that each got.

#2466 Prune workflows based on changed files
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#2451 Update all rmm imports to use pylibrmm/librmm
  python/pylibraft/pylibraft/common/handle.pxd
  python/pylibraft/pylibraft/common/handle.pyx
  python/pylibraft/pylibraft/common/interruptible.pxd
  python/pylibraft/pylibraft/common/interruptible.pyx
  python/pylibraft/pylibraft/neighbors/cagra/cagra.pyx
  python/pylibraft/pylibraft/neighbors/cagra/cpp/c_cagra.pxd
  python/pylibraft/pylibraft/neighbors/cpp/brute_force.pxd
  python/pylibraft/pylibraft/neighbors/cpp/rbc.pxd
  python/pylibraft/pylibraft/neighbors/ivf_flat/cpp/c_ivf_flat.pxd
  python/pylibraft/pylibraft/neighbors/ivf_flat/ivf_flat.pyx
  python/pylibraft/pylibraft/neighbors/ivf_pq/cpp/c_ivf_pq.pxd
  python/pylibraft/pylibraft/neighbors/ivf_pq/ivf_pq.pyx
Labels: improvement, non-breaking, python

#2474 Use Python for sccache hit rate computation.
  build.sh
Labels: bug, non-breaking

#2475 Use environment variables in cache hit rate computation.
  build.sh
Labels: improvement, non-breaking

#2469 Allow compilation with CUDA 12.6.1
  cpp/include/raft/matrix/detail/columnWiseSort.cuh
Labels: bug, non-breaking, cpp

#2472 devcontainer: replace `VAULT_HOST` with `AWS_ROLE_ARN`
  .devcontainer/Dockerfile
Labels: improvement, non-breaking

#2470 print sccache stats in builds
  .pre-commit-config.yaml
  ci/build_cpp.sh
  ci/build_python.sh
  ci/build_wheel.sh
Labels: improvement, non-breaking, ci
