Repository rapidsai/raft, pull requests merged in 2024-02, with the labels that each got.

#2121 Remove supports_streams from custom RAFT memory resources
  cpp/bench/ann/src/common/cuda_huge_page_resource.hpp
  cpp/bench/ann/src/common/cuda_pinned_resource.hpp
Labels: feature request, non-breaking, cpp

#2144 [HOTFIX] 24.02 Revert Random Sampling
  cpp/bench/ann/src/raft/raft_ann_bench_param_parser.h
  cpp/include/raft/matrix/detail/gather.cuh
  cpp/include/raft/neighbors/detail/ivf_flat_build.cuh
  cpp/include/raft/neighbors/detail/ivf_pq_build.cuh
  cpp/include/raft/neighbors/ivf_pq_types.hpp
  cpp/include/raft/spatial/knn/detail/ann_utils.cuh
  cpp/test/neighbors/ann_ivf_pq.cuh
  docs/source/ann_benchmarks_param_tuning.md
  python/pylibraft/pylibraft/neighbors/ivf_pq/cpp/c_ivf_pq.pxd
  python/pylibraft/pylibraft/neighbors/ivf_pq/ivf_pq.pyx
Labels: bug, non-breaking, cpp, python

#2146 Forward-merge branch-24.02 to branch-24.04
  cpp/bench/ann/src/raft/raft_ann_bench_param_parser.h
  cpp/include/raft/matrix/detail/gather.cuh
  cpp/include/raft/neighbors/detail/ivf_flat_build.cuh
  cpp/include/raft/neighbors/detail/ivf_pq_build.cuh
  cpp/include/raft/neighbors/ivf_pq_types.hpp
  cpp/include/raft/spatial/knn/detail/ann_utils.cuh
  cpp/test/neighbors/ann_ivf_pq.cuh
  docs/source/ann_benchmarks_param_tuning.md
  python/pylibraft/pylibraft/neighbors/ivf_pq/cpp/c_ivf_pq.pxd
  python/pylibraft/pylibraft/neighbors/ivf_pq/ivf_pq.pyx
Labels: cpp, python

#2126 Enable CAGRA index building without adding dataset to the index
  cpp/bench/ann/src/raft/raft_cagra_wrapper.h
  cpp/include/raft/neighbors/cagra_types.hpp
  cpp/include/raft/neighbors/detail/cagra/cagra_build.cuh
  cpp/include/raft/neighbors/detail/cagra/cagra_serialize.cuh
Labels: improvement, non-breaking, cpp, Vector Search

#2145 [FIX] Ensure hnswlib can be found from RAFT's build dir
  cpp/cmake/thirdparty/get_hnswlib.cmake
Labels: 3 - Ready for Review, improvement, non-breaking, cpp, CMake

#2156 Launch `neighborhood_recall` kernel on CUDA stream
  cpp/include/raft/stats/detail/neighborhood_recall.cuh
Labels: bug, non-breaking, cpp

#1786 Cache IVF-PQ and select-warpsort kernel launch parameters to reduce latency
  cpp/include/raft/matrix/detail/select_k-ext.cuh
  cpp/include/raft/matrix/detail/select_k-inl.cuh
  cpp/include/raft/matrix/detail/select_radix.cuh
  cpp/include/raft/matrix/detail/select_warpsort.cuh
  cpp/include/raft/matrix/select_k.cuh
  cpp/include/raft/neighbors/detail/ivf_flat_search-inl.cuh
  cpp/include/raft/neighbors/detail/ivf_pq_search.cuh
  cpp/internal/raft_internal/neighbors/naive_knn.cuh
  cpp/src/matrix/detail/select_k_double_int64_t.cu
  cpp/src/matrix/detail/select_k_double_uint32_t.cu
  cpp/src/matrix/detail/select_k_float_int32.cu
  cpp/src/matrix/detail/select_k_float_int64_t.cu
  cpp/src/matrix/detail/select_k_float_uint32_t.cu
  cpp/src/matrix/detail/select_k_half_int64_t.cu
  cpp/src/matrix/detail/select_k_half_uint32_t.cu
Labels: 3 - Ready for Review, improvement, non-breaking, cpp

#2162 Exclude tests from builds
  python/pylibraft/pyproject.toml
  python/raft-dask/pyproject.toml
Labels: bug, non-breaking, python

#2164 Forward-merge branch-24.02 to branch-24.04
  python/pylibraft/pyproject.toml
  python/raft-dask/pyproject.toml
Labels: python

#2168 Fix failing C++ tests and revert #2097, #2085.
  cpp/CMakeLists.txt
  cpp/include/raft/core/detail/mdspan_numpy_serializer.hpp
  cpp/include/raft/core/device_mdspan.hpp
  cpp/include/raft/neighbors/detail/cagra/cagra_search.cuh
  cpp/include/raft/neighbors/detail/cagra/search_multi_cta_kernel-ext.cuh
  cpp/include/raft/neighbors/detail/cagra/search_multi_kernel.cuh
  cpp/include/raft/neighbors/detail/cagra/search_plan.cuh
  cpp/include/raft/neighbors/detail/cagra/search_single_cta_kernel-ext.cuh
  cpp/include/raft/neighbors/detail/ivf_flat_interleaved_scan-ext.cuh
  cpp/include/raft/neighbors/detail/ivf_flat_interleaved_scan-inl.cuh
  cpp/include/raft/neighbors/detail/ivf_flat_search-ext.cuh
  cpp/include/raft/neighbors/detail/ivf_pq_build.cuh
  cpp/include/raft/neighbors/detail/ivf_pq_search.cuh
  cpp/include/raft/neighbors/detail/refine_host-ext.hpp
  cpp/include/raft/neighbors/ivf_pq-ext.cuh
  cpp/include/raft/sparse/linalg/spmm.hpp
  cpp/include/raft/util/device_loads_stores.cuh
  cpp/include/raft/util/input_validation.hpp
  cpp/src/neighbors/detail/cagra/search_multi_cta_00_generate.py
  cpp/src/neighbors/detail/cagra/search_multi_cta_half_uint32_dim1024_t32.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_half_uint32_dim128_t8.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_half_uint32_dim256_t16.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_half_uint32_dim512_t32.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_half_uint64_dim1024_t32.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_half_uint64_dim128_t8.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_half_uint64_dim256_t16.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_half_uint64_dim512_t32.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_00_generate.py
  cpp/src/neighbors/detail/cagra/search_single_cta_half_uint32_dim1024_t32.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_half_uint32_dim128_t8.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_half_uint32_dim256_t16.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_half_uint32_dim512_t32.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_half_uint64_dim1024_t32.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_half_uint64_dim128_t8.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_half_uint64_dim256_t16.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_half_uint64_dim512_t32.cu
  cpp/src/neighbors/detail/ivf_flat_interleaved_scan_half_half_int64_t.cu
  cpp/src/neighbors/detail/refine_host_half_float.cpp
  cpp/src/neighbors/ivfpq_build_half_int64_t.cu
  cpp/src/neighbors/ivfpq_extend_half_int64_t.cu
  cpp/src/neighbors/ivfpq_search_half_int64_t.cu
  cpp/src/neighbors/refine_00_generate.py
  cpp/src/neighbors/refine_half_float.cu
  cpp/src/raft_runtime/neighbors/cagra_build.cu
  cpp/src/raft_runtime/neighbors/cagra_search.cu
  cpp/src/raft_runtime/neighbors/cagra_serialize.cu
  cpp/test/CMakeLists.txt
  cpp/test/neighbors/ann_cagra.cuh
  cpp/test/neighbors/ann_cagra/test_half_int64_t.cu
  cpp/test/neighbors/ann_cagra/test_half_uint32_t.cu
Labels: bug, non-breaking, cpp, CMake

#2170 Forward-merge branch-24.02 to branch-24.04
  cpp/CMakeLists.txt
  cpp/include/raft/core/detail/mdspan_numpy_serializer.hpp
  cpp/include/raft/core/device_mdspan.hpp
  cpp/include/raft/neighbors/detail/cagra/cagra_search.cuh
  cpp/include/raft/neighbors/detail/cagra/search_multi_cta_kernel-ext.cuh
  cpp/include/raft/neighbors/detail/cagra/search_multi_kernel.cuh
  cpp/include/raft/neighbors/detail/cagra/search_plan.cuh
  cpp/include/raft/neighbors/detail/cagra/search_single_cta_kernel-ext.cuh
  cpp/include/raft/neighbors/detail/ivf_flat_interleaved_scan-ext.cuh
  cpp/include/raft/neighbors/detail/ivf_flat_interleaved_scan-inl.cuh
  cpp/include/raft/neighbors/detail/ivf_flat_search-ext.cuh
  cpp/include/raft/neighbors/detail/ivf_pq_build.cuh
  cpp/include/raft/neighbors/detail/ivf_pq_search.cuh
  cpp/include/raft/neighbors/detail/refine_host-ext.hpp
  cpp/include/raft/neighbors/ivf_pq-ext.cuh
  cpp/include/raft/sparse/linalg/spmm.hpp
  cpp/include/raft/util/device_loads_stores.cuh
  cpp/include/raft/util/input_validation.hpp
  cpp/src/neighbors/detail/cagra/search_multi_cta_00_generate.py
  cpp/src/neighbors/detail/cagra/search_multi_cta_half_uint32_dim1024_t32.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_half_uint32_dim128_t8.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_half_uint32_dim256_t16.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_half_uint32_dim512_t32.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_half_uint64_dim1024_t32.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_half_uint64_dim128_t8.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_half_uint64_dim256_t16.cu
  cpp/src/neighbors/detail/cagra/search_multi_cta_half_uint64_dim512_t32.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_00_generate.py
  cpp/src/neighbors/detail/cagra/search_single_cta_half_uint32_dim1024_t32.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_half_uint32_dim128_t8.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_half_uint32_dim256_t16.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_half_uint32_dim512_t32.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_half_uint64_dim1024_t32.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_half_uint64_dim128_t8.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_half_uint64_dim256_t16.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_half_uint64_dim512_t32.cu
  cpp/src/neighbors/detail/ivf_flat_interleaved_scan_half_half_int64_t.cu
  cpp/src/neighbors/detail/refine_host_half_float.cpp
  cpp/src/neighbors/ivfpq_build_half_int64_t.cu
  cpp/src/neighbors/ivfpq_extend_half_int64_t.cu
  cpp/src/neighbors/ivfpq_search_half_int64_t.cu
  cpp/src/neighbors/refine_00_generate.py
  cpp/src/neighbors/refine_half_float.cu
  cpp/src/raft_runtime/neighbors/cagra_build.cu
  cpp/src/raft_runtime/neighbors/cagra_search.cu
  cpp/src/raft_runtime/neighbors/cagra_serialize.cu
  cpp/test/CMakeLists.txt
  cpp/test/neighbors/ann_cagra.cuh
  cpp/test/neighbors/ann_cagra/test_half_int64_t.cu
  cpp/test/neighbors/ann_cagra/test_half_uint32_t.cu
Labels: cpp, CMake

#2173 fix is_row/col_order for strided layouts
  cpp/include/raft/util/input_validation.hpp
Labels: bug, non-breaking, cpp

#2181 Allow topk larger than 1024 in CAGRA
  cpp/include/raft/neighbors/detail/cagra/cagra_search.cuh
  cpp/include/raft/neighbors/detail/cagra/search_multi_kernel.cuh
  cpp/include/raft/neighbors/detail/cagra/search_plan.cuh
  cpp/test/neighbors/ann_cagra.cuh
Labels: improvement, non-breaking, cpp

#2188 Demangle backtrace symbols on raft error
  cpp/include/raft/core/error.hpp
Labels: 3 - Ready for Review, feature request, non-breaking, cpp

#2183 Fix out of bounds access in sum kernel
  cpp/include/raft/stats/detail/sum.cuh
  cpp/test/stats/sum.cu
Labels: bug, non-breaking, cpp

#2118 Update raft for compatibility with the latest cuco
  cpp/include/raft/sparse/distance/detail/coo_spmv_strategies/hash_strategy.cuh
Labels: improvement, non-breaking, cpp

#2139 Improve analysis experience for ANN benchmarks
  cpp/bench/ann/src/common/ann_types.hpp
  cpp/bench/ann/src/common/benchmark.hpp
  cpp/bench/ann/src/common/conf.hpp
  cpp/bench/ann/src/common/cuda_stub.hpp
  cpp/bench/ann/src/common/dataset.hpp
  cpp/bench/ann/src/common/util.hpp
  cpp/bench/ann/src/faiss/faiss_cpu_wrapper.h
  cpp/bench/ann/src/faiss/faiss_gpu_wrapper.h
  cpp/bench/ann/src/ggnn/ggnn_benchmark.cu
  cpp/bench/ann/src/ggnn/ggnn_wrapper.cuh
  cpp/bench/ann/src/hnswlib/hnswlib_wrapper.h
  cpp/bench/ann/src/raft/raft_ann_bench_utils.h
  cpp/bench/ann/src/raft/raft_benchmark.cu
  cpp/bench/ann/src/raft/raft_cagra.cu
  cpp/bench/ann/src/raft/raft_cagra_hnswlib_wrapper.h
  cpp/bench/ann/src/raft/raft_cagra_wrapper.h
  cpp/bench/ann/src/raft/raft_ivf_flat_wrapper.h
  cpp/bench/ann/src/raft/raft_ivf_pq.cu
  cpp/bench/ann/src/raft/raft_ivf_pq_wrapper.h
  cpp/bench/ann/src/raft/raft_wrapper.h
  cpp/include/raft/neighbors/cagra_types.hpp
Labels: 3 - Ready for Review, improvement, non-breaking, cpp

#2189 target branch-24.04 for GitHub Actions workflows
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#2199 Pass `std::optional` instead of `thrust::optional` to RMM
  cpp/include/raft/core/device_resources_manager.hpp
Labels: 3 - Ready for Review, improvement, non-breaking, cpp

#2165 Add environment-agnostic scripts for running ctests and pytests
  ci/run_ctests.sh
  ci/run_pylibraft_pytests.sh
  ci/run_raft_dask_pytests.sh
  ci/test_cpp.sh
  ci/test_python.sh
Labels: 3 - Ready for Review, improvement, non-breaking, ci

#2192 Update devcontainers to CUDA Toolkit 12.2
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.2-conda/devcontainer.json
  .devcontainer/cuda12.2-pip/devcontainer.json
  .github/workflows/pr.yaml
Labels: 3 - Ready for Review, improvement, non-breaking

#2200 Add support for Python 3.11, require NumPy 1.23+
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-aarch64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/pylibraft/meta.yaml
  dependencies.yaml
  python/pylibraft/pyproject.toml
  python/raft-dask/pyproject.toml
Labels: improvement, non-breaking, python
