Repository rapidsai/raft, pull requests merged in 2024-07, with the labels that each got.

#2373 Use verify-alpha-spec hook
  .pre-commit-config.yaml
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-aarch64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/environments/bench_ann_cuda-118_arch-aarch64.yaml
  conda/environments/bench_ann_cuda-118_arch-x86_64.yaml
  conda/environments/bench_ann_cuda-120_arch-aarch64.yaml
  conda/environments/bench_ann_cuda-120_arch-x86_64.yaml
  dependencies.yaml
Labels: 3 - Ready for Review, improvement, non-breaking

#2375 skip CMake 3.30.0
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-aarch64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/environments/bench_ann_cuda-118_arch-aarch64.yaml
  conda/environments/bench_ann_cuda-118_arch-x86_64.yaml
  conda/environments/bench_ann_cuda-120_arch-aarch64.yaml
  conda/environments/bench_ann_cuda-120_arch-x86_64.yaml
  conda/recipes/libraft/conda_build_config.yaml
  conda/recipes/pylibraft/conda_build_config.yaml
  conda/recipes/raft-ann-bench-cpu/conda_build_config.yaml
  conda/recipes/raft-ann-bench/conda_build_config.yaml
  conda/recipes/raft-dask/conda_build_config.yaml
  dependencies.yaml
  python/pylibraft/pyproject.toml
  python/raft-dask/pyproject.toml
Labels: improvement, non-breaking, python

#2376 Add CUDA_STATIC_MATH_LIBRARIES
  cpp/CMakeLists.txt
  docs/source/build.md
  python/pylibraft/CMakeLists.txt
  python/raft-dask/CMakeLists.txt
Labels: improvement, non-breaking, cpp, CMake, python

#2370 Binarize Dice Distance for Dense Inputs
  cpp/include/raft/distance/detail/distance.cuh
  cpp/include/raft/distance/detail/distance_ops/dice.cuh
  cpp/src/distance/detail/pairwise_matrix/dispatch_00_generate.py
Labels: improvement, non-breaking, cpp

#2364 [FEA] Add distance epilogue for NN Descent
  cpp/include/raft/neighbors/detail/nn_descent.cuh
  cpp/include/raft/neighbors/nn_descent.cuh
Labels: improvement, non-breaking, cpp

#2378 Build and test with CUDA 12.5.1
  .devcontainer/cuda12.5-conda/devcontainer.json
  .devcontainer/cuda12.5-pip/devcontainer.json
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  README.md
  conda/environments/all_cuda-125_arch-aarch64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
  docs/source/build.md
Labels: improvement, non-breaking

#2385 Use workflow branch 24.08 again
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#2380 Use slicing kernel to copy distances inside NN Descent
  cpp/include/raft/neighbors/detail/nn_descent.cuh
Labels: improvement, non-breaking, cpp

#2346 [Opt] Expose the `detail::popc` as public API
  cpp/bench/prims/CMakeLists.txt
  cpp/bench/prims/core/popc.cu
  cpp/include/raft/core/bitset.cuh
  cpp/include/raft/core/detail/popc.cuh
  cpp/include/raft/core/popc.hpp
  cpp/test/CMakeLists.txt
  cpp/test/core/popc.cu
Labels: enhancement, 3 - Ready for Review, feature request, non-breaking, cpp, CMake, Public API

#2362 [FEA] add the support of `masked_matmul`
  cpp/bench/prims/CMakeLists.txt
  cpp/bench/prims/linalg/masked_matmul.cu
  cpp/include/raft/sparse/linalg/detail/masked_matmul.cuh
  cpp/include/raft/sparse/linalg/masked_matmul.hpp
  cpp/test/CMakeLists.txt
  cpp/test/sparse/masked_matmul.cu
Labels: enhancement, 3 - Ready for Review, feature request, non-breaking, 4 - Waiting on Reviewer, cpp, CMake

#2384 Add cusparseSpMV_preprocess to cusparse wrapper
  cpp/include/raft/core/cusparse_macros.hpp
  cpp/include/raft/sparse/detail/cusparse_wrappers.h
Labels: 3 - Ready for Review, improvement, non-breaking, cpp

#2381 Consolidate SUM reductions
  cpp/include/raft/core/math.hpp
  cpp/include/raft/linalg/detail/coalesced_reduction-inl.cuh
  cpp/include/raft/linalg/detail/strided_reduction.cuh
  cpp/include/raft/linalg/reduce.cuh
  cpp/include/raft/stats/detail/mean.cuh
  cpp/include/raft/stats/detail/stddev.cuh
  cpp/include/raft/stats/detail/sum.cuh
  cpp/test/stats/cov.cu
  cpp/test/stats/mean.cu
  cpp/test/stats/stddev.cu
  cpp/test/stats/sum.cu
Labels: improvement, non-breaking, cpp

#2388 split up CUDA-suffixed dependencies in dependencies.yaml
  dependencies.yaml
  python/pylibraft/pyproject.toml
  python/raft-ann-bench/pyproject.toml
  python/raft-dask/pyproject.toml
Labels: 3 - Ready for Review, improvement, non-breaking, python

#2394 [Refactor] move `popc` to under util
  cpp/bench/prims/CMakeLists.txt
  cpp/bench/prims/util/popc.cu
  cpp/include/raft/core/bitset.cuh
  cpp/include/raft/sparse/linalg/detail/masked_matmul.cuh
  cpp/include/raft/util/detail/popc.cuh
  cpp/include/raft/util/popc.cuh
  cpp/test/CMakeLists.txt
  cpp/test/util/popc.cu
Labels: 3 - Ready for Review, improvement, breaking

#2398 Add timeout to UCXX generic operations
  cpp/include/raft/comms/detail/std_comms.hpp
Labels: bug, non-breaking, cpp

#2397 Merge branch-24.08 into branch-24.10
  dependencies.yaml
  python/pylibraft/pyproject.toml
  python/raft-ann-bench/pyproject.toml
  python/raft-dask/pyproject.toml
Labels: improvement, non-breaking, python

#2401 Update pip devcontainers to UCX v1.17.0
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.5-pip/devcontainer.json
Labels: improvement, non-breaking
