Repository rapidsai/raft, pull requests merged in 2024-09, with the labels that each got.

#2428 Add support for Python 3.12
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  dependencies.yaml
  python/pylibraft/pyproject.toml
  python/raft-ann-bench/pyproject.toml
  python/raft-dask/pyproject.toml
Labels: improvement, non-breaking, python

#2432 Allow coo_sort to work on int64_t indices
  cpp/include/raft/sparse/op/detail/sort.h
  cpp/include/raft/sparse/op/sort.cuh
Labels: improvement, non-breaking, cpp

#2435 Update to flake8 7.1.1.
  .pre-commit-config.yaml
Labels: improvement, non-breaking

#2437 Use CI workflow branch 'branch-24.10' again
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#2441 Fix sed syntax in `update-version.sh`
  ci/release/update-version.sh
Labels: bug, non-breaking, ci

#2430 Use runtime check of cudart version for eig
  cpp/include/raft/linalg/detail/eig.cuh
Labels: bug, 5 - Ready to Merge, non-breaking, cpp

#2433 Update fmt (to 11.0.2) and spdlog (to 1.14.1).
  conda/recipes/libraft/conda_build_config.yaml
  conda/recipes/raft-ann-bench-cpu/conda_build_config.yaml
  cpp/cmake/thirdparty/get_spdlog.cmake
Labels: improvement, non-breaking, cpp, CMake

#2447 Update update-version.sh to use packaging lib
  ci/release/update-version.sh
Labels: improvement, non-breaking, ci

#2446 Switch traceback to `native`
  python/pylibraft/pylibraft/test/pytest.ini
  python/raft-dask/pytest.ini
  python/raft-dask/raft_dask/test/pytest.ini
Labels: improvement, non-breaking, python

#2453 Disable NN Descent Batch tests temporarily
  cpp/test/CMakeLists.txt
  cpp/test/neighbors/ann_nn_descent.cuh
Labels: bug, non-breaking, cpp, CMake

#2440 Add missing `cuda_suffixed: true`
  dependencies.yaml
Labels: 3 - Ready for Review, improvement, non-breaking

#2439 [Feat] add `repeat`, `sparsity`, `eval_n_elements` APIs to `bitset`
  cpp/bench/prims/util/popc.cu
  cpp/include/raft/core/bitset.cuh
  cpp/include/raft/core/bitset.hpp
  cpp/include/raft/util/detail/popc.cuh
  cpp/include/raft/util/popc.cuh
  cpp/test/core/bitset.cu
  cpp/test/util/popc.cu
Labels: enhancement, 3 - Ready for Review, feature request, breaking, cpp

#2438 [Opt] Enforce the UT Coverity and add benchmark for `transpose`
  cpp/bench/prims/CMakeLists.txt
  cpp/bench/prims/linalg/transpose.cu
  cpp/include/raft/linalg/detail/transpose.cuh
  cpp/test/linalg/transpose.cu
Labels: enhancement, 3 - Ready for Review, feature request, non-breaking, cpp, CMake

#2431 Adding NCCL clique to the RAFT handle
  cpp/include/raft/comms/detail/std_comms.hpp
  cpp/include/raft/comms/nccl_clique.hpp
  cpp/include/raft/core/resource/nccl_clique.hpp
  cpp/include/raft/core/resource/resource_types.hpp
Labels: improvement, non-breaking, cpp

#2458 bump NCCL floor to 2.19
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-aarch64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/environments/bench_ann_cuda-118_arch-aarch64.yaml
  conda/environments/bench_ann_cuda-118_arch-x86_64.yaml
  conda/environments/bench_ann_cuda-120_arch-aarch64.yaml
  conda/environments/bench_ann_cuda-120_arch-x86_64.yaml
  conda/recipes/libraft/conda_build_config.yaml
  conda/recipes/raft-ann-bench/conda_build_config.yaml
  conda/recipes/raft-dask/conda_build_config.yaml
  dependencies.yaml
Labels: improvement, non-breaking

#2448 Deprecating vector search APIs and updating README accordingly
  README.md
  cpp/include/raft/cluster/kmeans.cuh
  cpp/include/raft/cluster/kmeans_balanced.cuh
  cpp/include/raft/cluster/single_linkage.cuh
  cpp/include/raft/distance/distance-ext.cuh
  cpp/include/raft/neighbors/ball_cover.cuh
  cpp/include/raft/neighbors/brute_force_types.hpp
  cpp/include/raft/neighbors/cagra_types.hpp
  cpp/include/raft/neighbors/hnsw_types.hpp
  cpp/include/raft/neighbors/ivf_flat_types.hpp
  cpp/include/raft/neighbors/ivf_pq_types.hpp
  cpp/include/raft/neighbors/nn_descent_types.hpp
  cpp/include/raft/neighbors/refine-ext.cuh
  docs/source/conf.py
  docs/source/raft_ann_benchmarks.md
Labels: improvement, non-breaking, cpp

#2461 Merge branch-24.10 into branch-24.12
  README.md
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-aarch64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/environments/bench_ann_cuda-118_arch-aarch64.yaml
  conda/environments/bench_ann_cuda-118_arch-x86_64.yaml
  conda/environments/bench_ann_cuda-120_arch-aarch64.yaml
  conda/environments/bench_ann_cuda-120_arch-x86_64.yaml
  conda/recipes/libraft/conda_build_config.yaml
  conda/recipes/raft-ann-bench/conda_build_config.yaml
  conda/recipes/raft-dask/conda_build_config.yaml
  conda/recipes/raft-dask/meta.yaml
  cpp/bench/prims/CMakeLists.txt
  cpp/bench/prims/linalg/transpose.cu
  cpp/include/raft/cluster/kmeans.cuh
  cpp/include/raft/cluster/kmeans_balanced.cuh
  cpp/include/raft/cluster/single_linkage.cuh
  cpp/include/raft/comms/detail/std_comms.hpp
  cpp/include/raft/comms/nccl_clique.hpp
  cpp/include/raft/core/resource/nccl_clique.hpp
  cpp/include/raft/core/resource/resource_types.hpp
  cpp/include/raft/distance/distance-ext.cuh
  cpp/include/raft/linalg/detail/transpose.cuh
  cpp/include/raft/neighbors/ball_cover.cuh
  cpp/include/raft/neighbors/brute_force_types.hpp
  cpp/include/raft/neighbors/cagra_types.hpp
  cpp/include/raft/neighbors/hnsw_types.hpp
  cpp/include/raft/neighbors/ivf_flat_types.hpp
  cpp/include/raft/neighbors/ivf_pq_types.hpp
  cpp/include/raft/neighbors/nn_descent_types.hpp
  cpp/include/raft/neighbors/refine-ext.cuh
  cpp/test/linalg/transpose.cu
  dependencies.yaml
  docs/source/conf.py
  docs/source/raft_ann_benchmarks.md
Labels: improvement, non-breaking, cpp, CMake
