Repository rapidsai/raft, pull requests merged in 2024-08, with the labels that each got.

#2408 Improve update-version.sh
  ci/release/update-version.sh
Labels: improvement, non-breaking, ci

#2406 Use tool.scikit-build.cmake.version, set scikit-build-core minimum-version
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-aarch64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/environments/bench_ann_cuda-118_arch-aarch64.yaml
  conda/environments/bench_ann_cuda-118_arch-x86_64.yaml
  conda/environments/bench_ann_cuda-120_arch-aarch64.yaml
  conda/environments/bench_ann_cuda-120_arch-x86_64.yaml
  conda/recipes/pylibraft/meta.yaml
  conda/recipes/raft-dask/meta.yaml
  dependencies.yaml
  python/pylibraft/pyproject.toml
  python/raft-dask/pyproject.toml
Labels: improvement, non-breaking, python

#2409 Update pre-commit hooks
  .pre-commit-config.yaml
Labels: improvement, non-breaking

#2382 [FEA] Support for half-float mixed precise in brute-force
  cpp/include/raft/core/detail/copy.hpp
  cpp/include/raft/core/math.hpp
  cpp/include/raft/core/operators.hpp
  cpp/include/raft/distance/detail/masked_distance_base.cuh
  cpp/include/raft/distance/detail/pairwise_distance_base.cuh
  cpp/include/raft/linalg/contractions.cuh
  cpp/include/raft/linalg/detail/contractions.cuh
  cpp/include/raft/linalg/detail/gemm.hpp
  cpp/include/raft/linalg/detail/norm.cuh
  cpp/include/raft/linalg/detail/transpose.cuh
  cpp/include/raft/linalg/gemm.cuh
  cpp/include/raft/linalg/norm.cuh
  cpp/include/raft/random/detail/rng_device.cuh
  cpp/include/raft/random/detail/rng_impl.cuh
  cpp/include/raft/sparse/convert/detail/bitmap_to_csr.cuh
  cpp/include/raft/sparse/detail/cusparse_wrappers.h
  cpp/include/raft/sparse/distance/detail/utils.cuh
  cpp/include/raft/sparse/linalg/detail/masked_matmul.cuh
  cpp/include/raft/sparse/linalg/detail/sddmm.hpp
  cpp/include/raft/sparse/linalg/masked_matmul.hpp
  cpp/include/raft/sparse/linalg/sddmm.hpp
  cpp/include/raft/spatial/knn/detail/epsilon_neighborhood.cuh
  cpp/include/raft/util/cuda_dev_essentials.cuh
  cpp/include/raft/util/cudart_utils.hpp
  cpp/test/core/mdspan_copy.cu
  cpp/test/linalg/norm.cu
  cpp/test/linalg/transpose.cu
  cpp/test/sparse/masked_matmul.cu
  cpp/test/sparse/sddmm.cu
Labels: enhancement, 3 - Ready for Review, feature request, non-breaking, cpp

#2415 Use CUDA math wheels
  ci/build_wheel.sh
  ci/build_wheel_pylibraft.sh
  dependencies.yaml
  python/pylibraft/CMakeLists.txt
  python/pylibraft/pyproject.toml
Labels: improvement, non-breaking, CMake, python, ci

#2403 [FEA] Batching NN Descent
  cpp/include/raft/neighbors/detail/nn_descent.cuh
  cpp/include/raft/neighbors/detail/nn_descent_batch.cuh
  cpp/include/raft/neighbors/nn_descent.cuh
  cpp/include/raft/neighbors/nn_descent_types.hpp
  cpp/test/CMakeLists.txt
  cpp/test/neighbors/ann_nn_descent.cuh
  cpp/test/neighbors/ann_nn_descent/test_batch_float_uint32_t.cu
  cpp/test/neighbors/ann_utils.cuh
Labels: improvement, non-breaking, cpp, CMake

#2414 Remove NumPy <2 pin
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-aarch64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/pylibraft/meta.yaml
  dependencies.yaml
  python/pylibraft/pyproject.toml
  python/raft-dask/pyproject.toml
Labels: improvement, non-breaking, python

#2417 Drop Python 3.9 support
  dependencies.yaml
  pyproject.toml
  python/pylibraft/pyproject.toml
  python/raft-ann-bench/pyproject.toml
  python/raft-dask/pyproject.toml
Labels: improvement, non-breaking, python

#2420 Update rapidsai/pre-commit-hooks
  .pre-commit-config.yaml
Labels: improvement, non-breaking

#2425 Exclude any kernel symbol that uses cutlass
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: bug, non-breaking
