Repository rapidsai/raft, pull requests merged in 2024-03, with the labels that each got.

#2169 IVF-FLAT support k > 256
  cpp/include/raft/neighbors/detail/cagra/cagra_search.cuh
  cpp/include/raft/neighbors/detail/ivf_common.cuh
  cpp/include/raft/neighbors/detail/ivf_flat_build.cuh
  cpp/include/raft/neighbors/detail/ivf_flat_interleaved_scan-ext.cuh
  cpp/include/raft/neighbors/detail/ivf_flat_interleaved_scan-inl.cuh
  cpp/include/raft/neighbors/detail/ivf_flat_search-inl.cuh
  cpp/include/raft/neighbors/detail/ivf_flat_serialize.cuh
  cpp/include/raft/neighbors/detail/ivf_pq_build.cuh
  cpp/include/raft/neighbors/detail/ivf_pq_compute_similarity-inl.cuh
  cpp/include/raft/neighbors/detail/ivf_pq_dummy_block_sort.cuh
  cpp/include/raft/neighbors/detail/ivf_pq_search.cuh
  cpp/include/raft/neighbors/detail/ivf_pq_serialize.cuh
  cpp/include/raft/neighbors/detail/refine_device.cuh
  cpp/include/raft/neighbors/ivf_flat_helpers.cuh
  cpp/include/raft/neighbors/ivf_flat_types.hpp
  cpp/include/raft/neighbors/ivf_pq_helpers.cuh
  cpp/src/neighbors/detail/ivf_flat_interleaved_scan_float_float_int64_t.cu
  cpp/src/neighbors/detail/ivf_flat_interleaved_scan_half_half_int64_t.cu
  cpp/src/neighbors/detail/ivf_flat_interleaved_scan_int8_t_int32_t_int64_t.cu
  cpp/src/neighbors/detail/ivf_flat_interleaved_scan_uint8_t_uint32_t_int64_t.cu
  cpp/test/neighbors/ann_ivf_flat.cuh
  python/pylibraft/pylibraft/test/test_ivf_flat.py
Labels: improvement, non-breaking, cpp, python

#2163 Ensure that `ctest` is called with `--no-tests=error`.
  ci/run_ctests.sh
Labels: improvement, non-breaking, ci

#2210 Add test for spmm
  cpp/test/CMakeLists.txt
  cpp/test/sparse/spmm.cu
Labels: improvement, non-breaking, cpp, CMake

#2209 Only install necessary components in conda packages.
  conda/recipes/libraft/build_libraft.sh
  conda/recipes/libraft/build_libraft_headers.sh
  conda/recipes/libraft/build_libraft_tests.sh
  conda/recipes/libraft/conda_build_config.yaml
  conda/recipes/libraft/meta.yaml
Labels: improvement, non-breaking

#2211 Improve RBC eps-neighborhood query performance
  cpp/include/raft/neighbors/ball_cover-inl.cuh
  cpp/include/raft/neighbors/ball_cover_types.hpp
  cpp/include/raft/spatial/knn/detail/ball_cover.cuh
  cpp/include/raft/spatial/knn/detail/ball_cover/registers-ext.cuh
  cpp/include/raft/spatial/knn/detail/ball_cover/registers-inl.cuh
  cpp/include/raft/spatial/knn/detail/ball_cover/registers_types.cuh
  cpp/src/spatial/knn/detail/ball_cover/registers_00_generate.py
  cpp/src/spatial/knn/detail/ball_cover/registers_eps_pass_euclidean.cu
Labels: improvement, non-breaking, cpp

#2219 Remove hard-coding of RAPIDS version where possible
  build.sh
  ci/build_docs.sh
  ci/release/update-version.sh
  cpp/CMakeLists.txt
  cpp/doxygen/Doxyfile
  docs/source/conf.py
  fetch_rapids.cmake
  python/pylibraft/CMakeLists.txt
  python/raft-dask/CMakeLists.txt
  rapids_config.cmake
Labels: 3 - Ready for Review, improvement, non-breaking, cpp, CMake, python, ci

#2224 Adding cuVS notice to README and front page of docs.
  README.md
  docs/source/conf.py
  docs/source/index.rst
Labels: doc, non-breaking

#2215 Batch cutlass distance kernels along N matrix dim
  cpp/include/raft/distance/detail/pairwise_distance_cutlass_base.cuh
  cpp/test/distance/dist_cos.cu
  cpp/test/distance/dist_l2_exp.cu
  cpp/test/distance/distance_base.cuh
Labels: bug, 3 - Ready for Review, non-breaking, 4 - Waiting on Reviewer, cpp

#2227 Align ucx version pinning with ucx-py/ucxx.
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-aarch64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/raft-dask/conda_build_config.yaml
  dependencies.yaml
Labels: improvement, non-breaking

#2090 Add `compile-library` by default on pylibraft build
  build.sh
  conda/recipes/libraft/build_libraft_template.sh
  cpp/template/README.md
  cpp/template/build.sh
  cpp/template/cmake/thirdparty/get_raft.cmake
Labels: bug, 5 - Ready to Merge, non-breaking, cpp, CMake

#2228 MAINT: Simplify NCCL worker rank identification
  python/raft-dask/raft_dask/common/comms.py
  python/raft-dask/raft_dask/test/test_comms.py
Labels: bug, non-breaking, python

#2223 Fix illegal acces mean/stdev, sum add Kahan Summation
  cpp/include/raft/stats/detail/mean.cuh
  cpp/include/raft/stats/detail/stddev.cuh
  cpp/include/raft/stats/detail/sum.cuh
  cpp/test/stats/mean.cu
  cpp/test/stats/minmax.cu
  cpp/test/stats/stddev.cu
  cpp/test/stats/sum.cu
Labels: bug, non-breaking, cpp

#2220 Replace local copyright check with pre-commit-hooks verify-copyright
  .pre-commit-config.yaml
  ci/checks/copyright.py
Labels: 3 - Ready for Review, improvement, non-breaking, ci

#2213 Add CAGRA-Q build (compression)
  cpp/include/raft/core/detail/mdspan_numpy_serializer.hpp
  cpp/include/raft/neighbors/cagra.cuh
  cpp/include/raft/neighbors/cagra_types.hpp
  cpp/include/raft/neighbors/dataset.hpp
  cpp/include/raft/neighbors/detail/cagra/cagra_build.cuh
  cpp/include/raft/neighbors/detail/cagra/cagra_serialize.cuh
  cpp/include/raft/neighbors/detail/dataset_serialize.hpp
  cpp/include/raft/neighbors/detail/vpq_dataset.cuh
  cpp/include/raft/neighbors/vpq_dataset.cuh
Labels: 3 - Ready for Review, feature request, non-breaking, cpp, Vector Search

#2180 Fix ANN bench ground truth generation for k>1024
  cpp/include/raft/neighbors/detail/knn_merge_parts.cuh
  python/raft-ann-bench/src/raft-ann-bench/generate_groundtruth/__main__.py
Labels: bug, non-breaking, cpp, python, Vector Search

#2226 Fix bug in blockRankedReduce
  cpp/include/raft/util/reduction.cuh
Labels: bug, non-breaking, cpp

#2221 Performance optimization of IVF-flat / select_k
  cpp/include/raft/matrix/detail/select_k-ext.cuh
  cpp/include/raft/matrix/detail/select_k-inl.cuh
  cpp/include/raft/matrix/detail/select_radix.cuh
  cpp/include/raft/neighbors/detail/ivf_common.cuh
  cpp/include/raft/neighbors/detail/ivf_flat_interleaved_scan-ext.cuh
  cpp/include/raft/neighbors/detail/ivf_flat_interleaved_scan-inl.cuh
  cpp/include/raft/neighbors/detail/ivf_flat_search-inl.cuh
  cpp/include/raft/neighbors/detail/ivf_pq_search.cuh
  cpp/include/raft/neighbors/detail/refine_device.cuh
  cpp/src/matrix/detail/select_k_double_int64_t.cu
  cpp/src/matrix/detail/select_k_double_uint32_t.cu
  cpp/src/matrix/detail/select_k_float_int32.cu
  cpp/src/matrix/detail/select_k_float_int64_t.cu
  cpp/src/matrix/detail/select_k_float_uint32_t.cu
  cpp/src/matrix/detail/select_k_half_int64_t.cu
  cpp/src/matrix/detail/select_k_half_uint32_t.cu
  cpp/src/neighbors/detail/ivf_flat_interleaved_scan_float_float_int64_t.cu
  cpp/src/neighbors/detail/ivf_flat_interleaved_scan_half_half_int64_t.cu
  cpp/src/neighbors/detail/ivf_flat_interleaved_scan_int8_t_int32_t_int64_t.cu
  cpp/src/neighbors/detail/ivf_flat_interleaved_scan_uint8_t_uint32_t_int64_t.cu
  cpp/test/neighbors/ann_cagra.cuh
  cpp/test/neighbors/ann_utils.cuh
Labels: improvement, non-breaking, cpp

#2233 Add CAGRA-Q to ANN benchmarks
  cpp/bench/ann/src/raft/raft_ann_bench_param_parser.h
  cpp/bench/ann/src/raft/raft_cagra_wrapper.h
Labels: 5 - Ready to Merge, feature request, non-breaking, cpp, Vector Search, Benchmarks

#2239 Update pre-commit-hooks to v0.0.3
  .pre-commit-config.yaml
Labels: bug, non-breaking

#2207 Replace usages of raw `get_upstream` with `get_upstream_resource()`
  cpp/test/core/device_resources_manager.cpp
  cpp/test/core/handle.cpp
Labels: improvement, non-breaking, cpp

#2243 Get rid of `cuco::sentinel` namespace
  cpp/include/raft/sparse/distance/detail/coo_spmv_strategies/hash_strategy.cuh
Labels: improvement, non-breaking, cpp

#2247 Use `conda env create --yes` instead of `--force`
  ci/build_docs.sh
  ci/check_style.sh
  ci/test_cpp.sh
  ci/test_python.sh
Labels: improvement, non-breaking, ci
