Repository rapidsai/raft, pull requests merged in 2024-01, with the labels that each got.

#2070 Fix a typo
  cpp/include/raft/neighbors/detail/refine_device.cuh
Labels: doc, non-breaking, cpp

#2079 Fix errors with ingroup exposed by doxygen 1.10
  cpp/include/raft/core/cublas_macros.hpp
  cpp/include/raft/linalg/add.cuh
  cpp/include/raft/neighbors/nn_descent_types.hpp
Labels: doc, non-breaking

#2080 Remove hardcoded limit in `print_results` function
  cpp/include/raft/neighbors/detail/refine_device.cuh
  cpp/template/src/common.cuh
Labels: improvement, non-breaking, cpp

#2059 Improve parallelism of refine host
  cpp/include/raft/neighbors/detail/refine_host-inl.hpp
Labels: improvement, non-breaking, cpp

#2081 Fix `max_queries` for CAGRA
  cpp/include/raft/neighbors/detail/cagra/cagra_search.cuh
  cpp/include/raft/neighbors/detail/cagra/search_plan.cuh
  notebooks/utils.py
  python/pylibraft/pylibraft/neighbors/cagra/cagra.pyx
Labels: bug, non-breaking, cpp, python

#2086 refactor CUDA versions in dependencies.yaml
  .pre-commit-config.yaml
  dependencies.yaml
Labels: improvement, non-breaking

#2091 Add IVF-PQ example into the template project
  cpp/template/CMakeLists.txt
  cpp/template/src/common.cuh
  cpp/template/src/ivf_pq_example.cu
Labels: 3 - Ready for Review, feature request, non-breaking, cpp, CMake

#2094 Properly taking ownership of nccl subcomm (and destroying it)
  cpp/include/raft/comms/detail/std_comms.hpp
Labels: bug, non-breaking, cpp

#2095 Remove usages of rapids-env-update
  ci/build_cpp.sh
  ci/build_python.sh
Labels: improvement, non-breaking, ci

#2031 Add AIR-Top-k reference
  README.md
  cpp/include/raft/matrix/detail/select_radix.cuh
  cpp/include/raft/neighbors/nn_descent_types.hpp
Labels: documentation, improvement, non-breaking, cpp

#2067 [FEA] Add support for SDDMM by wrapping the cusparseSDDMM (#2067)
  cpp/bench/prims/CMakeLists.txt
  cpp/bench/prims/linalg/sddmm.cu
  cpp/include/raft/distance/detail/kernels/gram_matrix.cuh
  cpp/include/raft/linalg/linalg_types.hpp
  cpp/include/raft/sparse/detail/cusparse_wrappers.h
  cpp/include/raft/sparse/linalg/detail/cusparse_utils.hpp
  cpp/include/raft/sparse/linalg/detail/sddmm.hpp
  cpp/include/raft/sparse/linalg/detail/spmm.hpp
  cpp/include/raft/sparse/linalg/sddmm.hpp
  cpp/include/raft/sparse/linalg/spmm.cuh
  cpp/include/raft/sparse/linalg/spmm.hpp
  cpp/test/CMakeLists.txt
  cpp/test/sparse/sddmm.cu
Labels: improvement, non-breaking, cpp, CMake

#2096 Update to use rapids-cmake for all deps
  cpp/bench/ann/CMakeLists.txt
  cpp/bench/ann/src/hnswlib/hnswlib_wrapper.h
  cpp/bench/ann/src/raft/raft_benchmark.cu
  cpp/bench/ann/src/raft/raft_cagra_hnswlib.cu
  cpp/cmake/patches/ggnn.diff
  cpp/cmake/patches/hnswlib.diff
  cpp/cmake/patches/nlohmann_json.patch
  cpp/cmake/thirdparty/get_ggnn.cmake
  cpp/cmake/thirdparty/get_hnswlib.cmake
Labels: 3 - Ready for Review, feature request, non-breaking, cpp, CMake

#2088 Provide explicit pool size for pool_memory_resources and clean up includes
  cpp/bench/ann/src/raft/raft_ann_bench_utils.h
  cpp/bench/ann/src/raft/raft_benchmark.cu
  cpp/bench/ann/src/raft/raft_cagra_hnswlib.cu
  cpp/bench/ann/src/raft/raft_ivf_flat_wrapper.h
  cpp/bench/ann/src/raft/raft_ivf_pq_wrapper.h
  cpp/bench/prims/common/benchmark.hpp
  cpp/bench/prims/matrix/select_k.cu
  cpp/bench/prims/neighbors/refine.cuh
  cpp/include/raft/core/device_resources_manager.hpp
  cpp/include/raft/neighbors/ivf_flat-inl.cuh
  cpp/include/raft/util/memory_pool-ext.hpp
  cpp/include/raft/util/memory_pool-inl.hpp
  cpp/template/src/cagra_example.cu
  cpp/template/src/common.cuh
  cpp/template/src/ivf_flat_example.cu
  cpp/test/core/device_resources_manager.cpp
  cpp/test/core/handle.cpp
  docs/source/vector_search_tutorial.md
Labels: improvement, non-breaking, cpp

#2093 [DOC] Documentation updates for release 24.02
  docs/source/ann_benchmarks_param_tuning.md
  docs/source/raft_ann_benchmarks.md
  docs/source/vector_search_tutorial.md
Labels: doc, non-breaking

#2076 Fix compile failure on RTX 4090
  cpp/include/raft/neighbors/detail/nn_descent.cuh
Labels: bug, non-breaking, cpp

#2099 Replace call to mr::get_mem_info()
  cpp/include/raft/neighbors/detail/knn_brute_force.cuh
Labels: improvement, non-breaking, cpp

#2098 Remove unneeded CI symbol excludes
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: bug, non-breaking

#2077 Add random subsampling for IVF methods
  cpp/include/raft/matrix/detail/gather.cuh
  cpp/include/raft/neighbors/detail/ivf_flat_build.cuh
  cpp/include/raft/neighbors/detail/ivf_pq_build.cuh
  cpp/include/raft/spatial/knn/detail/ann_utils.cuh
  cpp/test/neighbors/ann_ivf_pq.cuh
Labels: feature request, non-breaking, cpp, Vector Search

#1736 Replace GEMM backend: cublas.gemm -> cublaslt.matmul
  cpp/include/raft/core/resource/cublas_handle.hpp
  cpp/include/raft/core/resource/cublaslt_handle.hpp
  cpp/include/raft/core/resource/custom_resource.hpp
  cpp/include/raft/core/resource/resource_types.hpp
  cpp/include/raft/linalg/detail/cublaslt_wrappers.hpp
  cpp/include/raft/linalg/detail/gemm.hpp
  cpp/include/raft/linalg/gemm.cuh
  cpp/include/raft/linalg/gemm.hpp
  cpp/include/raft/random/detail/make_regression.cuh
  cpp/include/raft/random/detail/multi_variable_gaussian.cuh
  cpp/include/raft/stats/detail/cov.cuh
  cpp/include/raft/util/cache.hpp
  cpp/include/raft/util/cuda_data_type.hpp
  cpp/test/linalg/gemm_layout.cu
  cpp/test/random/make_regression.cu
  cpp/test/random/multi_variable_gaussian.cu
  docs/source/cpp_api/core_resources.rst
  docs/source/cpp_api/linalg_blas.rst
Labels: 3 - Ready for Review, feature request, non-breaking, cpp

#2114 Forward-merge branch-24.02 to branch-24.04
  cpp/include/raft/core/resource/cublas_handle.hpp
  cpp/include/raft/core/resource/cublaslt_handle.hpp
  cpp/include/raft/core/resource/custom_resource.hpp
  cpp/include/raft/core/resource/resource_types.hpp
  cpp/include/raft/linalg/detail/cublaslt_wrappers.hpp
  cpp/include/raft/linalg/detail/gemm.hpp
  cpp/include/raft/linalg/gemm.cuh
  cpp/include/raft/linalg/gemm.hpp
  cpp/include/raft/random/detail/make_regression.cuh
  cpp/include/raft/random/detail/multi_variable_gaussian.cuh
  cpp/include/raft/stats/detail/cov.cuh
  cpp/include/raft/util/cache.hpp
  cpp/include/raft/util/cuda_data_type.hpp
  cpp/test/linalg/gemm_layout.cu
  cpp/test/random/make_regression.cu
  cpp/test/random/multi_variable_gaussian.cu
  docs/source/cpp_api/core_resources.rst
  docs/source/cpp_api/linalg_blas.rst
Labels: cpp

#2107 [BUG] Fix `num_cta_per_query` div
  cpp/include/raft/neighbors/detail/cagra/search_multi_cta.cuh
  cpp/include/raft/neighbors/detail/cagra/search_plan.cuh
Labels: bug, non-breaking, cpp

#2115 Forward-merge branch-24.02 to branch-24.04
  cpp/include/raft/neighbors/detail/cagra/search_multi_cta.cuh
  cpp/include/raft/neighbors/detail/cagra/search_plan.cuh
Labels: cpp

#2097 Allow topk larger than 1024 in CAGRA
  cpp/include/raft/neighbors/detail/cagra/cagra_search.cuh
  cpp/include/raft/neighbors/detail/cagra/search_multi_kernel.cuh
  cpp/include/raft/neighbors/detail/cagra/search_plan.cuh
  cpp/test/neighbors/ann_cagra.cuh
Labels: improvement, non-breaking, cpp

#2117 Fixing small bug in CUSPARSE spmm w/ CUDA 12.2
  cpp/include/raft/sparse/linalg/spmm.hpp
Labels: bug, non-breaking, cpp

#2120 Forward-merge branch-24.02 to branch-24.04
  cpp/include/raft/sparse/linalg/spmm.hpp
Labels: cpp

#2108 Remove get_mem_info functions from RAFT custom memory resources
  cpp/bench/ann/src/common/cuda_huge_page_resource.hpp
  cpp/bench/ann/src/common/cuda_pinned_resource.hpp
Labels: improvement, non-breaking, cpp

#1592 add half/bfloat support to myInf and abs
  cpp/include/raft/core/math.hpp
  cpp/include/raft/util/cuda_utils.cuh
Labels: improvement, non-breaking, cpp

#2124 [BUG] Fix `SPMM` strided view
  cpp/include/raft/sparse/linalg/spmm.hpp
Labels: bug, 3 - Ready for Review, non-breaking, cpp

#2084 ANN bench fix latency measurement overhead
  cpp/bench/ann/src/common/benchmark.hpp
Labels: improvement, non-breaking, cpp, Vector Search

#2128 Forward-merge branch-24.02 to branch-24.04
  cpp/bench/ann/src/common/benchmark.hpp
  cpp/include/raft/sparse/linalg/spmm.hpp
Labels: cpp

#2129 Adding license info for wiki-all dataset
  docs/source/wiki_all_dataset.md
Labels: doc, non-breaking

#2052 Subsampling for IVF-PQ codebook generation
  cpp/bench/ann/src/raft/raft_ann_bench_param_parser.h
  cpp/include/raft/neighbors/detail/ivf_pq_build.cuh
  cpp/include/raft/neighbors/ivf_pq_types.hpp
  docs/source/ann_benchmarks_param_tuning.md
  python/pylibraft/pylibraft/neighbors/ivf_pq/cpp/c_ivf_pq.pxd
  python/pylibraft/pylibraft/neighbors/ivf_pq/ivf_pq.pyx
Labels: improvement, non-breaking, cpp, python

#2022 `libraft` and `pylibraft` API for CAGRA build and HNSW search
  .pre-commit-config.yaml
  cpp/CMakeLists.txt
  cpp/bench/ann/CMakeLists.txt
  cpp/bench/ann/src/hnswlib/hnswlib_wrapper.h
  cpp/cmake/patches/hnswlib.diff
  cpp/cmake/thirdparty/get_hnswlib.cmake
  cpp/include/raft/neighbors/cagra_serialize.cuh
  cpp/include/raft/neighbors/detail/cagra/cagra_serialize.cuh
  cpp/include/raft/neighbors/detail/hnsw.hpp
  cpp/include/raft/neighbors/detail/hnsw_serialize.hpp
  cpp/include/raft/neighbors/detail/hnsw_types.hpp
  cpp/include/raft/neighbors/hnsw.hpp
  cpp/include/raft/neighbors/hnsw_serialize.hpp
  cpp/include/raft/neighbors/hnsw_types.hpp
  cpp/include/raft_runtime/neighbors/cagra.hpp
  cpp/include/raft_runtime/neighbors/hnsw.hpp
  cpp/src/raft_runtime/neighbors/cagra_serialize.cu
  cpp/src/raft_runtime/neighbors/hnsw.cpp
  docs/source/cpp_api/neighbors_hnsw.rst
  docs/source/pylibraft_api/neighbors.rst
  pyproject.toml
  python/pylibraft/pylibraft/common/mdspan.pxd
  python/pylibraft/pylibraft/common/mdspan.pyx
  python/pylibraft/pylibraft/neighbors/CMakeLists.txt
  python/pylibraft/pylibraft/neighbors/__init__.py
  python/pylibraft/pylibraft/neighbors/cagra/cagra.pxd
  python/pylibraft/pylibraft/neighbors/cagra/cagra.pyx
  python/pylibraft/pylibraft/neighbors/cagra/cpp/c_cagra.pxd
  python/pylibraft/pylibraft/neighbors/cpp/hnsw.pxd
  python/pylibraft/pylibraft/neighbors/hnsw.pyx
  python/pylibraft/pylibraft/test/__init__py
  python/pylibraft/pylibraft/test/ann_utils.py
  python/pylibraft/pylibraft/test/test_cagra.py
  python/pylibraft/pylibraft/test/test_hnsw.py
Labels: feature request, non-breaking, cpp, CMake, python

#2135 Conditionally include `hnsw` wrapper source in CMake
  cpp/CMakeLists.txt
Labels: bug, non-breaking, cpp, CMake

#2137 Pin to pytest 7.
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-aarch64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  dependencies.yaml
  python/pylibraft/pyproject.toml
  python/raft-dask/pyproject.toml
Labels: bug, non-breaking, python

#2143 Branch 24.04 merge branch 24.02
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-aarch64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  dependencies.yaml
  python/pylibraft/pyproject.toml
  python/raft-dask/pyproject.toml
Labels: python

#2138 Forward-merge branch-24.02 to branch-24.04
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-aarch64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  dependencies.yaml
  python/pylibraft/pyproject.toml
  python/raft-dask/pyproject.toml
Labels: python
