Repository rapidsai/raft, pull requests merged in 2024-11, with the labels that each got.

#2478 Do not initialize the pinned mdarray at construction time
  cpp/include/raft/core/pinned_container_policy.hpp
Labels: 3 - Ready for Review, improvement, breaking, cpp

#2480 Don't presume pointers location infers usability.
  cpp/include/raft/spatial/knn/detail/ann_utils.cuh
  cpp/include/raft/util/cudart_utils.hpp
Labels: bug, non-breaking, cpp

#2486 Put a ceiling on cuda-python
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-aarch64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/pylibraft/meta.yaml
  conda/recipes/raft-dask/meta.yaml
  dependencies.yaml
  python/pylibraft/pyproject.toml
Labels: bug, non-breaking, python

#2490 enforce wheel size limits and README formatting in CI, put a ceiling on Cython dependency
  ci/build_wheel_pylibraft.sh
  ci/build_wheel_raft_dask.sh
  ci/validate_wheel.sh
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-aarch64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/environments/bench_ann_cuda-118_arch-aarch64.yaml
  conda/environments/bench_ann_cuda-118_arch-x86_64.yaml
  conda/environments/bench_ann_cuda-120_arch-aarch64.yaml
  conda/environments/bench_ann_cuda-120_arch-x86_64.yaml
  conda/recipes/pylibraft/meta.yaml
  conda/recipes/raft-dask/meta.yaml
  dependencies.yaml
  python/pylibraft/pyproject.toml
  python/raft-dask/pyproject.toml
Labels: improvement, non-breaking, python, ci

#2496 Pin FAISS Version for raft-ann-bench
  cpp/cmake/patches/faiss_override.json
Labels: improvement, non-breaking, cpp, CMake

#2500 Remove leftover template project code.
  ci/release/update-version.sh
  cpp/template/cmake/thirdparty/get_raft.cmake
Labels: improvement, non-breaking, cpp, CMake, ci

#2481 [FEA] Lanczos solver v2
  cpp/CMakeLists.txt
  cpp/include/raft/sparse/linalg/detail/cusparse_utils.hpp
  cpp/include/raft/sparse/solver/detail/lanczos.cuh
  cpp/include/raft/sparse/solver/lanczos.cuh
  cpp/include/raft/sparse/solver/lanczos_types.hpp
  cpp/include/raft/spectral/eigen_solvers.cuh
  cpp/include/raft_runtime/solver/lanczos.hpp
  cpp/src/raft_runtime/solver/lanczos_solver.cuh
  cpp/src/raft_runtime/solver/lanczos_solver_int64_double.cu
  cpp/src/raft_runtime/solver/lanczos_solver_int64_float.cu
  cpp/src/raft_runtime/solver/lanczos_solver_int_double.cu
  cpp/src/raft_runtime/solver/lanczos_solver_int_float.cu
  cpp/test/CMakeLists.txt
  cpp/test/sparse/solver/lanczos.cu
  docs/source/pylibraft_api.rst
  docs/source/pylibraft_api/sparse.rst
  python/pylibraft/CMakeLists.txt
  python/pylibraft/pylibraft/sparse/CMakeLists.txt
  python/pylibraft/pylibraft/sparse/__init__.py
  python/pylibraft/pylibraft/sparse/linalg/CMakeLists.txt
  python/pylibraft/pylibraft/sparse/linalg/__init__.pxd
  python/pylibraft/pylibraft/sparse/linalg/__init__.py
  python/pylibraft/pylibraft/sparse/linalg/cpp/__init__.pxd
  python/pylibraft/pylibraft/sparse/linalg/cpp/__init__.py
  python/pylibraft/pylibraft/sparse/linalg/lanczos.pyx
  python/pylibraft/pylibraft/test/test_sparse.py
Labels: 3 - Ready for Review, feature request, non-breaking, cpp, CMake, python

#2503 Upgrade to latest cutlass version
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .pre-commit-config.yaml
  cpp/cmake/patches/cutlass/build-export.patch
  cpp/cmake/patches/cutlass_override.json
  cpp/cmake/thirdparty/get_cutlass.cmake
  cpp/include/raft/distance/detail/pairwise_distance_epilogue_elementwise.h
Labels: improvement, non-breaking, cpp, CMake

#2507 Revert use of new Lanczos solver in spectral clustering
  cpp/include/raft/spectral/eigen_solvers.cuh
Labels: bug, 3 - Ready for Review, non-breaking, cpp

#2510 Switch `assert` to `static_assert`
  cpp/include/raft/core/device_mdspan.hpp
Labels: bug, non-breaking, cpp

#2482 Add breaking change workflow trigger
  .github/workflows/trigger-breaking-change-alert.yaml
Labels: improvement, non-breaking

#2512 Require approval to run CI on draft PRs
  .github/copy-pr-bot.yaml
Labels: improvement, non-breaking

#2509 Shrink wheel size limit following removal of vector search APIs.
  ci/build_wheel_pylibraft.sh
  ci/build_wheel_raft_dask.sh
  ci/validate_wheel.sh
  python/pylibraft/pyproject.toml
Labels: improvement, non-breaking, python, ci

#2513 Adapt to rmm logger changes
  cpp/CMakeLists.txt
  cpp/bench/prims/CMakeLists.txt
  cpp/cmake/thirdparty/get_spdlog.cmake
Labels: improvement, breaking, cpp, CMake
