Repository rapidsai/raft, pull requests merged in 2024-12, with the labels that each got.

#2514 prefer system install of UCX in devcontainers, update outdated RAPIDS references
  .devcontainer/Dockerfile
  .github/workflows/trigger-breaking-change-alert.yaml
Labels: improvement, non-breaking

#2517 Remove upper bounds on cuda-python to allow 12.6.2 and 11.8.5
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-aarch64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/pylibraft/meta.yaml
  conda/recipes/raft-dask/meta.yaml
  cpp/cmake/thirdparty/get_rmm.cmake
  dependencies.yaml
Labels: feature request, non-breaking, cpp, CMake

#2520 Skip gtests for new lanczos solver when CUDA version is 11.4 or below.
  cpp/test/sparse/solver/lanczos.cu
Labels: bug, non-breaking, cpp

#2522 Update cuda-python lower bounds to 12.6.2 / 11.8.5
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-aarch64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/pylibraft/meta.yaml
  conda/recipes/raft-dask/meta.yaml
  dependencies.yaml
Labels: improvement, non-breaking

#2525 Skip gtests for Rmat Lanczos tests with cuda <= 11.4
  cpp/test/sparse/solver/lanczos.cu
Labels: improvement, non-breaking, cpp

#2524 Fix rnd bit generation in rmat_rectangular_kernel
  cpp/include/raft/random/detail/rmat_rectangular_generator.cuh
Labels: bug, non-breaking

#2516 [Opt] Optimizing the performance of `bitmap_to_csr`
  cpp/bench/prims/sparse/bitmap_to_csr.cu
  cpp/include/raft/sparse/convert/detail/bitmap_to_csr.cuh
  cpp/include/raft/util/device_loads_stores.cuh
  cpp/test/sparse/convert_csr.cu
Labels: enhancement, 3 - Ready for Review, improvement, non-breaking, cpp

#2529 reduce duplication, removed unused things in dependencies.yaml
  dependencies.yaml
Labels: improvement, non-breaking

#2518 [DOC] Fix sample codes
  cpp/include/raft/cluster/kmeans.cuh
  cpp/include/raft/comms/std_comms.hpp
  cpp/include/raft/distance/distance-inl.cuh
  cpp/include/raft/neighbors/epsilon_neighborhood.cuh
Labels: 3 - Ready for Review, doc, non-breaking, cpp

#2533 Check if nightlies have succeeded recently enough
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#2530 Switch over to rapids-logger
  cpp/CMakeLists.txt
  cpp/include/raft/cluster/detail/kmeans.cuh
  cpp/include/raft/cluster/detail/kmeans_balanced.cuh
  cpp/include/raft/cluster/kmeans_types.hpp
  cpp/include/raft/common/logger.hpp
  cpp/include/raft/core/cublas_macros.hpp
  cpp/include/raft/core/cusolver_macros.hpp
  cpp/include/raft/core/cusparse_macros.hpp
  cpp/include/raft/core/detail/callback_sink.hpp
  cpp/include/raft/core/detail/fail_container_policy.hpp
  cpp/include/raft/core/detail/logger.hpp
  cpp/include/raft/core/logger-ext.hpp
  cpp/include/raft/core/logger-inl.hpp
  cpp/include/raft/core/logger-macros.hpp
  cpp/include/raft/core/logger.hpp
  cpp/include/raft/neighbors/detail/ivf_flat_build.cuh
  cpp/include/raft/neighbors/detail/ivf_flat_search-inl.cuh
  cpp/include/raft/solver/detail/lap_kernels.cuh
  cpp/include/raft/sparse/solver/detail/lanczos.cuh
  cpp/src/core/logger.cpp
  cpp/test/CMakeLists.txt
  cpp/test/core/device_resources_manager.cpp
  cpp/test/core/logger.cpp
  docs/source/developer_guide.md
Labels: improvement, breaking, cpp, CMake
