Repository rapidsai/raft, pull requests merged in 2024-06, with the labels that each got.

#2349 ensure raft-dask wheel tests install pylibraft wheel from the same CI run, fix wheel dependencies
  ci/test_wheel_raft_dask.sh
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-aarch64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  dependencies.yaml
  python/raft-dask/pyproject.toml
Labels: bug, 3 - Ready for Review, non-breaking, python, ci

#2344 ensure update-version.sh preserves alpha spec, add tests on version constants
  .pre-commit-config.yaml
  ci/release/update-version.sh
  dependencies.yaml
  python/pylibraft/pylibraft/test/test_version.py
  python/raft-dask/raft_dask/test/test_version.py
Labels: 3 - Ready for Review, improvement, non-breaking, python, ci

#2342 Change --config-setting to --config-settings
  build.sh
Labels: bug, non-breaking

#2351 Use default init in reduction
  cpp/include/raft/util/reduction.cuh
Labels: improvement, non-breaking, cpp

#2354 Remove text builds of documentation
  ci/build_docs.sh
Labels: improvement, non-breaking, ci

#2355 Allow anonymous user in devcontainer name
  .devcontainer/cuda11.8-conda/devcontainer.json
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.2-conda/devcontainer.json
  .devcontainer/cuda12.2-pip/devcontainer.json
  .github/CODEOWNERS
Labels: bug, non-breaking

#2361 Fix a bug where the wrong API is used to free the memory
  cpp/test/core/memory_type.cpp
Labels: bug, non-breaking, cpp

#2360 resolve dependency-file-generator warning, other rapids-build-backend followup
  ci/build_cpp.sh
  ci/build_docs.sh
  ci/check_style.sh
  ci/test_cpp.sh
  ci/test_python.sh
  dependencies.yaml
Labels: 3 - Ready for Review, improvement, non-breaking, ci

#2345 [REVIEW] Enable distance return for NN Descent
  cpp/include/raft/neighbors/detail/nn_descent.cuh
  cpp/include/raft/neighbors/nn_descent_types.hpp
  cpp/test/neighbors/ann_nn_descent.cuh
Labels: feature request, non-breaking, cpp

#2026 Add FAISS with RAFT enabled Benchmarking to raft-ann-bench
  cpp/bench/ann/CMakeLists.txt
  cpp/bench/ann/src/common/benchmark.hpp
  cpp/bench/ann/src/faiss/faiss_cpu_benchmark.cpp
  cpp/bench/ann/src/faiss/faiss_cpu_wrapper.h
  cpp/bench/ann/src/faiss/faiss_gpu_benchmark.cu
  cpp/bench/ann/src/faiss/faiss_gpu_wrapper.h
  cpp/cmake/thirdparty/get_faiss.cmake
  cpp/include/raft_runtime/neighbors/refine.hpp
  docs/source/ann_benchmarks_build.md
  python/raft-ann-bench/src/raft_ann_bench/constraints/__init__.py
  python/raft-ann-bench/src/raft_ann_bench/run/conf/algos/faiss_cpu_ivf_flat.yaml
  python/raft-ann-bench/src/raft_ann_bench/run/conf/algos/faiss_cpu_ivf_pq.yaml
  python/raft-ann-bench/src/raft_ann_bench/run/conf/algos/faiss_gpu_ivf_flat.yaml
  python/raft-ann-bench/src/raft_ann_bench/run/conf/algos/faiss_gpu_ivf_pq.yaml
  python/raft-ann-bench/src/raft_ann_bench/run/conf/algos/raft_ivf_pq.yaml
Labels: improvement, non-breaking, cpp, CMake, python, Benchmarks

#2365 Fix cagra graph opt bug
  README.md
  cpp/include/raft/neighbors/detail/cagra/graph_core.cuh
Labels: bug, non-breaking, cpp

#2359 [FEA] Dice Distance for Dense Inputs
  cpp/CMakeLists.txt
  cpp/include/raft/distance/detail/distance.cuh
  cpp/include/raft/distance/detail/distance_ops/all_ops.cuh
  cpp/include/raft/distance/detail/distance_ops/dice.cuh
  cpp/include/raft/distance/detail/pairwise_matrix/dispatch-ext.cuh
  cpp/include/raft/distance/distance-ext.cuh
  cpp/include/raft/distance/distance-inl.cuh
  cpp/src/distance/detail/pairwise_matrix/dispatch_dice_double_double_double_int.cu
  cpp/src/distance/detail/pairwise_matrix/dispatch_dice_float_float_float_int.cu
  cpp/src/distance/distance.cu
  cpp/test/CMakeLists.txt
  cpp/test/distance/dist_dice.cu
  cpp/test/distance/distance_base.cuh
  cpp/test/test_utils.h
Labels: feature request, non-breaking, cpp, CMake

#2367 Fix `ef` setting in HNSW wrapper
  cpp/include/raft/neighbors/detail/hnsw.hpp
  cpp/include/raft/neighbors/detail/hnsw_types.hpp
  cpp/include/raft/neighbors/hnsw.hpp
  cpp/include/raft/neighbors/hnsw_types.hpp
  cpp/src/raft_runtime/neighbors/hnsw.cpp
  python/pylibraft/pylibraft/neighbors/hnsw.pyx
Labels: bug, non-breaking, cpp, python

#2350 Fix compilation error when _CLK_BREAKDOWN is defined in cagra.
  cpp/include/raft/neighbors/detail/cagra/search_multi_cta_kernel-inl.cuh
  cpp/include/raft/neighbors/detail/cagra/search_single_cta_kernel-inl.cuh
Labels: bug, non-breaking, cpp

#2369 Fix 0 recall issue in `raft_cagra_hnswlib` ANN benchmark
  cpp/bench/ann/src/raft/raft_cagra_hnswlib_wrapper.h
  cpp/bench/ann/src/raft/raft_cagra_wrapper.h
Labels: bug, non-breaking, cpp
