Repository rapidsai/raft, pull requests merged in 2024-04, with the labels that each got.

#2244 Add CAGRA-Q subspace dim = 4 support
  cpp/include/raft/neighbors/detail/cagra/cagra_search.cuh
  cpp/include/raft/neighbors/detail/cagra/compute_distance_vpq.cuh
  cpp/include/raft/neighbors/detail/vpq_dataset.cuh
  cpp/test/neighbors/ann_cagra_vpq.cuh
Labels: improvement, non-breaking, cpp

#2231 Fix time computation in CAGRA notebook
  notebooks/VectorSearch_QuestionRetrieval.ipynb
Labels: bug, 3 - Ready for Review, non-breaking

#2140 [FEA] Add support for `select_k` on CSR matrix
  cpp/bench/prims/CMakeLists.txt
  cpp/bench/prims/sparse/select_k_csr.cu
  cpp/include/raft/matrix/detail/select_radix.cuh
  cpp/include/raft/matrix/detail/select_warpsort.cuh
  cpp/include/raft/sparse/matrix/detail/select_k-ext.cuh
  cpp/include/raft/sparse/matrix/detail/select_k-inl.cuh
  cpp/include/raft/sparse/matrix/detail/select_k.cuh
  cpp/include/raft/sparse/matrix/select_k.cuh
  cpp/src/sparse/matrix/detail/select_k_double_int64_t.cu
  cpp/src/sparse/matrix/detail/select_k_double_uint32_t.cu
  cpp/src/sparse/matrix/detail/select_k_float_int32.cu
  cpp/src/sparse/matrix/detail/select_k_float_int64_t.cu
  cpp/src/sparse/matrix/detail/select_k_float_uint32_t.cu
  cpp/src/sparse/matrix/detail/select_k_half_int64_t.cu
  cpp/src/sparse/matrix/detail/select_k_half_uint32_t.cu
  cpp/test/CMakeLists.txt
  cpp/test/sparse/select_k_csr.cu
Labels: enhancement, 5 - Ready to Merge, feature request, non-breaking, cpp, CMake, Public API

#2248 Enable all tests for `arm64` jobs
  ci/test_wheel_pylibraft.sh
  ci/test_wheel_raft_dask.sh
  ci/wheel_smoke_test_pylibraft.py
  ci/wheel_smoke_test_raft_dask.py
Labels: improvement, non-breaking, ci

#2254 Correct member initialization order
  cpp/include/raft/neighbors/cagra_types.hpp
Labels: bug, 3 - Ready for Review, non-breaking, cpp

#2266 Update the developer's guide with new copyright hook
  docs/source/developer_guide.md
Labels: documentation, 3 - Ready for Review, improvement, non-breaking

#2262 Fix a compilation error in CAGRA when enabling log output
  cpp/include/raft/neighbors/detail/cagra/cagra_search.cuh
Labels: bug, 5 - Ready to Merge, non-breaking, cpp

#2265 Always use a static gtest and gbench
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-aarch64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/libraft/conda_build_config.yaml
  conda/recipes/libraft/meta.yaml
  conda/recipes/raft-ann-bench/conda_build_config.yaml
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_gtest.cmake
  dependencies.yaml
Labels: feature request, non-breaking, cpp, CMake

#2271 `#ifdef` out pragma deprecation warning messages
  cpp/cmake/modules/ConfigureCUDA.cmake
  cpp/include/raft/cluster/specializations.cuh
  cpp/include/raft/common/cub_wrappers.cuh
  cpp/include/raft/common/device_loads_stores.cuh
  cpp/include/raft/common/scatter.cuh
  cpp/include/raft/common/seive.hpp
  cpp/include/raft/core/detail/logger.hpp
  cpp/include/raft/distance/specializations.cuh
  cpp/include/raft/distance/specializations/distance.cuh
  cpp/include/raft/distance/specializations/fused_l2_nn_min.cuh
  cpp/include/raft/lap/lap.cuh
  cpp/include/raft/lap/lap.hpp
  cpp/include/raft/linalg/detail/gemm.hpp
  cpp/include/raft/linalg/gemm.cuh
  cpp/include/raft/linalg/lanczos.cuh
  cpp/include/raft/matrix/math.cuh
  cpp/include/raft/matrix/matrix.cuh
  cpp/include/raft/matrix/matrix.hpp
  cpp/include/raft/matrix/specializations.cuh
  cpp/include/raft/matrix/specializations/detail/select_k.cuh
  cpp/include/raft/neighbors/specializations.cuh
  cpp/include/raft/neighbors/specializations/ball_cover.cuh
  cpp/include/raft/neighbors/specializations/brute_force.cuh
  cpp/include/raft/neighbors/specializations/detail/ivf_pq_compute_similarity.cuh
  cpp/include/raft/neighbors/specializations/fused_l2_knn.cuh
  cpp/include/raft/neighbors/specializations/ivf_flat.cuh
  cpp/include/raft/neighbors/specializations/ivf_pq.cuh
  cpp/include/raft/neighbors/specializations/refine.cuh
  cpp/include/raft/sparse/hierarchy/common.h
  cpp/include/raft/sparse/hierarchy/single_linkage.cuh
  cpp/include/raft/sparse/linalg/spmm.cuh
  cpp/include/raft/sparse/mst/mst.cuh
  cpp/include/raft/sparse/mst/mst.hpp
  cpp/include/raft/sparse/mst/mst_solver.cuh
  cpp/include/raft/sparse/neighbors/knn.cuh
  cpp/include/raft/sparse/neighbors/specializations.cuh
  cpp/include/raft/sparse/selection/cross_component_nn.cuh
  cpp/include/raft/sparse/selection/knn.cuh
  cpp/include/raft/sparse/selection/knn_graph.cuh
  cpp/include/raft/spatial/knn/ann_common.h
  cpp/include/raft/spatial/knn/ball_cover.cuh
  cpp/include/raft/spatial/knn/ball_cover_types.hpp
  cpp/include/raft/spatial/knn/epsilon_neighborhood.cuh
  cpp/include/raft/spatial/knn/ivf_flat.cuh
  cpp/include/raft/spatial/knn/ivf_flat_types.hpp
  cpp/include/raft/spatial/knn/ivf_pq.cuh
  cpp/include/raft/spatial/knn/ivf_pq_types.hpp
  cpp/include/raft/spatial/knn/specializations.cuh
  cpp/include/raft/spatial/knn/specializations/knn.cuh
  cpp/include/raft/spectral/specializations.cuh
  cpp/include/raft/stats/specializations.cuh
Labels: 3 - Ready for Review, improvement, non-breaking, cpp, CMake

#2259 Improve coalesced reduction performance for tall and thin matrices (up to 2.6x faster)
  cpp/include/raft/linalg/detail/coalesced_reduction-inl.cuh
  cpp/include/raft/util/pow2_utils.cuh
  cpp/include/raft/util/reduction.cuh
  cpp/test/linalg/coalesced_reduction.cu
Labels: 3 - Ready for Review, improvement, non-breaking, cpp

#2275 add --rm and --name to devcontainer run args
  .devcontainer/cuda11.8-conda/devcontainer.json
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.2-conda/devcontainer.json
  .devcontainer/cuda12.2-pip/devcontainer.json
  ci/release/update-version.sh
Labels: 3 - Ready for Review, improvement, non-breaking, ci

#2270 Fix build command for C++ compilation
  build.sh
Labels: bug, 3 - Ready for Review, non-breaking

#2274 Update pip devcontainers to UCX v1.15.0
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.2-pip/devcontainer.json
Labels: 3 - Ready for Review, improvement, non-breaking

#2260 InnerProduct Distance Metric for CAGRA search
  cpp/include/raft/neighbors/cagra.cuh
  cpp/include/raft/neighbors/detail/cagra/cagra_build.cuh
  cpp/include/raft/neighbors/detail/cagra/cagra_search.cuh
  cpp/include/raft/neighbors/detail/cagra/compute_distance.hpp
  cpp/include/raft/neighbors/detail/cagra/compute_distance_vpq.cuh
  cpp/include/raft/neighbors/detail/cagra/factory.cuh
  cpp/include/raft/neighbors/detail/cagra/search_multi_cta.cuh
  cpp/include/raft/neighbors/detail/cagra/search_multi_cta_kernel-ext.cuh
  cpp/include/raft/neighbors/detail/cagra/search_multi_cta_kernel-inl.cuh
  cpp/include/raft/neighbors/detail/cagra/search_multi_kernel.cuh
  cpp/include/raft/neighbors/detail/cagra/search_plan.cuh
  cpp/include/raft/neighbors/detail/cagra/search_single_cta.cuh
  cpp/include/raft/neighbors/detail/cagra/search_single_cta_kernel-ext.cuh
  cpp/include/raft/neighbors/detail/cagra/search_single_cta_kernel-inl.cuh
  cpp/include/raft/neighbors/ivf_pq_types.hpp
  cpp/src/neighbors/detail/cagra/search_multi_cta.cuh
  cpp/src/neighbors/detail/cagra/search_single_cta.cuh
  cpp/test/neighbors/ann_cagra.cuh
  cpp/test/neighbors/ann_cagra/search_kernel_uint64_t.cuh
  python/pylibraft/pylibraft/neighbors/cagra/cagra.pyx
  python/pylibraft/pylibraft/test/test_cagra.py
Labels: feature request, non-breaking, 2 - In Progress, cpp, python
