Repository rapidsai/raft, pull requests merged in 2024-05, with the labels that each got.

#2283 Fix comments in cpp/include/raft/neighbors/cagra_serialize.cuh
  cpp/include/raft/neighbors/cagra_serialize.cuh
Labels: improvement, non-breaking, cpp

#2284 Make 'librmm' a 'host' dependency for conda packages
  conda/recipes/libraft/meta.yaml
Labels: improvement, non-breaking

#2281 define 'ucx' pytest marker
  python/raft-dask/pytest.ini
Labels: 3 - Ready for Review, improvement, non-breaking, python

#2278 Migrate to `{{ stdlib("c") }}`
  conda/recipes/libraft/conda_build_config.yaml
  conda/recipes/libraft/meta.yaml
  conda/recipes/pylibraft/conda_build_config.yaml
  conda/recipes/pylibraft/meta.yaml
  conda/recipes/raft-ann-bench-cpu/conda_build_config.yaml
  conda/recipes/raft-ann-bench-cpu/meta.yaml
  conda/recipes/raft-ann-bench/conda_build_config.yaml
  conda/recipes/raft-ann-bench/meta.yaml
  conda/recipes/raft-dask/conda_build_config.yaml
  conda/recipes/raft-dask/meta.yaml
Labels: improvement, non-breaking

#1983 Add UCXX support
  ci/build_wheel.sh
  ci/release/update-version.sh
  ci/test_python.sh
  ci/test_wheel_raft_dask.sh
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-aarch64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/environments/bench_ann_cuda-118_arch-aarch64.yaml
  conda/environments/bench_ann_cuda-118_arch-x86_64.yaml
  conda/environments/bench_ann_cuda-120_arch-aarch64.yaml
  conda/environments/bench_ann_cuda-120_arch-x86_64.yaml
  conda/recipes/raft-dask/conda_build_config.yaml
  conda/recipes/raft-dask/meta.yaml
  cpp/CMakeLists.txt
  cpp/include/raft/comms/detail/std_comms.hpp
  cpp/include/raft/comms/detail/ucp_helper.hpp
  cpp/include/raft/comms/std_comms.hpp
  dependencies.yaml
  python/raft-dask/CMakeLists.txt
  python/raft-dask/cmake/thirdparty/get_ucxx.cmake
  python/raft-dask/pyproject.toml
  python/raft-dask/pytest.ini
  python/raft-dask/raft_dask/__init__.py
  python/raft-dask/raft_dask/common/comms.py
  python/raft-dask/raft_dask/common/comms_utils.pyx
  python/raft-dask/raft_dask/common/ucx.py
  python/raft-dask/raft_dask/test/conftest.py
  python/raft-dask/raft_dask/test/test_comms.py
Labels: improvement, non-breaking, cpp, CMake, python, ci

#2282 Only use functions in the limited API
  python/pylibraft/pylibraft/common/mdspan.pyx
  python/pylibraft/pylibraft/neighbors/cpp/hnsw.pxd
Labels: improvement, non-breaking, python

#2287 Normalize dataset vectors in the CAGRA InnerProduct tests
  cpp/test/neighbors/ann_cagra.cuh
Labels: improvement, non-breaking, cpp

#2296 `libucx` should be run dependency of `raft-dask`
  dependencies.yaml
  python/raft-dask/pyproject.toml
Labels: bug, non-breaking, python

#2288 Enable warnings as errors for Python tests
  python/pylibraft/pyproject.toml
  python/raft-dask/pytest.ini
Labels: improvement, non-breaking, python

#2142 Set the import mode for dask tests
  ci/run_raft_dask_pytests.sh
  ci/test_wheel_raft_dask.sh
Labels: improvement, non-breaking, ci

#2299 Add VERSION to raft-ann-bench package
  python/raft-ann-bench/pyproject.toml
Labels: bug, non-breaking, python

#2246 Update nvtx3 link in cmake
  cpp/CMakeLists.txt
Labels: 3 - Ready for Review, improvement, non-breaking, cpp, CMake

#2305 Revert "Build C++ wheel (#2264)"
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  build.sh
  ci/build_wheel.sh
  ci/build_wheel_cpp.sh
  ci/build_wheel_pylibraft.sh
  ci/build_wheel_python.sh
  ci/build_wheel_raft_dask.sh
  ci/test_wheel_pylibraft.sh
  ci/test_wheel_raft_dask.sh
  cpp/CMakeLists.txt
  dependencies.yaml
  python/libraft/CMakeLists.txt
  python/libraft/LICENSE
  python/libraft/README.md
  python/libraft/libraft/VERSION
  python/libraft/libraft/__init__.py
  python/libraft/libraft/_version.py
  python/libraft/libraft/load.py
  python/libraft/pyproject.toml
  python/pylibraft/CMakeLists.txt
  python/pylibraft/pylibraft/__init__.py
  python/pylibraft/pylibraft/cluster/CMakeLists.txt
  python/pylibraft/pylibraft/common/CMakeLists.txt
  python/pylibraft/pylibraft/distance/CMakeLists.txt
  python/pylibraft/pylibraft/matrix/CMakeLists.txt
  python/pylibraft/pylibraft/neighbors/CMakeLists.txt
  python/pylibraft/pylibraft/neighbors/cagra/CMakeLists.txt
  python/pylibraft/pylibraft/neighbors/ivf_flat/CMakeLists.txt
  python/pylibraft/pylibraft/neighbors/ivf_pq/CMakeLists.txt
  python/pylibraft/pylibraft/random/CMakeLists.txt
  python/pylibraft/pyproject.toml
  python/raft-dask/CMakeLists.txt
  python/raft-dask/pyproject.toml
  python/raft-dask/raft_dask/__init__.py
  python/raft-dask/raft_dask/common/CMakeLists.txt
  python/raft-dask/raft_dask/include_test/CMakeLists.txt
Labels: bug, non-breaking, cpp, CMake, python, ci

#2303 Overhaul ops-codeowners
  .github/CODEOWNERS
Labels: improvement, non-breaking

#2300 Revert "Add `compile-library` by default on pylibraft build"
  build.sh
Labels: bug, non-breaking

#2307 [REVIEW] Reenable raft-dask wheel tests requiring UCX-Py
  ci/test_wheel_raft_dask.sh
Labels: improvement, non-breaking, ci

#2304 [REVIEW] Adjust UCX dependencies
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-aarch64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/raft-dask/meta.yaml
  dependencies.yaml
  python/raft-dask/pyproject.toml
Labels: improvement, breaking, python

#2302 Make thrust nosync execution policy the default thrust policy
  cpp/include/raft/core/device_resources.hpp
  cpp/include/raft/core/resource/thrust_policy.hpp
  cpp/include/raft/spectral/detail/matrix_wrappers.hpp
Labels: improvement, non-breaking, cpp

#2312 ANN_BENCH: a global pool of result buffers across benchmark cases
  cpp/bench/ann/src/common/benchmark.hpp
  cpp/bench/ann/src/common/util.hpp
Labels: 3 - Ready for Review, improvement, non-breaking, cpp

#2310 Remove the shared state and the mutex from NVTX internals
  cpp/include/raft/core/detail/nvtx.hpp
Labels: 3 - Ready for Review, improvement, non-breaking, cpp

#2311 ANN_BENCH: enable move semantics for configured_raft_resources
  cpp/bench/ann/src/raft/raft_ann_bench_utils.h
Labels: bug, 3 - Ready for Review, non-breaking, cpp

#2313 ANN_BENCH: split instances of RaftCagra into multiple files
  cpp/bench/ann/CMakeLists.txt
  cpp/bench/ann/src/raft/raft_cagra_float.cu
  cpp/bench/ann/src/raft/raft_cagra_half.cu
  cpp/bench/ann/src/raft/raft_cagra_int8_t.cu
  cpp/bench/ann/src/raft/raft_cagra_uint8_t.cu
Labels: 3 - Ready for Review, improvement, non-breaking, cpp, CMake

#2314 ANN_BENCH: AnnGPU::uses_stream() for optional algo GPU sync
  cpp/bench/ann/src/common/ann_types.hpp
  cpp/bench/ann/src/common/util.hpp
Labels: 3 - Ready for Review, feature request, non-breaking, cpp

#2315 ANN_BENCH: common AnnBase::index_type
  cpp/bench/ann/src/common/ann_types.hpp
  cpp/bench/ann/src/common/benchmark.hpp
  cpp/bench/ann/src/faiss/faiss_cpu_wrapper.h
  cpp/bench/ann/src/faiss/faiss_gpu_wrapper.h
  cpp/bench/ann/src/ggnn/ggnn_wrapper.cuh
  cpp/bench/ann/src/hnswlib/hnswlib_wrapper.h
  cpp/bench/ann/src/raft/raft_ann_bench_utils.h
  cpp/bench/ann/src/raft/raft_cagra_hnswlib_wrapper.h
  cpp/bench/ann/src/raft/raft_cagra_wrapper.h
  cpp/bench/ann/src/raft/raft_ivf_flat_wrapper.h
  cpp/bench/ann/src/raft/raft_ivf_pq_wrapper.h
  cpp/bench/ann/src/raft/raft_wrapper.h
Labels: 3 - Ready for Review, improvement, non-breaking, cpp

#2318 Fix citation info
  README.md
Labels: doc, non-breaking

#2319 Refactor spectral scale_obs to use existing normalization function
  cpp/include/raft/linalg/normalize.cuh
  cpp/include/raft/spectral/detail/modularity_maximization.hpp
  cpp/include/raft/spectral/detail/spectral_util.cuh
Labels: bug, non-breaking, cpp

#2255 Adds missing files to `update-version.sh`
  ci/release/update-version.sh
Labels: improvement, non-breaking, ci

#2323 Support building faiss main statically
  .devcontainer/Dockerfile
  cpp/CMakeLists.txt
  cpp/bench/ann/CMakeLists.txt
  cpp/bench/prims/CMakeLists.txt
  cpp/cmake/patches/faiss_override.json
  cpp/cmake/patches/ggnn_override.json
  cpp/cmake/patches/hnswlib_override.json
  cpp/cmake/thirdparty/get_faiss.cmake
  cpp/cmake/thirdparty/get_ggnn.cmake
  cpp/cmake/thirdparty/get_hnswlib.cmake
  cpp/test/CMakeLists.txt
Labels: bug, non-breaking, cpp, CMake

#2322 Scaling workspace resources
  cpp/bench/ann/src/raft/raft_ann_bench_utils.h
  cpp/include/raft/core/resource/device_memory_resource.hpp
  cpp/include/raft/core/resource/resource_types.hpp
  cpp/include/raft/matrix/detail/select_radix.cuh
Labels: 3 - Ready for Review, feature request, breaking, cpp

#2280 Replace too long index file name with hash in ANN bench
  python/raft-ann-bench/src/raft-ann-bench/run/__main__.py
Labels: bug, non-breaking, python

#2297 InnerProduct testing for CAGRA+HNSW
  python/pylibraft/pylibraft/test/test_hnsw.py
Labels: improvement, non-breaking, python

#2333 Rename raft-ann-bench module to raft_ann_bench
  docs/source/ann_benchmarks_dataset.md
  docs/source/ann_benchmarks_low_level.md
  docs/source/raft_ann_benchmarks.md
  python/raft-ann-bench/pyproject.toml
  python/raft-ann-bench/src/raft_ann_bench/VERSION
  python/raft-ann-bench/src/raft_ann_bench/__init__.py
  python/raft-ann-bench/src/raft_ann_bench/_version.py
  python/raft-ann-bench/src/raft_ann_bench/constraints/__init__.py
  python/raft-ann-bench/src/raft_ann_bench/data_export/__main__.py
  python/raft-ann-bench/src/raft_ann_bench/generate_groundtruth/__main__.py
  python/raft-ann-bench/src/raft_ann_bench/generate_groundtruth/utils.py
  python/raft-ann-bench/src/raft_ann_bench/get_dataset/__main__.py
  python/raft-ann-bench/src/raft_ann_bench/get_dataset/fbin_to_f16bin.py
  python/raft-ann-bench/src/raft_ann_bench/get_dataset/hdf5_to_fbin.py
  python/raft-ann-bench/src/raft_ann_bench/plot/__main__.py
  python/raft-ann-bench/src/raft_ann_bench/run/__main__.py
  python/raft-ann-bench/src/raft_ann_bench/run/algos.yaml
  python/raft-ann-bench/src/raft_ann_bench/run/conf/algos/faiss_cpu_flat.yaml
  python/raft-ann-bench/src/raft_ann_bench/run/conf/algos/faiss_gpu_flat.yaml
  python/raft-ann-bench/src/raft_ann_bench/run/conf/algos/faiss_gpu_ivf_flat.yaml
  python/raft-ann-bench/src/raft_ann_bench/run/conf/algos/faiss_gpu_ivf_pq.yaml
  python/raft-ann-bench/src/raft_ann_bench/run/conf/algos/hnswlib.yaml
  python/raft-ann-bench/src/raft_ann_bench/run/conf/algos/raft_brute_force.yaml
  python/raft-ann-bench/src/raft_ann_bench/run/conf/algos/raft_cagra.yaml
  python/raft-ann-bench/src/raft_ann_bench/run/conf/algos/raft_cagra_hnswlib.yaml
  python/raft-ann-bench/src/raft_ann_bench/run/conf/algos/raft_ivf_flat.yaml
  python/raft-ann-bench/src/raft_ann_bench/run/conf/algos/raft_ivf_pq.yaml
  python/raft-ann-bench/src/raft_ann_bench/run/conf/bigann-100M.json
  python/raft-ann-bench/src/raft_ann_bench/run/conf/datasets.yaml
  python/raft-ann-bench/src/raft_ann_bench/run/conf/deep-100M.json
  python/raft-ann-bench/src/raft_ann_bench/run/conf/deep-1B.json
  python/raft-ann-bench/src/raft_ann_bench/run/conf/deep-image-96-inner.json
  python/raft-ann-bench/src/raft_ann_bench/run/conf/fashion-mnist-784-euclidean.json
  python/raft-ann-bench/src/raft_ann_bench/run/conf/gist-960-euclidean.json
  python/raft-ann-bench/src/raft_ann_bench/run/conf/glove-100-angular.json
  python/raft-ann-bench/src/raft_ann_bench/run/conf/glove-100-inner.json
  python/raft-ann-bench/src/raft_ann_bench/run/conf/glove-50-angular.json
  python/raft-ann-bench/src/raft_ann_bench/run/conf/glove-50-inner.json
  python/raft-ann-bench/src/raft_ann_bench/run/conf/lastfm-65-angular.json
  python/raft-ann-bench/src/raft_ann_bench/run/conf/mnist-784-euclidean.json
  python/raft-ann-bench/src/raft_ann_bench/run/conf/nytimes-256-angular.json
  python/raft-ann-bench/src/raft_ann_bench/run/conf/nytimes-256-inner.json
  python/raft-ann-bench/src/raft_ann_bench/run/conf/sift-128-euclidean.json
  python/raft-ann-bench/src/raft_ann_bench/run/conf/wiki_all_10M.json
  python/raft-ann-bench/src/raft_ann_bench/run/conf/wiki_all_1M.json
  python/raft-ann-bench/src/raft_ann_bench/run/conf/wiki_all_88M.json
  python/raft-ann-bench/src/raft_ann_bench/split_groundtruth/__main__.py
  python/raft-ann-bench/src/raft_ann_bench/split_groundtruth/split_groundtruth.pl
Labels: bug, breaking, python

#2338 Fix import of VERSION file in raft-ann-bench
  docs/source/ann_benchmarks_low_level.md
  docs/source/raft_ann_benchmarks.md
  python/raft-ann-bench/src/raft_ann_bench/_version.py
  python/raft-ann-bench/src/raft_ann_bench/run/conf/algos/hnswlib.yaml
  python/raft-ann-bench/src/raft_ann_bench/run/conf/algos/raft_cagra.yaml
  python/raft-ann-bench/src/raft_ann_bench/run/conf/algos/raft_cagra_hnswlib.yaml
  python/raft-ann-bench/src/raft_ann_bench/run/conf/algos/raft_ivf_pq.yaml
Labels: bug, non-breaking, python

#2331 Use rapids-build-backend
  .pre-commit-config.yaml
  build.sh
  ci/build_python.sh
  ci/build_wheel.sh
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-aarch64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/environments/bench_ann_cuda-118_arch-aarch64.yaml
  conda/environments/bench_ann_cuda-118_arch-x86_64.yaml
  conda/environments/bench_ann_cuda-120_arch-aarch64.yaml
  conda/environments/bench_ann_cuda-120_arch-x86_64.yaml
  conda/recipes/pylibraft/meta.yaml
  conda/recipes/raft-ann-bench-cpu/meta.yaml
  conda/recipes/raft-ann-bench/meta.yaml
  conda/recipes/raft-dask/meta.yaml
  dependencies.yaml
  python/pylibraft/pylibraft/_version.py
  python/pylibraft/pyproject.toml
  python/raft-ann-bench/pyproject.toml
  python/raft-ann-bench/src/raft_ann_bench/_version.py
  python/raft-dask/pyproject.toml
  python/raft-dask/raft_dask/_version.py
Labels: improvement, non-breaking, python, ci

#2343 remove unnecessary 'setuptools' dependencies
  conda/recipes/pylibraft/meta.yaml
  conda/recipes/raft-dask/meta.yaml
Labels: 3 - Ready for Review, improvement, non-breaking
