Repository rapidsai/raft, pull requests merged in 2025-09, with the labels that each got.

#2791 Remove UCX-Py
  ci/release/update-version.sh
  ci/test_python.sh
  ci/test_wheel_raft_dask.sh
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  conda/environments/all_cuda-130_arch-aarch64.yaml
  conda/environments/all_cuda-130_arch-x86_64.yaml
  conda/recipes/raft-dask/conda_build_config.yaml
  conda/recipes/raft-dask/recipe.yaml
  dependencies.yaml
  python/raft-dask/pyproject.toml
  python/raft-dask/pytest.ini
  python/raft-dask/raft_dask/common/comms.py
  python/raft-dask/raft_dask/common/ucx.py
  python/raft-dask/raft_dask/tests/conftest.py
  python/raft-dask/raft_dask/tests/test_comms.py
Labels: improvement, non-breaking

#2799 Fix select_k for negative bfloat16
  cpp/include/raft/util/cudart_utils.hpp
  cpp/tests/matrix/select_k.cuh
Labels: bug, non-breaking

#2798 Remove CMake find UCX package
  python/raft-dask/CMakeLists.txt
Labels: improvement, non-breaking

#2805 Support < 2 element arrays in `rand_index`/`adjusted_rand_index`
  cpp/include/raft/stats/detail/adjusted_rand_index.cuh
  cpp/include/raft/stats/detail/rand_index.cuh
  cpp/tests/stats/adjusted_rand_index.cu
  cpp/tests/stats/rand_index.cu
Labels: improvement, non-breaking

#2804 Fix UCX-Py mention to UCXX in docstring
  python/raft-dask/raft_dask/common/ucx.py
Labels: doc, non-breaking

#2814 Fix sparse select_k: don't write beyond min(input_len, k)
  cpp/include/raft/matrix/detail/select_warpsort.cuh
  cpp/tests/sparse/select_k_csr.cu
Labels: bug, non-breaking

#2821 Workaround for an illegal memory access on SM 120 devices
  cpp/include/raft/matrix/detail/select_radix.cuh
Labels: bug, non-breaking, 2 - In Progress
