Repository rapidsai/raft, pull requests merged in 2025-03, with the labels that each got.

#2594 Replace `cub::Sum` and `cub::Max` with `cuda::std::plus` and `cuda::maximum`
  cpp/include/raft/sparse/convert/detail/bitmap_to_csr.cuh
  cpp/tests/linalg/map_then_reduce.cu
Labels: improvement, non-breaking, cpp

#2602 Temporarily increase `max_days_without_success`
  .github/workflows/pr.yaml
Labels: bug, non-breaking

#2586 Fix duplicate indices in batch NN Descent
  cpp/include/raft/neighbors/detail/nn_descent.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/neighbors/ann_nn_descent.cu
  cpp/tests/neighbors/ann_utils.cuh
  cpp/tests/neighbors/naive_knn.cuh
Labels: improvement, non-breaking, cpp, CMake

#2610 Relax max duplicates in batched NN Descent
  cpp/tests/neighbors/ann_nn_descent.cu
  cpp/tests/neighbors/ann_utils.cuh
Labels: bug, non-breaking, cpp

#2607 [Fix] Lanczos solver gemv fix
  .github/workflows/pr.yaml
  cpp/include/raft/sparse/solver/detail/lanczos.cuh
  python/pylibraft/pylibraft/tests/test_sparse.py
Labels: bug, non-breaking, cpp, python

#2618 Add missing thrust include
  cpp/tests/core/temporary_device_buffer.cu
Labels: improvement, non-breaking, cpp

#2620 Backport build patch fix
  cpp/cmake/thirdparty/get_cutlass.cmake
Labels: bug, non-breaking, cpp, CMake

#2623 Port all conda recipes to `rattler-build`
  build.sh
  ci/build_cpp.sh
  ci/build_python.sh
  conda/recipes/libraft/build_libraft.sh
  conda/recipes/libraft/build_libraft_headers.sh
  conda/recipes/libraft/build_libraft_static.sh
  conda/recipes/libraft/build_libraft_tests.sh
  conda/recipes/libraft/meta.yaml
  conda/recipes/libraft/recipe.yaml
  conda/recipes/pylibraft/build.sh
  conda/recipes/pylibraft/meta.yaml
  conda/recipes/pylibraft/recipe.yaml
  conda/recipes/raft-dask/build.sh
  conda/recipes/raft-dask/meta.yaml
  conda/recipes/raft-dask/recipe.yaml
  python/libraft/pyproject.toml
  python/pylibraft/pyproject.toml
  python/raft-dask/pyproject.toml
Labels: improvement, non-breaking, python, ci
