Repository rapidsai/raft, pull requests merged in 2025-08, with the labels that each got.

#2772 ci(labeler): update labeler action to @v5
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: improvement, non-breaking

#2773 Update rapids-build-backend to 0.4.1
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  conda/recipes/pylibraft/recipe.yaml
  conda/recipes/raft-dask/recipe.yaml
  dependencies.yaml
  python/libraft/pyproject.toml
  python/pylibraft/pyproject.toml
  python/raft-dask/pyproject.toml
Labels: improvement, non-breaking

#2777 Fix the GEMM pointer mode setting
  cpp/include/raft/linalg/detail/cublaslt_wrappers.hpp
  cpp/include/raft/linalg/gemm.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/linalg/gemm_basic.cpp
Labels: bug, 3 - Ready for Review, non-breaking

#2775 [REVIEW] Fix: skip default_allocation_limit() if unnecessary
  cpp/include/raft/core/resource/device_memory_resource.hpp
Labels: 3 - Ready for Review, improvement, non-breaking

#2790 Update rapids-dependency-file-generator
  .pre-commit-config.yaml
  dependencies.yaml
Labels: improvement, non-breaking
