Repository rapidsai/raft, pull requests merged in 2025-01, with the labels that each got.

#2534 Use rapids-cmake for the logger
  cpp/CMakeLists.txt
Labels: improvement, non-breaking, cpp, CMake

#2532 remove unused 'joblib' and 'numba' dependencies, other packaging cleanup
  .pre-commit-config.yaml
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-aarch64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/pylibraft/meta.yaml
  conda/recipes/raft-dask/meta.yaml
  dependencies.yaml
  pyproject.toml
  python/pylibraft/setup.cfg
  python/raft-dask/pyproject.toml
  setup.cfg
Labels: improvement, non-breaking, python

#2536 Fix lanczos solver integer overflow
  cpp/include/raft/sparse/detail/coo.cuh
  cpp/include/raft/sparse/solver/detail/lanczos.cuh
  cpp/include/raft/spectral/detail/matrix_wrappers.hpp
Labels: bug, non-breaking, cpp

#2535 Add support for different data type of bitset
  cpp/include/raft/core/bitmap.hpp
  cpp/include/raft/core/bitset.cuh
  cpp/include/raft/core/bitset.hpp
  cpp/test/core/bitset.cu
Labels: 3 - Ready for Review, feature request, non-breaking, cpp

#2540 Add missing `#include <cstdint>`
  cpp/include/raft/util/integer_utils.hpp
Labels: improvement, non-breaking, cpp

#2523 [Feat] Support `bitset_to_csr`
  cpp/bench/prims/linalg/masked_matmul.cu
  cpp/bench/prims/sparse/bitset_to_csr.cu
  cpp/include/raft/core/bitmap.cuh
  cpp/include/raft/core/bitmap.hpp
  cpp/include/raft/core/bitset.cuh
  cpp/include/raft/core/bitset.hpp
  cpp/include/raft/sparse/convert/csr.cuh
  cpp/include/raft/sparse/convert/detail/bitmap_to_csr.cuh
  cpp/include/raft/sparse/convert/detail/bitset_to_csr.cuh
  cpp/include/raft/sparse/linalg/detail/masked_matmul.cuh
  cpp/include/raft/sparse/linalg/masked_matmul.cuh
  cpp/include/raft/sparse/linalg/masked_matmul.hpp
  cpp/test/sparse/convert_csr.cu
  cpp/test/sparse/masked_matmul.cu
Labels: 3 - Ready for Review, feature request, non-breaking, cpp

#2537 Fix broken link to python doc
  docs/source/conf.py
  docs/source/sphinxext/github_link.py
Labels: bug, documentation, 3 - Ready for Review, non-breaking

#2487 Introduction of the `raft::device_resources_snmg` type
  cpp/include/raft/comms/nccl_clique.hpp
  cpp/include/raft/core/device_resources_snmg.hpp
  cpp/include/raft/core/resource/nccl_clique.hpp
  cpp/include/raft/core/resources.hpp
  docs/source/cpp_api/core_resources.rst
Labels: improvement, non-breaking, cpp

#2543 Revert "Introduction of the `raft::device_resources_snmg` type (#2487)"
  cpp/include/raft/comms/nccl_clique.hpp
  cpp/include/raft/core/device_resources_snmg.hpp
  cpp/include/raft/core/resource/nccl_clique.hpp
  cpp/include/raft/core/resources.hpp
  docs/source/cpp_api/core_resources.rst
Labels: improvement, non-breaking, cpp

#2548 use dynamic CUDA wheels on CUDA 11
  ci/build_wheel.sh
  ci/build_wheel_libraft.sh
  ci/validate_wheel.sh
  dependencies.yaml
  python/libraft/CMakeLists.txt
  python/libraft/pyproject.toml
Labels: improvement, non-breaking, CMake, python, ci

#2545 Use cuda.bindings layout.
  python/pylibraft/pylibraft/common/cuda.pxd
  python/pylibraft/pylibraft/common/cuda.pyx
  python/pylibraft/pylibraft/common/handle.pyx
  python/pylibraft/pylibraft/common/interruptible.pyx
Labels: improvement, non-breaking, python

#2551 Add cuda 12.8 support
  cpp/cmake/modules/ConfigureCUDA.cmake
  cpp/include/raft/neighbors/detail/nn_descent.cuh
Labels: feature request, non-breaking, cpp, CMake

#2550 Update pip devcontainers to UCX 1.18
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.5-pip/devcontainer.json
  .pre-commit-config.yaml
Labels: improvement, breaking

#2542 Fix bit order of RMAT Rectangular Generator to match expectation
  cpp/include/raft/random/detail/rmat_rectangular_generator.cuh
  cpp/include/raft/random/rmat_rectangular_generator.cuh
  cpp/tests/random/rmat_rectangular_generator.cu
Labels: bug, non-breaking, cpp

#2555 Build and test with CUDA 12.8.0
  .devcontainer/cuda12.8-conda/devcontainer.json
  .devcontainer/cuda12.8-pip/devcontainer.json
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
  README.md
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  docs/source/build.md
Labels: improvement, non-breaking

#2389 Remove 'sample' parameter from stats::mean API
  cpp/include/raft/stats/detail/mean.cuh
  cpp/include/raft/stats/detail/scores.cuh
  cpp/include/raft/stats/mean.cuh
  cpp/tests/random/rng.cu
  cpp/tests/stats/cov.cu
  cpp/tests/stats/mean.cu
  cpp/tests/stats/mean_center.cu
  cpp/tests/stats/stddev.cu
Labels: improvement, non-breaking, cpp, Public API

#2560 Revert CUDA 12.8 shared workflow branch changes
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
Labels: improvement, non-breaking

#2562 Fix docs builds
  cpp/include/raft/random/device/sample.cuh
  cpp/include/raft/util/itertools.hpp
Labels: doc, non-breaking, cpp
