Repository rapidsai/raft, pull requests merged in 2025-02, with the labels that each got.

#2559 Migrate to NVKS for amd64 CI runners
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
  cpp/tests/CMakeLists.txt
Labels: improvement, non-breaking, cpp, CMake

#2571 Use `rapids-pip-retry` in CI jobs that might need retries
  ci/build_wheel.sh
  ci/build_wheel_libraft.sh
  ci/test_wheel_pylibraft.sh
  ci/test_wheel_raft_dask.sh
Labels: improvement, non-breaking, ci

#2558 Take argument by `const&` as the input range is const
  cpp/tests/neighbors/ball_cover.cu
Labels: bug, non-breaking, cpp

#2573 Add build_type input field for `test.yaml`
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#2576 Use shared-workflows branch-25.04
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
Labels: improvement, non-breaking

#2569 update telemetry and retarget 25.04
  .github/workflows/pr.yaml
Labels: enhancement, improvement, non-breaking

#2575 Add `shellcheck` to pre-commit and fix warnings
  .pre-commit-config.yaml
  ci/build_docs.sh
  ci/build_python.sh
  ci/build_wheel.sh
  ci/build_wheel_libraft.sh
  ci/build_wheel_pylibraft.sh
  ci/build_wheel_raft_dask.sh
  ci/check_style.sh
  ci/checks/black_lists.sh
  ci/release/update-version.sh
  ci/test_cpp.sh
  ci/test_wheel_pylibraft.sh
  ci/test_wheel_raft_dask.sh
  ci/validate_wheel.sh
Labels: improvement, non-breaking, ci

#2566 Use new rapids-logger library
  ci/build_cpp.sh
  ci/build_wheel.sh
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/libraft/conda_build_config.yaml
  conda/recipes/libraft/meta.yaml
  cpp/CMakeLists.txt
  cpp/bench/prims/CMakeLists.txt
  cpp/cmake/thirdparty/get_spdlog.cmake
  cpp/include/raft/cluster/detail/kmeans_balanced.cuh
  cpp/include/raft/cluster/kmeans_types.hpp
  cpp/include/raft/core/logger-macros.hpp
  cpp/include/raft/core/logger.hpp
  cpp/include/raft/neighbors/detail/ivf_flat_build.cuh
  cpp/include/raft/neighbors/detail/ivf_flat_search-inl.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/core/device_resources_manager.cpp
  cpp/tests/core/logger.cpp
  dependencies.yaml
  python/libraft/libraft/load.py
  python/libraft/pyproject.toml
Labels: improvement, breaking, cpp, CMake, python, ci

#2578 `#include <numeric>` for `std::iota`
  cpp/bench/prims/core/copy.cu
  cpp/include/raft/comms/nccl_clique.hpp
  cpp/include/raft/neighbors/detail/nn_descent.cuh
Labels: bug, non-breaking, cpp

#2541 Allow some of the sparse utility functions to handle larger matrices
  cpp/include/raft/cluster/detail/connectivities.cuh
  cpp/include/raft/cluster/single_linkage.cuh
  cpp/include/raft/linalg/detail/lanczos.cuh
  cpp/include/raft/sparse/convert/coo.cuh
  cpp/include/raft/sparse/convert/csr.cuh
  cpp/include/raft/sparse/convert/detail/coo.cuh
  cpp/include/raft/sparse/convert/detail/csr.cuh
  cpp/include/raft/sparse/coo.hpp
  cpp/include/raft/sparse/detail/coo.cuh
  cpp/include/raft/sparse/detail/utils.h
  cpp/include/raft/sparse/linalg/degree.cuh
  cpp/include/raft/sparse/linalg/detail/degree.cuh
  cpp/include/raft/sparse/linalg/detail/norm.cuh
  cpp/include/raft/sparse/linalg/detail/spectral.cuh
  cpp/include/raft/sparse/linalg/detail/symmetrize.cuh
  cpp/include/raft/sparse/linalg/norm.cuh
  cpp/include/raft/sparse/linalg/spectral.cuh
  cpp/include/raft/sparse/linalg/symmetrize.cuh
  cpp/include/raft/sparse/neighbors/detail/cross_component_nn.cuh
  cpp/include/raft/sparse/neighbors/detail/knn_graph.cuh
  cpp/include/raft/sparse/neighbors/knn_graph.cuh
  cpp/include/raft/sparse/op/detail/filter.cuh
  cpp/include/raft/sparse/op/detail/reduce.cuh
  cpp/include/raft/sparse/op/detail/sort.h
  cpp/include/raft/sparse/op/filter.cuh
  cpp/include/raft/sparse/op/reduce.cuh
  cpp/include/raft/sparse/op/sort.cuh
  cpp/include/raft/sparse/solver/detail/lanczos.cuh
  cpp/include/raft/sparse/solver/lanczos.cuh
  cpp/include/raft/spectral/detail/matrix_wrappers.hpp
  cpp/include/raft/spectral/detail/partition.hpp
  cpp/include/raft/spectral/detail/spectral_util.cuh
  cpp/include/raft/spectral/eigen_solvers.cuh
  cpp/include/raft/spectral/partition.cuh
  cpp/tests/linalg/eigen_solvers.cu
  cpp/tests/sparse/reduce.cu
  cpp/tests/sparse/solver/lanczos.cu
  cpp/tests/sparse/spectral_matrix.cu
  cpp/tests/sparse/symmetrize.cu
Labels: bug, non-breaking, cpp

#2580 Create Conda CI test env in one step
  ci/release/update-version.sh
  ci/test_cpp.sh
  ci/test_python.sh
  dependencies.yaml
Labels: improvement, non-breaking, ci

#2581 Account for cugraph API breakage
  cpp/include/raft/spectral/detail/modularity_maximization.hpp
  cpp/include/raft/spectral/modularity_maximization.cuh
Labels: bug, breaking, cpp

#2570 Avoid limited memory adaptor issue in balanced KMeans
  cpp/include/raft/cluster/detail/kmeans_balanced.cuh
Labels: improvement, non-breaking, cpp

#2568 Fix Laplacian calculation in spectral partitioning
  cpp/include/raft/core/sparse_types.hpp
  cpp/include/raft/sparse/linalg/detail/laplacian.cuh
  cpp/include/raft/sparse/linalg/laplacian.cuh
  cpp/include/raft/spectral/detail/matrix_wrappers.hpp
  cpp/include/raft/spectral/detail/partition.hpp
  cpp/include/raft/spectral/eigen_solvers.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/linalg/eigen_solvers.cu
  cpp/tests/sparse/laplacian.cu
  cpp/tests/sparse/spectral_matrix.cu
Labels: bug, non-breaking, cpp, CMake

#2590 Require sphinx<8.2.0
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
Labels: bug, non-breaking

#2557 Add `verify-codeowners` hook
  .github/CODEOWNERS
  .pre-commit-config.yaml
Labels: improvement, non-breaking

#2584 Require CMake 3.30.4
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/libraft/conda_build_config.yaml
  conda/recipes/pylibraft/conda_build_config.yaml
  conda/recipes/raft-dask/conda_build_config.yaml
  cpp/CMakeLists.txt
  cpp/include/raft/thirdparty/mdspan/CMakeLists.txt
  cpp/include/raft/thirdparty/mdspan/cmake/metabench.cmake
  cpp/include/raft/thirdparty/mdspan/examples/CMakeLists.txt
  dependencies.yaml
  python/libraft/CMakeLists.txt
  python/libraft/pyproject.toml
  python/pylibraft/CMakeLists.txt
  python/pylibraft/pyproject.toml
  python/raft-dask/CMakeLists.txt
  python/raft-dask/pyproject.toml
Labels: improvement, non-breaking, cpp, CMake, python

#2592 [BUG] Fix illegal memory access in linalg::reduction
  cpp/include/raft/linalg/detail/strided_reduction.cuh
Labels: bug, non-breaking

#2597 Swap `blocks` and `threads_per_block` in `compute_graph_laplacian`
  cpp/include/raft/sparse/linalg/detail/laplacian.cuh
Labels: bug, non-breaking, cpp

#2589 Update all `conda_build_config.yaml`s RAPIDS UCX version
  ci/release/update-version.sh
Labels: improvement, non-breaking, ci
