Repository rapidsai/raft, pull requests merged in 2025-05, with the labels that each got.

#2567 [Feat] add support for bm25 and tfidf
  cpp/include/raft/sparse/matrix/detail/preprocessing.cuh
  cpp/include/raft/sparse/matrix/preprocessing.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/sparse/preprocess.cu
  cpp/tests/util/preprocess_utils.cu
Labels: enhancement, 3 - Ready for Review, feature request, non-breaking, cpp, CMake

#2649 Add support for Python 3.13
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
  ci/build_wheel_raft_dask.sh
  dependencies.yaml
  python/pylibraft/pyproject.toml
  python/raft-dask/pyproject.toml
Labels: improvement, non-breaking, python, ci

#2654 Exclude librmm.so from auditwheel
  ci/build_wheel.sh
Labels: improvement, non-breaking, ci

#2582 Fix COO symmetrization
  cpp/include/raft/sparse/linalg/detail/symmetrize.cuh
  cpp/tests/sparse/symmetrize.cu
Labels: bug, non-breaking, cpp

#2634 [FEA] Matrix shift rows and columns
  cpp/include/raft/matrix/detail/shift.cuh
  cpp/include/raft/matrix/shift.cuh
  cpp/include/raft/matrix/shift_types.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/matrix/shift.cu
Labels: feature request, non-breaking, cpp, CMake

#2655 Build and test with CUDA 12.9.0
  .devcontainer/cuda12.9-conda/devcontainer.json
  .devcontainer/cuda12.9-pip/devcontainer.json
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
  README.md
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  dependencies.yaml
  docs/source/build.md
Labels: improvement, non-breaking

#2660 Quote head_rev in conda recipes
  conda/recipes/libraft/recipe.yaml
  conda/recipes/pylibraft/recipe.yaml
  conda/recipes/raft-dask/recipe.yaml
Labels: improvement, non-breaking

#2657 CUDA 12.9 use updated compression flags
  cpp/cmake/modules/ConfigureCUDA.cmake
Labels: improvement, non-breaking, cpp, CMake

#2664 Forward-merge branch-25.06 into branch-25.08
  .devcontainer/cuda12.9-conda/devcontainer.json
  .devcontainer/cuda12.9-pip/devcontainer.json
  .github/workflows/pr.yaml
  README.md
  ci/build_wheel.sh
  ci/build_wheel_raft_dask.sh
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  conda/recipes/libraft/recipe.yaml
  conda/recipes/pylibraft/recipe.yaml
  conda/recipes/raft-dask/recipe.yaml
  cpp/include/raft/matrix/detail/shift.cuh
  cpp/include/raft/matrix/shift.cuh
  cpp/include/raft/matrix/shift_types.hpp
  cpp/include/raft/sparse/linalg/detail/symmetrize.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/matrix/shift.cu
  cpp/tests/sparse/symmetrize.cu
  dependencies.yaml
  docs/source/build.md
  python/pylibraft/pyproject.toml
  python/raft-dask/pyproject.toml
Labels: improvement, non-breaking, cpp, CMake, python, ci

#2647 Decoupling multi gpu resources from nccl usage
  cpp/include/raft/core/device_resources_snmg.hpp
  cpp/include/raft/core/resource/multi_gpu.hpp
  cpp/include/raft/core/resource/nccl_clique.hpp
  cpp/include/raft/core/resource/nccl_comm.hpp
  cpp/include/raft/core/resource/resource_types.hpp
  docs/source/cpp_api/core_resources.rst
Labels: improvement, breaking, cpp, Affects cuVS

#2626 Support strided matrix view as an input to matrix::samples_rows
  cpp/include/raft/core/host_mdspan.hpp
  cpp/include/raft/matrix/detail/gather.cuh
  cpp/include/raft/matrix/detail/gather_inplace.cuh
  cpp/include/raft/matrix/detail/sample_rows.cuh
  cpp/include/raft/matrix/gather.cuh
  cpp/include/raft/matrix/sample_rows.cuh
  cpp/tests/matrix/gather.cu
  cpp/tests/matrix/sample_rows.cu
Labels: feature request, non-breaking, cpp

#2669 Finish CUDA 12.9 migration and use branch-25.06 workflows
  .devcontainer/cuda12.8-conda/devcontainer.json
  .devcontainer/cuda12.8-pip/devcontainer.json
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
  README.md
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  docs/source/build.md
Labels: improvement, non-breaking

#2666 Python wrapper for `device_resources_snmg`
  python/pylibraft/pylibraft/common/__init__.py
  python/pylibraft/pylibraft/common/handle.pxd
  python/pylibraft/pylibraft/common/handle.pyx
Labels: feature request, non-breaking, python

#2648 Laplacian normalization primitives
  cpp/include/raft/sparse/linalg/detail/laplacian.cuh
  cpp/include/raft/sparse/linalg/laplacian.cuh
  cpp/include/raft/sparse/matrix/detail/diagonal.cuh
  cpp/include/raft/sparse/matrix/diagonal.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/sparse/diagonal.cu
  cpp/tests/sparse/laplacian.cu
Labels: feature request, non-breaking, cpp, CMake

#2671 Prefer host gather when dataset is available both on host and device
  cpp/include/raft/matrix/detail/sample_rows.cuh
Labels: bug, non-breaking, cpp, Vector Search

#2675 Forward-merge branch-25.06 into branch-25.08
  .devcontainer/cuda12.8-conda/devcontainer.json
  .devcontainer/cuda12.8-pip/devcontainer.json
  .github/workflows/pr.yaml
  README.md
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  cpp/include/raft/core/host_mdspan.hpp
  cpp/include/raft/matrix/detail/gather.cuh
  cpp/include/raft/matrix/detail/gather_inplace.cuh
  cpp/include/raft/matrix/detail/sample_rows.cuh
  cpp/include/raft/matrix/gather.cuh
  cpp/include/raft/matrix/sample_rows.cuh
  cpp/include/raft/sparse/linalg/detail/laplacian.cuh
  cpp/include/raft/sparse/linalg/laplacian.cuh
  cpp/include/raft/sparse/matrix/detail/diagonal.cuh
  cpp/include/raft/sparse/matrix/diagonal.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/matrix/gather.cu
  cpp/tests/matrix/sample_rows.cu
  cpp/tests/sparse/diagonal.cu
  cpp/tests/sparse/laplacian.cu
  dependencies.yaml
  docs/source/build.md
  python/pylibraft/pylibraft/common/__init__.py
  python/pylibraft/pylibraft/common/handle.pxd
  python/pylibraft/pylibraft/common/handle.pyx
  python/raft-dask/raft_dask/common/comms.py
  python/raft-dask/raft_dask/tests/test_comms.py
Labels: improvement, non-breaking, CMake, python

#2674 [Feat] add `cudaMemcpy2DAsync` wrapper
  cpp/include/raft/util/cudart_utils.hpp
  cpp/tests/util/cudart_utils.cpp
Labels: feature request, non-breaking, cpp

#2677 use 'rapids-init-pip' in wheel CI, other CI changes
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/build_wheel.sh
  ci/build_wheel_libraft.sh
  ci/build_wheel_pylibraft.sh
  ci/build_wheel_raft_dask.sh
  ci/test_wheel_pylibraft.sh
  ci/test_wheel_raft_dask.sh
Labels: improvement, non-breaking, ci

#2687 fix(devcontainers): typo in container name
  .devcontainer/cuda12.8-pip/devcontainer.json
Labels: improvement, non-breaking

#2690 Remove CUDA 11 devcontainers and update CI scripts
  .devcontainer/cuda11.8-conda/devcontainer.json
  .devcontainer/cuda11.8-pip/devcontainer.json
  .github/workflows/pr.yaml
  ci/build_wheel.sh
  ci/build_wheel_raft_dask.sh
  ci/test_wheel_raft_dask.sh
Labels: improvement, non-breaking, ci
