Repository rapidsai/raft, pull requests merged in 2025-07, with the labels that each got.

#2728 add docs on CI workflow inputs
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: doc, non-breaking

#2722 Fix docs lanczos solver
  cpp/include/raft/sparse/solver/lanczos.cuh
Labels: documentation, improvement, non-breaking, cpp

#2707 Fix MST bug for graph with identical edge weights
  cpp/include/raft/sparse/solver/detail/mst_solver_inl.cuh
  cpp/tests/sparse/mst.cu
Labels: bug, non-breaking, cpp

#2701 `MatrixLinewiseOp` compile-time-invocation
  cpp/bench/prims/linalg/matrix_vector_op.cu
  cpp/include/raft/cluster/detail/kmeans.cuh
  cpp/include/raft/cluster/detail/kmeans_balanced.cuh
  cpp/include/raft/linalg/detail/lstsq.cuh
  cpp/include/raft/linalg/detail/matrix_vector_op.cuh
  cpp/include/raft/linalg/detail/svd.cuh
  cpp/include/raft/linalg/matrix_vector.cuh
  cpp/include/raft/linalg/matrix_vector_op.cuh
  cpp/include/raft/matrix/detail/linewise_op.cuh
  cpp/include/raft/matrix/detail/math.cuh
  cpp/include/raft/matrix/linewise_op.cuh
  cpp/include/raft/matrix/math.cuh
  cpp/include/raft/matrix/matrix.cuh
  cpp/include/raft/neighbors/detail/ivf_pq_build.cuh
  cpp/include/raft/random/detail/multi_variable_gaussian.cuh
  cpp/include/raft/spatial/knn/detail/ann_quantized.cuh
  cpp/include/raft/spatial/knn/detail/processing.cuh
  cpp/include/raft/stats/cov.cuh
  cpp/include/raft/stats/detail/cov.cuh
  cpp/include/raft/stats/detail/mean_center.cuh
  cpp/include/raft/stats/detail/silhouette_score.cuh
  cpp/include/raft/stats/mean_center.cuh
  cpp/tests/linalg/matrix_vector.cu
  cpp/tests/linalg/matrix_vector_op.cu
  cpp/tests/linalg/normalize.cu
  cpp/tests/matrix/linewise_op.cu
  cpp/tests/stats/cov.cu
  cpp/tests/stats/mean_center.cu
Labels: improvement, breaking, cpp

#2713 Fix unsafe cast `coo_remove_scalar`
  cpp/include/raft/sparse/op/detail/filter.cuh
Labels: bug, non-breaking, cpp

#2729 libucx: consider post-releases in wheel builds
  dependencies.yaml
  python/raft-dask/pyproject.toml
Labels: bug, non-breaking, python

#2718 [REVIEW] Fix compile error of `abs_op` when compiling with `clang`
  cpp/include/raft/core/math.hpp
Labels: improvement, non-breaking, cpp

#2730 Add missing `#include <cassert>` in `cpp/include/raft/core/math.hpp`
  cpp/include/raft/core/math.hpp
Labels: 3 - Ready for Review, improvement, non-breaking, cpp

#2662 Support `coo_matrix` in `coo_symmetrize` and `coo_remove_scalar`
  cpp/include/raft/sparse/linalg/detail/symmetrize.cuh
  cpp/include/raft/sparse/linalg/symmetrize.cuh
  cpp/include/raft/sparse/op/detail/filter.cuh
  cpp/include/raft/sparse/op/filter.cuh
  cpp/tests/sparse/filter.cu
  cpp/tests/sparse/symmetrize.cu
Labels: improvement, non-breaking, cpp

#2734 Add missing header
  cpp/tests/core/mdarray.cu
Labels: bug, non-breaking, cpp

#2740 remove cuspatial references, avoid triggering tests on clang-format config changes
  .github/workflows/pr.yaml
  cpp/.clang-format
Labels: improvement, non-breaking

#2725 Fix laplacian cast
  cpp/include/raft/sparse/linalg/detail/laplacian.cuh
Labels: bug, non-breaking, cpp

#2742 Remove sphinx upper bound
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  dependencies.yaml
Labels: improvement, non-breaking

#2735 Several small fixes to make Raft compile with LLVM.
  cpp/include/raft/distance/detail/distance_ops/cosine.cuh
  cpp/include/raft/distance/detail/distance_ops/dice.cuh
  cpp/include/raft/distance/detail/distance_ops/l2_exp.cuh
  cpp/include/raft/matrix/detail/select_warpsort.cuh
  cpp/include/raft/neighbors/detail/cagra/utils.hpp
  cpp/include/raft/neighbors/detail/ivf_pq_codepacking.cuh
  cpp/include/raft/spectral/cluster_solvers.cuh
  cpp/tests/matrix/linewise_op.cu
  cpp/tests/sparse/solver/lanczos.cu
Labels: bug, non-breaking, cpp

#2702 Adding GH_TOKEN pass-through to summarize job
  .github/workflows/pr.yaml
Labels: bug, non-breaking

#2743 Update protocol name for UCX-Py tests
  python/raft-dask/raft_dask/tests/conftest.py
Labels: improvement, non-breaking, python

#2759 Allow latest OS in devcontainers
  .devcontainer/cuda12.9-conda/devcontainer.json
  .devcontainer/cuda12.9-pip/devcontainer.json
Labels: improvement, non-breaking

#2708 Use GCC 14 in conda builds.
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  conda/recipes/libraft/conda_build_config.yaml
  conda/recipes/pylibraft/conda_build_config.yaml
  conda/recipes/raft-dask/conda_build_config.yaml
  dependencies.yaml
Labels: improvement, non-breaking

#2763 An additional small change to remove cuda 11 stuff
  docs/source/build.md
Labels: improvement, non-breaking

#2751 Update build infra to support new branching strategy
  RAPIDS_BRANCH
  cmake/RAPIDS.cmake
  cmake/rapids_config.cmake
Labels: improvement, non-breaking, CMake

#2767 Use mdspan::index_type to Only Instantiate Specific Kernels
  cpp/include/raft/linalg/add.cuh
  cpp/include/raft/linalg/detail/map.cuh
  cpp/include/raft/linalg/divide.cuh
  cpp/include/raft/linalg/multiply.cuh
  cpp/include/raft/linalg/power.cuh
  cpp/include/raft/linalg/sqrt.cuh
  cpp/include/raft/linalg/subtract.cuh
Labels: improvement, non-breaking, cpp
