Repository rapidsai/raft, pull requests merged in 2025-04, with the labels that each got.

#2627 Replace `Thrust` iterator facilities and replace them with `libcu++` ones
  cpp/include/raft/core/span.hpp
  cpp/tests/core/test_span.hpp
Labels: improvement, non-breaking, cpp

#2631 Vendor RAPIDS.cmake
  cmake/RAPIDS.cmake
  cmake/rapids_config.cmake
  cpp/CMakeLists.txt
  python/libraft/CMakeLists.txt
  python/pylibraft/CMakeLists.txt
  python/raft-dask/CMakeLists.txt
Labels: improvement, non-breaking, cpp, CMake, python

#2617 Moving wheel builds to specified location and uploading build artifacts to Github
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  ci/build_wheel.sh
  ci/build_wheel_libraft.sh
  ci/build_wheel_pylibraft.sh
  ci/build_wheel_raft_dask.sh
Labels: improvement, non-breaking, ci

#2632 refactor(rattler): enable strict channel priority for builds
  ci/build_cpp.sh
  ci/build_python.sh
Labels: improvement, non-breaking, ci

#2633 Remove CUDA whole compilation ODR violations
  cpp/cmake/modules/ConfigureCUDA.cmake
Labels: improvement, non-breaking, cpp, CMake

#2629 Use NCCL wheels from PyPI for CUDA 12 builds
  ci/build_wheel.sh
  ci/test_wheel_raft_dask.sh
  dependencies.yaml
  python/raft-dask/raft_dask/common/CMakeLists.txt
Labels: feature request, non-breaking, CMake, python, ci

#2636 Add UCXX and NCCL to `libraft` conda recipe
  conda/recipes/libraft/conda_build_config.yaml
  conda/recipes/libraft/recipe.yaml
Labels: bug, non-breaking

#2638 Limit allowed wheel sizes
  ci/build_wheel_raft_dask.sh
  ci/validate_wheel.sh
  python/libraft/pyproject.toml
  python/pylibraft/pyproject.toml
  python/raft-dask/pyproject.toml
Labels: improvement, non-breaking, python, ci

#2639 NVTX: null destination pointer warning-treated-as-error
  cpp/include/raft/core/detail/nvtx.hpp
Labels: bug, non-breaking, cpp

#2549 Introduction of the `raft::device_resources_snmg` type
  cpp/include/raft/common/nccl_macros.hpp
  cpp/include/raft/comms/detail/util.hpp
  cpp/include/raft/comms/nccl_clique.hpp
  cpp/include/raft/core/device_resources_snmg.hpp
  cpp/include/raft/core/resource/nccl_clique.hpp
  cpp/include/raft/core/resource/nccl_comm.hpp
  cpp/include/raft/core/resource/resource_types.hpp
  cpp/include/raft/core/resources.hpp
  docs/source/cpp_api/core_resources.rst
Labels: improvement, non-breaking, cpp

#2644 Fix warnings treated as errors downstream in cuVS
  cpp/include/raft/core/device_resources_snmg.hpp
Labels: bug, non-breaking, cpp

#2640 Download build artifacts from Github for CI
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  ci/build_docs.sh
  ci/build_python.sh
  ci/build_wheel_pylibraft.sh
  ci/build_wheel_raft_dask.sh
  ci/test_cpp.sh
  ci/test_python.sh
  ci/test_wheel_pylibraft.sh
  ci/test_wheel_raft_dask.sh
Labels: 3 - Ready for Review, improvement, non-breaking, ci

#2495 Create a NCCL sub-communicator using ncclCommSplit
  cpp/include/raft/comms/detail/mpi_comms.hpp
  cpp/include/raft/comms/detail/std_comms.hpp
Labels: 3 - Ready for Review, improvement, non-breaking, cpp

#2591 Fixed pytest marker warnings by removing unused pytest.ini
  python/raft-dask/raft_dask/tests/pytest.ini
Labels: improvement, non-breaking, python

#2645 [BUGFIX] Fixed quoting in wheel paths in pylibraft and raft_dask wheel tests
  ci/test_wheel_pylibraft.sh
  ci/test_wheel_raft_dask.sh
Labels: improvement, non-breaking, ci
