Repository rapidsai/raft, pull requests merged in 2025-06, with the labels that each got.

#2692 NCCL comm resource fix
  cpp/include/raft/core/resource/nccl_comm.hpp
Labels: bug, non-breaking, cpp

#2695 Remove CUDA 11 from dependencies.yaml
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  dependencies.yaml
  python/pylibraft/pyproject.toml
Labels: improvement, breaking, python

#2699 Remove pytest pin
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  python/pylibraft/pyproject.toml
  python/raft-dask/pyproject.toml
Labels: improvement, non-breaking, python

#2704 Missed update accounting for reduction related APIs
  cpp/include/raft/spectral/detail/modularity_maximization.hpp
Labels: bug, non-breaking, cpp

#2703 refactor(shellcheck): fix all remaining warnings/errors
  .github/CODEOWNERS
  .github/workflows/pr.yaml
  .pre-commit-config.yaml
  .shellcheckrc
  build.sh
  cpp/scripts/run-cmake-format.sh
Labels: improvement, non-breaking, cpp

#2698 Fix several issues that breaks LLVM
  cpp/include/raft/core/bitmap.hpp
  cpp/include/raft/core/bitset.hpp
  cpp/include/raft/distance/detail/pairwise_matrix/dispatch_layout.cuh
  cpp/include/raft/spectral/detail/matrix_wrappers.hpp
  cpp/include/raft/util/integer_utils.hpp
Labels: improvement, non-breaking, cpp

#2710 [REVIEW] Fix a few memory leaks.
  cpp/tests/linalg/gemm_layout.cu
  cpp/tests/stats/adjusted_rand_index.cu
  cpp/tests/stats/entropy.cu
  cpp/tests/stats/mutual_info_score.cu
Labels: bug, non-breaking, cpp

#2712 Fix laplacian self-loops
  cpp/include/raft/sparse/linalg/detail/laplacian.cuh
  cpp/tests/sparse/laplacian.cu
Labels: bug, non-breaking, cpp

#2717 Fix the constructor for `coordinate_structure` for non-zero `nnz`.
  cpp/include/raft/core/coo_matrix.hpp
  cpp/tests/core/sparse_matrix.cu
Labels: bug, non-breaking, cpp

#2721 Use CUDA 12.9 in Conda, Devcontainers, Spark, GHA, etc.
  .devcontainer/cuda12.9-conda/devcontainer.json
  .devcontainer/cuda12.9-pip/devcontainer.json
  .github/workflows/pr.yaml
  README.md
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  dependencies.yaml
  docs/source/build.md
Labels: improvement, non-breaking
